Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

Add missing #pragma once in some headers (#1668)
  cub/test/catch2_radix_sort_helper.cuh
  cub/test/fill_striped.cuh
  cub/test/mersenne.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Fix issues around device operator new
  libcudacxx/test/libcudacxx/std/utilities/memory/smartptr/unique.ptr/unique.ptr.create/make_unique_for_overwrite.default_init.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix exception handling in uninitialized algorithm tests
  libcudacxx/test/libcudacxx/std/utilities/memory/specialized.algorithms/uninitialized.construct.default/uninitialized_default_construct.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/specialized.algorithms/uninitialized.construct.default/uninitialized_default_construct_n.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/specialized.algorithms/uninitialized.construct.value/uninitialized_value_construct.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/specialized.algorithms/uninitialized.construct.value/uninitialized_value_construct_n.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/specialized.algorithms/uninitialized.copy/uninitialized_copy.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/specialized.algorithms/uninitialized.copy/uninitialized_copy_n.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/specialized.algorithms/uninitialized.fill.n/uninitialized_fill_n.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/specialized.algorithms/uninitialized.fill/uninitialized_fill.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/specialized.algorithms/uninitialized.move/uninitialized_move.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/specialized.algorithms/uninitialized.move/uninitialized_move_n.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix uninitialized construct
  libcudacxx/test/libcudacxx/std/utilities/memory/specialized.algorithms/uninitialized.construct.default/uninitialized_default_construct.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/specialized.algorithms/uninitialized.construct.default/uninitialized_default_construct_n.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/specialized.algorithms/uninitialized.construct.value/uninitialized_value_construct.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/specialized.algorithms/uninitialized.construct.value/uninitialized_value_construct_n.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Add a standalone test for NVTX ranges
  cub/test/insert_nested_NVTX_range_guard.h
  cub/test/test_nvtx_standalone.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Document NVTX ranges in CUB device algorithms
  cub/docs/developer_overview.rst
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Let header checks tolerate the inclusion of Windows.h
  cub/cmake/header_test.in
  thrust/cmake/header_test.in
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners

Update barrier, latch, and semaphore, to use new atomic_impl.
  libcudacxx/include/cuda/std/detail/libcxx/include/barrier
  libcudacxx/include/cuda/std/detail/libcxx/include/latch
  libcudacxx/include/cuda/std/detail/libcxx/include/semaphore
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Make changes to atomic work.
  libcudacxx/include/cuda/atomic
  libcudacxx/include/cuda/std/__atomic/api/atomic_crtp.h
  libcudacxx/include/cuda/std/__atomic/api/atomic_impl.h
  libcudacxx/include/cuda/std/__atomic/api/const.h
  libcudacxx/include/cuda/std/__atomic/api/nonconst.h
  libcudacxx/include/cuda/std/__atomic/operations/atomic_cuda_ptx_derived.h
  libcudacxx/include/cuda/std/__atomic/operations/heterogeneous.h
  libcudacxx/include/cuda/std/__atomic/operations/host.h
  libcudacxx/include/cuda/std/__atomic/order.h
  libcudacxx/include/cuda/std/__atomic/scopes.h
  libcudacxx/include/cuda/std/__atomic/storage/base.h
  libcudacxx/include/cuda/std/__atomic/storage/common.h
  libcudacxx/include/cuda/std/__atomic/storage/locked.h
  libcudacxx/include/cuda/std/__atomic/storage/reference.h
  libcudacxx/include/cuda/std/__atomic/storage/small.h
  libcudacxx/include/cuda/std/__atomic/wait/notify_wait.h
  libcudacxx/include/cuda/std/__atomic/wait/polling.h
  libcudacxx/include/cuda/std/__cuda/atomic.h
  libcudacxx/include/cuda/std/__cuda/barrier.h
  libcudacxx/include/cuda/std/atomic
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Avoid shadowing warning
  thrust/examples/cuda/global_device_vector.cu
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Sort `__pragma_push` at the end of the includes
  .clang-format
  libcudacxx/include/cuda/std/__algorithm/max.h
  libcudacxx/include/cuda/std/__algorithm/min.h
  libcudacxx/include/cuda/std/__algorithm/min_element.h
  libcudacxx/include/cuda/std/__utility/cmp.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__functional_base
  libcudacxx/include/cuda/std/detail/libcxx/include/__threading_support
  libcudacxx/include/cuda/std/detail/libcxx/include/algorithm
  libcudacxx/include/cuda/std/detail/libcxx/include/barrier
  libcudacxx/include/cuda/std/detail/libcxx/include/bit
  libcudacxx/include/cuda/std/detail/libcxx/include/chrono
  libcudacxx/include/cuda/std/detail/libcxx/include/climits
  libcudacxx/include/cuda/std/detail/libcxx/include/cmath
  libcudacxx/include/cuda/std/detail/libcxx/include/complex
  libcudacxx/include/cuda/std/detail/libcxx/include/cstddef
  libcudacxx/include/cuda/std/detail/libcxx/include/cstdint
  libcudacxx/include/cuda/std/detail/libcxx/include/cstdlib
  libcudacxx/include/cuda/std/detail/libcxx/include/ctime
  libcudacxx/include/cuda/std/detail/libcxx/include/latch
  libcudacxx/include/cuda/std/detail/libcxx/include/limits
  libcudacxx/include/cuda/std/detail/libcxx/include/memory
  libcudacxx/include/cuda/std/detail/libcxx/include/numeric
  libcudacxx/include/cuda/std/detail/libcxx/include/optional
  libcudacxx/include/cuda/std/detail/libcxx/include/ratio
  libcudacxx/include/cuda/std/detail/libcxx/include/semaphore
  libcudacxx/include/cuda/std/detail/libcxx/include/tuple
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners

format
  libcudacxx/include/cuda/std/detail/libcxx/include/numeric
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Move `std::accumulate` to its own file
  libcudacxx/include/cuda/std/__numeric/accumulate.h
  libcudacxx/include/cuda/std/__numeric_
  libcudacxx/include/cuda/std/detail/libcxx/include/numeric
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/accumulate/accumulate.pass.cpp
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/accumulate/accumulate_op.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Adopt `cuda::std::plus` to also work in C++11
  libcudacxx/include/cuda/std/__functional/operations.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Implement LWG-3843 and LWG-3940 (#1621)
  libcudacxx/include/cuda/std/__expected/expected.h
  libcudacxx/test/libcudacxx/std/utilities/expected/expected.expected/observers/value.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/expected/expected.void/observers/value.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Move `std::reduce` to its own file
  libcudacxx/include/cuda/std/__numeric/reduce.h
  libcudacxx/include/cuda/std/detail/libcxx/include/numeric
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/reduce/reduce.pass.cpp
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/reduce/reduce_init.pass.cpp
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/reduce/reduce_init_op.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Move `std::transform_reduce` to its own file
  libcudacxx/include/cuda/std/__numeric/transform_reduce.h
  libcudacxx/include/cuda/std/detail/libcxx/include/numeric
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/transform.reduce/transform_reduce_iter_iter_init_bop_uop.pass.cpp
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/transform.reduce/transform_reduce_iter_iter_iter_init.pass.cpp
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/transform.reduce/transform_reduce_iter_iter_iter_init_op_op.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Move `std::partial_sum` to its own file
  libcudacxx/include/cuda/std/__numeric/partial_sum.h
  libcudacxx/include/cuda/std/detail/libcxx/include/numeric
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/partial.sum/partial_sum.pass.cpp
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/partial.sum/partial_sum_op.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Move `std::inner_product` to its own file
  libcudacxx/include/cuda/std/__numeric/inner_product.h
  libcudacxx/include/cuda/std/detail/libcxx/include/numeric
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/inner.product/inner_product.pass.cpp
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/inner.product/inner_product_comp.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Move `std::iota` to its own file
  libcudacxx/include/cuda/std/__numeric/iota.h
  libcudacxx/include/cuda/std/detail/libcxx/include/numeric
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/numeric.iota/iota.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Move `std::exclusive_scan` into its own file
  libcudacxx/include/cuda/std/__numeric/exclusive_scan.h
  libcudacxx/include/cuda/std/detail/libcxx/include/numeric
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/exclusive.scan/exclusive_scan.pass.cpp
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/exclusive.scan/exclusive_scan_init_op.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Move `std::adjacent_difference` to its own file
  libcudacxx/include/cuda/std/__numeric/adjacent_difference.h
  libcudacxx/include/cuda/std/detail/libcxx/include/numeric
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/adjacent.difference/adjacent_difference.pass.cpp
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/adjacent.difference/adjacent_difference_op.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Move `std::midpoint` to its own file
  libcudacxx/include/cuda/std/__numeric/midpoint.h
  libcudacxx/include/cuda/std/__type_traits/is_null_pointer.h
  libcudacxx/include/cuda/std/detail/libcxx/include/numeric
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/numeric.ops.midpoint/midpoint.float.pass.cpp
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/numeric.ops.midpoint/midpoint.integer.pass.cpp
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/numeric.ops.midpoint/midpoint.pointer.pass.cpp
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/numeric.ops.midpoint/midpoint.verify.cpp
  libcudacxx/test/support/fp_compare.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Move `std::transform_exclusive_scan` into its own file
  libcudacxx/include/cuda/std/__numeric/transform_exclusive_scan.h
  libcudacxx/include/cuda/std/detail/libcxx/include/numeric
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/transform.exclusive.scan/transform_exclusive_scan_init_bop_uop.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Move `std::transform_inclusive_scan` to its own file
  libcudacxx/include/cuda/std/__numeric/transform_inclusive_scan.h
  libcudacxx/include/cuda/std/detail/libcxx/include/numeric
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/transform.inclusive.scan/transform_inclusive_scan_bop_uop.pass.cpp
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/transform.inclusive.scan/transform_inclusive_scan_bop_uop_init.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Move `std::inclusive_scan` into its own file
  libcudacxx/include/cuda/std/__numeric/inclusive_scan.h
  libcudacxx/include/cuda/std/detail/libcxx/include/numeric
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/inclusive.scan/inclusive_scan.pass.cpp
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/inclusive.scan/inclusive_scan_op.pass.cpp
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/inclusive.scan/inclusive_scan_op_init.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Move `std::gcm` and `std::lcm` into their own file
  libcudacxx/include/cuda/std/__numeric/gcd_lcm.h
  libcudacxx/include/cuda/std/detail/libcxx/include/numeric
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/numeric.ops.gcd/gcd.bool1.compile.fail.cpp
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/numeric.ops.gcd/gcd.bool2.compile.fail.cpp
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/numeric.ops.gcd/gcd.bool3.compile.fail.cpp
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/numeric.ops.gcd/gcd.bool4.compile.fail.cpp
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/numeric.ops.gcd/gcd.not_integral1.compile.fail.cpp
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/numeric.ops.gcd/gcd.not_integral2.compile.fail.cpp
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/numeric.ops.gcd/gcd.pass.cpp
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/numeric.ops.lcm/lcm.bool1.compile.fail.cpp
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/numeric.ops.lcm/lcm.bool2.compile.fail.cpp
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/numeric.ops.lcm/lcm.bool3.compile.fail.cpp
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/numeric.ops.lcm/lcm.bool4.compile.fail.cpp
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/numeric.ops.lcm/lcm.not_integral1.compile.fail.cpp
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/numeric.ops.lcm/lcm.not_integral2.compile.fail.cpp
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/numeric.ops.lcm/lcm.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Drop synpsis in utility
  libcudacxx/include/cuda/std/detail/libcxx/include/utility
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Add documentation for `<cuda/std/numeric>`
  libcudacxx/docs/standard_api/numerics_library.md
  libcudacxx/docs/standard_api/numerics_library/numeric.md
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Guard `resource_ref` and friends behind feature flag
  libcudacxx/docs/extended_api/memory_resource.md
  libcudacxx/include/cuda/__memory_resource/cuda_managed_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/cuda_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/cuda_pinned_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/get_property.h
  libcudacxx/include/cuda/__memory_resource/properties.h
  libcudacxx/include/cuda/__memory_resource/resource.h
  libcudacxx/include/cuda/__memory_resource/resource_ref.h
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_managed_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_managed_memory_resource/equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_managed_memory_resource/traits.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_memory_resource/equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_memory_resource/traits.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_pinned_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_pinned_memory_resource/equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_pinned_memory_resource/traits.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/get_property/forward_property.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/get_property/get_property.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/get_property/has_property.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.construction.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.conversion.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.equality.fail.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.inheritance.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.properties.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.concepts/async_resource.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.concepts/async_resource_with.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.concepts/resource.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.concepts/resource_with.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.construction.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.conversion.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.equality.fail.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.inheritance.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.properties.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Remove architecture specific
  CMakePresets.json
Owners: @nvidia/cccl-codeowners

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Owners: @nvidia/cccl-codeowners

Create major version 2.5.0
  cub/cub/cmake/cub-config-version.cmake
  cub/cub/version.cuh
  lib/cmake/cccl/cccl-config-version.cmake
  libcudacxx/include/cuda/std/__cccl/version.h
  libcudacxx/lib/cmake/libcudacxx/libcudacxx-config-version.cmake
  thrust/thrust/cmake/thrust-config-version.cmake
  thrust/thrust/version.h
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-thrust-codeowners

Add nsight support for automated debugging (#1660)
  .devcontainer/cuda11.1-gcc6/devcontainer.json
  .devcontainer/cuda11.1-gcc7/devcontainer.json
  .devcontainer/cuda11.1-gcc8/devcontainer.json
  .devcontainer/cuda11.1-gcc9/devcontainer.json
  .devcontainer/cuda11.1-llvm9/devcontainer.json
  .devcontainer/cuda11.8-gcc11/devcontainer.json
  .devcontainer/cuda12.4-gcc10/devcontainer.json
  .devcontainer/cuda12.4-gcc11/devcontainer.json
  .devcontainer/cuda12.4-gcc12/devcontainer.json
  .devcontainer/cuda12.4-gcc7/devcontainer.json
  .devcontainer/cuda12.4-gcc8/devcontainer.json
  .devcontainer/cuda12.4-gcc9/devcontainer.json
  .devcontainer/cuda12.4-llvm10/devcontainer.json
  .devcontainer/cuda12.4-llvm11/devcontainer.json
  .devcontainer/cuda12.4-llvm12/devcontainer.json
  .devcontainer/cuda12.4-llvm13/devcontainer.json
  .devcontainer/cuda12.4-llvm14/devcontainer.json
  .devcontainer/cuda12.4-llvm15/devcontainer.json
  .devcontainer/cuda12.4-llvm16/devcontainer.json
  .devcontainer/cuda12.4-llvm9/devcontainer.json
  .devcontainer/cuda12.4-oneapi2023.2.0/devcontainer.json
  .devcontainer/devcontainer.json
  .vscode/launch.json
  CMakePresets.json
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Drop new properties until we are certain about the design
  libcudacxx/docs/extended_api/memory_resource/properties.md
  libcudacxx/include/cuda/__memory_resource/cuda_managed_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/cuda_pinned_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/properties.h
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_managed_memory_resource/equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_pinned_memory_resource/equality.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Guard `resource_ref` and friends behind feature flag (#1675)
  libcudacxx/docs/extended_api/memory_resource.md
  libcudacxx/include/cuda/__memory_resource/cuda_managed_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/cuda_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/cuda_pinned_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/get_property.h
  libcudacxx/include/cuda/__memory_resource/properties.h
  libcudacxx/include/cuda/__memory_resource/resource.h
  libcudacxx/include/cuda/__memory_resource/resource_ref.h
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_managed_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_managed_memory_resource/equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_managed_memory_resource/traits.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_memory_resource/equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_memory_resource/traits.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_pinned_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_pinned_memory_resource/equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_pinned_memory_resource/traits.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/get_property/forward_property.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/get_property/get_property.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/get_property/has_property.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.construction.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.conversion.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.equality.fail.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.inheritance.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.properties.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.concepts/async_resource.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.concepts/async_resource_with.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.concepts/resource.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.concepts/resource_with.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.construction.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.conversion.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.equality.fail.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.inheritance.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.properties.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Create major version 2.5.0 (#1677)
  cub/cub/cmake/cub-config-version.cmake
  cub/cub/version.cuh
  lib/cmake/cccl/cccl-config-version.cmake
  libcudacxx/include/cuda/std/__cccl/version.h
  libcudacxx/lib/cmake/libcudacxx/libcudacxx-config-version.cmake
  thrust/thrust/cmake/thrust-config-version.cmake
  thrust/thrust/version.h
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-thrust-codeowners

remove cuda12.2-pip devcontainer
  .devcontainer/cuda12.2-pip/devcontainer.json
  .github/workflows/build-in-devcontainer.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

only build RAPIDS C++ libs
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

build without tests and benchmarks first, then build with them
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners
