Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

Return demangled name in c2h::type_name
  cub/test/c2h/utility.cuh
  thrust/testing/unittest/system.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners

Const-qualify histogram pointer input parameters (#1762)
  cub/cub/device/device_histogram.cuh
  cub/cub/device/dispatch/dispatch_histogram.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

[CUB] Provide __half operators if user disabled them in CUDA headers.
  cub/cub/util_type.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Return demangled name in c2h::type_name (#1773)
  cub/test/c2h/utility.cuh
  thrust/testing/unittest/system.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners

Use formatted job type in summaries.
  .github/actions/workflow-build/build-workflow.py
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Add missing header.
  thrust/testing/shuffle.cu
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Clean up TBB handling in thrust-config.cmake.
  thrust/thrust/cmake/thrust-config.cmake
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners

Add ability to split CI test jobs into multiple parallel jobs.
  .github/actions/workflow-build/build-workflow.py
  CMakePresets.json
  ci/build_common.sh
  ci/matrix.yaml
  ci/pretty_printing.sh
  ci/test_cub.sh
  ci/test_thrust.sh
  ci/util/extract_switches.sh
  ci/windows/build_common.psm1
  ci/windows/build_cub.ps1
  ci/windows/build_libcudacxx.ps1
  ci/windows/build_thrust.ps1
  ci/windows/test_thrust.ps1
  thrust/docs/github_pages/setup/cmake_options.md
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners

Skip failing CPU backend tests pending investigation.
  thrust/testing/allocator.cu
  thrust/testing/memory.cu
  thrust/testing/replace.cu
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Patch edge case in compiler/std deprecation macros.
  cub/cub/util_cpp_dialect.cuh
  thrust/thrust/detail/config/cpp_dialect.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners

WAR miscompile in older gcc for Thrust CPU backends
  thrust/thrust/iterator/iterator_facade.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Formatting.
  .github/actions/workflow-build/build-workflow.py
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Sort projects by failures and total jobs.
  .github/actions/workflow-results/final-summary.py
  .github/actions/workflow-results/prepare-execution-summary.py
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Print override matrix to summary if present.
  .github/actions/workflow-results/final-summary.py
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Simplify argument forwarding in histogram entry-points
  cub/cub/device/device_histogram.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Prioritize CI jobs with dependencies.
  .github/actions/workflow-build/build-workflow.py
  .github/actions/workflow-results/parse-job-times.py
  .github/actions/workflow-results/prepare-execution-summary.py
  .github/workflows/workflow-dispatch-two-stage.yml
  .github/workflows/workflow-dispatch.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

update actions that use node16 to versions that use node20
  .github/actions/workflow-build/action.yml
  .github/actions/workflow-results/action.yml
  .github/workflows/backport-prs.yml
  .github/workflows/build-docs.yml
  .github/workflows/ci-workflow-nightly.yml
  .github/workflows/ci-workflow-pull-request.yml
  .github/workflows/verify-devcontainers.yml
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

use actions/checkout@v3 inside the containers because ubuntu18.04
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

add `persist-credentials: false` to all actions/checkout steps
  .github/workflows/backport-prs.yml
  .github/workflows/build-docs.yml
  .github/workflows/ci-workflow-nightly.yml
  .github/workflows/ci-workflow-pull-request.yml
  .github/workflows/verify-devcontainers.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

use aws-actions/configure-aws-credentials@v2 for Ubuntu18.04
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Try using groups instead.
  .github/actions/workflow-build/build-workflow.py
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

use devcontainers/ci action's configFile input
  .github/workflows/verify-devcontainers.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

run linux jobs w/ docker:latest using the mounted docker.sock, so we can use the devcontainers/ci action
  .github/actions/workflow-build/build-workflow.py
  .github/workflows/workflow-dispatch-job.yml
  .github/workflows/workflow-dispatch-two-stage.yml
  .github/workflows/workflow-dispatch.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

limit PR jobs to cub for now
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

fix configFile path
  .github/workflows/verify-devcontainers.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

use sh instead of bash
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Simplify argument forwarding in histogram entry-points (#1776)
  cub/cub/device/device_histogram.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

install @devcontainers/cli manually
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

comment out verify job for now
  .github/workflows/ci-workflow-pull-request.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

install node and devcontainers cli manually
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

don't depend on commented out job
  .github/workflows/ci-workflow-pull-request.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

fix typo
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

fix devcontainer path
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

escape $
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

set TMPDIR to the host's temp path for devcontainers CLI
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

define TMPDIR as a container envvar
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

mount temp, workspace, and tool_cache into container
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

hard-code paths
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

rewrite github envvars
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

transform the whole env
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners
