Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners

Branch protection WAR: #605 Reprise
  .github/workflows/ci-workflow-nightly.yml
  .github/workflows/ci-workflow-pull-request.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

fix yq filter to match cpp name
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

fix filters list
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

add missing -D prefix
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

remove debug code
  .github/workflows/build-in-devcontainer.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

fix args
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

build wholegraph before cugraph
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Fix missing <cstdint> in generated ptx file.
  libcudacxx/codegen/codegen.cpp
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_generated.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

`__cuda_std__` mode does not require use of host atomics checks.
  libcudacxx/include/cuda/std/__atomic/functions/host.h
  libcudacxx/include/cuda/std/__atomic/platform.h
  libcudacxx/include/cuda/std/__atomic/platform/msvc_to_builtins.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix missing `_If` in types.h.
  libcudacxx/include/cuda/std/__atomic/types.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix missing <cstdint> in derived PTX file.
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_derived.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Remove uneeded headers from base.h.
  libcudacxx/include/cuda/std/__atomic/types/base.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix type mixup in `__atomic_wait`.
  libcudacxx/include/cuda/std/__atomic/wait/notify_wait.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Change tests to use `validate_pinned` API.
  libcudacxx/test/libcudacxx/heterogeneous/atomic.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/atomic_flag.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/atomic_ref.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/barrier.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/barrier_abi_v2.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/barrier_parity.cuda.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/barrier_parity.std.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/cuda_atomic_ref.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/latch.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/latch_abi_v2.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/optional.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/pair.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/semaphore.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/tuple.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/variant.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix a couple issues with `__atomic_underlying_t` in __atomics/types
  libcudacxx/include/cuda/std/__atomic/types/common.h
  libcudacxx/include/cuda/std/__atomic/types/locked.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Infra: rename CudaNext -> cudax
  .github/actions/workflow-build/build-workflow.py
  CMakeLists.txt
  CMakePresets.json
  ci/build_cudax.sh
  ci/inspect_changes.sh
  ci/matrix.yaml
  ci/test_cudax.sh
  ci/update_version.sh
  ci/windows/build_cudax.ps1
  cuda_next/CMakeLists.txt
  cuda_next/README.md
  cuda_next/cmake/CudaNextBuildTargetList.cmake
  cuda_next/lib/cmake/CudaNext/cudanext-config.cmake
  cudax/CMakeLists.txt
  cudax/LICENSE.TXT
  cudax/README.md
  cudax/cmake/AppendOptionIfAvailable.cmake
  cudax/cmake/CPM.cmake
  cudax/cmake/cudaxAddSubdir.cmake
  cudax/cmake/cudaxBuildCompilerTargets.cmake
  cudax/cmake/cudaxBuildTargetList.cmake
  cudax/cmake/cudaxHeaderTesting.cmake
  cudax/cmake/cudaxInstallRules.cmake
  cudax/cmake/header_test.in.cu
  cudax/include/cuda/experimental/version.cuh
  cudax/lib/cmake/cudax/cudax-config-version.cmake
  cudax/lib/cmake/cudax/cudax-config.cmake
  cudax/test/CMakeLists.txt
  cudax/test/catch2_helpers/catch2_main.cpp
  cudax/test/hierarchy_custom_types.cu
  cudax/test/hierarchy_smoke.cu
  lib/cmake/cccl/cccl-config.cmake
  test/cmake/CMakeLists.txt
  test/cmake/test_export/CMakeLists.txt
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-cmake-codeowners

Update devcontainers.
  .devcontainer/cuda12.0-gcc10/devcontainer.json
  .devcontainer/cuda12.0-gcc11/devcontainer.json
  .devcontainer/cuda12.0-gcc12/devcontainer.json
  .devcontainer/cuda12.0-gcc9/devcontainer.json
  .devcontainer/cuda12.0-llvm10/devcontainer.json
  .devcontainer/cuda12.0-llvm11/devcontainer.json
  .devcontainer/cuda12.0-llvm12/devcontainer.json
  .devcontainer/cuda12.0-llvm13/devcontainer.json
  .devcontainer/cuda12.0-llvm14/devcontainer.json
  .devcontainer/cuda12.0-llvm9/devcontainer.json
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Fix `<atomic>` header include guard.
  libcudacxx/include/cuda/std/atomic
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix mistakes from merging clang-format changes.
  libcudacxx/include/cuda/std/detail/libcxx/include/barrier
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Move thread_count trait around and remove unused sink.
  libcudacxx/test/libcudacxx/heterogeneous/helpers.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Update inspect changes conflict.
  ci/inspect_changes.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Fix condition check.
  .github/workflows/ci-workflow-nightly.yml
  .github/workflows/ci-workflow-pull-request.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Copy/paste error.
  ci/inspect_changes.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Rebuild CI infra, add nightly workflow.
  .devcontainer/make_devcontainers.sh
  .github/actions/compute-matrix/action.yml
  .github/actions/compute-matrix/compute-matrix.sh
  .github/actions/workflow-build/action.yml
  .github/actions/workflow-build/build-workflow.py
  .github/actions/workflow-results/action.yml
  .github/actions/workflow-results/final-summary.py
  .github/actions/workflow-results/prepare-execution-summary.py
  .github/actions/workflow-results/verify-job-success.py
  .github/workflows/build-and-test-linux.yml
  .github/workflows/build-and-test-windows.yml
  .github/workflows/ci-workflow-nightly.yml
  .github/workflows/ci-workflow-pull-request.yml
  .github/workflows/dispatch-build-and-test.yml
  .github/workflows/pr.yml
  .github/workflows/run-as-coder.yml
  .github/workflows/workflow-dispatch-job.yml
  .github/workflows/workflow-dispatch-two-stage.yml
  .github/workflows/workflow-dispatch.yml
  .gitignore
  CMakePresets.json
  ci-overview.md
  ci/build_common.sh
  ci/infra_cccl.sh
  ci/inspect_changes.sh
  ci/matrix.yaml
  ci/verify_codegen_libcudacxx.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Branch protection WAR: #605 Reprise
  .github/workflows/ci-workflow-nightly.yml
  .github/workflows/ci-workflow-pull-request.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Don't fail on bad-alloc for large memory test.
  cub/test/catch2_test_device_select_if.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Fix condition check.
  .github/workflows/ci-workflow-nightly.yml
  .github/workflows/ci-workflow-pull-request.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Fix CMake option handling.
  .github/actions/workflow-build/build-workflow.py
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Inline the sccache action.
  .github/actions/configure_cccl_sccache/action.yml
  .github/workflows/verify-devcontainers.yml
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Allow an `override` matrix to reduce CI workload.
  .github/actions/workflow-build/action.yml
  .github/actions/workflow-build/build-workflow.py
  .github/actions/workflow-results/action.yml
  .github/workflows/ci-workflow-pull-request.yml
  ci-overview.md
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Fix CMake option handling. (#1698)
  .github/actions/configure_cccl_sccache/action.yml
  .github/actions/workflow-build/build-workflow.py
  .github/workflows/verify-devcontainers.yml
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Fix comment
  thrust/thrust/tuple.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Do not use deprecated `results_of` in thrust
  thrust/thrust/detail/type_traits.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Properly use global qualification for `cuda::std` in cub
  cub/cub/agent/agent_three_way_partition.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Fix thrust::optional<T&>::emplace()
  thrust/testing/regression/gh_1706__thrust_optional_reference_emplace.cu
  thrust/thrust/optional.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Add missing "clang-format on"
  libcudacxx/include/cuda/std/limits
  libcudacxx/include/cuda/std/mdspan
  libcudacxx/include/cuda/std/optional
  libcudacxx/include/cuda/std/ranges
  libcudacxx/include/cuda/std/ratio
  libcudacxx/include/cuda/std/semaphore
  libcudacxx/include/cuda/std/span
  libcudacxx/include/cuda/std/tuple
  libcudacxx/include/cuda/std/type_traits
  libcudacxx/include/cuda/std/utility
  libcudacxx/include/cuda/std/variant
  libcudacxx/include/cuda/std/version
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix issues that came up with building cuDF with main (#1643)
  cub/cub/device/dispatch/dispatch_merge_sort.cuh
  cub/cub/device/dispatch/dispatch_select_if.cuh
  cub/cub/device/dispatch/dispatch_unique_by_key.cuh
  cub/cub/util_device.cuh
  cub/cub/util_vsmem.cuh
  cub/test/catch2_test_vsmem.cu
  libcudacxx/include/cuda/__memory_resource/cuda_pinned_memory_resource.h
  libcudacxx/include/cuda/discard_memory
  libcudacxx/include/cuda/functional
  libcudacxx/include/cuda/std/__cccl/execution_space.h
  libcudacxx/include/cuda/std/__utility/pair.h
  libcudacxx/include/cuda/std/detail/libcxx/include/tuple
  thrust/testing/pair.cu
  thrust/testing/tuple.cu
  thrust/thrust/detail/functional/actor.h
  thrust/thrust/detail/functional/actor.inl
  thrust/thrust/iterator/detail/tuple_of_iterator_references.h
  thrust/thrust/optional.h
  thrust/thrust/pair.h
  thrust/thrust/system/cuda/detail/copy_if.h
  thrust/thrust/tuple.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-thrust-codeowners

Change tests to use `validate_pinned` API.
  libcudacxx/test/libcudacxx/heterogeneous/atomic.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/atomic_flag.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/atomic_ref.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/barrier.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/barrier_abi_v2.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/barrier_parity.cuda.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/barrier_parity.std.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/cuda_atomic_ref.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/latch.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/latch_abi_v2.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/optional.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/pair.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/semaphore.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/tuple.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/variant.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Move thread_count trait around and remove unused sink.
  libcudacxx/test/libcudacxx/heterogeneous/helpers.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Drop new properties until we are certain about the design (#1681)
  libcudacxx/docs/extended_api/memory_resource/properties.md
  libcudacxx/include/cuda/__memory_resource/cuda_managed_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/cuda_pinned_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/properties.h
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_managed_memory_resource/equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_pinned_memory_resource/equality.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners
