Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners

Add a benchmark for thrust::equal (#1944)
  thrust/benchmarks/bench/equal/basic.cu
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Update pair.rst
  docs/thrust/api_docs/utility/pair.rst
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Update pair.rst
  docs/thrust/api_docs/utility/pair.rst
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Strip prefix paths to improve doc rendering (#1954)
  docs/repo.toml
Owners: @nvidia/cccl-codeowners

Fix nvcc warning suggestion parentheses
  libcudacxx/include/cuda/std/detail/libcxx/include/cmath
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Simplify argument filling in tiple_chevron_launch
  thrust/thrust/system/cuda/detail/core/triple_chevron_launch.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Reviewer feedback
  thrust/thrust/system/cuda/detail/core/triple_chevron_launch.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Remove obsolete alignment.h
  thrust/thrust/system/cuda/detail/core/alignment.h
  thrust/thrust/system/cuda/detail/core/triple_chevron_launch.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Modernize Thrust's alignment.h
  thrust/thrust/detail/alignment.h
  thrust/thrust/system/cuda/detail/core/triple_chevron_launch.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Add missing include
  thrust/thrust/mr/validator.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Add missing include
  cub/cub/device/dispatch/dispatch_batch_memcpy.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Workaround ICC error with __builtin_is_constant_evaluated
  libcudacxx/include/cuda/std/detail/libcxx/include/cmath
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Restore RAPIDS devcontainer
  .devcontainer/cuda12.2-rapids-conda
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Implement thrust::all_of/any_of via thrust::count_if
  thrust/thrust/system/detail/generic/logical.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Implement thrust::equal in terms of thrust::all_if
  thrust/thrust/system/cuda/detail/equal.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Don't remove RAPIDS containers when cleaning.
  .devcontainer/make_devcontainers.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Modernize Thrust's alignment.h and triple_chevron_launch (#1905)
  cub/cub/device/dispatch/dispatch_batch_memcpy.cuh
  libcudacxx/include/cuda/std/detail/libcxx/include/cmath
  thrust/thrust/detail/alignment.h
  thrust/thrust/mr/validator.h
  thrust/thrust/system/cuda/detail/core/alignment.h
  thrust/thrust/system/cuda/detail/core/triple_chevron_launch.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-thrust-codeowners

Add missing typename in a cast type
  cudax/include/cuda/experimental/__launch/confiuration.cuh
Owners: @nvidia/cccl-codeowners

Use annotated tags.
  .github/workflows/release-finalize.yml
  .github/workflows/release-update-rc.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Restore RAPIDS devcontainer (#1955)
  .devcontainer/cuda12.2-rapids-conda
  .devcontainer/make_devcontainers.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

fixes format
  thrust/thrust/system/cuda/detail/copy_if.h
  thrust/thrust/system/cuda/detail/remove.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Fix Windows compilation issues
  cudax/include/cuda/experimental/__launch/confiuration.cuh
  cudax/test/launch/configuration.cu
Owners: @nvidia/cccl-codeowners

Fix for in-place `DeviceSelect` & `thrust::remove_if` (#1782)
  cub/benchmarks/bench/select/flagged.cu
  cub/benchmarks/bench/select/if.cu
  cub/benchmarks/nvbench_helper/nvbench_helper/nvbench_helper.cuh
  cub/cub/agent/agent_select_if.cuh
  cub/cub/agent/single_pass_scan_operators.cuh
  cub/cub/detail/strong_load.cuh
  cub/cub/device/dispatch/dispatch_select_if.cuh
  thrust/thrust/system/cuda/detail/copy_if.h
  thrust/thrust/system/cuda/detail/remove.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners

Drop Thrust's cstdint.h
  cub/cub/device/device_adjacent_difference.cuh
  thrust/testing/counting_iterator.cu
  thrust/testing/cstdint.cu
  thrust/testing/out_of_memory_recovery.cu
  thrust/testing/random.cu
  thrust/testing/unittest/special_types.h
  thrust/thrust/detail/complex/math_private.h
  thrust/thrust/detail/cstdint.h
  thrust/thrust/detail/util/align.h
  thrust/thrust/random.h
  thrust/thrust/random/detail/linear_congruential_engine_discard.h
  thrust/thrust/random/detail/normal_distribution.inl
  thrust/thrust/random/discard_block_engine.h
  thrust/thrust/random/linear_congruential_engine.h
  thrust/thrust/random/subtract_with_carry_engine.h
  thrust/thrust/system/cuda/detail/adjacent_difference.h
  thrust/thrust/system/cuda/detail/async/customization.h
  thrust/thrust/system/cuda/detail/async/exclusive_scan.h
  thrust/thrust/system/cuda/detail/async/inclusive_scan.h
  thrust/thrust/system/cuda/detail/async/reduce.h
  thrust/thrust/system/cuda/detail/async/sort.h
  thrust/thrust/system/cuda/detail/copy_if.h
  thrust/thrust/system/cuda/detail/dispatch.h
  thrust/thrust/system/cuda/detail/extrema.h
  thrust/thrust/system/cuda/detail/merge.h
  thrust/thrust/system/cuda/detail/partition.h
  thrust/thrust/system/cuda/detail/reduce.h
  thrust/thrust/system/cuda/detail/reduce_by_key.h
  thrust/thrust/system/cuda/detail/scan.h
  thrust/thrust/system/cuda/detail/scan_by_key.h
  thrust/thrust/system/cuda/detail/set_operations.h
  thrust/thrust/system/cuda/detail/sort.h
  thrust/thrust/system/cuda/detail/transform_reduce.h
  thrust/thrust/system/cuda/detail/unique.h
  thrust/thrust/system/cuda/detail/unique_by_key.h
  thrust/thrust/system/detail/generic/scan_by_key.inl
  thrust/thrust/system/detail/sequential/stable_radix_sort.inl
  thrust/thrust/system/omp/detail/reduce_intervals.inl
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners

Use `make_devcontainers.sh --clean` when validating.
  .github/workflows/verify-devcontainers.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Drop Thrust's cstdint.h (#1959)
  cub/cub/device/device_adjacent_difference.cuh
  thrust/testing/counting_iterator.cu
  thrust/testing/cstdint.cu
  thrust/testing/out_of_memory_recovery.cu
  thrust/testing/random.cu
  thrust/testing/unittest/special_types.h
  thrust/thrust/detail/complex/math_private.h
  thrust/thrust/detail/cstdint.h
  thrust/thrust/detail/util/align.h
  thrust/thrust/random.h
  thrust/thrust/random/detail/linear_congruential_engine_discard.h
  thrust/thrust/random/detail/normal_distribution.inl
  thrust/thrust/random/discard_block_engine.h
  thrust/thrust/random/linear_congruential_engine.h
  thrust/thrust/random/subtract_with_carry_engine.h
  thrust/thrust/system/cuda/detail/adjacent_difference.h
  thrust/thrust/system/cuda/detail/async/customization.h
  thrust/thrust/system/cuda/detail/async/exclusive_scan.h
  thrust/thrust/system/cuda/detail/async/inclusive_scan.h
  thrust/thrust/system/cuda/detail/async/reduce.h
  thrust/thrust/system/cuda/detail/async/sort.h
  thrust/thrust/system/cuda/detail/copy_if.h
  thrust/thrust/system/cuda/detail/dispatch.h
  thrust/thrust/system/cuda/detail/extrema.h
  thrust/thrust/system/cuda/detail/merge.h
  thrust/thrust/system/cuda/detail/partition.h
  thrust/thrust/system/cuda/detail/reduce.h
  thrust/thrust/system/cuda/detail/reduce_by_key.h
  thrust/thrust/system/cuda/detail/scan.h
  thrust/thrust/system/cuda/detail/scan_by_key.h
  thrust/thrust/system/cuda/detail/set_operations.h
  thrust/thrust/system/cuda/detail/sort.h
  thrust/thrust/system/cuda/detail/transform_reduce.h
  thrust/thrust/system/cuda/detail/unique.h
  thrust/thrust/system/cuda/detail/unique_by_key.h
  thrust/thrust/system/detail/generic/scan_by_key.inl
  thrust/thrust/system/detail/sequential/stable_radix_sort.inl
  thrust/thrust/system/omp/detail/reduce_intervals.inl
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners

Add slack notifications.
  .github/workflows/release-README.md
  .github/workflows/release-create-new.yml
  .github/workflows/release-finalize.yml
  .github/workflows/release-update-rc.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Fix missing binary_pred in thrust::unique_by_key
  thrust/testing/unique_by_key.cu
  thrust/thrust/system/cuda/detail/unique_by_key.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Fix divide by zero in `parse-job-times.py`
  .github/actions/workflow-results/parse-job-times.py
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Add CI slack notifications.
  .github/actions/workflow-build/action.yml
  .github/actions/workflow-results/action.yml
  .github/workflows/build-rapids.yml
  .github/workflows/ci-workflow-nightly.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Tweaks to slack notifs.
  .github/workflows/release-create-new.yml
  .github/workflows/release-finalize.yml
  .github/workflows/release-update-rc.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

More Windows fixes
  cudax/include/cuda/experimental/__launch/confiuration.cuh
  cudax/test/launch/launch_smoke.cu
Owners: @nvidia/cccl-codeowners

Possibly fix Windows warning
  cudax/include/cuda/experimental/__launch/confiuration.cuh
Owners: @nvidia/cccl-codeowners

Use `make_devcontainers.sh --clean` when validating. (#1963)
  .github/workflows/verify-devcontainers.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Fix docs typo
  cudax/include/cuda/experimental/__launch/launch.cuh
Owners: @nvidia/cccl-codeowners

Fix missing binary_pred in thrust::unique_by_key (#1957)
  thrust/testing/unique_by_key.cu
  thrust/thrust/system/cuda/detail/unique_by_key.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Clarify libcu++ use by non-CUDA compilers
  docs/libcudacxx/index.rst
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

cuda::launch and launch configuration object with minimal functionality (#1950)
  cudax/include/cuda/experimental/__launch/confiuration.cuh
  cudax/include/cuda/experimental/__launch/launch.cuh
  cudax/include/cuda/experimental/launch.cuh
  cudax/test/CMakeLists.txt
  cudax/test/hierarchy/testing_common.cuh
  cudax/test/launch/configuration.cu
  cudax/test/launch/launch_smoke.cu
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-cmake-codeowners

Avoid SIGPIPE when truncating verbose output in CI scripts.
  ci/build_common.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Correct typo in a launch configuration header name
  cudax/include/cuda/experimental/__launch/configuration.cuh
  cudax/include/cuda/experimental/__launch/launch.cuh
Owners: @nvidia/cccl-codeowners
