Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners

uncomment the rest of the CI jobs
  .github/workflows/ci-workflow-pull-request.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Improve libcu++ documentation a bit more (#1732)
  cub/docs/gen_docs.bash
  libcudacxx/docs/extended_api/memory_resource.md
  libcudacxx/docs/standard_api.md
  libcudacxx/docs/standard_api/ranges_library.md
  libcudacxx/docs/standard_api/utility_library.md
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners

build cugraph multi-gpu tests
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

remove nightly schedule from build-rapids.yml
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Make headers includable in pre-sm_70 TUs.
  libcudacxx/include/cuda/std/__cuda/barrier.h
  libcudacxx/include/cuda/std/barrier
  libcudacxx/include/cuda/std/latch
  libcudacxx/include/cuda/std/semaphore
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Make atomics emit linker errors when architecture is unsupported.
  libcudacxx/include/cuda/std/__atomic/types/base.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Enable public header testing for atomic and friends.
  libcudacxx/test/public_headers/CMakeLists.txt
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners

Make atomic_ref ctor constexpr. again.
  libcudacxx/include/cuda/std/__cuda/atomic.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Make atomic_ref ctor constexpr. again. (#1737)
  libcudacxx/include/cuda/std/__cuda/atomic.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Add cmake presets instructions
  .devcontainer/img/build_button.png
  .devcontainer/img/cmaketools_presets.png
  .devcontainer/img/cmaketools_sidebar.png
  .devcontainer/img/cmaketools_targets.png
  .devcontainer/img/debug.png
  .devcontainer/img/nsight.png
  .devcontainer/img/run.png
  CONTRIBUTING.md
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Fix grammar errors, resolve reviews.
  CONTRIBUTING.md
Owners: @nvidia/cccl-codeowners

Add further detail in cmake terminal commands
  CONTRIBUTING.md
Owners: @nvidia/cccl-codeowners

add problem matcher to build-rapids job
  .github/workflows/build-in-devcontainer.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Ensure that `variant` SFINAE base classes do use EBCO
  libcudacxx/include/cuda/std/__tuple_dir/sfinae_helpers.h
  libcudacxx/include/cuda/std/detail/libcxx/include/variant
  libcudacxx/test/libcudacxx/std/utilities/variant/variant.variant/object_size.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Ensure that `optional` SFINAE base classes do use EBCO
  libcudacxx/include/cuda/std/detail/libcxx/include/optional
  libcudacxx/test/libcudacxx/std/utilities/optional/optional.object/object_size.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Ensure that `expected` SFINAE base classes do use EBCO
  libcudacxx/include/cuda/std/__expected/expected.h
  libcudacxx/include/cuda/std/__expected/expected_base.h
  libcudacxx/include/cuda/std/__tuple_dir/sfinae_helpers.h
  libcudacxx/test/libcudacxx/std/utilities/expected/expected.expected/assign/assign.copy.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/expected/expected.void/object_size.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Drop unused header from ptx
  libcudacxx/include/cuda/__ptx/parallel_synchronization_and_communication_instructions_mbarrier.h
  libcudacxx/include/cuda/__ptx/ptx_dot_variants.h
  libcudacxx/include/cuda/__ptx/ptx_helper_functions.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

use my rapids-cmake fork with updates for CCCL 2.5
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Add dimensions description implementation back
  cudax/include/cuda/experimental/detail/dimensions.cuh
  cudax/include/cuda/experimental/detail/hierarchy_dimensions.cuh
  cudax/include/cuda/experimental/detail/hierarchy_levels.cuh
  cudax/include/cuda/experimental/detail/level_dimensions.cuh
  cudax/include/cuda/experimental/hierarchy_dimensions.cuh
  cudax/include/cuda/experimental/version.cuh
  cudax/test/CMakeLists.txt
  cudax/test/hierarchy/hierarchy_custom_types.cu
  cudax/test/hierarchy/hierarchy_smoke.cu
  cudax/test/hierarchy/testing_common.cuh
  cudax/test/hierarchy_smoke.cu
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-cmake-codeowners

Avoid ABI issues due to MSVC EBCO issues (#1739)
  libcudacxx/include/cuda/std/__expected/expected.h
  libcudacxx/include/cuda/std/__expected/expected_base.h
  libcudacxx/include/cuda/std/__tuple_dir/sfinae_helpers.h
  libcudacxx/include/cuda/std/detail/libcxx/include/optional
  libcudacxx/include/cuda/std/detail/libcxx/include/variant
  libcudacxx/test/libcudacxx/std/utilities/expected/expected.expected/assign/assign.copy.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/expected/expected.void/object_size.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/optional/optional.object/object_size.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/variant/variant.variant/object_size.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Ensure that `complex` works when the extended floating point operators are not defined
  libcudacxx/include/cuda/std/__complex/nvbf16.h
  libcudacxx/include/cuda/std/__complex/nvfp16.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Drop unused header from ptx (#1740)
  libcudacxx/include/cuda/__ptx/parallel_synchronization_and_communication_instructions_mbarrier.h
  libcudacxx/include/cuda/__ptx/ptx_dot_variants.h
  libcudacxx/include/cuda/__ptx/ptx_helper_functions.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Do not rely on operators for `__half`
  cub/cub/agent/agent_sub_warp_merge_sort.cuh
  cub/cub/device/dispatch/dispatch_histogram.cuh
  cub/cub/thread/thread_search.cuh
  cub/cub/util_type.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Add guard against half support
  cub/cmake/CubHeaderTesting.cmake
  cub/cmake/header_test.in
  cub/cub/util_type.cuh
  libcudacxx/docs/standard_api/numerics_library/complex.md
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners

Centralize handling of extended floating point types
  cub/cub/util_type.cuh
  cub/test/c2h/extended_types.cuh
  cub/test/catch2_segmented_sort_helper.cuh
  cub/test/test_device_histogram.cu
  libcudacxx/include/cuda/__cccl_config
  libcudacxx/include/cuda/std/__cccl/extended_floating_point.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners

Fix docs generation
  cub/docs/gen_docs.bash
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Update cub/docs/gen_docs.bash
  cub/docs/gen_docs.bash
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Enable cudax CI matrix
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Update library name in license header
  cudax/include/cuda/experimental/detail/dimensions.cuh
  cudax/include/cuda/experimental/detail/hierarchy_dimensions.cuh
  cudax/include/cuda/experimental/detail/hierarchy_levels.cuh
  cudax/include/cuda/experimental/detail/level_dimensions.cuh
  cudax/include/cuda/experimental/hierarchy_dimensions.cuh
  cudax/test/hierarchy/hierarchy_custom_types.cu
  cudax/test/hierarchy/hierarchy_smoke.cu
  cudax/test/hierarchy/testing_common.cuh
Owners: @nvidia/cccl-codeowners

Allow an `override` matrix to reduce CI workload. (#1701)
  .github/actions/workflow-build/action.yml
  .github/actions/workflow-build/build-workflow.py
  .github/actions/workflow-results/action.yml
  .github/workflows/ci-workflow-pull-request.yml
  ci-overview.md
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Fix extra spaces in the CI matrix Also adds a comment describing a new test of rst docs examples
  ci/matrix.yaml
  cudax/test/hierarchy/hierarchy_smoke.cu
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Fix docs generation (#1741)
  cub/docs/gen_docs.bash
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Add docs instructions on how to utilize CMake Presets (#1694)
  .devcontainer/img/build_button.png
  .devcontainer/img/cmaketools_presets.png
  .devcontainer/img/cmaketools_sidebar.png
  .devcontainer/img/cmaketools_targets.png
  .devcontainer/img/debug.png
  .devcontainer/img/nsight.png
  .devcontainer/img/run.png
  CONTRIBUTING.md
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Add sm100 support to <nv/target> for NVCC
  libcudacxx/include/nv/detail/__target_macros
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix unused variable warning in the examples test
  cudax/test/hierarchy/hierarchy_smoke.cu
Owners: @nvidia/cccl-codeowners

Fix MSVC issue with local variable hiding a global
  cudax/test/hierarchy/hierarchy_smoke.cu
Owners: @nvidia/cccl-codeowners

Address review comments
  cub/cub/util_type.cuh
  cub/test/c2h/extended_types.cuh
  libcudacxx/include/cuda/std/__cccl/extended_floating_point.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners

Ensure that {cr}begin works with types that pull in namespace std via ADL (#1685)
  cub/test/catch2_test_helper.h
  libcudacxx/include/cuda/__cccl_config
  libcudacxx/include/cuda/std/__cccl/sequence_access.h
  libcudacxx/include/cuda/std/__cuda/barrier.h
  libcudacxx/include/cuda/std/__iterator/access.h
  libcudacxx/include/cuda/std/__iterator/reverse_access.h
  libcudacxx/include/cuda/std/__ranges/subrange.h
  libcudacxx/include/cuda/std/__ranges/view_interface.h
  libcudacxx/include/cuda/std/__type_traits/is_swappable.h
  libcudacxx/include/cuda/std/__utility/swap.h
  libcudacxx/include/cuda/std/detail/libcxx/include/tuple
  libcudacxx/test/libcudacxx/std/iterators/iterator.range/begin-end.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/meta/meta.unary/meta.unary.prop/is_swappable.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/utility/utility.swap/swap.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/utility/utility.swap/swap_array.pass.cpp
  thrust/thrust/detail/contiguous_storage.h
  thrust/thrust/detail/range/head_flags.h
  thrust/thrust/detail/range/tail_flags.h
  thrust/thrust/detail/trivial_sequence.h
  thrust/thrust/detail/vector_base.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-thrust-codeowners

move logic for updating manifest.yaml and cloning repos into the container and controlled by envvars, simplify build-rapids.yml and print a command to execute on failure
  .github/workflows/build-in-devcontainer.yml
  .github/workflows/build-rapids.yml
  .gitignore
  ci/rapids/cuda12.2-conda/devcontainer.json
  ci/rapids/post-create-command.sh
  ci/rapids/rapids-entrypoint.sh
  ci/rapids/rapids.Dockerfile
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

don't run post-attach-command in CI
  .github/workflows/build-rapids.yml
  ci/rapids/cuda12.2-conda/devcontainer.json
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners
