Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

remove set -x
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

fix problem matcher path
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

remove adding problem matcher because it's added in the other workflow
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

fix here-doc EOF
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

cleanup parsing in launch.json, make docker-entrypoint.sh faster, move common logic from rapids-entrypoint.sh into cccl-entrypoint.sh
  .devcontainer/cccl-entrypoint.sh
  .devcontainer/docker-entrypoint.sh
  .devcontainer/launch.sh
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Fix `__half` conversion to float in histogram (#1785)
  cub/cub/device/dispatch/dispatch_histogram.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Address review feedback
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.cons/stdarray.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Implement P3029R1: deduction from `integral_constant`
  libcudacxx/include/cuda/std/detail/libcxx/include/span
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.cons/deduct.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.cons/stdarray.pass.cpp
  libcudacxx/test/support/test_macros.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Implement P3029R1: deduction from `integral_constant` (#1786)
  libcudacxx/include/cuda/std/detail/libcxx/include/span
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.cons/deduct.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.cons/stdarray.pass.cpp
  libcudacxx/test/support/test_macros.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

more parsing cleanup and hardening
  .devcontainer/launch.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

upgrade actions/github-script@v4 -> v7
  .github/actions/workflow-results/action.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

update runs-on so skipped jobs are run on github's runners
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

run with --gpus all
  .devcontainer/launch.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

set -x to see which command is failing
  ci/build_common.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

revert changes to runs-on, add if conditions to workflow-dispatch.yml
  .github/workflows/workflow-dispatch-job.yml
  .github/workflows/workflow-dispatch.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

define CI and GITHUB_ACTIONS envvars
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Refactor CUB test_device_histogram
  cub/test/test_device_histogram.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Add missing compound divide operator to half_t
  cub/test/half.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Add DECLARE_TMPL_LAUNCH_WRAPPER
  cub/test/catch2_test_launch_helper.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Add half_t end of life comment
  cub/test/half.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Revert to showing skipped job to WAR GHA bug.
  .github/workflows/workflow-dispatch-job.yml
  .github/workflows/workflow-dispatch-two-stage.yml
  .github/workflows/workflow-dispatch.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Resolve conflicts.
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Port CUB device histogram test to Catch2
  cub/cub/device/dispatch/dispatch_histogram.cuh
  cub/cub/util_type.cuh
  cub/test/catch2_test_device_histogram.cu
  cub/test/test_device_histogram.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Fix typo,
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Revert to showing skipped job to WAR GHA bug. (#1794)
  .github/workflows/workflow-dispatch-job.yml
  .github/workflows/workflow-dispatch-two-stage.yml
  .github/workflows/workflow-dispatch.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Add walltime, max job time to CI summary.
  .github/actions/workflow-results/parse-job-times.py
  .github/actions/workflow-results/prepare-execution-summary.py
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Port to Catch2 and rework device histogram test (#1695)
  cub/cub/device/dispatch/dispatch_histogram.cuh
  cub/cub/util_type.cuh
  cub/test/catch2_test_device_histogram.cu
  cub/test/catch2_test_launch_helper.h
  cub/test/half.h
  cub/test/test_device_histogram.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Add gcc13, clang17, clang18 to CI (#1757)
  .devcontainer/cuda12.4-gcc13/devcontainer.json
  .devcontainer/cuda12.4-llvm17/devcontainer.json
  .devcontainer/cuda12.4-llvm18/devcontainer.json
  ci/matrix.yaml
  libcudacxx/test/utils/libcudacxx/test/config.py
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners

determine remote user from devcontainer.json or image metadata, gpus from hostRequirements.gpu in devcontainer.json
  .devcontainer/launch.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

remove extra ifs
  .github/workflows/workflow-dispatch.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Drop `thrust::is_floating_point`
  thrust/testing/unittest/random.h
  thrust/testing/unittest/util.h
  thrust/thrust/detail/type_traits.h
  thrust/thrust/iterator/detail/counting_iterator.inl
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `thrust::add_cv`
  thrust/thrust/detail/type_traits.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `thrust::is_void`
  thrust/thrust/detail/pointer.h
  thrust/thrust/detail/type_traits.h
  thrust/thrust/detail/type_traits/iterator/is_output_iterator.h
  thrust/thrust/detail/type_traits/pointer_traits.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `thrust::is_integral`
  thrust/thrust/detail/numeric_traits.h
  thrust/thrust/detail/type_traits.h
  thrust/thrust/detail/vector_base.inl
  thrust/thrust/iterator/detail/counting_iterator.inl
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `thrust::add_volatile`
  thrust/thrust/detail/type_traits.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `thrust::has_trivial_meow`
  thrust/thrust/detail/allocator/copy_construct_range.inl
  thrust/thrust/detail/allocator/default_construct_range.inl
  thrust/thrust/detail/allocator/destroy_range.inl
  thrust/thrust/detail/temporary_array.inl
  thrust/thrust/detail/type_traits.h
  thrust/thrust/detail/type_traits/has_trivial_assign.h
  thrust/thrust/optional.h
  thrust/thrust/system/detail/generic/uninitialized_copy.inl
  thrust/thrust/system/detail/generic/uninitialized_fill.inl
  thrust/thrust/type_traits/is_trivially_relocatable.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `thrust::is_arithmetic`
  thrust/thrust/detail/type_traits.h
  thrust/thrust/detail/type_traits/function_traits.h
  thrust/thrust/system/cuda/detail/reduce.h
  thrust/thrust/system/cuda/detail/reduce_by_key.h
  thrust/thrust/system/cuda/detail/sort.h
  thrust/thrust/system/detail/sequential/sort.inl
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `thrust::add_const`
  thrust/thrust/detail/type_traits.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `thrust::is_volatile`
  thrust/thrust/detail/type_traits.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `thrust::is_empty`
  thrust/thrust/detail/allocator/allocator_traits.h
  thrust/thrust/detail/allocator/allocator_traits.inl
  thrust/thrust/detail/type_traits.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners
