Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

Fix `memmove` optimization (#1937)
  libcudacxx/include/cuda/std/__algorithm/copy.h
  libcudacxx/include/cuda/std/__algorithm/copy_backward.h
  libcudacxx/include/cuda/std/__algorithm/move.h
  libcudacxx/include/cuda/std/__algorithm/move_backward.h
  libcudacxx/test/libcudacxx/std/algorithms/alg.modifying/alg.copy/copy.pass.cpp
  libcudacxx/test/libcudacxx/std/algorithms/alg.modifying/alg.copy/copy_backward.pass.cpp
  libcudacxx/test/libcudacxx/std/algorithms/alg.modifying/alg.move/move.pass.cpp
  libcudacxx/test/libcudacxx/std/algorithms/alg.modifying/alg.move/move_backward.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

fixes thrust unique_by_key examples
  thrust/thrust/unique.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

pretty print nvbench {true,false}_type
  cub/benchmarks/nvbench_helper/nvbench_helper/nvbench_helper.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Simplify NVTX tests
  cub/test/test_nvtx_in_usercode.cu
  cub/test/test_nvtx_standalone.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Program against explicitly versioned NVTX V1 API
  cub/cub/detail/nvtx.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Add test for explicit user-side NVTX API use
  cub/test/test_nvtx_in_usercode_explicit.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Fix a clang warning on array size computation
  cub/cub/block/block_load.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

fixes thrust unique_by_key examples (#1943)
  thrust/thrust/unique.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Use only explicit NVTX3 V1 API in CUB (#1751)
  cub/cub/detail/nvtx.cuh
  cub/test/test_nvtx_in_usercode_explicit.cu
  cub/test/test_nvtx_standalone.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Fix a clang warning on array size computation (#1942)
  cub/cub/block/block_load.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Add a benchmark for thrust::equal
  thrust/benchmarks/bench/equal/basic.cu
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Rework config object and add run proof to tests
  cudax/include/cuda/experimental/__launch/confiuration.cuh
  cudax/test/launch/configuration.cu
  cudax/test/launch/launch_smoke.cu
Owners: @nvidia/cccl-codeowners

Fix includes, level constructor, remove swp file
  cudax/include/cuda/experimental/__hierarchy/level_dimensions.cuh
  cudax/test/hierarchy/testing_common.cuh
  libcudacxx/include/cuda/.stream_ref.swp
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners

Remove docs gitignore
  cudax/docs/.gitignore
Owners: @nvidia/cccl-codeowners

Fix level constructor again
  cudax/include/cuda/experimental/__hierarchy/level_dimensions.cuh
Owners: @nvidia/cccl-codeowners

Remove sstream include from a test
  cudax/test/launch/configuration.cu
Owners: @nvidia/cccl-codeowners

Fix clang format and add comment
  cudax/include/cuda/experimental/__launch/confiuration.cuh
  cudax/include/cuda/experimental/launch.cuh
Owners: @nvidia/cccl-codeowners

makes sequential in-place version dispatching to remove_if
  thrust/thrust/system/cuda/detail/remove.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

makes StatusValueT type member for all ScanTileState specializations
  cub/cub/agent/single_pass_scan_operators.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

removes passing through ScanTileStateT to agent
  cub/cub/agent/agent_select_if.cuh
  cub/cub/device/dispatch/dispatch_select_if.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

fixes calls to sequential in-place remove_if
  thrust/thrust/system/cuda/detail/remove.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Add release automation workflows.
  .github/workflows/release-create-new.yml
  .github/workflows/release-finalize.yml
  .github/workflows/release-update-rc.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Add `install` preset.
  CMakePresets.json
Owners: @nvidia/cccl-codeowners

Release workflow updates:
  .github/workflows/release-finalize.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Add json file with version info that we can parse in CI.
  cccl-version.json
  ci/update_version.sh
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-infra-codeowners

Infer version in RC workflow from repo/git state.
  .github/workflows/release-update-rc.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Refactor for consistency.
  .github/workflows/release-create-new.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Simply release branch creation.
  .github/workflows/release-create-new.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Fix thrust::sort for large problem sizes
  thrust/thrust/system/cuda/detail/sort.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Test thrust::sort on large problem sizes
  thrust/testing/cuda/sort.cu
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Verify the repo version in release-finalize.
  .github/workflows/release-finalize.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Upload source packages, too.
  .github/workflows/release-finalize.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Cleanup version handling in create-new.
  .github/workflows/release-create-new.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Document workflow ref requirements/usage.
  .github/workflows/release-create-new.yml
  .github/workflows/release-finalize.yml
  .github/workflows/release-update-rc.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Add overview doc for release workflows.
  .github/workflows/release-README.md
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Add more useful display name to install preset.
  CMakePresets.json
Owners: @nvidia/cccl-codeowners

Fix typo.
  .github/workflows/release-finalize.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Log archive sizes.
  .github/workflows/release-finalize.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Strip prefix paths to improve doc rendering.
  docs/repo.toml
Owners: @nvidia/cccl-codeowners

Remove typedef group for pair (no matches found for glob).
  docs/thrust/api_docs/utility/pair.rst
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners
