Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners

Python exposure of cooperative algorithms
  .gitignore
  cub/cub/block/block_radix_sort.cuh
  docs/pycuda/index.rst
  docs/repo.toml
  python/cuda/.gitignore
  python/cuda/MANIFEST.in
  python/cuda/README.md
  python/cuda/cuda/cooperative/__init__.py
  python/cuda/cuda/cooperative/experimental/__init__.py
  python/cuda/cuda/cooperative/experimental/_caching.py
  python/cuda/cuda/cooperative/experimental/_common.py
  python/cuda/cuda/cooperative/experimental/_nvrtc.py
  python/cuda/cuda/cooperative/experimental/_types.py
  python/cuda/cuda/cooperative/experimental/block/__init__.py
  python/cuda/cuda/cooperative/experimental/block/_block_merge_sort.py
  python/cuda/cuda/cooperative/experimental/block/_block_radix_sort.py
  python/cuda/cuda/cooperative/experimental/block/_block_reduce.py
  python/cuda/cuda/cooperative/experimental/block/_block_scan.py
  python/cuda/cuda/cooperative/experimental/warp/__init__.py
  python/cuda/cuda/cooperative/experimental/warp/_warp_merge_sort.py
  python/cuda/cuda/cooperative/experimental/warp/_warp_reduce.py
  python/cuda/cuda/cooperative/experimental/warp/_warp_scan.py
  python/cuda/pyproject.toml
  python/cuda/setup.py
  python/cuda/tests/helpers.py
  python/cuda/tests/test_block_merge_sort.py
  python/cuda/tests/test_block_merge_sort_api.py
  python/cuda/tests/test_block_radix_sort.py
  python/cuda/tests/test_block_radix_sort_api.py
  python/cuda/tests/test_block_reduce.py
  python/cuda/tests/test_block_reduce_api.py
  python/cuda/tests/test_block_scan.py
  python/cuda/tests/test_block_scan_api.py
  python/cuda/tests/test_warp_merge_sort.py
  python/cuda/tests/test_warp_merge_sort_api.py
  python/cuda/tests/test_warp_reduce.py
  python/cuda/tests/test_warp_reduce_api.py
  python/cuda/tests/test_warp_scan.py
  python/cuda/tests/test_warp_scan_api.py
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-cub-codeowners

Update module name in CI
  ci/inspect_changes.sh
  ci/matrix.yaml
  ci/test_pycuda.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Update inpect changes to be aware of pycudax.
  ci/inspect_changes.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Print working directory when running CI commands.
  ci/pretty_printing.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Update CI for pycudax.
  ci/matrix.yaml
  ci/test_pycudax.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Fix Thrust pair docs
  docs/thrust/api_docs/utility/pair.rst
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Fix documentation generation for thrust::pair
  docs/thrust/api_docs/utility/pair.rst
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Fix documentation generation for thrust::pair (#1976)
  docs/thrust/api_docs/utility/pair.rst
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Clarify compiler support
  README.md
Owners: @nvidia/cccl-codeowners

Correct typo in a launch configuration header name (#1972)
  cudax/include/cuda/experimental/__launch/configuration.cuh
  cudax/include/cuda/experimental/__launch/launch.cuh
Owners: @nvidia/cccl-codeowners

Fix thrust::sort for large problem sizes (#1952)
  thrust/testing/cuda/sort.cu
  thrust/thrust/system/cuda/detail/sort.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Avoid SIGPIPE when truncating verbose output in CI scripts. (#1971)
  ci/build_common.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Clarify compiler support (#1970)
  README.md
Owners: @nvidia/cccl-codeowners

Fix pkg resource usage
  python/cuda/cuda/cooperative/experimental/_nvrtc.py
Owners: @nvidia/cccl-codeowners

Change atomic fetch ops back to tag dispatch
  libcudacxx/codegen/codegen.cpp
  libcudacxx/codegen/generators/definitions.h
  libcudacxx/codegen/generators/fence.h
  libcudacxx/codegen/generators/fetch_ops.h
  libcudacxx/codegen/generators/header.h
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_derived.h
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_generated.h
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_generated_helper.h
  libcudacxx/include/cuda/std/__atomic/scopes.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Initial draft of new atomics backend
  libcudacxx/codegen/CMakeLists.txt
  libcudacxx/codegen/codegen.cpp
  libcudacxx/codegen/generators/compare_and_swap.h
  libcudacxx/codegen/generators/definitions.h
  libcudacxx/codegen/generators/exchange.h
  libcudacxx/codegen/generators/fence.h
  libcudacxx/codegen/generators/fetch_ops.h
  libcudacxx/codegen/generators/header.h
  libcudacxx/codegen/generators/ld_st.h
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_generated.h
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_generated_helper.h
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners

Add load/store and support for MMIO
  libcudacxx/codegen/codegen.cpp
  libcudacxx/codegen/generators/compare_and_swap.h
  libcudacxx/codegen/generators/definitions.h
  libcudacxx/codegen/generators/fence.h
  libcudacxx/codegen/generators/fetch_ops.h
  libcudacxx/codegen/generators/ld_st.h
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_generated.h
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_generated_helper.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Save wip
  CMakePresets.json
  libcudacxx/codegen/CMakeLists.txt
  libcudacxx/codegen/codegen.cpp
  libcudacxx/codegen/generators/definitions.h
  libcudacxx/codegen/generators/ld_st.h
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_generated_helper.h
  libcudacxx/test/atomic_codegen/CMakeLists.txt
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-cmake-codeowners, @nvidia/cccl-libcudacxx-codeowners

Begin working on exch
  libcudacxx/codegen/generators/compare_and_swap.h
  libcudacxx/codegen/generators/exchange.h
  libcudacxx/codegen/generators/fence.h
  libcudacxx/codegen/generators/fetch_ops.h
  libcudacxx/codegen/generators/ld_st.h
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_derived.h
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_generated.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Several signed-ness fixes
  libcudacxx/test/atomic_codegen/atomic_add_non_volatile.cu
  libcudacxx/test/atomic_codegen/atomic_store_non_volatile.cu
  libcudacxx/test/atomic_codegen/atomic_sub_non_volatile.cu
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Make atomics ptx tests build. Lit tests are a WIP.
  libcudacxx/codegen/generators/compare_and_swap.h
  libcudacxx/codegen/generators/fence.h
  libcudacxx/codegen/generators/fetch_ops.h
  libcudacxx/codegen/generators/ld_st.h
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_derived.h
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_generated.h
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_generated_helper.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Enable formatting exchange
  libcudacxx/codegen/CMakeLists.txt
  libcudacxx/codegen/codegen.cpp
  libcudacxx/codegen/generators/exchange.h
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners

Fix load/store, some volatileness, and min/max
  libcudacxx/codegen/generators/fence.h
  libcudacxx/codegen/generators/fetch_ops.h
  libcudacxx/codegen/generators/ld_st.h
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_derived.h
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_generated.h
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_generated_helper.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Formatting and enabled codegen in all builds
  libcudacxx/CMakeLists.txt
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_derived.h
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners

Make integral.pass.cpp pass
  libcudacxx/codegen/generators/fetch_ops.h
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_generated.h
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_generated_helper.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Make the rest of the atomics tests pass
  libcudacxx/codegen/generators/fetch_ops.h
  libcudacxx/codegen/generators/header.h
  libcudacxx/include/cuda/std/__atomic/functions/common.h
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_derived.h
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_generated.h
  libcudacxx/include/cuda/std/__atomic/functions/host.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

add version string & wheel build command
  python/cuda/cuda/cooperative/_version.py
  python/cuda/setup.py
Owners: @nvidia/cccl-codeowners

Minor fixes.
  libcudacxx/include/cuda/std/__algorithm/copy.h
  libcudacxx/include/cuda/std/detail/libcxx/include/bitset
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix problems found in CI.
  libcudacxx/include/cuda/std/detail/libcxx/include/bitset
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Missed one.
  libcudacxx/include/cuda/std/detail/libcxx/include/bitset
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Hopefully fix C++11.
  libcudacxx/include/cuda/std/detail/libcxx/include/bitset
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Drop zipped_binary_op
  thrust/thrust/detail/internal_functional.h
  thrust/thrust/system/detail/generic/inner_product.inl
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Fix clang cuda, attempt to fix MSVC.
  libcudacxx/include/cuda/std/detail/libcxx/include/bitset
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.cons/char_ptr_ctor.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/left_shift.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/op_or_eq.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/op_xor_eq.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Update Python version in CI script
  ci/update_version.sh
  python/cuda/cuda/cooperative/_version.py
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Use 128b ld/st instead of vector load as it is not atomic across the whole atom
  libcudacxx/codegen/generators/ld_st.h
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_generated.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix copy-paste mistake in load/store
  libcudacxx/codegen/generators/ld_st.h
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_generated.h
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_generated_helper.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Whitespace fixup
  libcudacxx/codegen/CMakeLists.txt
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners

Fix 128b .exch using .cas operands
  libcudacxx/codegen/generators/exchange.h
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_generated.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix BWUtil report on early exit
  thrust/benchmarks/bench/equal/basic.cu
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Guard against an overflow in sort tests
  cub/test/catch2_test_device_merge_sort.cu
  thrust/testing/cuda/sort.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners
