Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

Fix a couple of snafus.
  libcudacxx/include/cuda/std/detail/libcxx/include/__bit_reference
  libcudacxx/include/cuda/std/detail/libcxx/include/__cccl/compiler.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Revert "PTX: Add `cuda::ptx::elect_sync` (#1537)" (#1638)
  libcudacxx/docs/ptx.md
  libcudacxx/docs/ptx/instructions/elect.sync.md
  libcudacxx/include/cuda/std/detail/libcxx/include/__cuda/ptx.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__cuda/ptx/instructions/elect_sync.h
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.elect.sync.compile.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Disable ninja summary for now.
  ci/build_common.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Allow ninja_summary to fail.
  ci/build_common.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Avoid oob access in case we pass in an invalid device counter (#1641)
  cub/cub/util_device.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Allow ninja_summary to fail. (#1644)
  ci/build_common.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Move `ptx` files from `cuda/std/__cuda` into `cuda/__ptx`
  libcudacxx/include/cuda/__ptx/instructions/barrier_cluster.h
  libcudacxx/include/cuda/__ptx/instructions/cp_async_bulk.h
  libcudacxx/include/cuda/__ptx/instructions/cp_async_bulk_commit_group.h
  libcudacxx/include/cuda/__ptx/instructions/cp_async_bulk_tensor.h
  libcudacxx/include/cuda/__ptx/instructions/cp_async_bulk_wait_group.h
  libcudacxx/include/cuda/__ptx/instructions/cp_reduce_async_bulk.h
  libcudacxx/include/cuda/__ptx/instructions/cp_reduce_async_bulk_tensor.h
  libcudacxx/include/cuda/__ptx/instructions/fence.h
  libcudacxx/include/cuda/__ptx/instructions/get_sreg.h
  libcudacxx/include/cuda/__ptx/instructions/getctarank.h
  libcudacxx/include/cuda/__ptx/instructions/mbarrier_arrive.h
  libcudacxx/include/cuda/__ptx/instructions/mbarrier_init.h
  libcudacxx/include/cuda/__ptx/instructions/mbarrier_wait.h
  libcudacxx/include/cuda/__ptx/instructions/red_async.h
  libcudacxx/include/cuda/__ptx/instructions/st_async.h
  libcudacxx/include/cuda/__ptx/instructions/tensormap_cp_fenceproxy.h
  libcudacxx/include/cuda/__ptx/instructions/tensormap_replace.h
  libcudacxx/include/cuda/__ptx/parallel_synchronization_and_communication_instructions_mbarrier.h
  libcudacxx/include/cuda/__ptx/ptx_dot_variants.h
  libcudacxx/include/cuda/__ptx/ptx_helper_functions.h
  libcudacxx/include/cuda/ptx
  libcudacxx/include/cuda/std/__cuda/barrier.h
  libcudacxx/include/cuda/std/__cuda/ptx.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Adopt internal test files to new folder structure
  libcudacxx/include/cuda/__memory_resource/cuda_pinned_memory_resource.h
  libcudacxx/test/internal_headers/CMakeLists.txt
  libcudacxx/test/internal_headers/header_test.cpp.in
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-cmake-codeowners

Drop `__cccl_config` file in libcxx
  libcudacxx/include/cuda/__cccl_config
  libcudacxx/include/cuda/std/__cccl/visibility.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__cccl_config
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Delete <cuda/std/atomic> header
  libcudacxx/include/cuda/std/atomic
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Move atomic from libcxx to top-level
  libcudacxx/include/cuda/std/atomic
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Move PTX backends from libcxx to <cuda/std/__atomic/...>
  libcudacxx/codegen/CMakeLists.txt
  libcudacxx/codegen/codegen.cpp
  libcudacxx/include/cuda/std/__atomic/atomic_cuda_ptx_derived.h
  libcudacxx/include/cuda/std/__atomic/atomic_cuda_ptx_generated.h
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners

Delete remaining atomics backends. Move MSVC backend
  libcudacxx/include/cuda/std/__atomic/platform.h
  libcudacxx/include/cuda/std/__atomic/platform/msvc_to_builtins.h
  libcudacxx/include/cuda/std/detail/libcxx/include/support/atomic/atomic_base.h
  libcudacxx/include/cuda/std/detail/libcxx/include/support/atomic/atomic_c11.h
  libcudacxx/include/cuda/std/detail/libcxx/include/support/atomic/atomic_cuda.h
  libcudacxx/include/cuda/std/detail/libcxx/include/support/atomic/atomic_gcc.h
  libcudacxx/include/cuda/std/detail/libcxx/include/support/atomic/atomic_scopes.h
  libcudacxx/include/cuda/std/detail/libcxx/include/support/atomic/cxx_atomic.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

First pass at making atomic use new backends
  libcudacxx/codegen/CMakeLists.txt
  libcudacxx/codegen/codegen.cpp
  libcudacxx/include/cuda/std/__atomic/operations/atomic_cuda_ptx_derived.h
  libcudacxx/include/cuda/std/__atomic/operations/atomic_cuda_ptx_generated.h
  libcudacxx/include/cuda/std/__atomic/operations/heterogeneous.h
  libcudacxx/include/cuda/std/__atomic/operations/host.h
  libcudacxx/include/cuda/std/__atomic/order.h
  libcudacxx/include/cuda/std/__atomic/platform.h
  libcudacxx/include/cuda/std/__atomic/platform/msvc_to_builtins.h
  libcudacxx/include/cuda/std/__atomic/platform/platform.h
  libcudacxx/include/cuda/std/__atomic/scopes.h
  libcudacxx/include/cuda/std/__atomic/storage/base.h
  libcudacxx/include/cuda/std/__atomic/storage/common.h
  libcudacxx/include/cuda/std/__atomic/storage/locked.h
  libcudacxx/include/cuda/std/__atomic/storage/reference.h
  libcudacxx/include/cuda/std/__atomic/storage/small.h
  libcudacxx/include/cuda/std/__atomic/wait/notify_wait.h
  libcudacxx/include/cuda/std/__atomic/wait/polling.h
  libcudacxx/include/cuda/std/atomic
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners

Change atomic_storage operator()() to get()
  libcudacxx/include/cuda/std/__atomic/operations/heterogeneous.h
  libcudacxx/include/cuda/std/__atomic/operations/host.h
  libcudacxx/include/cuda/std/__atomic/storage/base.h
  libcudacxx/include/cuda/std/__atomic/storage/reference.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Make `--cmake-options=""` always override others.
  ci/build_common.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Fixup: Change desired of compexch to accept by value.
  libcudacxx/codegen/codegen.cpp
  libcudacxx/include/cuda/std/__atomic/operations/atomic_cuda_ptx_generated.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix merge conflicts (LIBCUDACXX->CCCL)
  libcudacxx/include/cuda/std/__atomic/operations/heterogeneous.h
  libcudacxx/include/cuda/std/__atomic/order.h
  libcudacxx/include/cuda/std/__atomic/storage/base.h
  libcudacxx/include/cuda/std/__atomic/storage/common.h
  libcudacxx/include/cuda/std/__atomic/storage/locked.h
  libcudacxx/include/cuda/std/__atomic/storage/reference.h
  libcudacxx/include/cuda/std/__atomic/storage/small.h
  libcudacxx/include/cuda/std/__atomic/wait/polling.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix another merge conflict (LIBCUDACXX->CCCL)
  libcudacxx/include/cuda/std/__atomic/storage/base.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Simplify tag dispatch in the atomic backend
  libcudacxx/include/cuda/std/__atomic/operations/heterogeneous.h
  libcudacxx/include/cuda/std/__atomic/storage/base.h
  libcudacxx/include/cuda/std/__atomic/storage/common.h
  libcudacxx/include/cuda/std/__atomic/storage/locked.h
  libcudacxx/include/cuda/std/__atomic/storage/reference.h
  libcudacxx/include/cuda/std/__atomic/storage/small.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Drop `auto_ptr`
  libcudacxx/include/cuda/std/detail/libcxx/include/memory
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Drop `raw_storage_iterator`
  libcudacxx/include/cuda/std/detail/libcxx/include/memory
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Move `temporary_buffer` into its own file
  libcudacxx/include/cuda/std/__memory/temporary_buffer.h
  libcudacxx/include/cuda/std/detail/libcxx/include/algorithm
  libcudacxx/include/cuda/std/detail/libcxx/include/memory
  libcudacxx/test/libcudacxx/std/utilities/memory/temporary.buffer/depr.verify.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/temporary.buffer/overaligned.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/temporary.buffer/temporary_buffer.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Move `compressed_pair` into its own file
  libcudacxx/include/cuda/std/__functional/function.h
  libcudacxx/include/cuda/std/__memory/compressed_pair.h
  libcudacxx/include/cuda/std/detail/libcxx/include/memory
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Move `builtin_new_allocator` to its own file
  libcudacxx/include/cuda/std/__functional/function.h
  libcudacxx/include/cuda/std/__memory/builtin_new_allocator.h
  libcudacxx/include/cuda/std/detail/libcxx/include/memory
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Drop `swap_allocator`
  libcudacxx/include/cuda/std/detail/libcxx/include/memory
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Move `destruct_n` helper to its own file
  libcudacxx/include/cuda/std/__memory/destruct_n.h
  libcudacxx/include/cuda/std/detail/libcxx/include/algorithm
  libcudacxx/include/cuda/std/detail/libcxx/include/memory
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Drop `temp_value`
  libcudacxx/include/cuda/std/detail/libcxx/include/memory
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Drop `shared_ptr`
  libcudacxx/include/cuda/std/detail/libcxx/include/memory
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Move uninitialized algorithms into their own file
  libcudacxx/include/cuda/std/__algorithm/unwrap_range.h
  libcudacxx/include/cuda/std/__memory/uninitialized_algorithms.h
  libcudacxx/include/cuda/std/detail/libcxx/include/memory
  libcudacxx/test/libcudacxx/std/utilities/memory/specialized.algorithms/overload_compare_iterator.h
  libcudacxx/test/libcudacxx/std/utilities/memory/specialized.algorithms/uninitialized.construct.default/uninitialized_default_construct.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/specialized.algorithms/uninitialized.construct.default/uninitialized_default_construct_n.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/specialized.algorithms/uninitialized.construct.value/uninitialized_value_construct.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/specialized.algorithms/uninitialized.construct.value/uninitialized_value_construct_n.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/specialized.algorithms/uninitialized.copy/uninitialized_copy.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/specialized.algorithms/uninitialized.copy/uninitialized_copy_n.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/specialized.algorithms/uninitialized.fill.n/uninitialized_fill_n.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/specialized.algorithms/uninitialized.fill/uninitialized_fill.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/specialized.algorithms/uninitialized.move/uninitialized_move.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/specialized.algorithms/uninitialized.move/uninitialized_move_n.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Drop legacy pointer safety features
  libcudacxx/include/cuda/std/detail/libcxx/include/memory
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Drop `noexcept_move_assign_container`
  libcudacxx/include/cuda/std/detail/libcxx/include/memory
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix error message
  libcudacxx/include/cuda/std/__expected/expected.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Implement LWG-3843 and LWG-3940
  libcudacxx/include/cuda/std/__expected/expected.h
  libcudacxx/test/libcudacxx/std/utilities/expected/expected.expected/observers/value.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/expected/expected.void/observers/value.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Cleanup `<memory>`
  libcudacxx/include/cuda/std/detail/libcxx/include/memory
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix allocator traits
  libcudacxx/include/cuda/std/__memory/allocator_arg_t.h
  libcudacxx/include/cuda/std/__memory/allocator_traits.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix code sample in README.md
  cub/README.md
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Change cuda_next namespace to cuda::experimental Updates are still needed to the build system, header guards and README
  cuda_next/include/cuda/next/detail/dimensions.cuh
  cuda_next/include/cuda/next/detail/hierarchy_dimensions.cuh
  cuda_next/include/cuda/next/detail/hierarchy_levels.cuh
  cuda_next/include/cuda/next/detail/level_dimensions.cuh
  cuda_next/test/catch2_helpers/testing_common.cuh
  cuda_next/test/hierarchy_custom_types.cu
  cuda_next/test/hierarchy_smoke.cu
Owners: @nvidia/cccl-codeowners

Fix (?) GCC pre-9.
  libcudacxx/include/cuda/std/__algorithm/copy.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__bit_reference
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.cons/char_ptr_ctor.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Undo the changes to __copy_aligned.
  libcudacxx/include/cuda/std/detail/libcxx/include/__bit_reference
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners
