Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

revert and supress deprecation
  thrust/thrust/system/tbb/detail/reduce_intervals.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Improve binary function objects and replace thrust implementation
  thrust/thrust/detail/type_traits/is_commutative.h
  thrust/thrust/detail/type_traits/result_of_adaptable_function.h
  thrust/thrust/functional.h
  thrust/thrust/system/detail/generic/reduce_by_key.inl
  thrust/thrust/system/detail/generic/transform_scan.inl
  thrust/thrust/system/detail/sequential/scan.h
  thrust/thrust/system/tbb/detail/reduce_intervals.h
  thrust/thrust/system/tbb/detail/scan.inl
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Replace _CCCL_CONSTEXPR_CXX14 with constexpr
  libcudacxx/include/cuda/std/__functional/operations.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

use and deprecate embedded types in binary_function objects
  thrust/thrust/functional.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Determine partial sum type without ::result_type
  thrust/thrust/system/tbb/detail/reduce_intervals.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Separate `cuda/experimental` when sorting includes (#2094)
  .clang-format
  cudax/include/cuda/experimental/__event/event.cuh
  cudax/include/cuda/experimental/__event/timed_event.cuh
  cudax/include/cuda/experimental/__hierarchy/hierarchy_dimensions.cuh
  cudax/include/cuda/experimental/__hierarchy/level_dimensions.cuh
  cudax/include/cuda/experimental/__launch/configuration.cuh
  cudax/include/cuda/experimental/__launch/launch.cuh
  cudax/test/launch/launch_smoke.cu
Owners: @nvidia/cccl-codeowners

Review feedback
  cudax/include/cuda/experimental/__stream/stream.cuh
Owners: @nvidia/cccl-codeowners

Fix formatting
  cudax/include/cuda/experimental/__event/event.cuh
Owners: @nvidia/cccl-codeowners

Add missing endif comments
  cudax/include/cuda/experimental/__stream/stream.cuh
  cudax/include/cuda/experimental/hierarchy.cuh
  cudax/include/cuda/experimental/launch.cuh
  cudax/include/cuda/experimental/stream.cuh
  cudax/include/cuda/experimental/version.cuh
Owners: @nvidia/cccl-codeowners

One more format fix
  cudax/include/cuda/experimental/__hierarchy/level_dimensions.cuh
Owners: @nvidia/cccl-codeowners

Ignore _LIBCUDACXX_DEPRECATED_IN_CXX11 for doxygen
  docs/repo.toml
Owners: @nvidia/cccl-codeowners

review feedback
  cudax/include/cuda/experimental/__device/attributes.cuh
  cudax/include/cuda/experimental/__device/device.cuh
  cudax/test/device/device_smoke.cu
Owners: @nvidia/cccl-codeowners

Fix extra const and nullptr stream
  cudax/include/cuda/experimental/__stream/stream.cuh
Owners: @nvidia/cccl-codeowners

Do not query NVRTC for cuda runtime header
  cub/cub/detail/detect_cuda_runtime.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

add support to `cudax::device` for querying a device's attributes (#2084)
  cudax/include/cuda/experimental/__device/attributes.cuh
  cudax/include/cuda/experimental/__device/device.cuh
  cudax/include/cuda/experimental/device.cuh
  cudax/test/CMakeLists.txt
  cudax/test/device/device_smoke.cu
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-cmake-codeowners

[CUDAX] Add experimental owning abstraction for cudaStream_t (#2093)
  cudax/include/cuda/experimental/__hierarchy/level_dimensions.cuh
  cudax/include/cuda/experimental/__stream/stream.cuh
  cudax/include/cuda/experimental/launch.cuh
  cudax/include/cuda/experimental/stream.cuh
  cudax/include/cuda/experimental/version.cuh
  cudax/test/CMakeLists.txt
  cudax/test/common/utility.cuh
  cudax/test/event/event_smoke.cu
  cudax/test/stream/stream_smoke.cu
  libcudacxx/include/cuda/stream_ref
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-cmake-codeowners, @nvidia/cccl-libcudacxx-codeowners

Do not query NVRTC for cuda runtime header (#2102)
  cub/cub/detail/detect_cuda_runtime.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Replace `_LIBCUDACXX_CPO_ACCESSIBILITY` with `_CCCL_GLOBAL_CONSTANT `
  cudax/include/cuda/experimental/__hierarchy/hierarchy_levels.cuh
  libcudacxx/include/cuda/__memory_resource/get_property.h
  libcudacxx/include/cuda/std/__cccl/dialect.h
  libcudacxx/include/cuda/std/__concepts/swappable.h
  libcudacxx/include/cuda/std/__expected/unexpect.h
  libcudacxx/include/cuda/std/__iterator/access.h
  libcudacxx/include/cuda/std/__iterator/advance.h
  libcudacxx/include/cuda/std/__iterator/distance.h
  libcudacxx/include/cuda/std/__iterator/iter_move.h
  libcudacxx/include/cuda/std/__iterator/iter_swap.h
  libcudacxx/include/cuda/std/__iterator/next.h
  libcudacxx/include/cuda/std/__iterator/prev.h
  libcudacxx/include/cuda/std/__iterator/reverse_access.h
  libcudacxx/include/cuda/std/__iterator/unreachable_sentinel.h
  libcudacxx/include/cuda/std/__mdspan/standard_layout_static_array.h
  libcudacxx/include/cuda/std/__ranges/access.h
  libcudacxx/include/cuda/std/__ranges/data.h
  libcudacxx/include/cuda/std/__ranges/empty.h
  libcudacxx/include/cuda/std/__ranges/rbegin.h
  libcudacxx/include/cuda/std/__ranges/rend.h
  libcudacxx/include/cuda/std/__ranges/size.h
  libcudacxx/include/cuda/std/__utility/in_place.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
  libcudacxx/include/cuda/std/detail/libcxx/include/optional
  libcudacxx/include/cuda/std/detail/libcxx/include/tuple
  libcudacxx/test/libcudacxx/std/ranges/range.access/begin.pass.cpp
  libcudacxx/test/libcudacxx/std/ranges/range.access/end.pass.cpp
  libcudacxx/test/libcudacxx/std/ranges/range.access/rbegin.pass.cpp
  libcudacxx/test/libcudacxx/std/ranges/range.access/rend.pass.cpp
  libcudacxx/test/support/test_macros.h
  thrust/thrust/optional.h
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-thrust-codeowners

Cleanup CUB block/thread load and exchange (#1946)
  cub/cub/block/block_exchange.cuh
  cub/cub/block/block_load.cuh
  cub/cub/detail/uninitialized_copy.cuh
  cub/cub/thread/thread_load.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Improve binary function objects and replace thrust implementation (#1872)
  docs/repo.toml
  libcudacxx/include/cuda/std/__functional/operations.h
  thrust/thrust/detail/type_traits/is_commutative.h
  thrust/thrust/detail/type_traits/result_of_adaptable_function.h
  thrust/thrust/functional.h
  thrust/thrust/system/detail/generic/reduce_by_key.inl
  thrust/thrust/system/detail/generic/transform_scan.inl
  thrust/thrust/system/detail/sequential/scan.h
  thrust/thrust/system/tbb/detail/reduce_intervals.h
  thrust/thrust/system/tbb/detail/scan.inl
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-thrust-codeowners

Fix line break issues that break doxygen code examples
  thrust/thrust/partition.h
  thrust/thrust/remove.h
  thrust/thrust/scan.h
  thrust/thrust/scatter.h
  thrust/thrust/unique.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Deprecate/replace more of Thrust functional
  thrust/thrust/functional.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Use the float flavors of the cmath functions in the extended floating point fallbacks
  libcudacxx/include/cuda/std/__cuda/cmath_nvbf16.h
  libcudacxx/include/cuda/std/__cuda/cmath_nvfp16.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Make cuda::std::max constexpr in C++11
  libcudacxx/include/cuda/std/__algorithm/comp.h
  libcudacxx/include/cuda/std/__algorithm/max.h
  libcudacxx/test/libcudacxx/std/algorithms/alg.sorting/alg.min.max/max.pass.cpp
  libcudacxx/test/libcudacxx/std/algorithms/alg.sorting/alg.min.max/max_comp.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Replace `_LIBCUDACXX_CPO_ACCESSIBILITY` with `_CCCL_GLOBAL_CONSTANT ` (#1881)
  cudax/include/cuda/experimental/__hierarchy/hierarchy_levels.cuh
  libcudacxx/include/cuda/__memory_resource/get_property.h
  libcudacxx/include/cuda/std/__cccl/dialect.h
  libcudacxx/include/cuda/std/__concepts/swappable.h
  libcudacxx/include/cuda/std/__expected/unexpect.h
  libcudacxx/include/cuda/std/__iterator/access.h
  libcudacxx/include/cuda/std/__iterator/advance.h
  libcudacxx/include/cuda/std/__iterator/distance.h
  libcudacxx/include/cuda/std/__iterator/iter_move.h
  libcudacxx/include/cuda/std/__iterator/iter_swap.h
  libcudacxx/include/cuda/std/__iterator/next.h
  libcudacxx/include/cuda/std/__iterator/prev.h
  libcudacxx/include/cuda/std/__iterator/reverse_access.h
  libcudacxx/include/cuda/std/__iterator/unreachable_sentinel.h
  libcudacxx/include/cuda/std/__mdspan/standard_layout_static_array.h
  libcudacxx/include/cuda/std/__ranges/access.h
  libcudacxx/include/cuda/std/__ranges/data.h
  libcudacxx/include/cuda/std/__ranges/empty.h
  libcudacxx/include/cuda/std/__ranges/rbegin.h
  libcudacxx/include/cuda/std/__ranges/rend.h
  libcudacxx/include/cuda/std/__ranges/size.h
  libcudacxx/include/cuda/std/__utility/in_place.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
  libcudacxx/include/cuda/std/detail/libcxx/include/optional
  libcudacxx/include/cuda/std/detail/libcxx/include/tuple
  libcudacxx/test/libcudacxx/std/ranges/range.access/begin.pass.cpp
  libcudacxx/test/libcudacxx/std/ranges/range.access/end.pass.cpp
  libcudacxx/test/libcudacxx/std/ranges/range.access/rbegin.pass.cpp
  libcudacxx/test/libcudacxx/std/ranges/range.access/rend.pass.cpp
  libcudacxx/test/support/test_macros.h
  thrust/thrust/optional.h
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-thrust-codeowners

Use `common_type` for complex `pow`
  libcudacxx/include/cuda/std/__type_traits/common_type.h
  libcudacxx/include/cuda/std/detail/libcxx/include/cmath
  libcudacxx/include/cuda/std/detail/libcxx/include/complex
  libcudacxx/test/libcudacxx/std/numerics/complex.number/cmplx.over/pow.pass.cpp
  libcudacxx/test/libcudacxx/std/numerics/complex.number/complex.transcendentals/pow_complex_complex.pass.cpp
  libcudacxx/test/libcudacxx/std/numerics/complex.number/complex.transcendentals/pow_complex_scalar.pass.cpp
  libcudacxx/test/libcudacxx/std/numerics/complex.number/complex.transcendentals/pow_scalar_complex.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Suppress conversion warning forcomplex
  libcudacxx/include/cuda/std/detail/libcxx/include/complex
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Add script to update RAPIDS version. (#2082)
  .devcontainer/cuda11.1-gcc6/devcontainer.json
  .devcontainer/cuda11.1-gcc7/devcontainer.json
  .devcontainer/cuda11.1-gcc8/devcontainer.json
  .devcontainer/cuda11.1-gcc9/devcontainer.json
  .devcontainer/cuda11.1-llvm9/devcontainer.json
  .devcontainer/cuda11.8-gcc11/devcontainer.json
  .devcontainer/cuda12.0-gcc10/devcontainer.json
  .devcontainer/cuda12.0-gcc11/devcontainer.json
  .devcontainer/cuda12.0-gcc12/devcontainer.json
  .devcontainer/cuda12.0-gcc9/devcontainer.json
  .devcontainer/cuda12.0-llvm10/devcontainer.json
  .devcontainer/cuda12.0-llvm11/devcontainer.json
  .devcontainer/cuda12.0-llvm12/devcontainer.json
  .devcontainer/cuda12.0-llvm13/devcontainer.json
  .devcontainer/cuda12.0-llvm14/devcontainer.json
  .devcontainer/cuda12.0-llvm9/devcontainer.json
  .devcontainer/cuda12.2-rapids-conda
  .devcontainer/cuda12.5-gcc10/devcontainer.json
  .devcontainer/cuda12.5-gcc11/devcontainer.json
  .devcontainer/cuda12.5-gcc12/devcontainer.json
  .devcontainer/cuda12.5-gcc13/devcontainer.json
  .devcontainer/cuda12.5-gcc7/devcontainer.json
  .devcontainer/cuda12.5-gcc8/devcontainer.json
  .devcontainer/cuda12.5-gcc9/devcontainer.json
  .devcontainer/cuda12.5-llvm10/devcontainer.json
  .devcontainer/cuda12.5-llvm11/devcontainer.json
  .devcontainer/cuda12.5-llvm12/devcontainer.json
  .devcontainer/cuda12.5-llvm13/devcontainer.json
  .devcontainer/cuda12.5-llvm14/devcontainer.json
  .devcontainer/cuda12.5-llvm15/devcontainer.json
  .devcontainer/cuda12.5-llvm16/devcontainer.json
  .devcontainer/cuda12.5-llvm17/devcontainer.json
  .devcontainer/cuda12.5-llvm9/devcontainer.json
  .devcontainer/cuda12.5-oneapi2023.2.0/devcontainer.json
  .devcontainer/cuda12.5-rapids-conda
  .devcontainer/devcontainer.json
  .github/workflows/build-rapids.yml
  ci/matrix.yaml
  ci/rapids/cuda12.5-conda/devcontainer.json
  ci/update_rapids_version.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Update bad links (#2080)
  cub/CONTRIBUTING.md
  cub/cub/block/block_discontinuity.cuh
  cub/cub/block/block_histogram.cuh
  cub/cub/block/block_merge_sort.cuh
  cub/cub/block/block_radix_sort.cuh
  cub/cub/block/block_scan.cuh
  cub/cub/device/device_spmv.cuh
  cub/cub/warp/warp_exchange.cuh
  docs/cub/index.rst
  docs/libcudacxx/extended_api/memory_access_properties/access_property.rst
  docs/libcudacxx/extended_api/memory_model.rst
  docs/libcudacxx/extended_api/synchronization_primitives.rst
  docs/libcudacxx/ptx.rst
  docs/libcudacxx/releases.rst
  docs/libcudacxx/releases/versioning.rst
  docs/libcudacxx/standard_api/time_library.rst
  docs/thrust/cmake_options.rst
  docs/thrust/releases/changelog.rst
  thrust/README.md
  thrust/thrust/functional.h
  thrust/thrust/replace.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-thrust-codeowners

Allow installing components when downstream
  CMakeLists.txt
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners

Fix line break issues that break doxygen code examples (#2103)
  thrust/thrust/partition.h
  thrust/thrust/remove.h
  thrust/thrust/scan.h
  thrust/thrust/scatter.h
  thrust/thrust/unique.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

add `cuda::devices` vector
  cudax/include/cuda/experimental/__device/all_devices.cuh
  cudax/include/cuda/experimental/__device/device.cuh
  cudax/include/cuda/experimental/device.cuh
  cudax/test/CMakeLists.txt
  cudax/test/device/device_smoke.cu
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-cmake-codeowners

rename `device` to `device_ref`, add immovable `device` as a place to cache properties
  cudax/include/cuda/experimental/__device/attributes.cuh
  cudax/include/cuda/experimental/__device/device.cuh
  cudax/include/cuda/experimental/__device/device_ref.cuh
  cudax/include/cuda/experimental/__stream/stream.cuh
  cudax/include/cuda/experimental/device.cuh
  cudax/test/device/device_smoke.cu
Owners: @nvidia/cccl-codeowners

Fix formatting
  cudax/test/CMakeLists.txt
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners

Add internal wrapper for cuda driver APIs (#2070)
  cudax/include/cuda/experimental/__utility/driver_api.cuh
  cudax/test/CMakeLists.txt
  cudax/test/utility/driver_api.cu
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-cmake-codeowners

Use `common_type` for complex `pow` (#1800)
  libcudacxx/include/cuda/std/__type_traits/common_type.h
  libcudacxx/include/cuda/std/detail/libcxx/include/cmath
  libcudacxx/include/cuda/std/detail/libcxx/include/complex
  libcudacxx/test/libcudacxx/std/numerics/complex.number/cmplx.over/pow.pass.cpp
  libcudacxx/test/libcudacxx/std/numerics/complex.number/complex.transcendentals/pow_complex_complex.pass.cpp
  libcudacxx/test/libcudacxx/std/numerics/complex.number/complex.transcendentals/pow_complex_scalar.pass.cpp
  libcudacxx/test/libcudacxx/std/numerics/complex.number/complex.transcendentals/pow_scalar_complex.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Drop `cuda::get_property` CPO
  libcudacxx/include/cuda/__memory_resource/get_property.h
  libcudacxx/test/libcudacxx/cuda/memory_resource/get_property/get_property.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Ensure that we test memory resources
  libcudacxx/test/internal_headers/CMakeLists.txt
  libcudacxx/test/libcudacxx/CMakeLists.txt
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_managed_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_managed_memory_resource/equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_managed_memory_resource/traits.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_memory_resource/equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_memory_resource/traits.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_pinned_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_pinned_memory_resource/equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_pinned_memory_resource/traits.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/get_property/forward_property.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/get_property/get_property.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/get_property/has_property.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.construction.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.conversion.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.equality.fail.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.inheritance.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.properties.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.concepts/async_resource.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.concepts/async_resource_with.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.concepts/resource.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.concepts/resource_with.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.construction.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.conversion.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.equality.fail.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.inheritance.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.properties.pass.cpp
  libcudacxx/test/public_headers/CMakeLists.txt
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners

Implement `cuda::uninitialized_buffer`
  cudax/cmake/cudaxHeaderTesting.cmake
  cudax/include/cuda/experimental/__container/uninitialized_buffer.h
  cudax/include/cuda/experimental/buffer
  cudax/test/CMakeLists.txt
  cudax/test/containers/uninitialized_buffer.cu
  docs/cudax/container.rst
  docs/cudax/index.rst
  docs/index.rst
  docs/repo.toml
  libcudacxx/include/cuda/std/__cccl/compiler.h
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners

rename `device` to `device_ref`, add immovable `device` as a place to cache properties (#2110)
  cudax/include/cuda/experimental/__device/attributes.cuh
  cudax/include/cuda/experimental/__device/device.cuh
  cudax/include/cuda/experimental/__device/device_ref.cuh
  cudax/include/cuda/experimental/__stream/stream.cuh
  cudax/include/cuda/experimental/device.cuh
  cudax/test/device/device_smoke.cu
Owners: @nvidia/cccl-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners
