Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

use and deprecate embedded types in binary_function objects
  thrust/thrust/functional.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

simplify use of ::cuda::std binary_function_objects
  thrust/thrust/functional.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Thrust and CUB: README: Fix copy-paste from libcu++ and links (#1878)
  cub/README.md
  thrust/README.md
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners

Check that the current version of CMake supports policy 141 before setting it.
  CMakeLists.txt
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners

WIP compsan [skip-vdc][skip-docs][skip-rapids]
  ci/test_cub.sh
  cub/test/CMakeLists.txt
  cub/test/catch2_test_device_merge_sort.cu
  cub/test/catch2_test_helper.h
  cub/test/run_test.cmake
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-cmake-codeowners, @nvidia/cccl-cub-codeowners

Add compute-sanitizer testing to CI.
  ci/matrix.yaml
  ci/test_cub.sh
  cub/test/CMakeLists.txt
  cub/test/run_test.cmake
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-cmake-codeowners, @nvidia/cccl-cub-codeowners

TEMP matrix
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Add CCCL_SEED_COUNT_OVERRIDE env var.
  ci/test_cub.sh
  cub/test/catch2_test_helper.h
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-cub-codeowners

adds load acquire and puts memory order parameter on tile state
  cub/cub/agent/agent_select_if.cuh
  cub/cub/agent/single_pass_scan_operators.cuh
  cub/cub/block/block_load.cuh
  cub/cub/detail/strong_load.cuh
  cub/cub/device/dispatch/dispatch_select_if.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

revert superfluous changes to reduce-by-key tile state
  cub/cub/agent/single_pass_scan_operators.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Inline docs and cleanups
  cudax/include/cuda/experimental/__launch/confiuration.cuh
  cudax/include/cuda/experimental/__launch/launch.cuh
  cudax/test/launch/configuration.cu
Owners: @nvidia/cccl-codeowners

Follow-up fixes to CUB iterator test
  cub/test/CMakeLists.txt
  cub/test/c2h/custom_type.cuh
  cub/test/c2h/generators.cu
  cub/test/catch2_test_iterator.cu
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-cub-codeowners

Follow-up fixes to CUB iterator test (#1875)
  cub/test/CMakeLists.txt
  cub/test/c2h/custom_type.cuh
  cub/test/c2h/generators.cu
  cub/test/catch2_test_iterator.cu
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-cub-codeowners

Cleanup CUB util_type.cuh
  cub/benchmarks/bench/radix_sort/keys.cu
  cub/benchmarks/bench/radix_sort/pairs.cu
  cub/cub/agent/agent_histogram.cuh
  cub/cub/agent/agent_radix_sort_onesweep.cuh
  cub/cub/agent/agent_reduce.cuh
  cub/cub/agent/agent_reduce_by_key.cuh
  cub/cub/agent/agent_rle.cuh
  cub/cub/agent/agent_scan.cuh
  cub/cub/agent/agent_scan_by_key.cuh
  cub/cub/agent/agent_segment_fixup.cuh
  cub/cub/agent/agent_select_if.cuh
  cub/cub/agent/agent_spmv_orig.cuh
  cub/cub/agent/agent_three_way_partition.cuh
  cub/cub/agent/single_pass_scan_operators.cuh
  cub/cub/block/block_adjacent_difference.cuh
  cub/cub/block/block_discontinuity.cuh
  cub/cub/block/block_histogram.cuh
  cub/cub/block/block_radix_rank.cuh
  cub/cub/block/block_reduce.cuh
  cub/cub/block/block_scan.cuh
  cub/cub/device/dispatch/dispatch_batch_memcpy.cuh
  cub/cub/device/dispatch/dispatch_histogram.cuh
  cub/cub/device/dispatch/dispatch_merge_sort.cuh
  cub/cub/device/dispatch/dispatch_radix_sort.cuh
  cub/cub/device/dispatch/dispatch_scan.cuh
  cub/cub/device/dispatch/dispatch_scan_by_key.cuh
  cub/cub/device/dispatch/dispatch_segmented_sort.cuh
  cub/cub/util_device.cuh
  cub/cub/util_type.cuh
  cub/cub/util_vsmem.cuh
  cub/cub/warp/warp_exchange.cuh
  cub/cub/warp/warp_reduce.cuh
  cub/cub/warp/warp_scan.cuh
  cub/test/c2h/generators.cu
  cub/test/catch2_test_block_run_length_decode.cu
  cub/test/catch2_test_util_type.cu
  cub/test/catch2_test_warp_merge_sort.cu
  cub/test/catch2_test_warp_reduce.cu
  cub/test/test_device_spmv.cu
  docs/cub/developer_overview.rst
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Replace all uses of __conditional_t in CUB if _If
  cub/benchmarks/bench/radix_sort/keys.cu
  cub/benchmarks/bench/radix_sort/pairs.cu
  cub/cub/agent/agent_histogram.cuh
  cub/cub/agent/agent_radix_sort_onesweep.cuh
  cub/cub/agent/agent_reduce.cuh
  cub/cub/agent/agent_reduce_by_key.cuh
  cub/cub/agent/agent_rle.cuh
  cub/cub/agent/agent_scan.cuh
  cub/cub/agent/agent_scan_by_key.cuh
  cub/cub/agent/agent_segment_fixup.cuh
  cub/cub/agent/agent_select_if.cuh
  cub/cub/agent/agent_spmv_orig.cuh
  cub/cub/agent/agent_three_way_partition.cuh
  cub/cub/agent/single_pass_scan_operators.cuh
  cub/cub/block/block_histogram.cuh
  cub/cub/block/block_radix_rank.cuh
  cub/cub/block/block_reduce.cuh
  cub/cub/block/block_scan.cuh
  cub/cub/device/dispatch/dispatch_batch_memcpy.cuh
  cub/cub/device/dispatch/dispatch_histogram.cuh
  cub/cub/device/dispatch/dispatch_merge_sort.cuh
  cub/cub/device/dispatch/dispatch_radix_sort.cuh
  cub/cub/device/dispatch/dispatch_scan.cuh
  cub/cub/device/dispatch/dispatch_scan_by_key.cuh
  cub/cub/device/dispatch/dispatch_segmented_sort.cuh
  cub/cub/util_device.cuh
  cub/cub/util_type.cuh
  cub/cub/util_vsmem.cuh
  cub/cub/warp/warp_exchange.cuh
  cub/cub/warp/warp_reduce.cuh
  cub/cub/warp/warp_scan.cuh
  cub/test/c2h/generators.cu
  cub/test/catch2_test_block_run_length_decode.cu
  cub/test/catch2_test_warp_merge_sort.cu
  cub/test/catch2_test_warp_reduce.cu
  cub/test/test_device_spmv.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Add BabelStream flavors as thrust::transform benchmarks
  thrust/benchmarks/CMakeLists.txt
  thrust/benchmarks/bench/transform/basic.cu
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners

Use if(POLICY ...) to test if the CMake policy is known.
  CMakeLists.txt
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners

Some docs fixes
  cudax/include/cuda/experimental/__launch/confiuration.cuh
  cudax/include/cuda/experimental/__launch/launch.cuh
Owners: @nvidia/cccl-codeowners

Cleanup CUB util_type.cuh (#1863)
  cub/benchmarks/bench/radix_sort/keys.cu
  cub/benchmarks/bench/radix_sort/pairs.cu
  cub/cub/agent/agent_histogram.cuh
  cub/cub/agent/agent_radix_sort_onesweep.cuh
  cub/cub/agent/agent_reduce.cuh
  cub/cub/agent/agent_reduce_by_key.cuh
  cub/cub/agent/agent_rle.cuh
  cub/cub/agent/agent_scan.cuh
  cub/cub/agent/agent_scan_by_key.cuh
  cub/cub/agent/agent_segment_fixup.cuh
  cub/cub/agent/agent_select_if.cuh
  cub/cub/agent/agent_spmv_orig.cuh
  cub/cub/agent/agent_three_way_partition.cuh
  cub/cub/agent/single_pass_scan_operators.cuh
  cub/cub/block/block_adjacent_difference.cuh
  cub/cub/block/block_discontinuity.cuh
  cub/cub/block/block_histogram.cuh
  cub/cub/block/block_radix_rank.cuh
  cub/cub/block/block_reduce.cuh
  cub/cub/block/block_scan.cuh
  cub/cub/device/dispatch/dispatch_batch_memcpy.cuh
  cub/cub/device/dispatch/dispatch_histogram.cuh
  cub/cub/device/dispatch/dispatch_merge_sort.cuh
  cub/cub/device/dispatch/dispatch_radix_sort.cuh
  cub/cub/device/dispatch/dispatch_scan.cuh
  cub/cub/device/dispatch/dispatch_scan_by_key.cuh
  cub/cub/device/dispatch/dispatch_segmented_sort.cuh
  cub/cub/util_device.cuh
  cub/cub/util_type.cuh
  cub/cub/util_vsmem.cuh
  cub/cub/warp/warp_exchange.cuh
  cub/cub/warp/warp_reduce.cuh
  cub/cub/warp/warp_scan.cuh
  cub/test/c2h/generators.cu
  cub/test/catch2_test_block_run_length_decode.cu
  cub/test/catch2_test_util_type.cu
  cub/test/catch2_test_warp_merge_sort.cu
  cub/test/catch2_test_warp_reduce.cu
  cub/test/test_device_spmv.cu
  docs/cub/developer_overview.rst
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Fix include for <iterator>
  cub/cub/util_type.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Fix include for <iterator> (#1929)
  cub/cub/util_type.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Fix various typos in CUB documentation and comments.
  cub/cub/agent/agent_reduce_by_key.cuh
  cub/cub/agent/agent_scan.cuh
  cub/cub/agent/agent_scan_by_key.cuh
  cub/cub/block/block_discontinuity.cuh
  cub/cub/device/dispatch/dispatch_scan_by_key.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

It seems that the gcc proprocessor at times has issues with comments within macros.
  libcudacxx/include/cuda/std/__concepts/movable.h
  libcudacxx/include/cuda/std/__concepts/predicate.h
  libcudacxx/include/cuda/std/__cuda/barrier.h
  libcudacxx/include/cuda/std/__iterator/iterator_traits.h
  libcudacxx/include/cuda/std/__iterator/sortable.h
  libcudacxx/include/cuda/std/__ranges/subrange.h
  libcudacxx/include/cuda/std/detail/libcxx/include/span
  libcudacxx/test/libcudacxx/std/concepts/concepts.lang/concept.default.init/default_initializable.verify.cpp
  libcudacxx/test/libcudacxx/std/iterators/iterator.requirements/indirectcallable/indirectinvocable/indirect_result_t.compile.pass.cpp
  libcudacxx/test/libcudacxx/std/iterators/iterator.requirements/indirectcallable/projected/projected.compile.pass.cpp
  libcudacxx/test/libcudacxx/std/iterators/iterator.requirements/iterator.assoc.types/readable.traits/indirectly_readable_traits.compile.pass.cpp
  libcudacxx/test/libcudacxx/std/iterators/iterator.requirements/iterator.concepts/iterator.concept.readable/iter_common_reference_t.compile.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix typo
  libcudacxx/include/cuda/std/__ranges/subrange.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Deprecate more nested aliases
  docs/repo.toml
  libcudacxx/include/cuda/std/__cccl/attributes.h
  thrust/thrust/functional.h
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-thrust-codeowners

Drop THRUST_TRAILING_RETURN
  docs/repo.toml
  thrust/thrust/detail/config/cpp_compatibility.h
  thrust/thrust/detail/functional/operators/arithmetic_operators.h
  thrust/thrust/detail/functional/operators/assignment_operator.h
  thrust/thrust/detail/functional/operators/bitwise_operators.h
  thrust/thrust/detail/functional/operators/compound_assignment_operators.h
  thrust/thrust/device_make_unique.h
  thrust/thrust/functional.h
  thrust/thrust/optional.h
  thrust/thrust/zip_function.h
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners

Remove obsolete comment
  thrust/thrust/detail/config/compiler.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Re-enable warning on obsolete memory fences
  thrust/thrust/detail/config/compiler_fence.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Remove unused debug.h
  thrust/thrust/detail/config/config.h
  thrust/thrust/detail/config/debug.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

introduces tile state wrapper used in agent to avoid superfluous kernel template instantiations
  cub/cub/agent/agent_select_if.cuh
  cub/cub/agent/single_pass_scan_operators.cuh
  cub/cub/device/dispatch/dispatch_select_if.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Fix issues with comments in the concept emulation (#1931)
  libcudacxx/include/cuda/std/__concepts/movable.h
  libcudacxx/include/cuda/std/__concepts/predicate.h
  libcudacxx/include/cuda/std/__cuda/barrier.h
  libcudacxx/include/cuda/std/__iterator/iterator_traits.h
  libcudacxx/include/cuda/std/__iterator/sortable.h
  libcudacxx/include/cuda/std/__ranges/subrange.h
  libcudacxx/include/cuda/std/detail/libcxx/include/span
  libcudacxx/test/libcudacxx/std/concepts/concepts.lang/concept.default.init/default_initializable.verify.cpp
  libcudacxx/test/libcudacxx/std/iterators/iterator.requirements/indirectcallable/indirectinvocable/indirect_result_t.compile.pass.cpp
  libcudacxx/test/libcudacxx/std/iterators/iterator.requirements/indirectcallable/projected/projected.compile.pass.cpp
  libcudacxx/test/libcudacxx/std/iterators/iterator.requirements/iterator.assoc.types/readable.traits/indirectly_readable_traits.compile.pass.cpp
  libcudacxx/test/libcudacxx/std/iterators/iterator.requirements/iterator.concepts/iterator.concept.readable/iter_common_reference_t.compile.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Update to CUDA 12.5 containers.
  .devcontainer/cuda12.2-rapids-conda
  .devcontainer/cuda12.4-gcc10/devcontainer.json
  .devcontainer/cuda12.4-gcc11/devcontainer.json
  .devcontainer/cuda12.4-gcc12/devcontainer.json
  .devcontainer/cuda12.4-gcc13/devcontainer.json
  .devcontainer/cuda12.4-gcc7/devcontainer.json
  .devcontainer/cuda12.4-gcc8/devcontainer.json
  .devcontainer/cuda12.4-gcc9/devcontainer.json
  .devcontainer/cuda12.4-llvm10/devcontainer.json
  .devcontainer/cuda12.4-llvm11/devcontainer.json
  .devcontainer/cuda12.4-llvm12/devcontainer.json
  .devcontainer/cuda12.4-llvm13/devcontainer.json
  .devcontainer/cuda12.4-llvm14/devcontainer.json
  .devcontainer/cuda12.4-llvm15/devcontainer.json
  .devcontainer/cuda12.4-llvm16/devcontainer.json
  .devcontainer/cuda12.4-llvm17/devcontainer.json
  .devcontainer/cuda12.4-llvm9/devcontainer.json
  .devcontainer/cuda12.4-oneapi2023.2.0/devcontainer.json
  .devcontainer/cuda12.5-gcc10/devcontainer.json
  .devcontainer/cuda12.5-gcc11/devcontainer.json
  .devcontainer/cuda12.5-gcc12/devcontainer.json
  .devcontainer/cuda12.5-gcc13/devcontainer.json
  .devcontainer/cuda12.5-gcc7/devcontainer.json
  .devcontainer/cuda12.5-gcc8/devcontainer.json
  .devcontainer/cuda12.5-gcc9/devcontainer.json
  .devcontainer/cuda12.5-llvm10/devcontainer.json
  .devcontainer/cuda12.5-llvm11/devcontainer.json
  .devcontainer/cuda12.5-llvm12/devcontainer.json
  .devcontainer/cuda12.5-llvm13/devcontainer.json
  .devcontainer/cuda12.5-llvm14/devcontainer.json
  .devcontainer/cuda12.5-llvm15/devcontainer.json
  .devcontainer/cuda12.5-llvm16/devcontainer.json
  .devcontainer/cuda12.5-llvm17/devcontainer.json
  .devcontainer/cuda12.5-llvm9/devcontainer.json
  .devcontainer/cuda12.5-oneapi2023.2.0/devcontainer.json
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Deprecate more nested aliases (#1932)
  docs/repo.toml
  libcudacxx/include/cuda/std/__cccl/attributes.h
  thrust/thrust/functional.h
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-thrust-codeowners

Add BabelStream flavors as thrust::transform benchmarks
  cub/benchmarks/CMakeLists.txt
  thrust/benchmarks/CMakeLists.txt
  thrust/benchmarks/bench/transform/basic.cu
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners

Fix various typos in CUB documentation and comments. (#1933)
  cub/cub/agent/agent_reduce_by_key.cuh
  cub/cub/agent/agent_scan.cuh
  cub/cub/agent/agent_scan_by_key.cuh
  cub/cub/block/block_discontinuity.cuh
  cub/cub/device/dispatch/dispatch_scan_by_key.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Add BabelStream flavors as thrust::transform benchmarks (#1921)
  cub/benchmarks/CMakeLists.txt
  thrust/benchmarks/CMakeLists.txt
  thrust/benchmarks/bench/transform/basic.cu
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners

Fix `memmove` optimization
  libcudacxx/include/cuda/std/__algorithm/copy.h
  libcudacxx/include/cuda/std/__algorithm/copy_backward.h
  libcudacxx/include/cuda/std/__algorithm/move.h
  libcudacxx/include/cuda/std/__algorithm/move_backward.h
  libcudacxx/test/libcudacxx/std/algorithms/alg.modifying/alg.copy/copy.pass.cpp
  libcudacxx/test/libcudacxx/std/algorithms/alg.modifying/alg.copy/copy_backward.pass.cpp
  libcudacxx/test/libcudacxx/std/algorithms/alg.modifying/alg.move/move.pass.cpp
  libcudacxx/test/libcudacxx/std/algorithms/alg.modifying/alg.move/move_backward.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Some cleanup in Thrust config headers (#1934)
  docs/repo.toml
  thrust/thrust/detail/config/compiler.h
  thrust/thrust/detail/config/compiler_fence.h
  thrust/thrust/detail/config/config.h
  thrust/thrust/detail/config/cpp_compatibility.h
  thrust/thrust/detail/config/debug.h
  thrust/thrust/detail/functional/operators/arithmetic_operators.h
  thrust/thrust/detail/functional/operators/assignment_operator.h
  thrust/thrust/detail/functional/operators/bitwise_operators.h
  thrust/thrust/detail/functional/operators/compound_assignment_operators.h
  thrust/thrust/device_make_unique.h
  thrust/thrust/functional.h
  thrust/thrust/optional.h
  thrust/thrust/zip_function.h
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners

Update to CUDA 12.5 containers. (#1935)
  .devcontainer/cuda12.2-rapids-conda
  .devcontainer/cuda12.4-gcc10/devcontainer.json
  .devcontainer/cuda12.4-gcc11/devcontainer.json
  .devcontainer/cuda12.4-gcc12/devcontainer.json
  .devcontainer/cuda12.4-gcc13/devcontainer.json
  .devcontainer/cuda12.4-gcc7/devcontainer.json
  .devcontainer/cuda12.4-gcc8/devcontainer.json
  .devcontainer/cuda12.4-gcc9/devcontainer.json
  .devcontainer/cuda12.4-llvm10/devcontainer.json
  .devcontainer/cuda12.4-llvm11/devcontainer.json
  .devcontainer/cuda12.4-llvm12/devcontainer.json
  .devcontainer/cuda12.4-llvm13/devcontainer.json
  .devcontainer/cuda12.4-llvm14/devcontainer.json
  .devcontainer/cuda12.4-llvm15/devcontainer.json
  .devcontainer/cuda12.4-llvm16/devcontainer.json
  .devcontainer/cuda12.4-llvm17/devcontainer.json
  .devcontainer/cuda12.4-llvm9/devcontainer.json
  .devcontainer/cuda12.4-oneapi2023.2.0/devcontainer.json
  .devcontainer/cuda12.5-gcc10/devcontainer.json
  .devcontainer/cuda12.5-gcc11/devcontainer.json
  .devcontainer/cuda12.5-gcc12/devcontainer.json
  .devcontainer/cuda12.5-gcc13/devcontainer.json
  .devcontainer/cuda12.5-gcc7/devcontainer.json
  .devcontainer/cuda12.5-gcc8/devcontainer.json
  .devcontainer/cuda12.5-gcc9/devcontainer.json
  .devcontainer/cuda12.5-llvm10/devcontainer.json
  .devcontainer/cuda12.5-llvm11/devcontainer.json
  .devcontainer/cuda12.5-llvm12/devcontainer.json
  .devcontainer/cuda12.5-llvm13/devcontainer.json
  .devcontainer/cuda12.5-llvm14/devcontainer.json
  .devcontainer/cuda12.5-llvm15/devcontainer.json
  .devcontainer/cuda12.5-llvm16/devcontainer.json
  .devcontainer/cuda12.5-llvm17/devcontainer.json
  .devcontainer/cuda12.5-llvm9/devcontainer.json
  .devcontainer/cuda12.5-oneapi2023.2.0/devcontainer.json
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Check that the current version of CMake supports policy 141 before se… (#1924)
  CMakeLists.txt
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners
