Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners

Check size-querying CUB API invocation in tests
  cub/test/catch2_test_launch_helper.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Drop removed clang-tidy option
  cub/.clang-tidy
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Update docs link
  README.md
Owners: @nvidia/cccl-codeowners

Let Catch2 report cudaError descriptions (#1808)
  cub/test/catch2_test_helper.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

fetch all jobs for a workflow run, increase to the max of 100 per page
  .github/actions/workflow-results/action.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

remove per_page query param
  .github/actions/workflow-results/action.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Document NVTX range behavior during graph capture
  docs/cub/developer_overview.rst
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Clean up AliasTemporaries
  cub/cub/util_temporary_storage.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Add missing inline specifiers
  cub/test/catch2_test_device_histogram.cu
  cub/test/catch2_test_printing.cu
  cub/test/mersenne.h
  cub/test/test_util.h
  thrust/thrust/system/detail/error_category.inl
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners

fix typos and add comments
  .devcontainer/launch.sh
  .github/workflows/backport-prs.yml
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Check size-querying CUB API invocation in tests (#1809)
  cub/test/catch2_test_launch_helper.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Improve codegen tests for atomic. * Switch to PTX. * Tightly check all output.
  libcudacxx/test/atomic_codegen/CMakeLists.txt
  libcudacxx/test/atomic_codegen/atomic_add_non_volatile.cu
  libcudacxx/test/atomic_codegen/atomic_cas_non_volatile.cu
  libcudacxx/test/atomic_codegen/atomic_exch_non_volatile.cu
  libcudacxx/test/atomic_codegen/atomic_load_non_volatile.cu
  libcudacxx/test/atomic_codegen/atomic_store_non_volatile.cu
  libcudacxx/test/atomic_codegen/dump_and_check.bash
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners

refactor JSON parsing to use python json module
  .devcontainer/launch.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

refactor JSON parsing to use python json module
  .devcontainer/launch.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Update docs link (#1812)
  README.md
Owners: @nvidia/cccl-codeowners

Add missing inline specifiers (#1813)
  cub/test/catch2_test_device_histogram.cu
  cub/test/catch2_test_printing.cu
  cub/test/mersenne.h
  cub/test/test_util.h
  thrust/thrust/system/detail/error_category.inl
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners

Upgrade actions that use node16 to versions that use node20 (#1779)
  .devcontainer/cccl-entrypoint.sh
  .devcontainer/docker-entrypoint.sh
  .devcontainer/launch.sh
  .github/actions/workflow-build/action.yml
  .github/actions/workflow-build/build-workflow.py
  .github/actions/workflow-results/action.yml
  .github/workflows/backport-prs.yml
  .github/workflows/build-docs.yml
  .github/workflows/ci-workflow-nightly.yml
  .github/workflows/ci-workflow-pull-request.yml
  .github/workflows/verify-devcontainers.yml
  .github/workflows/workflow-dispatch-job.yml
  .github/workflows/workflow-dispatch-two-stage.yml
  .github/workflows/workflow-dispatch.yml
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Document NVTX range behavior during graph capture (#1814)
  docs/cub/developer_overview.rst
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Clean up AliasTemporaries (#1815)
  cub/cub/util_temporary_storage.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Drop removed clang-tidy option (#1810)
  cub/.clang-tidy
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

switch to rapidsai/rapids-cmake branch-24.08
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Exclude docs from cccl infra changes.
  ci/inspect_changes.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

always recreate the conda env from scratch on container startup
  ci/rapids/rapids-entrypoint.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Clone the default rapidsai/devcontainers branch
  ci/rapids/post-create-command.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

remove RAPIDS_TEST_OPTIONS as it's safe to just set them all regardless of which libraries are being built
  .github/workflows/build-rapids.yml
  ci/rapids/cuda12.2-conda/devcontainer.json
  ci/rapids/post-create-command.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

remove CCCL version from override JSON and tell rapids-cmake to always "download" CCCL from the local clone
  ci/rapids/post-create-command.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

comment out overrides and leave a note about how to customize RAPIDS repo git details
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Clean up thrust merge unit tests
  thrust/testing/cuda/merge.cu
  thrust/testing/merge.cu
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

use exact CCCL commit hash
  ci/rapids/post-create-command.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Exclude docs from cccl infra changes. (#1821)
  ci/inspect_changes.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Clean up thrust merge unit tests (#1819)
  thrust/testing/cuda/merge.cu
  thrust/testing/merge.cu
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Add ceil_div
  docs/libcudacxx/extended_api.rst
  docs/libcudacxx/extended_api/math.rst
  libcudacxx/include/cuda/cmath
  libcudacxx/test/libcudacxx/cuda/cmath.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Add [skip-vdc] to avoid noise/unnecessary work while iterating.
  .github/workflows/ci-workflow-pull-request.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Remove stray char.
  .github/workflows/verify-devcontainers.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Refactor workflow topology to avoid skipping jobs with `if:`.
  .github/actions/workflow-build/action.yml
  .github/actions/workflow-build/prepare-workflow-dispatch.py
  .github/actions/workflow-results/parse-job-times.py
  .github/actions/workflow-run-job-linux/action.yml
  .github/actions/workflow-run-job-windows/action.yml
  .github/workflows/ci-workflow-nightly.yml
  .github/workflows/ci-workflow-pull-request.yml
  .github/workflows/workflow-dispatch-job.yml
  .github/workflows/workflow-dispatch-standalone-group-linux.yml
  .github/workflows/workflow-dispatch-standalone-group-windows.yml
  .github/workflows/workflow-dispatch-two-stage-group-linux.yml
  .github/workflows/workflow-dispatch-two-stage-group-windows.yml
  .github/workflows/workflow-dispatch-two-stage-linux.yml
  .github/workflows/workflow-dispatch-two-stage-windows.yml
  .github/workflows/workflow-dispatch-two-stage.yml
  .github/workflows/workflow-dispatch.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

temporarily disable all PR jobs except build-rapids
  .github/workflows/ci-workflow-pull-request.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

24.6 -> 24.8
  ci/rapids/cuda12.2-conda/devcontainer.json
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

update build-rapids.yml to use launch.sh
  .github/workflows/build-rapids.yml
  ci/rapids/post-create-command.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

write aws config to local .aws dir
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

change sub job name
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners
