Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

update rapids container name
  ci/rapids/cuda12.2-conda/devcontainer.json
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

comment out most PR jobs again
  .github/workflows/ci-workflow-pull-request.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

remove --no-update-env
  ci/rapids/post-create-command.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

fix typo
  .github/workflows/build-in-devcontainer.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

set -x
  ci/rapids/post-create-command.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

remove quotes
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

use branch-24.06 again
  ci/rapids/post-create-command.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

debug clone
  ci/rapids/post-create-command.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

always generate scripts
  ci/rapids/post-create-command.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Move local lambda to a function object
  cudax/include/cuda/experimental/detail/dimensions.cuh
  cudax/include/cuda/experimental/detail/hierarchy_dimensions.cuh
Owners: @nvidia/cccl-codeowners

Rename detail directory to __hierarchy and the main header to hierarchy.cuh
  cudax/include/cuda/experimental/__hierarchy/dimensions.cuh
  cudax/include/cuda/experimental/__hierarchy/hierarchy_dimensions.cuh
  cudax/include/cuda/experimental/__hierarchy/hierarchy_levels.cuh
  cudax/include/cuda/experimental/__hierarchy/level_dimensions.cuh
  cudax/include/cuda/experimental/hierarchy.cuh
  cudax/test/hierarchy/testing_common.cuh
Owners: @nvidia/cccl-codeowners

remove debug flags and enable full pr workflow again
  .devcontainer/launch.sh
  .github/workflows/ci-workflow-pull-request.yml
  ci/rapids/post-create-command.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Correct unreachable in a wrong place
  cudax/include/cuda/experimental/__hierarchy/hierarchy_dimensions.cuh
Owners: @nvidia/cccl-codeowners

Create timing artifacts.
  .github/actions/workflow-results/action.yml
  .github/actions/workflow-results/final-summary.py
  .github/actions/workflow-results/parse-job-times.py
  .github/actions/workflow-results/prepare-execution-summary.py
  .github/workflows/workflow-dispatch-job.yml
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Merge prep jobs for verify-devcontainers CI.
  .github/workflows/verify-devcontainers.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Merge prep jobs for verify-devcontainers CI. (#1754)
  .github/workflows/verify-devcontainers.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Add section about SSH signing keys to developer docs.
  CONTRIBUTING.md
Owners: @nvidia/cccl-codeowners

Fix typo in ci docs.
  ci-overview.md
Owners: @nvidia/cccl-codeowners

Update matrix.yaml
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @nvidia/cccl-codeowners

Update devcontainers.
  .devcontainer/cuda12.4-gcc13/devcontainer.json
  .devcontainer/cuda12.4-llvm17/devcontainer.json
  .devcontainer/cuda12.4-llvm18/devcontainer.json
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Moved, reworded. [skip-tests]
  CONTRIBUTING.md
  ci-overview.md
Owners: @nvidia/cccl-codeowners

Fix up the final dispatch-job checks.
  .github/actions/workflow-build/build-workflow.py
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Test that duplicate jobs are removed.
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Revert "Test that duplicate jobs are removed." [skip-tests]
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Make -std optional for windows scripts.
  ci/windows/build_common.psm1
  ci/windows/build_cub.ps1
  ci/windows/build_cudax.ps1
  ci/windows/build_libcudacxx.ps1
  ci/windows/build_thrust.ps1
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Add sccache stats to CI output.
  .github/actions/workflow-build/build-workflow.py
  .github/actions/workflow-results/action.yml
  .github/actions/workflow-results/prepare-execution-summary.py
  .github/actions/workflow-results/verify-job-success.py
  .github/workflows/workflow-dispatch-job.yml
  ci/build_common.sh
  ci/windows/build_common.psm1
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Fix typo in ci docs. (#1756)
  ci-overview.md
Owners: @nvidia/cccl-codeowners

Cleanup logs.
  .github/actions/workflow-results/action.yml
  .github/actions/workflow-results/parse-job-times.py
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Fix msvc artifact list.
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Const-qualify histogram pointer input parameters
  cub/cub/device/device_histogram.cuh
  cub/cub/device/dispatch/dispatch_histogram.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Remove clang18
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Fix incomplete class member access error in clang
  cudax/include/cuda/experimental/__hierarchy/hierarchy_dimensions.cuh
Owners: @nvidia/cccl-codeowners

Fix copy paste issue in doxygen
  cudax/include/cuda/experimental/__hierarchy/level_dimensions.cuh
Owners: @nvidia/cccl-codeowners

Address review feedback.
  ci-overview.md
Owners: @nvidia/cccl-codeowners

Add runtime + sccache info to CI comment (#1744)
  .github/actions/workflow-build/build-workflow.py
  .github/actions/workflow-results/action.yml
  .github/actions/workflow-results/final-summary.py
  .github/actions/workflow-results/parse-job-times.py
  .github/actions/workflow-results/prepare-execution-summary.py
  .github/actions/workflow-results/verify-job-success.py
  .github/workflows/workflow-dispatch-job.yml
  ci/build_common.sh
  ci/matrix.yaml
  ci/windows/build_common.psm1
  ci/windows/build_cub.ps1
  ci/windows/build_cudax.ps1
  ci/windows/build_libcudacxx.ps1
  ci/windows/build_thrust.ps1
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Add section about SSH signing keys to developer docs. (#1755)
  CONTRIBUTING.md
  ci-overview.md
Owners: @nvidia/cccl-codeowners

Do not check the cuda version in lit
  libcudacxx/test/utils/libcudacxx/test/config.py
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Add sm100 support to <nv/target> for NVCC (#1745)
  libcudacxx/include/nv/detail/__target_macros
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix_duplicate_job_checks (#1759)
  .github/actions/workflow-build/build-workflow.py
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners
