Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners

Refactor CI matrix. (#1844)
  .devcontainer/cuda11.1-gcc6/devcontainer.json
  .devcontainer/cuda11.1-gcc7/devcontainer.json
  .devcontainer/cuda11.1-gcc8/devcontainer.json
  .devcontainer/cuda11.1-gcc9/devcontainer.json
  .devcontainer/cuda11.1-llvm9/devcontainer.json
  .devcontainer/cuda11.8-gcc11/devcontainer.json
  .devcontainer/cuda12.0-gcc10/devcontainer.json
  .devcontainer/cuda12.0-gcc11/devcontainer.json
  .devcontainer/cuda12.0-gcc12/devcontainer.json
  .devcontainer/cuda12.0-gcc9/devcontainer.json
  .devcontainer/cuda12.0-llvm10/devcontainer.json
  .devcontainer/cuda12.0-llvm11/devcontainer.json
  .devcontainer/cuda12.0-llvm12/devcontainer.json
  .devcontainer/cuda12.0-llvm13/devcontainer.json
  .devcontainer/cuda12.0-llvm14/devcontainer.json
  .devcontainer/cuda12.0-llvm9/devcontainer.json
  .devcontainer/cuda12.4-gcc10/devcontainer.json
  .devcontainer/cuda12.4-gcc11/devcontainer.json
  .devcontainer/cuda12.4-gcc12/devcontainer.json
  .devcontainer/cuda12.4-gcc13/devcontainer.json
  .devcontainer/cuda12.4-gcc7/devcontainer.json
  .devcontainer/cuda12.4-gcc8/devcontainer.json
  .devcontainer/cuda12.4-gcc9/devcontainer.json
  .devcontainer/cuda12.4-llvm10/devcontainer.json
  .devcontainer/cuda12.4-llvm11/devcontainer.json
  .devcontainer/cuda12.4-llvm12/devcontainer.json
  .devcontainer/cuda12.4-llvm13/devcontainer.json
  .devcontainer/cuda12.4-llvm14/devcontainer.json
  .devcontainer/cuda12.4-llvm15/devcontainer.json
  .devcontainer/cuda12.4-llvm16/devcontainer.json
  .devcontainer/cuda12.4-llvm17/devcontainer.json
  .devcontainer/cuda12.4-llvm18/devcontainer.json
  .devcontainer/cuda12.4-llvm9/devcontainer.json
  .devcontainer/cuda12.4-oneapi2023.2.0/devcontainer.json
  .devcontainer/devcontainer.json
  .devcontainer/make_devcontainers.sh
  .github/actions/workflow-build/build-workflow.py
  ci/matrix.yaml
  docs/libcudacxx/extended_api/asynchronous_operations.rst
  thrust/testing/replace.cu
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-thrust-codeowners

adds todos for once we agreed on offset type
  cub/test/catch2_test_device_scan_large_offsets.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Adds tests for large number of items in `cub::DeviceScan` (#1830)
  cub/test/catch2_test_device_scan_large_offsets.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Fix atomic performance regressions by avoiding use of memcpy with natively supported atomic types. (#1801) (#1833)
  libcudacxx/codegen/codegen.cpp
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_derived.h
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_generated.h
  libcudacxx/test/atomic_codegen/CMakeLists.txt
  libcudacxx/test/atomic_codegen/atomic_add_non_volatile.cu
  libcudacxx/test/atomic_codegen/atomic_cas_non_volatile.cu
  libcudacxx/test/atomic_codegen/atomic_exch_non_volatile.cu
  libcudacxx/test/atomic_codegen/atomic_load_non_volatile.cu
  libcudacxx/test/atomic_codegen/atomic_store_non_volatile.cu
  libcudacxx/test/atomic_codegen/dump_and_check.bash
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-cmake-codeowners

Symbol visibility is now invariant in regards to `__cuda_std__` definition (#1832) (#1864)
  libcudacxx/include/cuda/std/__functional/bind.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
  libcudacxx/include/cuda/std/detail/libcxx/include/__debug
  libcudacxx/include/cuda/std/detail/libcxx/include/__threading_support
  libcudacxx/include/cuda/std/detail/libcxx/include/algorithm
  libcudacxx/include/cuda/std/detail/libcxx/include/chrono
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Make CUB test launch wrapper a functor instance (#1850)
  cub/test/catch2_test_launch_helper.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Improve CUB test overview docs
  docs/cub/test_overview.rst
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Improve CUB test overview docs (#1867)
  docs/cub/test_overview.rst
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Skip devcontainer validation jobs if not needed. (#1853)
  .github/workflows/ci-workflow-pull-request.yml
  .github/workflows/verify-devcontainers.yml
  ci/inspect_changes.sh
  ci/sccache_stats.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Improve CUB device-scope documentation
  cub/cub/util_device.cuh
  docs/cub/developer_overview.rst
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Improve CUB device-scope documentation (#1862)
  cub/cub/util_device.cuh
  docs/cub/developer_overview.rst
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Make integer_sequence et al. available in C++11
  docs/thrust/api_docs/utility/type_traits.rst
  libcudacxx/include/cuda/std/__utility/integer_sequence.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
  libcudacxx/test/libcudacxx/std/utilities/intseq/intseq.general/integer_seq.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/intseq/intseq.intseq/integer_seq.compile.fail.cpp
  libcudacxx/test/libcudacxx/std/utilities/intseq/intseq.intseq/integer_seq.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/intseq/intseq.make/make_integer_seq.fail.cpp
  libcudacxx/test/libcudacxx/std/utilities/intseq/intseq.make/make_integer_seq.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/intseq/intseq.make/make_integer_seq_fallback.compile.fail.cpp
  libcudacxx/test/libcudacxx/std/utilities/intseq/intseq.make/make_integer_seq_fallback.pass.cpp
  thrust/thrust/type_traits/integer_sequence.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners

Update libcudacxx/include/cuda/std/detail/libcxx/include/__config
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Drop facilities deprecated in a previous CUB major version
  cub/cub/block/block_adjacent_difference.cuh
  cub/cub/cub.cuh
  cub/cub/iterator/tex_ref_input_iterator.cuh
  cub/cub/util_type.cuh
  cub/test/test_iterator_deprecated.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Thrust: Fix copy-paste from libcu++ and Thrust link in README
  thrust/README.md
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Create major version 2.6.0
  cub/cub/cmake/cub-config-version.cmake
  cub/cub/version.cuh
  cudax/lib/cmake/cudax/cudax-config-version.cmake
  lib/cmake/cccl/cccl-config-version.cmake
  libcudacxx/include/cuda/std/__cccl/version.h
  libcudacxx/lib/cmake/libcudacxx/libcudacxx-config-version.cmake
  thrust/thrust/cmake/thrust-config-version.cmake
  thrust/thrust/version.h
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-thrust-codeowners

The cuda::ptx::*_multicast tests should pass on all architectures
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.cp.async.bulk.multicast.compile.pass.cpp
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.cp.async.bulk.tensor.multicast.compile.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Make integer sequence et al. available in C++11 (#1859)
  docs/thrust/api_docs/utility/type_traits.rst
  libcudacxx/include/cuda/std/__utility/integer_sequence.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
  libcudacxx/test/libcudacxx/std/utilities/intseq/intseq.general/integer_seq.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/intseq/intseq.intseq/integer_seq.compile.fail.cpp
  libcudacxx/test/libcudacxx/std/utilities/intseq/intseq.intseq/integer_seq.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/intseq/intseq.make/make_integer_seq.fail.cpp
  libcudacxx/test/libcudacxx/std/utilities/intseq/intseq.make/make_integer_seq.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/intseq/intseq.make/make_integer_seq_fallback.compile.fail.cpp
  libcudacxx/test/libcudacxx/std/utilities/intseq/intseq.make/make_integer_seq_fallback.pass.cpp
  thrust/thrust/type_traits/integer_sequence.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners

Minimize template instantiations in CUB thread_load
  cub/cub/block/specializations/block_scan_warp_scans.cuh
  cub/cub/thread/thread_load.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Minimize template instantiations in CUB thread_load (#1857)
  cub/cub/block/specializations/block_scan_warp_scans.cuh
  cub/cub/thread/thread_load.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Create major version 2.6.0 (#1880)
  cub/cub/cmake/cub-config-version.cmake
  cub/cub/version.cuh
  cudax/lib/cmake/cudax/cudax-config-version.cmake
  lib/cmake/cccl/cccl-config-version.cmake
  libcudacxx/include/cuda/std/__cccl/version.h
  libcudacxx/lib/cmake/libcudacxx/libcudacxx-config-version.cmake
  thrust/thrust/cmake/thrust-config-version.cmake
  thrust/thrust/version.h
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-thrust-codeowners

Drop facilities deprecated in a previous CUB major version (#1868)
  cub/cub/block/block_adjacent_difference.cuh
  cub/cub/cub.cuh
  cub/cub/iterator/tex_ref_input_iterator.cuh
  cub/cub/util_type.cuh
  cub/test/test_iterator_deprecated.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Refactor thrust/CUB merge
  cub/cub/block/block_merge_sort.cuh
  thrust/thrust/system/cuda/detail/merge.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners

Revert back to CUB implementations
  cub/cub/agent/agent_merge_sort.cuh
  cub/cub/block/block_merge_sort.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Refactor thrust/CUB merge
  cub/cub/agent/agent_merge_sort.cuh
  cub/cub/block/block_merge_sort.cuh
  cub/cub/device/dispatch/dispatch_merge_sort.cuh
  cub/cub/thread/thread_search.cuh
  thrust/thrust/system/cuda/detail/merge.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners

Make thrust::sort use radix sort with more comparators
  thrust/testing/cuda/sort.cu
  thrust/thrust/system/cuda/detail/sort.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Port thurst::merge[_by_key] to cub::DeviceMerge
  cub/cub/agent/agent_merge.cuh
  cub/cub/agent/agent_merge_sort.cuh
  cub/cub/block/block_merge_sort.cuh
  cub/cub/cub.cuh
  cub/cub/device/device_merge.cuh
  cub/cub/device/dispatch/dispatch_merge.cuh
  cub/cub/device/dispatch/dispatch_merge_sort.cuh
  cub/cub/util_device.cuh
  cub/cub/util_math.cuh
  cub/test/catch2_test_device_merge.cu
  cub/test/catch2_test_device_merge_api.cu
  docs/cub/device_wide.rst
  thrust/thrust/system/cuda/detail/merge.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners

adds support for 128-bit atomic load device scope
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_generated.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

integrates changes into codegen
  libcudacxx/codegen/codegen.cpp
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_generated.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

making StoreStatus private member funcs
  cub/cub/agent/single_pass_scan_operators.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Make thrust::sort use radix sort with more comparators (#1884)
  thrust/testing/cuda/sort.cu
  thrust/thrust/system/cuda/detail/sort.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Make cuda::ptx::*_multicast tests pass on all architectures (#1874)
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.cp.async.bulk.multicast.compile.pass.cpp
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.cp.async.bulk.tensor.multicast.compile.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

fixes broken links in cub readme.md
  cub/README.md
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Qualify call to distance in thrust::async_reduce
  thrust/testing/async_reduce.cu
  thrust/thrust/system/cuda/detail/async/reduce.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Use ::cuda::std::unique_ptr to work around swap issue
  thrust/thrust/system/cuda/detail/future.inl
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Rename CUB uninitialized_copy
  cub/cub/agent/single_pass_scan_operators.cuh
  cub/cub/block/block_exchange.cuh
  cub/cub/block/specializations/block_reduce_warp_reductions.cuh
  cub/cub/block/specializations/block_scan_raking.cuh
  cub/cub/block/specializations/block_scan_warp_scans.cuh
  cub/cub/detail/uninitialized_copy.cuh
  cub/cub/device/dispatch/dispatch_reduce.cuh
  cub/cub/util_type.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Modernize Thrust's alignment.h
  thrust/thrust/detail/alignment.h
  thrust/thrust/system/cuda/detail/core/triple_chevron_launch.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Simplify argument filling in tiple_chevron_launch
  thrust/thrust/system/cuda/detail/core/triple_chevron_launch.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Remove obsolete alignment.h
  thrust/thrust/system/cuda/detail/core/alignment.h
  thrust/thrust/system/cuda/detail/core/triple_chevron_launch.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Add missing include
  thrust/thrust/mr/validator.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners
