Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

Resolve reviews for correctness
  thrust/benchmarks/bench/equal/basic.cu
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Add device inclusive scan with init_value (#1845)
  cub/cub/agent/agent_scan.cuh
  cub/cub/device/device_scan.cuh
  cub/cub/device/dispatch/dispatch_scan.cuh
  cub/test/catch2_test_device_scan.cu
  cub/test/catch2_test_device_scan_api.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Fix BWUtil report on early exit (#1994)
  thrust/benchmarks/bench/equal/basic.cu
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Use libcu++ void_t everywhere (#1977)
  cub/cub/block/radix_rank_sort_operations.cuh
  cub/cub/util_type.cuh
  libcudacxx/include/cuda/std/__complex/vector_support.h
  libcudacxx/include/cuda/std/__concepts/destructible.h
  libcudacxx/include/cuda/std/__cuda/barrier.h
  libcudacxx/include/cuda/std/__functional/is_transparent.h
  libcudacxx/include/cuda/std/__iterator/iterator_traits.h
  libcudacxx/include/cuda/std/__memory/allocator_traits.h
  libcudacxx/include/cuda/std/__memory/construct_at.h
  libcudacxx/include/cuda/std/__memory/pointer_traits.h
  libcudacxx/include/cuda/std/__memory/uses_allocator.h
  libcudacxx/include/cuda/std/__type_traits/common_type.h
  libcudacxx/include/cuda/std/__type_traits/is_allocator.h
  libcudacxx/include/cuda/std/__type_traits/void_t.h
  libcudacxx/include/cuda/std/detail/libcxx/include/variant
  libcudacxx/test/libcudacxx/cuda/stream_ref/stream_ref.constructor.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/meta/meta.unary.prop.query/void_t.pass.cpp
  thrust/thrust/detail/functional/operators/operator_adaptors.h
  thrust/thrust/detail/type_traits/result_of_adaptable_function.h
  thrust/thrust/iterator/detail/iterator_traits.inl
  thrust/thrust/iterator/iterator_traits.h
  thrust/thrust/optional.h
  thrust/thrust/system/cuda/detail/core/util.h
  thrust/thrust/system/tbb/detail/reduce_by_key.inl
  thrust/thrust/type_traits/void_t.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-thrust-codeowners

Drop zipped_binary_op (#1988)
  thrust/thrust/detail/internal_functional.h
  thrust/thrust/system/detail/generic/inner_product.inl
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Kinda working at_least specifier
  cudax/include/cuda/experimental/__hierarchy/hierarchy_dimensions.cuh
  cudax/include/cuda/experimental/__hierarchy/level_dimensions.cuh
  cudax/include/cuda/experimental/__hierarchy/transform.cuh
  cudax/include/cuda/experimental/hierarchy.cuh
  cudax/test/hierarchy/hierarchy_smoke.cu
Owners: @nvidia/cccl-codeowners

Hierarchy type transformation trait
  cudax/include/cuda/experimental/__hierarchy/hierarchy_dimensions.cuh
  cudax/include/cuda/experimental/__hierarchy/level_dimensions.cuh
  cudax/include/cuda/experimental/__launch/transform.cuh
  cudax/test/launch/launch_smoke.cu
Owners: @nvidia/cccl-codeowners

Example fixes
  cudax/test/launch/launch_smoke.cu
Owners: @nvidia/cccl-codeowners

Add max_coresident and finalize functor overload
  cudax/include/cuda/experimental/__hierarchy/level_dimensions.cuh
  cudax/include/cuda/experimental/__launch/launch.cuh
  cudax/include/cuda/experimental/__launch/transform.cuh
  cudax/test/launch/launch_smoke.cu
Owners: @nvidia/cccl-codeowners

Rebase to launch
  cudax/include/cuda/experimental/__launch/transform.cuh
  cudax/include/cuda/experimental/hierarchy.cuh
  cudax/include/cuda/experimental/launch.cuh
  cudax/test/hierarchy/hierarchy_smoke.cu
  cudax/test/launch/launch_smoke.cu
Owners: @nvidia/cccl-codeowners

Take into account cluster size in max_coresident This also adds support for empty queries needed for the above
  cudax/include/cuda/experimental/__hierarchy/hierarchy_dimensions.cuh
  cudax/include/cuda/experimental/__launch/transform.cuh
  cudax/test/hierarchy/hierarchy_smoke.cu
  cudax/test/launch/launch_smoke.cu
Owners: @nvidia/cccl-codeowners

Occupancy meta specifier
  cudax/include/cuda/experimental/__hierarchy/level_dimensions.cuh
  cudax/include/cuda/experimental/__launch/transform.cuh
  cudax/test/launch/launch_smoke.cu
Owners: @nvidia/cccl-codeowners

Add stream argument to finalize
  cudax/include/cuda/experimental/__launch/launch.cuh
  cudax/include/cuda/experimental/__launch/transform.cuh
  cudax/test/launch/launch_smoke.cu
Owners: @nvidia/cccl-codeowners

Minor improvements
  cudax/test/launch/launch_smoke.cu
Owners: @nvidia/cccl-codeowners

Add tests for dynamic smem handling in finalize
  cudax/test/launch/launch_smoke.cu
Owners: @nvidia/cccl-codeowners

Add finalize to launch, take dyn smem into account
  cudax/include/cuda/experimental/__launch/configuration.cuh
  cudax/include/cuda/experimental/__launch/kernel_launchers.cuh
  cudax/include/cuda/experimental/__launch/launch.cuh
  cudax/include/cuda/experimental/__launch/transform.cuh
  cudax/test/launch/launch_smoke.cu
  libcudacxx/include/cuda/.stream_ref.swp
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners

Inline docs and some comments
  cudax/include/cuda/experimental/__hierarchy/level_dimensions.cuh
  cudax/include/cuda/experimental/__launch/hierarchy_draft.cuh
  cudax/include/cuda/experimental/__launch/launch.cuh
  cudax/test/launch/launch_smoke.cu
Owners: @nvidia/cccl-codeowners

Rename transform to finalize
  cudax/include/cuda/experimental/__hierarchy/level_dimensions.cuh
  cudax/include/cuda/experimental/__launch/hierarchy_draft.cuh
  cudax/include/cuda/experimental/__launch/launch.cuh
  cudax/include/cuda/experimental/launch.cuh
  cudax/test/launch/launch_smoke.cu
Owners: @nvidia/cccl-codeowners

Rename transform to finalize
  cudax/test/launch/launch_smoke.cu
Owners: @nvidia/cccl-codeowners

Fix at_least
  cudax/include/cuda/experimental/__launch/hierarchy_draft.cuh
  cudax/test/launch/launch_smoke.cu
Owners: @nvidia/cccl-codeowners

Remove accidental swp file
  libcudacxx/include/cuda/.stream_ref.swp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Add safety TODO
  cudax/include/cuda/experimental/__launch/hierarchy_draft.cuh
Owners: @nvidia/cccl-codeowners

Compilation fixes
  cudax/include/cuda/experimental/__hierarchy/hierarchy_dimensions.cuh
  cudax/include/cuda/experimental/__launch/hierarchy_draft.cuh
  cudax/test/hierarchy/testing_common.cuh
  cudax/test/launch/configuration.cu
  cudax/test/launch/launch_smoke.cu
Owners: @nvidia/cccl-codeowners

More compilation fixes
  cudax/include/cuda/experimental/__launch/hierarchy_draft.cuh
  cudax/include/cuda/experimental/__launch/launch.cuh
Owners: @nvidia/cccl-codeowners

fix some typos in `<cuda/stream_ref>`
  libcudacxx/include/cuda/stream_ref
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Clarify PtxVersion and SmVersion
  cub/cub/util_device.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Clarify PtxVersion and SmVersion (#2004)
  cub/cub/util_device.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Make bool_constant available in C++11
  libcudacxx/include/cuda/std/__tuple_dir/sfinae_helpers.h
  libcudacxx/include/cuda/std/__type_traits/integral_constant.h
  libcudacxx/include/cuda/std/__type_traits/is_same.h
  libcudacxx/include/cuda/std/__type_traits/is_signed.h
  libcudacxx/include/cuda/std/__type_traits/is_unsigned.h
  libcudacxx/include/cuda/std/__type_traits/negation.h
  libcudacxx/include/cuda/std/detail/libcxx/include/iterator
  libcudacxx/include/cuda/std/detail/libcxx/include/ratio
  libcudacxx/test/libcudacxx/std/utilities/meta/meta.help/bool_constant.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Refactor CUB util_device (#1948)
  cub/cub/util_device.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Some more fixes for MSVC
  cudax/include/cuda/experimental/__launch/hierarchy_draft.cuh
Owners: @nvidia/cccl-codeowners

Add pragma for warning in is_function
  cudax/include/cuda/experimental/__launch/hierarchy_draft.cuh
  cudax/include/cuda/experimental/__launch/launch.cuh
Owners: @nvidia/cccl-codeowners

fix some typos in `<cuda/stream_ref>` (#2003)
  libcudacxx/include/cuda/stream_ref
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

remove useless preprocessors
  thrust/thrust/detail/complex/complex.inl
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Help confused MSVC
  cudax/test/hierarchy/hierarchy_smoke.cu
Owners: @nvidia/cccl-codeowners

Add CI slack notifications. (#1961)
  .github/actions/workflow-build/action.yml
  .github/actions/workflow-results/action.yml
  .github/actions/workflow-results/parse-job-times.py
  .github/workflows/build-rapids.yml
  .github/workflows/ci-workflow-nightly.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Allow nightly workflow to be manually invoked.
  .github/workflows/ci-workflow-nightly.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Allow nightly workflow to be manually invoked. (#2007)
  .github/workflows/ci-workflow-nightly.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Need to use a different approach to reuse secrets in reusable workflows vs. actions.
  .github/workflows/build-rapids.yml
  .github/workflows/ci-workflow-nightly.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Need to use a different approach to reuse secrets in reusable workflows vs. actions. (#2008)
  .github/workflows/build-rapids.yml
  .github/workflows/ci-workflow-nightly.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Refactor thrust/CUB merge
  cub/cub/agent/agent_merge_sort.cuh
  cub/cub/block/block_merge_sort.cuh
  cub/cub/device/dispatch/dispatch_merge_sort.cuh
  cub/cub/thread/thread_search.cuh
  thrust/thrust/system/cuda/detail/merge.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners
