Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-cudax-codeowners, @nvidia/cccl-c-codeowners, @nvidia/cccl-python-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

.github/CODEOWNERS:

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners
cub/ @nvidia/cccl-cub-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners
cudax/ @nvidia/cccl-cudax-codeowners
c/ @nvidia/cccl-c-codeowners
python/ @nvidia/cccl-python-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners
ci/ @nvidia/cccl-infra-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners
.pre-commit-config.yaml @nvidia/cccl-infra-codeowners
.clang-format @nvidia/cccl-infra-codeowners
.clangd @nvidia/cccl-infra-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners

disable operators and conversions for extended floating point types
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/common.h
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/denorm_min.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/epsilon.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/infinity.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/lowest.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/max.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/min.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/round_error.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners

fix examples
  libcudacxx/examples/trie.cu
Owners: @nvidia/cccl-libcudacxx-codeowners

fix atomic
  libcudacxx/include/cuda/std/atomic
Owners: @nvidia/cccl-libcudacxx-codeowners

fix bitset
  libcudacxx/include/cuda/std/bitset
Owners: @nvidia/cccl-libcudacxx-codeowners

fix algorithm
  libcudacxx/include/cuda/std/__algorithm/for_each_n.h
  libcudacxx/include/cuda/std/__algorithm/is_heap_until.h
  libcudacxx/include/cuda/std/__algorithm/partition_point.h
  libcudacxx/include/cuda/std/__algorithm/rotate.h
  libcudacxx/include/cuda/std/__algorithm/search.h
  libcudacxx/include/cuda/std/__algorithm/sift_down.h
Owners: @nvidia/cccl-libcudacxx-codeowners

Deprecate cub::DeviceSpmv
  cub/cub/agent/agent_spmv_orig.cuh
  cub/cub/device/device_spmv.cuh
  cub/cub/device/dispatch/dispatch_spmv_orig.cuh
  cub/test/test_device_spmv.cu
Owners: @nvidia/cccl-cub-codeowners

More escapes
  cub/cub/agent/agent_spmv_orig.cuh
  cub/cub/device/dispatch/dispatch_spmv_orig.cuh
Owners: @nvidia/cccl-cub-codeowners

Test NVHPC suppression
  cub/cub/agent/agent_spmv_orig.cuh
Owners: @nvidia/cccl-cub-codeowners

Deprecate thrust::null_type
  thrust/testing/tuple.cu
  thrust/thrust/tuple.h
Owners: @nvidia/cccl-thrust-codeowners

fix the rest
  libcudacxx/include/cuda/std/__atomic/order.h
  libcudacxx/include/cuda/std/__complex/nvbf16.h
  libcudacxx/include/cuda/std/__complex/nvfp16.h
  libcudacxx/include/cuda/std/__exception/terminate.h
  libcudacxx/include/cuda/std/__functional/binary_function.h
  libcudacxx/include/cuda/std/__functional/bind.h
  libcudacxx/include/cuda/std/__functional/function.h
  libcudacxx/include/cuda/std/__functional/hash.h
  libcudacxx/include/cuda/std/__functional/invoke.h
  libcudacxx/include/cuda/std/__functional/mem_fn.h
  libcudacxx/include/cuda/std/__functional/operations.h
  libcudacxx/include/cuda/std/__functional/reference_wrapper.h
  libcudacxx/include/cuda/std/__functional/unary_function.h
  libcudacxx/include/cuda/std/__functional/unwrap_ref.h
  libcudacxx/include/cuda/std/__functional/weak_result_type.h
  libcudacxx/include/cuda/std/__fwd/string_view.h
  libcudacxx/include/cuda/std/__iterator/advance.h
  libcudacxx/include/cuda/std/__iterator/back_insert_iterator.h
  libcudacxx/include/cuda/std/__iterator/front_insert_iterator.h
  libcudacxx/include/cuda/std/__iterator/insert_iterator.h
  libcudacxx/include/cuda/std/__iterator/istream_iterator.h
  libcudacxx/include/cuda/std/__iterator/istreambuf_iterator.h
  libcudacxx/include/cuda/std/__iterator/iterator.h
  libcudacxx/include/cuda/std/__iterator/iterator_traits.h
  libcudacxx/include/cuda/std/__iterator/move_iterator.h
  libcudacxx/include/cuda/std/__iterator/ostream_iterator.h
  libcudacxx/include/cuda/std/__iterator/ostreambuf_iterator.h
  libcudacxx/include/cuda/std/__iterator/wrap_iter.h
  libcudacxx/include/cuda/std/__memory/allocator.h
  libcudacxx/include/cuda/std/__memory/allocator_arg_t.h
  libcudacxx/include/cuda/std/__memory/allocator_destructor.h
  libcudacxx/include/cuda/std/__memory/allocator_traits.h
  libcudacxx/include/cuda/std/__memory/builtin_new_allocator.h
  libcudacxx/include/cuda/std/__memory/pointer_traits.h
  libcudacxx/include/cuda/std/__memory/uninitialized_algorithms.h
  libcudacxx/include/cuda/std/__thread/threading_support_pthread.h
  libcudacxx/include/cuda/std/__thread/threading_support_win32.h
  libcudacxx/include/cuda/std/detail/libcxx/include/ratio
Owners: @nvidia/cccl-libcudacxx-codeowners

fix ratio
  libcudacxx/include/cuda/std/detail/libcxx/include/ratio
Owners: @nvidia/cccl-libcudacxx-codeowners

Drop deprecated aliases in Thrust functional (#3272)
  docs/thrust/api_docs/function_objects/predefined.rst
  docs/thrust/api_docs/function_objects/predefined/arithmetic.rst
  docs/thrust/api_docs/function_objects/predefined/bitwise.rst
  docs/thrust/api_docs/function_objects/predefined/comparison.rst
  docs/thrust/api_docs/function_objects/predefined/identity.rst
  docs/thrust/api_docs/function_objects/predefined/logical.rst
  thrust/thrust/adjacent_difference.h
  thrust/thrust/copy.h
  thrust/thrust/count.h
  thrust/thrust/equal.h
  thrust/thrust/extrema.h
  thrust/thrust/for_each.h
  thrust/thrust/functional.h
  thrust/thrust/gather.h
  thrust/thrust/generate.h
  thrust/thrust/inner_product.h
  thrust/thrust/iterator/transform_iterator.h
  thrust/thrust/iterator/transform_output_iterator.h
  thrust/thrust/merge.h
  thrust/thrust/partition.h
  thrust/thrust/reduce.h
  thrust/thrust/remove.h
  thrust/thrust/replace.h
  thrust/thrust/scan.h
  thrust/thrust/scatter.h
  thrust/thrust/set_operations.h
  thrust/thrust/sort.h
  thrust/thrust/system/cuda/detail/sort.h
  thrust/thrust/tabulate.h
  thrust/thrust/transform.h
  thrust/thrust/transform_reduce.h
  thrust/thrust/transform_scan.h
  thrust/thrust/unique.h
Owners: @nvidia/cccl-thrust-codeowners

fix misplaced nodebug attribute
  libcudacxx/include/cuda/std/__memory/allocator_arg_t.h
Owners: @nvidia/cccl-libcudacxx-codeowners

Ensure that cuda::__throw_cuda_error works even on non CUDA compilers
  libcudacxx/include/cuda/std/__exception/cuda_error.h
Owners: @nvidia/cccl-libcudacxx-codeowners

Drop cub::DivideAndRoundUp (#3347)
  cub/cub/util_math.cuh
Owners: @nvidia/cccl-cub-codeowners
