Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners

Simplify Thrust's void_t
  thrust/thrust/iterator/detail/iterator_traits.inl
  thrust/thrust/type_traits/void_t.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Simplify result_of_adaptable_function
  thrust/thrust/detail/type_traits/result_of_adaptable_function.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Remove obsolete function traits
  thrust/thrust/detail/type_traits/function_traits.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Simplify partial_sum_type
  thrust/thrust/system/tbb/detail/reduce_by_key.inl
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Simplify partial_sum_type
  thrust/thrust/system/tbb/detail/reduce_by_key.inl
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Actually finish the clang cuda fix; another attempt at MSVC.
  libcudacxx/include/cuda/std/detail/libcxx/include/bitset
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/op_or_eq.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Guard against an overflow in sort tests (#1980)
  cub/test/catch2_test_device_merge_sort.cu
  thrust/testing/cuda/sort.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners

Whoops.
  libcudacxx/include/cuda/std/detail/libcxx/include/bitset
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Remove obsolete Thrust function traits (#1962)
  thrust/thrust/detail/type_traits/function_traits.h
  thrust/thrust/detail/type_traits/result_of_adaptable_function.h
  thrust/thrust/iterator/detail/iterator_traits.inl
  thrust/thrust/system/tbb/detail/reduce_by_key.inl
  thrust/thrust/type_traits/void_t.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Whoops x2.
  libcudacxx/include/cuda/std/detail/libcxx/include/bitset
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Use libcu++ void_t everywhere
  cub/cub/block/radix_rank_sort_operations.cuh
  cub/cub/util_type.cuh
  libcudacxx/include/cuda/std/__complex/vector_support.h
  libcudacxx/include/cuda/std/__concepts/destructible.h
  libcudacxx/include/cuda/std/__cuda/barrier.h
  libcudacxx/include/cuda/std/__functional/is_transparent.h
  libcudacxx/include/cuda/std/__iterator/iterator_traits.h
  libcudacxx/include/cuda/std/__memory/allocator_traits.h
  libcudacxx/include/cuda/std/__memory/construct_at.h
  libcudacxx/include/cuda/std/__memory/pointer_traits.h
  libcudacxx/include/cuda/std/__memory/uses_allocator.h
  libcudacxx/include/cuda/std/__type_traits/common_type.h
  libcudacxx/include/cuda/std/__type_traits/is_allocator.h
  libcudacxx/include/cuda/std/__type_traits/void_t.h
  libcudacxx/include/cuda/std/detail/libcxx/include/variant
  libcudacxx/test/libcudacxx/cuda/stream_ref/stream_ref.constructor.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/meta/meta.unary.prop.query/void_t.pass.cpp
  thrust/thrust/detail/functional/operators/operator_adaptors.h
  thrust/thrust/detail/type_traits/result_of_adaptable_function.h
  thrust/thrust/iterator/detail/iterator_traits.inl
  thrust/thrust/iterator/iterator_traits.h
  thrust/thrust/optional.h
  thrust/thrust/system/cuda/detail/core/util.h
  thrust/thrust/system/tbb/detail/reduce_by_key.inl
  thrust/thrust/type_traits/void_t.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-thrust-codeowners

Attempt to tackle MSVC differently.
  libcudacxx/include/cuda/std/detail/libcxx/include/__bit_reference
  libcudacxx/include/cuda/std/detail/libcxx/include/bitset
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Add array based API tests for block inclusive scan
  cub/test/catch2_test_block_scan_api.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Add block scan raking and warp scans implementation support for initial value
  cub/cub/block/specializations/block_scan_raking.cuh
  cub/cub/block/specializations/block_scan_warp_scans.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Resolve CI issues on block_scan_api test
  cub/test/catch2_test_block_scan_api.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Add device inclusive scan docs and API test
  cub/cub/device/device_scan.cuh
  cub/test/catch2_test_device_scan_api.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Remove more value based APIs
  cub/cub/block/specializations/block_scan_raking.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Change InclusiveScan dvice overload name with init value
  cub/cub/device/device_scan.cuh
  cub/cub/device/dispatch/dispatch_scan.cuh
  cub/test/catch2_test_device_scan.cu
  cub/test/catch2_test_device_scan_api.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Default IsInclusive in AgentScan
  cub/cub/agent/agent_scan.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Finalize inclusive_scan with init value API
  cub/cub/device/device_scan.cuh
  cub/test/catch2_test_device_scan.cu
  cub/test/catch2_test_device_scan_api.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Sync with upstream main
  cub/test/catch2_test_block_scan_api.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Resolve CI issues
  cub/test/catch2_test_device_scan_api.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Revert "Revert changes that caused unreachable code"
  cub/test/catch2_test_device_scan.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Revert changes that caused unreachable code
  cub/test/catch2_test_device_scan.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Resolve reviews
  cub/cub/agent/agent_scan.cuh
  cub/cub/device/device_scan.cuh
  cub/test/catch2_test_device_scan.cu
  cub/test/catch2_test_device_scan_api.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Disambiguate device scan unit tests with and without init value
  cub/test/catch2_test_device_scan.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Fix unreachable code MSVC error
  cub/test/catch2_test_device_scan.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Fix device inclusive scan and adapt unit test
  cub/cub/agent/agent_scan.cuh
  cub/cub/device/device_scan.cuh
  cub/cub/device/dispatch/dispatch_scan.cuh
  cub/test/catch2_test_device_scan.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Remove even more value based APIs, complement docs with details
  cub/cub/block/specializations/block_scan_warp_scans.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Amend tests after reverting arguments order
  cub/test/catch2_test_device_scan.cu
  cub/test/catch2_test_device_scan_api.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Address documentation reviews
  cub/cub/agent/agent_scan.cuh
  cub/cub/device/device_scan.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Fix unit test
  cub/test/catch2_test_device_scan.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Final fix
  cub/cub/device/dispatch/dispatch_scan.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Minor docs issue
  cub/cub/device/device_scan.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Revert original arguments order
  cub/cub/device/device_scan.cuh
  cub/test/catch2_test_device_scan.cu
  cub/test/catch2_test_device_scan_api.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Rename device InclusiveScan with init value to InclusiveScanInit
  cub/cub/device/device_scan.cuh
  cub/test/catch2_test_device_scan.cu
  cub/test/catch2_test_device_scan_api.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

So some of this was necessary for msvc after all?
  libcudacxx/include/cuda/std/detail/libcxx/include/bitset
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Refactor CUB util_device
  cub/cub/util_device.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

I think this underconstraining of the ctor template is the msvcs problem.
  libcudacxx/include/cuda/std/detail/libcxx/include/bitset
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Python: Add version string & wheel build command (#1985)
  ci/update_version.sh
  python/cuda/cuda/cooperative/_version.py
  python/cuda/setup.py
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners
