Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners

Update to 24.10.
  .devcontainer/cuda11.1-gcc6/devcontainer.json
  .devcontainer/cuda11.1-gcc7/devcontainer.json
  .devcontainer/cuda11.1-gcc8/devcontainer.json
  .devcontainer/cuda11.1-gcc9/devcontainer.json
  .devcontainer/cuda11.1-llvm9/devcontainer.json
  .devcontainer/cuda11.8-gcc11/devcontainer.json
  .devcontainer/cuda12.0-gcc10/devcontainer.json
  .devcontainer/cuda12.0-gcc11/devcontainer.json
  .devcontainer/cuda12.0-gcc12/devcontainer.json
  .devcontainer/cuda12.0-gcc9/devcontainer.json
  .devcontainer/cuda12.0-llvm10/devcontainer.json
  .devcontainer/cuda12.0-llvm11/devcontainer.json
  .devcontainer/cuda12.0-llvm12/devcontainer.json
  .devcontainer/cuda12.0-llvm13/devcontainer.json
  .devcontainer/cuda12.0-llvm14/devcontainer.json
  .devcontainer/cuda12.0-llvm9/devcontainer.json
  .devcontainer/cuda12.5-gcc10/devcontainer.json
  .devcontainer/cuda12.5-gcc11/devcontainer.json
  .devcontainer/cuda12.5-gcc12/devcontainer.json
  .devcontainer/cuda12.5-gcc13/devcontainer.json
  .devcontainer/cuda12.5-gcc7/devcontainer.json
  .devcontainer/cuda12.5-gcc8/devcontainer.json
  .devcontainer/cuda12.5-gcc9/devcontainer.json
  .devcontainer/cuda12.5-llvm10/devcontainer.json
  .devcontainer/cuda12.5-llvm11/devcontainer.json
  .devcontainer/cuda12.5-llvm12/devcontainer.json
  .devcontainer/cuda12.5-llvm13/devcontainer.json
  .devcontainer/cuda12.5-llvm14/devcontainer.json
  .devcontainer/cuda12.5-llvm15/devcontainer.json
  .devcontainer/cuda12.5-llvm16/devcontainer.json
  .devcontainer/cuda12.5-llvm17/devcontainer.json
  .devcontainer/cuda12.5-llvm9/devcontainer.json
  .devcontainer/cuda12.5-oneapi2023.2.0/devcontainer.json
  .devcontainer/devcontainer.json
  .github/workflows/build-rapids.yml
  ci/matrix.yaml
  ci/rapids/cuda12.2-conda/devcontainer.json
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Do not rely on conversions between float and extended floating point types (#2046)
  libcudacxx/include/cuda/std/__cuda/cmath_nvbf16.h
  libcudacxx/include/cuda/std/__cuda/cmath_nvfp16.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

roll back change to `.clang-format`
  .clang-format
Owners: @nvidia/cccl-codeowners

initial support for querying a device's attributes
  cudax/include/cuda/experimental/__device/attributes.cuh
  cudax/include/cuda/experimental/__device/device.cuh
  cudax/include/cuda/experimental/device.cuh
  cudax/test/CMakeLists.txt
  cudax/test/device/device_smoke.cu
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-cmake-codeowners

Update to build RAPIDS with CUDA 12.5.
  .github/workflows/build-rapids.yml
  ci/rapids/cuda12.5-conda/devcontainer.json
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Use the proper include header order
  cudax/include/cuda/experimental/__device/device.cuh
Owners: @nvidia/cccl-codeowners

experimental wrapper types for `cudaEvent_t` that provide a modern C++ interface. (#2017)
  cudax/include/cuda/experimental/__detail/utility.cuh
  cudax/include/cuda/experimental/__event/event.cuh
  cudax/include/cuda/experimental/__event/event_ref.cuh
  cudax/include/cuda/experimental/__event/timed_event.cuh
  cudax/include/cuda/experimental/__hierarchy/hierarchy_dimensions.cuh
  cudax/include/cuda/experimental/__hierarchy/level_dimensions.cuh
  cudax/include/cuda/experimental/__launch/configuration.cuh
  cudax/include/cuda/experimental/__launch/launch.cuh
  cudax/include/cuda/experimental/event.cuh
  cudax/test/CMakeLists.txt
  cudax/test/common/utility.cuh
  cudax/test/event/event_smoke.cu
  cudax/test/launch/launch_smoke.cu
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-cmake-codeowners

Fix flakey heterogeneous tests by ensuring only *one* writer exists in parallel between H/D
  libcudacxx/test/libcudacxx/heterogeneous/barrier.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/barrier_abi_v2.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/latch.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/latch_abi_v2.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/semaphore.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

[CUDAX] Add a dummy device struct for now (#2066)
  cudax/include/cuda/experimental/__device/device.cuh
Owners: @nvidia/cccl-codeowners

Update and rename cuda12.2-rapids-conda to cuda12.5-rapids-conda
  .devcontainer/cuda12.2-rapids-conda
  .devcontainer/cuda12.5-rapids-conda
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Revert "Update and rename cuda12.2-rapids-conda to cuda12.5-rapids-conda"
  .devcontainer/cuda12.2-rapids-conda
  .devcontainer/cuda12.5-rapids-conda
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Fix symlink
  .devcontainer/cuda12.2-rapids-conda
  .devcontainer/cuda12.5-rapids-conda
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Allow (somewhat) different input value types for merge (#2075)
  cub/cub/agent/agent_merge.cuh
  cub/cub/agent/agent_merge_sort.cuh
  cub/cub/block/block_merge_sort.cuh
  cub/cub/device/dispatch/dispatch_merge.cuh
  thrust/testing/merge_by_key.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners

Rename and refactor transform_iterator_base
  thrust/thrust/iterator/detail/transform_iterator.inl
  thrust/thrust/iterator/transform_iterator.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Avoid `::result_type` for partial sums in TBB reduce_by_key (#1998)
  thrust/thrust/system/tbb/detail/reduce_by_key.inl
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

examples to use explicit exec space specifiers
  cub/cub/device/device_reduce.cuh
  cub/cub/device/device_scan.cuh
  cub/cub/device/device_select.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Bench analysis: Print all top rows when asked for
  benchmarks/scripts/analyze.py
Owners: @nvidia/cccl-codeowners

Fix formatting
  cudax/include/cuda/experimental/__event/event.cuh
  cudax/include/cuda/experimental/__event/timed_event.cuh
  cudax/include/cuda/experimental/__hierarchy/hierarchy_dimensions.cuh
  cudax/include/cuda/experimental/__hierarchy/level_dimensions.cuh
  cudax/include/cuda/experimental/__launch/configuration.cuh
  cudax/include/cuda/experimental/__launch/launch.cuh
  cudax/test/launch/launch_smoke.cu
Owners: @nvidia/cccl-codeowners

Fixup copy paste mistake
  libcudacxx/test/libcudacxx/heterogeneous/semaphore.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

linkchecker fixes
  docs/libcudacxx/releases.rst
  docs/libcudacxx/releases/versioning.rst
  docs/thrust/cmake_options.rst
  docs/thrust/releases/changelog.rst
  thrust/README.md
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners

rework attribute interface to make using the attribute tags optional
  cudax/include/cuda/experimental/__device/attributes.cuh
  cudax/include/cuda/experimental/__device/device.cuh
  cudax/test/device/device_smoke.cu
Owners: @nvidia/cccl-codeowners

Make host atomics simpler by removing the ugly alignment type
  libcudacxx/include/cuda/std/__atomic/functions/host.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

remove `device::count` member, to be brought back in a different form later
  cudax/include/cuda/experimental/__device/device.cuh
  cudax/test/device/device_smoke.cu
Owners: @nvidia/cccl-codeowners

Fix deadlocks introduced into barrier/semaphore tests
  libcudacxx/test/libcudacxx/heterogeneous/barrier.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/barrier_abi_v2.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/semaphore.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

fix .cuh errors
  cub/cub/block/block_discontinuity.cuh
  cub/cub/block/block_histogram.cuh
  cub/cub/block/block_merge_sort.cuh
  cub/cub/block/block_radix_sort.cuh
  cub/cub/block/block_scan.cuh
  cub/cub/warp/warp_exchange.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

lint
  cub/cub/device/device_spmv.cuh
  docs/libcudacxx/releases/versioning.rst
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners

add tests for all of the device attributes
  cudax/include/cuda/experimental/__device/attributes.cuh
  cudax/test/device/device_smoke.cu
Owners: @nvidia/cccl-codeowners

construct with a stream_ref and record the event on construction
  cudax/include/cuda/experimental/__stream/stream.cuh
  cudax/include/cuda/experimental/stream.cuh
  cudax/test/CMakeLists.txt
  cudax/test/stream/stream_smoke.cu
  libcudacxx/include/cuda/stream_ref
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-cmake-codeowners, @nvidia/cccl-libcudacxx-codeowners

Fix formatting
  cudax/include/cuda/experimental/__stream/stream.cuh
  cudax/test/stream/stream_smoke.cu
  libcudacxx/include/cuda/stream_ref
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners

do not use `cudaDevAttrNumaConfig` prior to CUDA 12.2
  cudax/include/cuda/experimental/__device/attributes.cuh
  cudax/test/device/device_smoke.cu
Owners: @nvidia/cccl-codeowners

Fix formatting (#2090)
  cudax/include/cuda/experimental/__event/event.cuh
  cudax/include/cuda/experimental/__event/timed_event.cuh
  cudax/include/cuda/experimental/__hierarchy/hierarchy_dimensions.cuh
  cudax/include/cuda/experimental/__hierarchy/level_dimensions.cuh
  cudax/include/cuda/experimental/__launch/configuration.cuh
  cudax/include/cuda/experimental/__launch/launch.cuh
  cudax/test/launch/launch_smoke.cu
Owners: @nvidia/cccl-codeowners

Rename and refactor transform_iterator_base (#1987)
  thrust/thrust/iterator/detail/transform_iterator.inl
  thrust/thrust/iterator/transform_iterator.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Bench analysis: Print all top rows when asked for (#2089)
  benchmarks/scripts/analyze.py
Owners: @nvidia/cccl-codeowners

makes examples use explicit exec space specifiers in user-provided functors
  cub/cub/device/device_reduce.cuh
  cub/cub/device/device_scan.cuh
  cub/cub/device/device_select.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Add event testing
  cudax/include/cuda/experimental/__event/event.cuh
  cudax/include/cuda/experimental/__hierarchy/level_dimensions.cuh
  cudax/include/cuda/experimental/__stream/stream.cuh
  cudax/test/common/utility.cuh
  cudax/test/event/event_smoke.cu
  cudax/test/stream/stream_smoke.cu
Owners: @nvidia/cccl-codeowners

Add some nodiscards
  cudax/include/cuda/experimental/__stream/stream.cuh
Owners: @nvidia/cccl-codeowners

Fix discarding release return value
  cudax/include/cuda/experimental/__stream/stream.cuh
  cudax/test/stream/stream_smoke.cu
Owners: @nvidia/cccl-codeowners

Separate cuda/experimental when sorting includes
  .clang-format
Owners: @nvidia/cccl-codeowners

Run clang-format
  cudax/include/cuda/experimental/__event/event.cuh
  cudax/include/cuda/experimental/__event/timed_event.cuh
  cudax/include/cuda/experimental/__hierarchy/hierarchy_dimensions.cuh
  cudax/include/cuda/experimental/__hierarchy/level_dimensions.cuh
  cudax/include/cuda/experimental/__launch/configuration.cuh
  cudax/include/cuda/experimental/__launch/launch.cuh
  cudax/test/launch/launch_smoke.cu
Owners: @nvidia/cccl-codeowners

simplify use of ::cuda::std binary_function_objects
  thrust/thrust/functional.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners
