Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

remove nvidia-persistenced/socket mount
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

install coreutils
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

fix typo
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

expand search for libcuda.so
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

remove NVIDIA_VISIBLE_DEVICES from container env because it zeroes it out
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

add envvar back
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

switch back to using inputs.runner
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

revert to using docker run instead of devcontainers CLI
  .github/actions/workflow-build/build-workflow.py
  .github/workflows/workflow-dispatch-job.yml
  .github/workflows/workflow-dispatch-two-stage.yml
  .github/workflows/workflow-dispatch.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

mount in aws credentials
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

define SCCACHE_BUCKET envvars
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

run with --user coder
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

ensure .aws is owned by the coder user
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

set --workdir to /home/coder/cccl
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

revert changes to CI matrix and pull-request workflow
  .github/workflows/ci-workflow-pull-request.yml
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

add docker run command for replicating CI with build caching
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Experiment with using artifacts for test binaries.
  .github/actions/workflow-build/build-workflow.py
  .github/workflows/workflow-dispatch-job.yml
  .github/workflows/workflow-dispatch-two-stage.yml
  ci/build_cub.sh
  ci/matrix.yaml
  ci/test_cub.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Restore presets for full project testing.
  CMakePresets.json
  ci/build_common.sh
  ci/test_cub.sh
  ci/test_thrust.sh
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-infra-codeowners

TEMP override matrix
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Restore presets for full project testing.
  CMakePresets.json
  ci/build_common.sh
  ci/test_cub.sh
  ci/test_thrust.sh
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-infra-codeowners

install nodejs and npm
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Update libcudacxx/docs/extended_api/memory_model.md
  libcudacxx/docs/extended_api/memory_model.md
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

switch to docker ubuntu image
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

switch cudf and cuml to rapidsai branch-24.06, add full set of library overrides to build-rapids.yml
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

use local copy
  docs/index.rst
Owners: @nvidia/cccl-codeowners

Address review comment
  .github/workflows/build-docs.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Use the right conversion
  cub/cub/device/dispatch/dispatch_histogram.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Fix `__half` conversion to float in histogram
  cub/cub/device/dispatch/dispatch_histogram.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Explicitly test without half operators / conversions define
  cub/cmake/CubHeaderTesting.cmake
  cub/test/CMakeLists.txt
  cub/test/test_device_histogram.cu
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-cub-codeowners

Also properly cast back to half from float
  cub/cub/device/dispatch/dispatch_histogram.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Revert "Explicitly test without half operators / conversions define"
  cub/cmake/CubHeaderTesting.cmake
  cub/test/CMakeLists.txt
  cub/test/test_device_histogram.cu
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-cub-codeowners

install dependencies
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

fix ucxx branch name
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

list files in cccl repo
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

constrain the matrix again
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

install git
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

run the full matrix again
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

switch cugraph to rapidsai branch-24.06
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Add mechanism to split project tests into parallel jobs. (#1696)
  .github/actions/workflow-build/build-workflow.py
  .github/actions/workflow-results/final-summary.py
  .github/actions/workflow-results/prepare-execution-summary.py
  CMakePresets.json
  ci/build_common.sh
  ci/matrix.yaml
  ci/pretty_printing.sh
  ci/test_cub.sh
  ci/test_thrust.sh
  ci/util/extract_switches.sh
  ci/windows/build_common.psm1
  ci/windows/build_cub.ps1
  ci/windows/build_libcudacxx.ps1
  ci/windows/build_thrust.ps1
  ci/windows/test_thrust.ps1
  cub/cub/util_cpp_dialect.cuh
  thrust/docs/github_pages/setup/cmake_options.md
  thrust/testing/allocator.cu
  thrust/testing/memory.cu
  thrust/testing/replace.cu
  thrust/testing/shuffle.cu
  thrust/thrust/cmake/thrust-config.cmake
  thrust/thrust/detail/config/cpp_dialect.h
  thrust/thrust/iterator/iterator_facade.h
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cmake-codeowners

parse localEnv entries with default values
  .devcontainer/launch.sh
  ci/rapids/cuda12.2-conda/devcontainer.json
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

print prettier failure message
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners
