Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

Make `cuda::std::tuple` trivially copyable
  libcudacxx/include/cuda/std/__tuple_dir/sfinae_helpers.h
  libcudacxx/include/cuda/std/__utility/pair.h
  libcudacxx/include/cuda/std/detail/libcxx/include/tuple
  libcudacxx/test/libcudacxx/std/utilities/tuple/tuple.tuple/tuple.traits/trivially_copyable.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Use the float flavors of the cmath functions in the extended floating point fallbacks (#2106)
  libcudacxx/include/cuda/std/__cuda/cmath_nvbf16.h
  libcudacxx/include/cuda/std/__cuda/cmath_nvfp16.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix bug in `pop_back`
  libcudacxx/include/cuda/std/inplace_vector
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Silence more unreachable code warnings
  libcudacxx/include/cuda/std/inplace_vector
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/swap.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Build towards proper exeption safety guarantees
  libcudacxx/include/cuda/std/inplace_vector
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Do not define `erase` and `erase_if` as friends
  libcudacxx/include/cuda/std/inplace_vector
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Implement P0843 `inplace_vector`
  docs/libcudacxx/standard_api/container_library.rst
  docs/libcudacxx/standard_api/container_library/inplace_vector.rst
  libcudacxx/include/cuda/std/__memory/construct_at.h
  libcudacxx/include/cuda/std/__ranges/concepts.h
  libcudacxx/include/cuda/std/inplace_vector
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/access.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/assign.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/assignment.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/capacity.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/comparison.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/constructor.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/emplace.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/insert.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/iterators.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/properties.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/resize.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/swap.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/types.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Properly use `iterator` whenever we deal with iterators even if for now they are identical
  libcudacxx/include/cuda/std/inplace_vector
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Use the correct three_way comparison
  libcudacxx/include/cuda/std/inplace_vector
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Implement triviality requirements
  libcudacxx/include/cuda/std/inplace_vector
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/assignment.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/constructor.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/properties.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/types.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Improve exception safety
  libcudacxx/include/cuda/std/inplace_vector
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Drop superflous variable `__diff` when possible
  libcudacxx/include/cuda/std/inplace_vector
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Cleanup tests and address review comments
  libcudacxx/include/cuda/std/inplace_vector
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/access.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/assign.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/assignment.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/capacity.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/comparison.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/constructor.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/emplace.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/insert.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/iterators.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/properties.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/resize.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/swap.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/types.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix issues with old gcc
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/constructor.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/types.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix issues with clang-cuda
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/assign.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/assignment.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Work around issues with launder for old clang and nvcc
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Move `unwrap_end` to its own file
  libcudacxx/include/cuda/std/__ranges/unwrap_end.h
  libcudacxx/include/cuda/std/inplace_vector
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Specialize the zero capacity version
  libcudacxx/include/cuda/std/inplace_vector
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Address review comments
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/assign.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/constructor.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/resize.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/swap.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Work around a MSVC2017 issue
  libcudacxx/include/cuda/std/inplace_vector
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/constructor.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/swap.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix unused variable warning
  libcudacxx/include/cuda/std/__memory/construct_at.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Use `__pos` as argument for indexing operations
  libcudacxx/include/cuda/std/inplace_vector
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix issue with unavailable `is_constant_evaluated`
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/access.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/assign.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/assignment.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/capacity.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/comparison.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/constructor.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/emplace.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/insert.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/iterators.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/resize.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/swap.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Add comment explaining implementation of copy constructor of non trivial types
  libcudacxx/include/cuda/std/inplace_vector
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Properly use `ranges::begin` and `ranges::end`
  libcudacxx/include/cuda/std/inplace_vector
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Try and fix MSVC issues
  libcudacxx/include/cuda/std/inplace_vector
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/constructor.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/properties.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Drop `__change_size`
  libcudacxx/include/cuda/std/inplace_vector
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

More MSVC workarounds
  libcudacxx/include/cuda/std/inplace_vector
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/constructor.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix issues with old gcc and `inplace_vector<T, 0>`
  libcudacxx/include/cuda/std/inplace_vector
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Drop `constexpr` on non trivial `data()` method
  libcudacxx/include/cuda/std/inplace_vector
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Suppress MSVC warnings
  libcudacxx/include/cuda/std/inplace_vector
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix warning about unused variable
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/comparison.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Just silence incorrect MSVC warnings
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/assign.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/assignment.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/constructor.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/swap.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Ensure that `cuda_memory_resource` allocates memory on the proper device
  libcudacxx/include/cuda/__memory_resource/cuda_memory_resource.h
  libcudacxx/include/cuda/std/__cuda/api_wrapper.h
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_memory_resource/traits.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Move `__ensure_current_device` to own header
  cub/cub/util_device.cuh
  libcudacxx/include/cuda/__memory_resource/cuda_memory_resource.h
  libcudacxx/include/cuda/std/__cuda/api_wrapper.h
  libcudacxx/include/cuda/std/__cuda/ensure_current_device.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners

Update libcudacxx/test/libcudacxx/std/utilities/tuple/tuple.tuple/tuple.traits/trivially_copyable.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/tuple/tuple.tuple/tuple.traits/trivially_copyable.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Update libcudacxx/include/cuda/std/detail/libcxx/include/tuple
  libcudacxx/include/cuda/std/detail/libcxx/include/tuple
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Implement a `cudax::get_stream` CPO
  cudax/include/cuda/experimental/__stream/get_stream.cuh
  cudax/include/cuda/experimental/stream.cuh
  cudax/test/CMakeLists.txt
  cudax/test/stream/get_stream.cu
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-cmake-codeowners

Ensure that we avoid ABI Version conflics
  libcudacxx/test/libcudacxx/cuda/pipeline_divergent_threads.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Ensure that we avoid ABI Version conflics
  libcudacxx/test/libcudacxx/cuda/pipeline_divergent_threads.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners
