Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners

Fix mistake in template alias for `append_n` in meta header.
  libcudacxx/test/libcudacxx/heterogeneous/meta.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Update libcudacxx/include/cuda/std/detail/__pragma_push
  libcudacxx/include/cuda/std/detail/__pragma_push
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Add missing format
  libcudacxx/include/cuda/functional
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Minor cleanups (#1669)
  libcudacxx/include/cuda/std/__iterator/iterator_traits.h
  libcudacxx/include/cuda/std/__memory/construct_at.h
  libcudacxx/include/cuda/std/__tuple_dir/structured_bindings.h
  libcudacxx/include/cuda/std/__type_traits/is_constant_evaluated.h
  libcudacxx/include/cuda/std/__utility/pair.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
  libcudacxx/include/cuda/std/detail/libcxx/include/bit
  libcudacxx/include/cuda/std/detail/libcxx/include/cmath
  libcudacxx/test/libcudacxx/cuda/annotated_ptr/utils.h
  libcudacxx/test/libcudacxx/cuda/memcpy_async/group_memcpy_async.h
  libcudacxx/test/libcudacxx/cuda/pipeline_arrive_on.pass.cpp
  libcudacxx/test/libcudacxx/cuda/pipeline_arrive_on_abi_v2.pass.cpp
  libcudacxx/test/libcudacxx/cuda/test_platform.pass.cpp
  libcudacxx/test/libcudacxx/cuda/test_platform_cpp03.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/c.limits/climits.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/comparisons/greater.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/comparisons/greater_equal.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/comparisons/less.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/comparisons/less_equal.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/refwrap/refwrap.const/type_conv_ctor2.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/refwrap/refwrap.helpers/cref_1.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/refwrap/refwrap.helpers/cref_2.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/refwrap/refwrap.helpers/lwg3146.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/refwrap/refwrap.helpers/ref_1.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/refwrap/refwrap.helpers/ref_2.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/specialized.algorithms/specialized.destroy/destroy.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/specialized.algorithms/specialized.destroy/destroy_at.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/specialized.algorithms/specialized.destroy/destroy_n.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/meta/meta.trans/meta.trans.sign/make_signed.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/meta/meta.trans/meta.trans.sign/make_unsigned.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/time/date.time/ctime.pass.cpp
  libcudacxx/test/support/test_macros.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix usage of `result_of` in thrust (#1705)
  cub/cub/agent/agent_three_way_partition.cuh
  thrust/thrust/detail/type_traits.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners

Fix thrust::optional<T&>::emplace() (#1707)
  thrust/testing/regression/gh_1706__thrust_optional_reference_emplace.cu
  thrust/thrust/optional.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Add one more `_CCCL_EXEC_CHECK_DISABLE` to `optional::reset`
  libcudacxx/include/cuda/std/detail/libcxx/include/optional
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Add `_CCCL_EXEC_CHECK_DISABLE` to expected base classes
  libcudacxx/include/cuda/std/__expected/expected_base.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Update cub/README.md
  cub/README.md
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Re-expose zip_iterator's IteratorTuple
  thrust/thrust/iterator/zip_iterator.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Improve zip_iterator documentation
  thrust/thrust/iterator/zip_iterator.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Test zip_iterator construction from iterator tuple
  thrust/testing/zip_iterator.cu
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Expose zip_function's underlying function
  thrust/thrust/zip_function.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Add default ctor for zip_function
  thrust/testing/zip_function.cu
  thrust/thrust/zip_function.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Simplify zip_function documentation example
  thrust/thrust/zip_function.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Fix code sample in README and docs (#1652)
  cub/docs/index.rst
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Expose thrust's contiguous iterator unwrap helpers
  thrust/testing/is_contiguous_iterator.cu
  thrust/thrust/system/cuda/detail/adjacent_difference.h
  thrust/thrust/system/cuda/detail/scan_by_key.h
  thrust/thrust/type_traits/is_contiguous_iterator.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Several improvements to zip_iterator/zip_function (#1710)
  thrust/testing/zip_function.cu
  thrust/testing/zip_iterator.cu
  thrust/thrust/iterator/zip_iterator.h
  thrust/thrust/zip_function.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

explicitly reconfigure
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Replace cat_tester_list with meta.h append.
  libcudacxx/test/libcudacxx/heterogeneous/helpers.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Replace latch test.
  libcudacxx/test/libcudacxx/heterogeneous/latch.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Expose thrust's contiguous iterator unwrap helpers (#1717)
  thrust/testing/is_contiguous_iterator.cu
  thrust/thrust/system/cuda/detail/adjacent_difference.h
  thrust/thrust/system/cuda/detail/scan_by_key.h
  thrust/thrust/type_traits/is_contiguous_iterator.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Delete barrier test components that are vague and cause managed memory access errors.
  libcudacxx/test/libcudacxx/heterogeneous/barrier.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/barrier_abi_v2.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix a typo in barrier docs and update the godbolt link
  libcudacxx/docs/extended_api/synchronization_primitives/barrier/init.md
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix flakey heterogeneous tests (#1712)
  libcudacxx/test/libcudacxx/heterogeneous/atomic.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/atomic_flag.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/atomic_ref.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/barrier.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/barrier_abi_v2.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/barrier_parity.cuda.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/barrier_parity.std.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/cuda_atomic_ref.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/helpers.h
  libcudacxx/test/libcudacxx/heterogeneous/latch.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/latch_abi_v2.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/meta.h
  libcudacxx/test/libcudacxx/heterogeneous/optional.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/pair.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/semaphore.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/tuple.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/variant.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Delete actually duplicated tests, add floating point tests
  libcudacxx/test/libcudacxx/heterogeneous/atomic/reference_cuda.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/atomic/reference_std.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Move and split atomic heterogeneous tests (improves build times)
  libcudacxx/test/libcudacxx/heterogeneous/atomic/atomic_cuda.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/atomic/atomic_std.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/atomic/common.h
  libcudacxx/test/libcudacxx/heterogeneous/atomic/flag.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/atomic/reference_cuda.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/atomic/reference_std.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Simplify the permutator in helper.h slightly.
  libcudacxx/test/libcudacxx/heterogeneous/helpers.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Apply formatting
  libcudacxx/test/libcudacxx/heterogeneous/atomic/atomic_std.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/helpers.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Make changes compatible with C++11
  libcudacxx/test/libcudacxx/heterogeneous/helpers.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Ensure that we can use `cuda::std::optional` with types that are not `__host__ __device__` (#1663)
  libcudacxx/include/cuda/std/__expected/expected_base.h
  libcudacxx/include/cuda/std/detail/libcxx/include/optional
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix unuse variable warnings in MSVC
  libcudacxx/include/cuda/std/__cuda/barrier.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Increase timeout for the libcu++ test runs
  libcudacxx/test/libcudacxx/CMakeLists.txt
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners

Fix a typo in barrier docs and update the godbolt link (#1718)
  libcudacxx/docs/extended_api/synchronization_primitives/barrier/init.md
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Massively improve test times in heterogeneous atomics tests (#1719)
  libcudacxx/test/libcudacxx/heterogeneous/atomic/atomic_cuda.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/atomic/atomic_std.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/atomic/common.h
  libcudacxx/test/libcudacxx/heterogeneous/atomic/flag.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/atomic/reference_cuda.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/atomic/reference_std.pass.cpp
  libcudacxx/test/libcudacxx/heterogeneous/helpers.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix nightly CI: H100 runners are not in a testing pool.
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Increase timeout for the libcu++ test runs (#1720)
  libcudacxx/test/libcudacxx/CMakeLists.txt
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners

Add some missing headers in the Thrust CPU backends.
  thrust/thrust/system/omp/detail/reduce.inl
  thrust/thrust/system/omp/detail/reduce_intervals.inl
  thrust/thrust/system/tbb/detail/reduce_by_key.inl
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Don't expose builtins as functions in thrust.
  libcudacxx/include/cuda/std/__tuple_dir/sfinae_helpers.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Print CMake configure step on windows.
  ci/windows/build_common.psm1
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners
