Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

Add missing header.
  thrust/thrust/system/omp/detail/reduce_intervals.inl
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Move deprecation markup to `result_of` definition.
  libcudacxx/include/cuda/std/__type_traits/result_of.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Remove unused variables.
  thrust/testing/unique_by_key.cu
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Use installed TBB CMake configs if available.
  thrust/thrust/cmake/thrust-config.cmake
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners

Disable failing OpenMP test (tracked in #1715).
  thrust/testing/unique_by_key.cu
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Remove re-declaration of `reference_wrapper`
  libcudacxx/include/cuda/std/detail/libcxx/include/type_traits
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Reenable previously failing histogram test for icc
  cub/test/test_device_histogram.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Const-qualify half_t::operator+/*
  cub/test/half.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

use miscco/cudf fork with fixes for CCCL main
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

use cuco fork with fixes for CCCL main
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Add system header guards to every new `__atomic` header
  libcudacxx/codegen/codegen.cpp
  libcudacxx/include/cuda/std/__atomic/api/common.h
  libcudacxx/include/cuda/std/__atomic/api/owned.h
  libcudacxx/include/cuda/std/__atomic/api/reference.h
  libcudacxx/include/cuda/std/__atomic/functions.h
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_derived.h
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_generated.h
  libcudacxx/include/cuda/std/__atomic/functions/host.h
  libcudacxx/include/cuda/std/__atomic/order.h
  libcudacxx/include/cuda/std/__atomic/platform.h
  libcudacxx/include/cuda/std/__atomic/platform/msvc_to_builtins.h
  libcudacxx/include/cuda/std/__atomic/scopes.h
  libcudacxx/include/cuda/std/__atomic/types.h
  libcudacxx/include/cuda/std/__atomic/types/base.h
  libcudacxx/include/cuda/std/__atomic/types/common.h
  libcudacxx/include/cuda/std/__atomic/types/locked.h
  libcudacxx/include/cuda/std/__atomic/types/reference.h
  libcudacxx/include/cuda/std/__atomic/types/small.h
  libcudacxx/include/cuda/std/__atomic/wait/notify_wait.h
  libcudacxx/include/cuda/std/__atomic/wait/polling.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Delete `<atomic>` header synopsis.
  libcudacxx/include/cuda/std/atomic
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix push/pop macros in `<atomic>`.
  libcudacxx/include/cuda/std/atomic
  libcudacxx/include/cuda/std/detail/libcxx/include/barrier
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

define CCCL and cuCollections via rapids-cmake versions.json override so CPM applies patches
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

escape quotes
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

`ATOMIC_VAR_INIT->LIBCUDACXX_ATOMIC_VAR_INIT` * This avoids conflicting with the host's definition.
  libcudacxx/examples/rtc_example.cpp
  libcudacxx/examples/trie.cu
  libcudacxx/examples/trie_mt.cpp
  libcudacxx/include/cuda/std/atomic
  libcudacxx/include/cuda/std/detail/libcxx/include/barrier
  libcudacxx/test/libcudacxx/cuda/stream_ref/stream_ref.wait.pass.cpp
  libcudacxx/test/libcudacxx/std/atomics/atomics.flag/init.pass.cpp
  libcudacxx/test/libcudacxx/std/atomics/atomics.types.operations/atomics.types.operations.req/atomic_var_init.pass.cpp
  libcudacxx/test/libcudacxx/std/atomics/atomics.types.operations/atomics.types.operations.req/ctor.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Make `<cuda/atomic>` tests include the correct header.
  libcudacxx/test/libcudacxx/cuda/atomics/atomic.ext/atomic_fetch.fail.cpp
  libcudacxx/test/libcudacxx/cuda/atomics/atomic.ext/atomic_fetch_max.pass.cpp
  libcudacxx/test/libcudacxx/cuda/atomics/atomic.ext/atomic_fetch_min.pass.cpp
  libcudacxx/test/libcudacxx/cuda/atomics/atomic.ext/atomic_helpers.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

replace git: with https: in CCCL git_url
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

temporarily comment out the rest of the PR job
  .github/workflows/ci-workflow-pull-request.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

always clone cuco, use my cuml and cugraph forks
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Fix typing with volatile atomic types.
  libcudacxx/include/cuda/std/__atomic/types/common.h
  libcudacxx/include/cuda/std/__atomic/wait/polling.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Include correct header for `cuda::atomic`.
  libcudacxx/test/libcudacxx/std/atomics/atomics.types.generic/address.pass.cpp
  libcudacxx/test/libcudacxx/std/atomics/atomics.types.generic/address_ref.pass.cpp
  libcudacxx/test/libcudacxx/std/atomics/atomics.types.generic/address_ref_constness.pass.cpp
  libcudacxx/test/libcudacxx/std/atomics/atomics.types.generic/atomic_copyable.pass.cpp
  libcudacxx/test/libcudacxx/std/atomics/atomics.types.generic/bool.pass.cpp
  libcudacxx/test/libcudacxx/std/atomics/atomics.types.generic/cstdint_typedefs.pass.cpp
  libcudacxx/test/libcudacxx/std/atomics/atomics.types.generic/enum_class.pass.cpp
  libcudacxx/test/libcudacxx/std/atomics/atomics.types.generic/floating_point.pass.cpp
  libcudacxx/test/libcudacxx/std/atomics/atomics.types.generic/floating_point_ref.pass.cpp
  libcudacxx/test/libcudacxx/std/atomics/atomics.types.generic/floating_point_ref_constness.pass.cpp
  libcudacxx/test/libcudacxx/std/atomics/atomics.types.generic/integral.pass.cpp
  libcudacxx/test/libcudacxx/std/atomics/atomics.types.generic/integral_ref.pass.cpp
  libcudacxx/test/libcudacxx/std/atomics/atomics.types.generic/integral_ref_constness.pass.cpp
  libcudacxx/test/libcudacxx/std/atomics/atomics.types.operations/atomics.types.operations.req/ctor.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix underlying_t in `notify_wait.h`
  libcudacxx/include/cuda/std/__atomic/wait/notify_wait.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Revert using `volatile` in latch.
  libcudacxx/include/cuda/std/detail/libcxx/include/latch
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Make helpers more useful in tests.
  libcudacxx/test/libcudacxx/heterogeneous/helpers.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Make tests work when full path is specified to lit.
  libcudacxx/test/utils/libcudacxx/test/format.py
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Remove unused alias and simplify managed memory launcher path.
  libcudacxx/test/libcudacxx/heterogeneous/helpers.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Make rest of managed memory tests work in MSVC.
  libcudacxx/test/libcudacxx/heterogeneous/helpers.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

use my cuspatial fork
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Prevent non-CUDA compilers from seeing PTX.
  libcudacxx/codegen/codegen.cpp
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_generated.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Make the MSVC atomic header a little more friendly.
  libcudacxx/include/cuda/std/__atomic/platform/msvc_to_builtins.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Make the derived PTX header only visible to CUDA compilers.
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_derived.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Remove the defaulted scope specifier on the atomic type layer.
  libcudacxx/include/cuda/std/__atomic/types/base.h
  libcudacxx/include/cuda/std/__atomic/types/common.h
  libcudacxx/include/cuda/std/__atomic/types/locked.h
  libcudacxx/include/cuda/std/__atomic/types/small.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Remove the defaulted scope specifier from the atomics API layer.
  libcudacxx/include/cuda/std/__atomic/api/owned.h
  libcudacxx/include/cuda/std/__atomic/api/reference.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Disable h100 libcu++ nvrtc tests on nightly workflow.
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Fix missing cassert in several tests.
  libcudacxx/test/libcudacxx/cuda/annotated_ptr/utils.h
  libcudacxx/test/libcudacxx/cuda/pipeline_group_concept.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Revert mistaken `LIBCUDACXX_ATOMIC_FLAG_INIT` change.
  libcudacxx/test/libcudacxx/cuda/stream_ref/stream_ref.wait.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix bad atomic alignment errors.
  libcudacxx/include/cuda/std/__atomic/functions/host.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix nightly CI: H100 runners are not in a testing pool. (#1723)
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

build cugraph with less parallelism
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners
