Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

Allow CMAKE_BUILD_TYPE to be set for cudax.
  cudax/CMakeLists.txt
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners

Disable cudax CI until the project is ready.
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

build with tests and benchmarks enabled
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Make internal owned memory atomic APIs have a default ctor.
  libcudacxx/include/cuda/std/__atomic/api/owned.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fully qualify the atomics APIs in the cuda/atomic header.
  libcudacxx/include/cuda/std/__cuda/atomic.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Add missing type_traits to host.h
  libcudacxx/include/cuda/std/__atomic/functions/host.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Use `_LIBCUDACXX_INLINE_VISIBILITY` for API functions.
  libcudacxx/include/cuda/std/__atomic/api/owned.h
  libcudacxx/include/cuda/std/__atomic/api/reference.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Reorder derived PTX functions attribute declarations.
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_derived.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

traits fixups in `__atomic/types`
  libcudacxx/include/cuda/std/__atomic/types/base.h
  libcudacxx/include/cuda/std/__atomic/types/reference.h
  libcudacxx/include/cuda/std/__atomic/types/small.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Default ctors and sprinkle noexcept around on some `__atomic/types` APIs.
  libcudacxx/include/cuda/std/__atomic/types/base.h
  libcudacxx/include/cuda/std/__atomic/types/locked.h
  libcudacxx/include/cuda/std/__atomic/types/reference.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Apply suggestions to common.h.
  libcudacxx/include/cuda/std/__atomic/types/common.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Remove full namespace qualifier in atomic storage trait.
  libcudacxx/include/cuda/std/__atomic/types.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

modernization fixes to order.h.
  libcudacxx/include/cuda/std/__atomic/order.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Move includes cuda/atomic.h and cuda/barrier.h.
  libcudacxx/include/cuda/std/__cuda/atomic.h
  libcudacxx/include/cuda/std/__cuda/barrier.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Adjust header error block and add missing includes in `<cuda/std/atomic>`
  libcudacxx/include/cuda/std/atomic
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Add missing system header block in cuda/atomic
  libcudacxx/include/cuda/atomic
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix invalid use of typename.
  libcudacxx/include/cuda/std/__atomic/types.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

`_LIBCUDACXX_TRAITS->_CCCL_TRAIT`
  libcudacxx/include/cuda/std/__atomic/types/base.h
  libcudacxx/include/cuda/std/__atomic/types/common.h
  libcudacxx/include/cuda/std/__atomic/types/locked.h
  libcudacxx/include/cuda/std/__atomic/types/reference.h
  libcudacxx/include/cuda/std/__atomic/types/small.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix return type of host atomics.
  libcudacxx/include/cuda/std/__atomic/functions/host.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix cassert missing from generated atomic header.
  libcudacxx/codegen/codegen.cpp
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_generated.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix visibility of host atomics in NVRTC build.
  libcudacxx/include/cuda/std/__atomic/functions/host.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Add more tests to bad_atomic_alignment.pass.cpp
  libcudacxx/test/libcudacxx/cuda/bad_atomic_alignment.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix alignment warnings in host compare_exchange layer.
  libcudacxx/include/cuda/std/__atomic/functions/host.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Const-qualify half_t::operator+/* (#1726)
  cub/test/half.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Reenable previously failing histogram test for icc (#1725)
  cub/test/test_device_histogram.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Improve libcu++ documentation a bit more
  libcudacxx/docs/extended_api/memory_resource.md
  libcudacxx/docs/standard_api.md
  libcudacxx/docs/standard_api/ranges_library.md
  libcudacxx/docs/standard_api/utility_library.md
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Ensure that we can print out `cuda::std::tuple` for catch2
  cub/test/catch2_test_helper.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

For now only synthesize the access functions for thrust.
  libcudacxx/include/cuda/std/__cccl/sequence_access.h
  libcudacxx/include/cuda/std/__ranges/view_interface.h
  libcudacxx/include/cuda/std/detail/libcxx/include/array
  libcudacxx/include/cuda/std/detail/libcxx/include/span
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Ensure that {cr}begin works with types that pull in namespace std via ADL
  libcudacxx/include/cuda/__cccl_config
  libcudacxx/include/cuda/std/__cccl/sequence_access.h
  libcudacxx/include/cuda/std/__iterator/access.h
  libcudacxx/include/cuda/std/__iterator/reverse_access.h
  libcudacxx/include/cuda/std/__ranges/subrange.h
  libcudacxx/include/cuda/std/__ranges/view_interface.h
  libcudacxx/include/cuda/std/detail/libcxx/include/array
  libcudacxx/include/cuda/std/detail/libcxx/include/span
  libcudacxx/test/libcudacxx/std/iterators/iterator.range/begin-end.pass.cpp
  thrust/thrust/detail/contiguous_storage.h
  thrust/thrust/detail/range/head_flags.h
  thrust/thrust/detail/range/tail_flags.h
  thrust/thrust/detail/trivial_sequence.h
  thrust/thrust/detail/vector_base.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners

Fix MSVC complaining about unused variables
  libcudacxx/include/cuda/std/__cuda/barrier.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Ensure that `swap` is not ambiguous for types that pull in namespace std via ADL
  libcudacxx/include/cuda/std/__type_traits/is_swappable.h
  libcudacxx/include/cuda/std/__utility/swap.h
  libcudacxx/test/libcudacxx/std/utilities/meta/meta.unary/meta.unary.prop/is_swappable.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/utility/utility.swap/swap.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/utility/utility.swap/swap_array.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix unqualified calls to `__swallow`
  libcudacxx/include/cuda/std/detail/libcxx/include/tuple
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

PTX: make cp_async_bulk*_multicast functions sm_90a
  libcudacxx/docs/ptx/instructions/cp.async.bulk.md
  libcudacxx/docs/ptx/instructions/cp.async.bulk.tensor.md
  libcudacxx/include/cuda/__ptx/instructions/cp_async_bulk.h
  libcudacxx/include/cuda/__ptx/instructions/cp_async_bulk_tensor.h
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.cp.async.bulk.multicast.compile.pass.cpp
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.cp.async.bulk.tensor.multicast.compile.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Enable testing for the other half of the heterogeneous managed memory tests on MSVC. (#1729)
  libcudacxx/test/libcudacxx/heterogeneous/helpers.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Download missing nvtc image
  cub/docs/gen_docs.bash
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

MSVC2017 still has issues with the array overload
  libcudacxx/test/libcudacxx/std/utilities/utility/utility.swap/swap_array.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

PTX: make cp_async_bulk*_multicast functions sm_90a (#1734)
  libcudacxx/docs/ptx/instructions/cp.async.bulk.md
  libcudacxx/docs/ptx/instructions/cp.async.bulk.tensor.md
  libcudacxx/include/cuda/__ptx/instructions/cp_async_bulk.h
  libcudacxx/include/cuda/__ptx/instructions/cp_async_bulk_tensor.h
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.cp.async.bulk.multicast.compile.pass.cpp
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.cp.async.bulk.tensor.multicast.compile.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

only build for sm_70
  ci/rapids/rapids.Dockerfile
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

build with/without tests again
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

add build-rapids job to nightly workflow
  .github/workflows/ci-workflow-nightly.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners
