Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

delete build-in-devcontainer.yml
  .github/workflows/build-in-devcontainer.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Revert "temporarily disable all PR jobs except build-rapids"
  .github/workflows/ci-workflow-pull-request.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

remove set -x
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

put all the envvars on one line
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

check that SSH_AUTH_SOCK exists before mounting it
  .devcontainer/launch.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Remove casts of atomic pointers used in PTX.
  libcudacxx/codegen/codegen.cpp
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_derived.h
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_generated.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

unset VIRTUAL_ENV and VIRTUAL_ENV_PROMPT so that the shell init files reactivate the CCCL env for the non-root user
  .devcontainer/docker-entrypoint.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Fix atomic performance regressions by avoiding use of memcpy with natively supported atomic types. (#1801)
  libcudacxx/codegen/codegen.cpp
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_derived.h
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_generated.h
  libcudacxx/test/atomic_codegen/CMakeLists.txt
  libcudacxx/test/atomic_codegen/atomic_add_non_volatile.cu
  libcudacxx/test/atomic_codegen/atomic_cas_non_volatile.cu
  libcudacxx/test/atomic_codegen/atomic_exch_non_volatile.cu
  libcudacxx/test/atomic_codegen/atomic_load_non_volatile.cu
  libcudacxx/test/atomic_codegen/atomic_store_non_volatile.cu
  libcudacxx/test/atomic_codegen/dump_and_check.bash
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-cmake-codeowners

Fix style and formatting issues
  libcudacxx/include/cuda/cmath
  libcudacxx/test/libcudacxx/cuda/cmath.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Actually use the correct implementation
  libcudacxx/include/cuda/cmath
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Actually return the original type to suppport 128 bit types
  libcudacxx/include/cuda/cmath
  libcudacxx/test/libcudacxx/cuda/cmath.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix documentation
  docs/libcudacxx/extended_api/math.rst
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

We do not round to multiples
  docs/libcudacxx/extended_api/math.rst
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Use a constructor local defaulted variable instead of static
  libcudacxx/include/cuda/std/__exception/cuda_error.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Drop all internal implementations of exceptions
  libcudacxx/include/cuda/__memory_resource/cuda_managed_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/cuda_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/cuda_pinned_memory_resource.h
  libcudacxx/include/cuda/std/__exception/cuda_error.h
  libcudacxx/include/cuda/std/__exception/exception.h
  libcudacxx/include/cuda/std/__exception_
  libcudacxx/include/cuda/std/__expected/bad_expected_access.h
  libcudacxx/include/cuda/std/__functional/function.h
  libcudacxx/include/cuda/std/__new/bad_alloc.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__functional_base
  libcudacxx/include/cuda/std/detail/libcxx/include/array
  libcudacxx/include/cuda/std/detail/libcxx/include/bitset
  libcudacxx/include/cuda/std/detail/libcxx/include/complex
  libcudacxx/include/cuda/std/detail/libcxx/include/exception
  libcudacxx/include/cuda/std/detail/libcxx/include/optional
  libcudacxx/include/cuda/std/detail/libcxx/include/stdexcept
  libcudacxx/include/cuda/std/detail/libcxx/include/variant
  libcudacxx/test/libcudacxx/std/containers/sequences/array/at.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/array/at_const.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.dynamic/alloc.errors/bad.alloc/bad_alloc.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.dynamic/alloc.errors/new.badlength/bad_array_new_length.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/bad.exception/bad_exception.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/exception.terminate/set.terminate/get_terminate.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/exception.terminate/set.terminate/set_terminate.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/exception.terminate/terminate.handler/terminate_handler.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/exception.terminate/terminate/terminate.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/exception/exception.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/expected/expected.bad/ctor.error.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/expected/expected.bad/error.member.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/variant/variant.bad_variant_access/bad_variant_access.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

use a propper function for message formatting in cuda_error
  libcudacxx/include/cuda/std/__exception/cuda_error.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Use function local static for buffer
  libcudacxx/include/cuda/std/__exception/cuda_error.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix lifetime issuers for real
  libcudacxx/include/cuda/std/__exception/cuda_error.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

adds wrapper and tests for offset types in scan
  cub/test/catch2_test_device_scan_large_offsets.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Clean up merge_by_key and merge_key_value tests
  thrust/testing/merge_by_key.cu
  thrust/testing/merge_key_value.cu
  thrust/testing/unittest/special_types.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

fixes clang compiler warnings
  cub/cub/agent/agent_select_if.cuh
  cub/cub/agent/single_pass_scan_operators.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

adds documentation on enforcing st.release
  cub/cub/agent/single_pass_scan_operators.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Try to avoid modulus when calculating the remainder
  libcudacxx/include/cuda/cmath
  libcudacxx/test/libcudacxx/cuda/cmath.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

No byte for you
  libcudacxx/include/cuda/cmath
  libcudacxx/test/libcudacxx/cuda/cmath.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

And no includes
  libcudacxx/include/cuda/cmath
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Explicitly ensure all chrono types have default visibility
  libcudacxx/include/cuda/std/detail/libcxx/include/chrono
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

removes threadfence in favour of st.release
  cub/cub/agent/agent_select_if.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Fix bad_alloc
  libcudacxx/include/cuda/__memory_resource/cuda_memory_resource.h
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_managed_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_pinned_memory_resource/allocate.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Make a 404 handler that never 404s.
  .github/workflows/build-docs.yml
  docs/404.html
  docs/scrape_docs.bash
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Update docs/404.html
  docs/404.html
Owners: @nvidia/cccl-codeowners

Add discord link
  docs/repo.toml
Owners: @nvidia/cccl-codeowners

Revert "Change absolute links to CCCL subprojects to relative"
  docs/index.rst
Owners: @nvidia/cccl-codeowners

Change absolute links to CCCL subprojects to relative * This fixes local testing layouts linking to CCCL on github.io
  docs/index.rst
Owners: @nvidia/cccl-codeowners

Fix systems aliases
  docs/thrust/api_docs/system/systems.rst
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Add missing endlines
  docs/thrust/api_docs/algorithms/copying/gather.rst
  docs/thrust/api_docs/algorithms/copying/scatter.rst
  docs/thrust/api_docs/algorithms/merging.rst
  docs/thrust/api_docs/algorithms/prefix_sum.rst
  docs/thrust/api_docs/algorithms/prefix_sums/segmented.rst
  docs/thrust/api_docs/algorithms/prefix_sums/transformed.rst
  docs/thrust/api_docs/algorithms/reductions.rst
  docs/thrust/api_docs/algorithms/reductions/comparisons.rst
  docs/thrust/api_docs/algorithms/reductions/counting.rst
  docs/thrust/api_docs/algorithms/reductions/extrema.rst
  docs/thrust/api_docs/algorithms/reductions/logical.rst
  docs/thrust/api_docs/algorithms/reductions/predicates.rst
  docs/thrust/api_docs/algorithms/reductions/transformed.rst
  docs/thrust/api_docs/algorithms/reordering.rst
  docs/thrust/api_docs/algorithms/reordering/partitioning.rst
  docs/thrust/api_docs/algorithms/reordering/shuffling.rst
  docs/thrust/api_docs/algorithms/reordering/stream_compaction.rst
  docs/thrust/api_docs/algorithms/searching.rst
  docs/thrust/api_docs/algorithms/searching/binary_search.rst
  docs/thrust/api_docs/algorithms/set_operations.rst
  docs/thrust/api_docs/algorithms/sorting.rst
  docs/thrust/api_docs/algorithms/transformations.rst
  docs/thrust/api_docs/algorithms/transformations/filling.rst
  docs/thrust/api_docs/algorithms/transformations/modifying.rst
  docs/thrust/api_docs/algorithms/transformations/replacing.rst
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

adds comment on load->scatter order
  cub/cub/agent/agent_select_if.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

We do not expose exceptions for nvrtc
  libcudacxx/test/libcudacxx/std/utilities/expected/expected.bad/ctor.error.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/expected/expected.bad/error.member.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/expected/expected.bad/what.noexcept.compile.pass.cpp
  libcudacxx/test/utils/libcudacxx/test/config.py
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix atomic performance regressions by avoiding use of memcpy with natively supported atomic types. (#1801)
  libcudacxx/codegen/codegen.cpp
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_derived.h
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_generated.h
  libcudacxx/test/atomic_codegen/CMakeLists.txt
  libcudacxx/test/atomic_codegen/atomic_add_non_volatile.cu
  libcudacxx/test/atomic_codegen/atomic_cas_non_volatile.cu
  libcudacxx/test/atomic_codegen/atomic_exch_non_volatile.cu
  libcudacxx/test/atomic_codegen/atomic_load_non_volatile.cu
  libcudacxx/test/atomic_codegen/atomic_store_non_volatile.cu
  libcudacxx/test/atomic_codegen/dump_and_check.bash
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-cmake-codeowners

Try to appease MSVC
  libcudacxx/include/cuda/std/__exception/cuda_error.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Try harder to appease MSVC
  libcudacxx/include/cuda/std/__exception/cuda_error.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners
