Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

Update cub/cub/device/device_merge.cuh
  cub/cub/device/device_merge.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Apply reviewer feedback
  cub/cub/agent/agent_merge.cuh
  cub/cub/device/device_merge.cuh
  cub/cub/device/dispatch/dispatch_merge.cuh
  cub/test/catch2_test_device_merge.cu
  cub/test/catch2_test_device_merge_api.cu
  thrust/thrust/system/cuda/detail/dispatch.h
  thrust/thrust/system/cuda/detail/merge.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners

Revert back to CUB implementations
  cub/cub/agent/agent_merge_sort.cuh
  cub/cub/block/block_merge_sort.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Refactor thrust/CUB merge
  cub/cub/block/block_merge_sort.cuh
  thrust/thrust/system/cuda/detail/merge.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners

Update cub/cub/device/device_merge.cuh
  cub/cub/device/device_merge.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Update cub/cub/device/device_merge.cuh
  cub/cub/device/device_merge.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Port thurst::merge[_by_key] to cub::DeviceMerge
  cub/cub/agent/agent_merge.cuh
  cub/cub/agent/agent_merge_sort.cuh
  cub/cub/block/block_merge_sort.cuh
  cub/cub/cub.cuh
  cub/cub/device/device_merge.cuh
  cub/cub/device/dispatch/dispatch_merge.cuh
  cub/cub/device/dispatch/dispatch_merge_sort.cuh
  cub/cub/util_device.cuh
  cub/cub/util_math.cuh
  cub/test/catch2_test_device_merge.cu
  cub/test/catch2_test_device_merge_api.cu
  docs/cub/device_wide.rst
  thrust/thrust/system/cuda/detail/merge.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners

Add nvcc workaround
  cub/cub/agent/agent_merge.cuh
  cub/cub/agent/agent_merge_sort.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Switch to cstdint
  thrust/thrust/system/cuda/detail/dispatch.h
  thrust/thrust/system/cuda/detail/merge.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

FOrmat
  cub/cub/agent/agent_merge_sort.cuh
  thrust/thrust/system/cuda/detail/merge.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners

Enable RAPIDS builds for manually dispatched workflows.
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Enable RAPIDS builds for manually dispatched workflows. (#2009)
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Clean up complex.inl (#1655)
  thrust/thrust/detail/complex/complex.inl
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Cleanup CUB block/thread load and exchange
  cub/cub/block/block_exchange.cuh
  cub/cub/block/block_load.cuh
  cub/cub/detail/uninitialized_copy.cuh
  cub/cub/thread/thread_load.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Benchmark thrust::copy with non-trivially relocatable type
  thrust/benchmarks/bench/copy/basic.cu
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Address reviewer feedback
  thrust/benchmarks/bench/copy/basic.cu
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Add github token to nightly workflow-results action.
  .github/workflows/ci-workflow-nightly.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Add github token to nightly workflow-results action. (#2012)
  .github/workflows/ci-workflow-nightly.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Docs; waive two tests at constexpr for MSVC & NVCC < 12.
  docs/libcudacxx/standard_api/utility_library.rst
  docs/libcudacxx/standard_api/utility_library/bitset.rst
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/to_ullong.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/to_ulong.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix typo in a comment
  cudax/include/cuda/experimental/__hierarchy/level_dimensions.cuh
Owners: @nvidia/cccl-codeowners

Make codegen link fmt as PRIVATE
  libcudacxx/codegen/CMakeLists.txt
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners

Simplify MMIO down to a static array.
  libcudacxx/codegen/generators/definitions.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Static -> Inline for codegen functions. Replace endl with '\n'.
  libcudacxx/codegen/generators/compare_and_swap.h
  libcudacxx/codegen/generators/definitions.h
  libcudacxx/codegen/generators/exchange.h
  libcudacxx/codegen/generators/fence.h
  libcudacxx/codegen/generators/fetch_ops.h
  libcudacxx/codegen/generators/header.h
  libcudacxx/codegen/generators/ld_st.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Supply the output stream directly to `fmt::format`
  libcudacxx/codegen/generators/compare_and_swap.h
  libcudacxx/codegen/generators/exchange.h
  libcudacxx/codegen/generators/fence.h
  libcudacxx/codegen/generators/fetch_ops.h
  libcudacxx/codegen/generators/ld_st.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Update fmtlib.
  libcudacxx/codegen/CMakeLists.txt
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners

Revert `fmt::format(out...)` changes. They don't work on MSVC.
  libcudacxx/codegen/generators/compare_and_swap.h
  libcudacxx/codegen/generators/exchange.h
  libcudacxx/codegen/generators/fence.h
  libcudacxx/codegen/generators/fetch_ops.h
  libcudacxx/codegen/generators/ld_st.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Remove obsolete build system glue from the Thrust/CUB submodule structure.
  cub/CMakeLists.txt
  cub/cmake/CubBuildTargetList.cmake
  cub/cmake/CubHeaderTesting.cmake
  cub/examples/CMakeLists.txt
  cub/test/CMakeLists.txt
  thrust/CMakeLists.txt
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners

Use a version check macro that actually exists.
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/to_ullong.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/to_ulong.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Wrapper types for `cudaEvent_t` that provide a modern C++ interface.
  cudax/include/cuda/experimental/__detail/utility.cuh
  cudax/include/cuda/experimental/__event/event.cuh
  cudax/include/cuda/experimental/__event/event_ref.cuh
  cudax/include/cuda/experimental/__event/timed_event.cuh
  cudax/include/cuda/experimental/event.cuh
  cudax/test/CMakeLists.txt
  cudax/test/event/event_smoke.cu
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-cmake-codeowners

Remove obsolete build system glue from the Thrust/CUB submodule structure. (#2016)
  cub/CMakeLists.txt
  cub/cmake/CubBuildTargetList.cmake
  cub/cmake/CubHeaderTesting.cmake
  cub/examples/CMakeLists.txt
  cub/test/CMakeLists.txt
  thrust/CMakeLists.txt
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners

apparently `__event` is a word of power for msvc
  cudax/include/cuda/experimental/__event/event.cuh
  cudax/include/cuda/experimental/__event/event_ref.cuh
  cudax/include/cuda/experimental/__event/timed_event.cuh
Owners: @nvidia/cccl-codeowners

Benchmarking CI.
  .github/actions/workflow-run-job-linux/action.yml
  CMakePresets.json
  benchmarks/scripts/cccl/bench/bench.py
  ci/benchmark_cccl.sh
  ci/matrix.yaml
  cub/CMakeLists.txt
  cub/benchmarks/nvbench_helper/nvbench_helper/nvbench_helper.cuh
  cub/test/CMakeLists.txt
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-cmake-codeowners, @nvidia/cccl-cub-codeowners

represent the elapsed time between two events with nanoseconds instead of microsoconds
  cudax/include/cuda/experimental/__event/timed_event.cuh
Owners: @nvidia/cccl-codeowners

Do no redefine `__ELF__` macro
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Benchmark thrust::copy with non-trivially relocatable type (#1989)
  thrust/benchmarks/bench/copy/basic.cu
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Spell value initialization where used by thrust vectors
  thrust/thrust/detail/allocator/value_initialize_range.h
  thrust/thrust/detail/allocator/value_initialize_range.inl
  thrust/thrust/detail/contiguous_storage.h
  thrust/thrust/detail/contiguous_storage.inl
  thrust/thrust/detail/temporary_array.inl
  thrust/thrust/detail/vector_base.h
  thrust/thrust/detail/vector_base.inl
  thrust/thrust/device_reference.h
  thrust/thrust/device_vector.h
  thrust/thrust/host_vector.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Address reviewer feedback
  cub/cub/agent/agent_merge.cuh
  cub/cub/device/dispatch/dispatch_merge.cuh
  cub/test/catch2_test_device_merge_api.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Make bool_constant available in C++11 (#1997)
  libcudacxx/include/cuda/std/__tuple_dir/sfinae_helpers.h
  libcudacxx/include/cuda/std/__type_traits/integral_constant.h
  libcudacxx/include/cuda/std/__type_traits/is_same.h
  libcudacxx/include/cuda/std/__type_traits/is_signed.h
  libcudacxx/include/cuda/std/__type_traits/is_unsigned.h
  libcudacxx/include/cuda/std/__type_traits/negation.h
  libcudacxx/include/cuda/std/detail/libcxx/include/iterator
  libcudacxx/include/cuda/std/detail/libcxx/include/ratio
  libcudacxx/test/libcudacxx/std/utilities/meta/meta.help/bool_constant.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Simplify thrust::detail::wrapped_function
  thrust/testing/omp/reduce_intervals.cu
  thrust/thrust/detail/function.h
  thrust/thrust/system/detail/generic/binary_search.inl
  thrust/thrust/system/detail/generic/scalar/binary_search.inl
  thrust/thrust/system/detail/sequential/binary_search.h
  thrust/thrust/system/detail/sequential/copy_if.h
  thrust/thrust/system/detail/sequential/extrema.h
  thrust/thrust/system/detail/sequential/find.h
  thrust/thrust/system/detail/sequential/for_each.h
  thrust/thrust/system/detail/sequential/insertion_sort.h
  thrust/thrust/system/detail/sequential/merge.inl
  thrust/thrust/system/detail/sequential/partition.h
  thrust/thrust/system/detail/sequential/reduce.h
  thrust/thrust/system/detail/sequential/remove.h
  thrust/thrust/system/detail/sequential/scan.h
  thrust/thrust/system/detail/sequential/scan_by_key.h
  thrust/thrust/system/detail/sequential/set_operations.h
  thrust/thrust/system/omp/detail/for_each.inl
  thrust/thrust/system/omp/detail/reduce_intervals.inl
  thrust/thrust/system/tbb/detail/copy_if.inl
  thrust/thrust/system/tbb/detail/reduce.inl
  thrust/thrust/system/tbb/detail/scan.inl
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Simplify some pointer traits
  thrust/thrust/detail/type_traits/pointer_traits.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners
