Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners

Add missing include
  cub/cub/device/dispatch/dispatch_batch_memcpy.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Fix nvcc warning suggestion parentheses
  libcudacxx/include/cuda/std/detail/libcxx/include/cmath
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Add a benchmark for thrust::equal
  thrust/benchmarks/bench/equal/basic.cu
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Implement thrust::all_of/any_of via thrust::count_if
  thrust/thrust/system/detail/generic/logical.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Separate benchmarks by number of different elements
  thrust/benchmarks/bench/equal/basic.cu
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Implement thrust::equal in terms of thrust::all_if
  thrust/thrust/system/cuda/detail/equal.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Qualify call to distance in thrust::async_reduce (#1904)
  thrust/testing/async_reduce.cu
  thrust/thrust/system/cuda/detail/async/reduce.h
  thrust/thrust/system/cuda/detail/future.inl
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Rename CUB uninitialized_copy (#1913)
  cub/cub/agent/single_pass_scan_operators.cuh
  cub/cub/block/block_exchange.cuh
  cub/cub/block/specializations/block_reduce_warp_reductions.cuh
  cub/cub/block/specializations/block_scan_raking.cuh
  cub/cub/block/specializations/block_scan_warp_scans.cuh
  cub/cub/detail/uninitialized_copy.cuh
  cub/cub/device/dispatch/dispatch_reduce.cuh
  cub/cub/util_type.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

CUB: README: Fix links to documentation
  cub/README.md
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Add [skip-rapids] option.
  .github/workflows/ci-workflow-pull-request.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Fix #1897; memory leak in test_block_radix_rank.cu
  cub/test/test_block_radix_rank.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Fix memory leak in CUB's test_util_device
  cub/test/catch2_test_util_device.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Fix memory leak in CUB's radix sort custom test.
  cub/test/catch2_test_device_radix_sort_custom.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Remove dead skip-tests logic.
  .github/actions/workflow-build/action.yml
  .github/workflows/ci-workflow-pull-request.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Fix memory leak in catch2_test_vsmem.
  cub/test/catch2_test_vsmem.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Fix #1895; Memory leak in device_select_api test.
  cub/test/catch2_test_device_select_api.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Fix #1896; memory leak in CUB's NVRTC test
  cub/test/catch2_test_nvrtc.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Sanitizer fixes (#1916)
  .github/actions/workflow-build/action.yml
  .github/workflows/ci-workflow-pull-request.yml
  cub/test/catch2_test_device_radix_sort_custom.cu
  cub/test/catch2_test_device_select_api.cu
  cub/test/catch2_test_nvrtc.cu
  cub/test/catch2_test_util_device.cu
  cub/test/catch2_test_vsmem.cu
  cub/test/test_block_radix_rank.cu
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-cub-codeowners

Use c2h::vectors in all non-example CUB tests
  cub/test/catch2_test_device_select_if_vsmem.cu
  cub/test/test_device_spmv.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Use c2h::device_policy_t for thrust algos
  cub/test/test_device_spmv.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Use c2h::vectors in all non-example CUB tests (#1914)
  cub/test/catch2_test_device_select_if_vsmem.cu
  cub/test/test_device_spmv.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Renamed overlooked uninitialized_copy
  cub/cub/detail/uninitialized_copy.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Some launch prototype cleanup
  cuda_next/test/launch_smoke.cu
  cudax/include/cuda/experimental/launch.cuh
  cudax/include/cuda/experimental/launch_confiuration.cuh
Owners: @nvidia/cccl-codeowners

Make launch smoke compile
  cudax/include/cuda/experimental/__hierarchy/level_dimensions.cuh
  cudax/include/cuda/experimental/launch.cuh
  cudax/include/cuda/experimental/launch_confiuration.cuh
  cudax/test/CMakeLists.txt
  cudax/test/launch_smoke.cu
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-cmake-codeowners

Move the test file to new location
  cudax/test/launch_smoke.cu
Owners: @nvidia/cccl-codeowners

Add docs gitignore
  cudax/docs/.gitignore
Owners: @nvidia/cccl-codeowners

Add the cuda::launch prototype bits
  cuda_next/test/launch_smoke.cu
  cudax/include/cuda/experimental/launch.cuh
  cudax/include/cuda/experimental/launch_confiuration.cuh
  cudax/test/CMakeLists.txt
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-cmake-codeowners

Move files around and update header guards
  cudax/include/cuda/experimental/__launch/confiuration.cuh
  cudax/include/cuda/experimental/__launch/launch.cuh
  cudax/include/cuda/experimental/exception.cuh
  cudax/test/launch/launch_smoke.cu
Owners: @nvidia/cccl-codeowners

Clean up testing and add stream argument to launch
  cudax/include/cuda/experimental/__launch/confiuration.cuh
  cudax/include/cuda/experimental/__launch/launch.cuh
  cudax/test/hierarchy/testing_common.cuh
  cudax/test/launch/configuration.cu
  cudax/test/launch/launch_smoke.cu
  libcudacxx/include/cuda/.stream_ref.swp
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners

Minor cleanups
  cudax/include/cuda/experimental/__launch/confiuration.cuh
  cudax/include/cuda/experimental/__launch/launch.cuh
  cudax/test/launch/launch_smoke.cu
Owners: @nvidia/cccl-codeowners

Makefile fix
  cudax/test/CMakeLists.txt
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners

Add some configuration testing, clean up old test
  cudax/include/cuda/experimental/__launch/confiuration.cuh
  cudax/include/cuda/experimental/__launch/launch.cuh
  cudax/test/CMakeLists.txt
  cudax/test/launch/configuration.cu
  cudax/test/launch/launch_smoke.cu
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-cmake-codeowners

Remove custom exception and switch to cuda_error
  cudax/include/cuda/experimental/__launch/confiuration.cuh
  cudax/include/cuda/experimental/__launch/launch.cuh
  cudax/include/cuda/experimental/exception.cuh
  cudax/test/CMakeLists.txt
  cudax/test/launch/launch_smoke.cu
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-cmake-codeowners

Remove explicit exception catching from the tests
  cudax/include/cuda/experimental/__launch/launch.cuh
  cudax/test/launch/configuration.cu
  cudax/test/launch/launch_smoke.cu
Owners: @nvidia/cccl-codeowners

Add :: before cuda namespace
  cudax/include/cuda/experimental/__launch/confiuration.cuh
  cudax/include/cuda/experimental/__launch/launch.cuh
Owners: @nvidia/cccl-codeowners

Change the cudax_require_impl from static to inline
  cudax/test/hierarchy/testing_common.cuh
Owners: @nvidia/cccl-codeowners

Renamed overlooked uninitialized_copy (#1920)
  cub/cub/detail/uninitialized_copy.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Add assert implementation for device side testing (#1918)
  cudax/test/hierarchy/hierarchy_custom_types.cu
  cudax/test/hierarchy/hierarchy_smoke.cu
  cudax/test/hierarchy/testing_common.cuh
Owners: @nvidia/cccl-codeowners

Replace _CCCL_CONSTEXPR_CXX14 with constexpr
  libcudacxx/include/cuda/std/__functional/operations.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Improve binary function objects and replace thrust implementation
  thrust/thrust/detail/type_traits/function_traits.h
  thrust/thrust/detail/type_traits/is_commutative.h
  thrust/thrust/functional.h
  thrust/thrust/system/tbb/detail/reduce_intervals.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners
