Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners

...also redo changes in __copy_backward_aligned.
  libcudacxx/include/cuda/std/detail/libcxx/include/__bit_reference
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Make `--cmake-options=""` always override others. (#1648)
  ci/build_common.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

clean up complex.inl
  thrust/thrust/detail/complex/complex.inl
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

With a bit of luck, the layers of workarounds are correct now.
  libcudacxx/include/cuda/std/detail/libcxx/include/__bit_reference
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix invalid `_CCCL_CUDACC` definition for clang cuda
  libcudacxx/include/cuda/std/__cccl/compiler.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
  libcudacxx/include/cuda/std/detail/libcxx/include/cmath
  libcudacxx/test/libcudacxx/std/utilities/function.objects/refwrap/binder_typedefs.compile.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/default.allocator/allocator_types.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/default.allocator/allocator_types.void.compile.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix code sample in documentation
  cub/docs/index.rst
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Silence issues with `is_constant_evaluated()` not being used currently
  libcudacxx/test/libcudacxx/std/utilities/memory/smartptr/unique.ptr/unique.ptr.class/unique.ptr.observers/op_subscript.runtime.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/smartptr/unique.ptr/unique.ptr.special/cmp_nullptr.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/smartptr/unique.ptr/unique.ptr.special/swap.pass.cpp
  libcudacxx/test/support/unique_ptr_test_helper.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Some MSVC fixes
  libcudacxx/test/libcudacxx/std/utilities/memory/smartptr/unique.ptr/unique.ptr.class/pointer_type.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/smartptr/unique.ptr/unique.ptr.create/make_unique_for_overwrite.default_init.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/smartptr/unique.ptr/unique.ptr.create/make_unique_for_overwrite.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/temporary.buffer/overaligned.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Attempt to satiate the MSVC SFINAE gods.
  libcudacxx/include/cuda/std/detail/libcxx/include/__bit_reference
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Silence a useless warning.
  libcudacxx/include/cuda/std/detail/libcxx/include/bitset
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix the GCC 9 constexpr evaluation workaround.
  libcudacxx/include/cuda/std/detail/libcxx/include/__bit_reference
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

MSVC warning fixes.
  libcudacxx/include/cuda/std/detail/libcxx/include/__bit_reference
  libcudacxx/include/cuda/std/detail/libcxx/include/bitset
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

ICC warning fixes.
  libcudacxx/include/cuda/std/__cccl/diagnostic.h
  libcudacxx/include/cuda/std/detail/libcxx/include/bitset
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.cons/char_ptr_ctor.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.cons/default.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.cons/ull_ctor.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/count.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/flip_all.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/left_shift_eq.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/not_all.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/op_and_eq.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/op_or_eq.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/op_xor_eq.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/reset_all.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/right_shift_eq.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/set_all.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Another MSVC warning fix.
  libcudacxx/include/cuda/std/detail/libcxx/include/__bit_reference
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Attempt to deal with CICC 11.1 ICE w/ MSVC.
  libcudacxx/include/cuda/std/detail/libcxx/include/bitset
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix several MSVC issues, another attempt at the ICE.
  libcudacxx/include/cuda/std/detail/libcxx/include/__bit_reference
  libcudacxx/include/cuda/std/detail/libcxx/include/__string
  libcudacxx/include/cuda/std/detail/libcxx/include/bitset
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix accidentally broken friendness.
  libcudacxx/include/cuda/std/detail/libcxx/include/__bit_reference
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Undo the attempt to fix the ICE, it broke more.
  libcudacxx/include/cuda/std/detail/libcxx/include/bitset
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Add a layer of indirection to maybe remove the need for the ICEing pragma.
  libcudacxx/include/cuda/std/detail/libcxx/include/bitset
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Forgot the inline to silence a silly warning.
  libcudacxx/include/cuda/std/detail/libcxx/include/bitset
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Unmark the always-throwing specialization of the helper 'constexpr'.
  libcudacxx/include/cuda/std/detail/libcxx/include/bitset
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix invalid `_CCCL_CUDACC` definition for clang cuda (#1656)
  libcudacxx/include/cuda/std/__cccl/compiler.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
  libcudacxx/include/cuda/std/detail/libcxx/include/cmath
  libcudacxx/test/libcudacxx/std/utilities/function.objects/refwrap/binder_typedefs.compile.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/default.allocator/allocator_types.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/default.allocator/allocator_types.void.compile.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix is_constant_evaluated() in unique ptr tests
  libcudacxx/test/libcudacxx/std/containers/sequences/array/array.cons/implicit_copy.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/array/iterators.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/func.bind_front/bind_front.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/allocator.traits/allocator.traits.members/destroy.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/smartptr/unique.ptr/unique.ptr.class/unique.ptr.asgn/move.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/smartptr/unique.ptr/unique.ptr.class/unique.ptr.asgn/move_convert.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/smartptr/unique.ptr/unique.ptr.class/unique.ptr.asgn/move_convert.single.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/smartptr/unique.ptr/unique.ptr.class/unique.ptr.asgn/null.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/smartptr/unique.ptr/unique.ptr.class/unique.ptr.asgn/nullptr.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/smartptr/unique.ptr/unique.ptr.class/unique.ptr.ctor/move.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/smartptr/unique.ptr/unique.ptr.class/unique.ptr.ctor/move_convert.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/smartptr/unique.ptr/unique.ptr.class/unique.ptr.ctor/move_convert.single.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/smartptr/unique.ptr/unique.ptr.class/unique.ptr.ctor/pointer.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/smartptr/unique.ptr/unique.ptr.class/unique.ptr.ctor/pointer_deleter.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/smartptr/unique.ptr/unique.ptr.class/unique.ptr.modifiers/release.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/smartptr/unique.ptr/unique.ptr.class/unique.ptr.modifiers/reset.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/smartptr/unique.ptr/unique.ptr.class/unique.ptr.modifiers/reset.single.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/smartptr/unique.ptr/unique.ptr.class/unique.ptr.modifiers/swap.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/smartptr/unique.ptr/unique.ptr.class/unique.ptr.observers/op_subscript.runtime.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/smartptr/unique.ptr/unique.ptr.dltr/unique.ptr.dltr.dflt/convert_ctor.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/smartptr/unique.ptr/unique.ptr.dltr/unique.ptr.dltr.dflt/default.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/smartptr/unique.ptr/unique.ptr.dltr/unique.ptr.dltr.dflt1/default.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/smartptr/unique.ptr/unique.ptr.special/cmp.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/smartptr/unique.ptr/unique.ptr.special/cmp_nullptr.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/smartptr/unique.ptr/unique.ptr.special/swap.pass.cpp
  libcudacxx/test/support/test_macros.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Add nsight support for automated debugging
  .devcontainer/cuda11.1-gcc6/devcontainer.json
  .devcontainer/cuda11.1-gcc7/devcontainer.json
  .devcontainer/cuda11.1-gcc8/devcontainer.json
  .devcontainer/cuda11.1-gcc9/devcontainer.json
  .devcontainer/cuda11.1-llvm9/devcontainer.json
  .devcontainer/cuda11.8-gcc11/devcontainer.json
  .devcontainer/cuda12.4-gcc10/devcontainer.json
  .devcontainer/cuda12.4-gcc11/devcontainer.json
  .devcontainer/cuda12.4-gcc12/devcontainer.json
  .devcontainer/cuda12.4-gcc7/devcontainer.json
  .devcontainer/cuda12.4-gcc8/devcontainer.json
  .devcontainer/cuda12.4-gcc9/devcontainer.json
  .devcontainer/cuda12.4-llvm10/devcontainer.json
  .devcontainer/cuda12.4-llvm11/devcontainer.json
  .devcontainer/cuda12.4-llvm12/devcontainer.json
  .devcontainer/cuda12.4-llvm13/devcontainer.json
  .devcontainer/cuda12.4-llvm14/devcontainer.json
  .devcontainer/cuda12.4-llvm15/devcontainer.json
  .devcontainer/cuda12.4-llvm16/devcontainer.json
  .devcontainer/cuda12.4-llvm9/devcontainer.json
  .devcontainer/cuda12.4-oneapi2023.2.0/devcontainer.json
  .devcontainer/devcontainer.json
  .vscode/launch.json
  .vscode/tasks.json
  CMakePresets.json
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Remove pre-build task before launching
  .vscode/launch.json
  .vscode/tasks.json
Owners: @nvidia/cccl-codeowners

Substitue native with specific architecture in preset as cmake complains
  CMakePresets.json
Owners: @nvidia/cccl-codeowners

Make tests work when full path is specified to lit.
  libcudacxx/test/utils/libcudacxx/test/format.py
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

add workflow to build RAPIDS repos from source with local CCCL
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  .github/workflows/build-rapids.yml
  .github/workflows/pr.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

disable using cumlprims_mg in cuml and cugraph-ops in cugraph
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

remove redundant mounts
  .devcontainer/cuda12.2-conda/devcontainer.json
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

add permissions
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

add permissions again
  .github/workflows/pr.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

more permissions
  .github/workflows/build-rapids.yml
  .github/workflows/pr.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

copy build-in-devcontainer.yml into cccl workflows
  .github/workflows/build-in-devcontainer.yml
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

update workspaceFolder path and add default conda/venv name
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

add rapids.Dockerfile
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  .devcontainer/rapids.Dockerfile
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Try more fixes
  libcudacxx/test/support/test_macros.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

drop HIDE_FROM_ABI
  libcudacxx/include/cuda/std/__memory/unique_ptr.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Disable test that ICEs icc
  libcudacxx/test/libcudacxx/std/utilities/memory/smartptr/unique.ptr/unique.ptr.create/make_unique.sizezero.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Add missing #pragma once in some headers
  cub/test/catch2_radix_sort_helper.cuh
  cub/test/fill_striped.cuh
  cub/test/mersenne.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners
