Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

Skip devcontainer validation jobs if not needed.
  .github/workflows/ci-workflow-pull-request.yml
  .github/workflows/verify-devcontainers.yml
  ci/inspect_changes.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Make CUB test launch wrapper a functor instance
  cub/test/catch2_test_launch_helper.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Fix span for non-ranges (#1840)
  libcudacxx/include/cuda/std/detail/libcxx/include/span
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.cons/conversion.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Just drop `_LIBCUDACXX_FUNC_VIS`
  libcudacxx/include/cuda/memory_resource
  libcudacxx/include/cuda/std/__functional/bind.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
  libcudacxx/include/cuda/std/detail/libcxx/include/__debug
  libcudacxx/include/cuda/std/detail/libcxx/include/__threading_support
  libcudacxx/include/cuda/std/detail/libcxx/include/algorithm
  libcudacxx/include/cuda/std/detail/libcxx/include/chrono
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Do not mess with the docs
  libcudacxx/include/cuda/memory_resource
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix formatting
  libcudacxx/include/cuda/std/detail/libcxx/include/algorithm
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Provide libcu++ transparent functors in C++11
  libcudacxx/include/cuda/std/__functional/operations.h
  libcudacxx/test/libcudacxx/std/utilities/function.objects/arithmetic.operations/divides.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/arithmetic.operations/minus.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/arithmetic.operations/modulus.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/arithmetic.operations/multiplies.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/arithmetic.operations/negate.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/arithmetic.operations/plus.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/arithmetic.operations/transparent.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/bitwise.operations/bit_and.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/bitwise.operations/bit_or.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/bitwise.operations/bit_xor.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/bitwise.operations/transparent.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/comparisons/equal_to.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/comparisons/greater.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/comparisons/greater_equal.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/comparisons/less.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/comparisons/less_equal.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/comparisons/not_equal_to.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/comparisons/pointer_comparison_test_helper.hpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/comparisons/transparent.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/logical.operations/logical_and.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/logical.operations/logical_not.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/logical.operations/logical_or.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/logical.operations/transparent.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix broken CUB doc build and add 404 page to Sphinx. (#1846)
  .github/workflows/build-docs.yml
  cub/cub/block/block_scan.cuh
  cub/cub/warp/warp_scan.cuh
  docs/404.rst
  docs/Dockerfile
  docs/index.rst
  docs/make_env.bash
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-cub-codeowners

Fix CI case where no projects are modified.
  .github/actions/workflow-build/action.yml
  .github/actions/workflow-build/build-workflow.py
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Fix rst syntax.
  docs/libcudacxx/extended_api/math.rst
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Propogate error when docsbuild fails.
  docs/gen_docs.bash
Owners: @nvidia/cccl-codeowners

Build docs in PR CI.
  .github/actions/docs-build/action.yml
  .github/workflows/build-docs.yml
  .github/workflows/ci-workflow-pull-request.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Remove copy for file that no longer exists.
  .github/workflows/build-docs.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Remove dead code.
  .github/actions/docs-build/action.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Port CUB thread_sort test to Catch2 (#1838)
  cub/test/catch2_test_thread_sort.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Cleanup CUB temporary storage layout test (#1848)
  cub/test/catch2_test_temporary_storage_layout.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

It's that time again.
  thrust/testing/replace.cu
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop all internal implementations of exceptions (#1806) (#1839)
  libcudacxx/include/cuda/__memory_resource/cuda_managed_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/cuda_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/cuda_pinned_memory_resource.h
  libcudacxx/include/cuda/std/__exception/cuda_error.h
  libcudacxx/include/cuda/std/__exception/exception.h
  libcudacxx/include/cuda/std/__exception_
  libcudacxx/include/cuda/std/__expected/bad_expected_access.h
  libcudacxx/include/cuda/std/__functional/function.h
  libcudacxx/include/cuda/std/__new/bad_alloc.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__functional_base
  libcudacxx/include/cuda/std/detail/libcxx/include/array
  libcudacxx/include/cuda/std/detail/libcxx/include/bitset
  libcudacxx/include/cuda/std/detail/libcxx/include/complex
  libcudacxx/include/cuda/std/detail/libcxx/include/exception
  libcudacxx/include/cuda/std/detail/libcxx/include/optional
  libcudacxx/include/cuda/std/detail/libcxx/include/stdexcept
  libcudacxx/include/cuda/std/detail/libcxx/include/variant
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_managed_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_pinned_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/array/at.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/array/at_const.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.dynamic/alloc.errors/bad.alloc/bad_alloc.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.dynamic/alloc.errors/new.badlength/bad_array_new_length.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/bad.exception/bad_exception.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/exception.terminate/set.terminate/get_terminate.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/exception.terminate/set.terminate/set_terminate.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/exception.terminate/terminate.handler/terminate_handler.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/exception.terminate/terminate/terminate.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/exception/exception.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/expected/expected.bad/ctor.error.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/expected/expected.bad/error.member.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/expected/expected.bad/what.noexcept.compile.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/default.allocator/allocator.members/allocate.size.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/variant/variant.bad_variant_access/bad_variant_access.pass.cpp
  libcudacxx/test/utils/libcudacxx/test/config.py
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix typo.
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Remove cpp11_required.h
  thrust/thrust/allocate_unique.h
  thrust/thrust/detail/cpp11_required.h
  thrust/thrust/detail/dependencies_aware_execution_policy.h
  thrust/thrust/detail/execute_with_dependencies.h
  thrust/thrust/detail/select_system.h
  thrust/thrust/detail/shuffle.inl
  thrust/thrust/detail/tuple_algorithms.h
  thrust/thrust/detail/type_deduction.h
  thrust/thrust/device_make_unique.h
  thrust/thrust/mr/disjoint_sync_pool.h
  thrust/thrust/mr/disjoint_tls_pool.h
  thrust/thrust/mr/sync_pool.h
  thrust/thrust/mr/tls_pool.h
  thrust/thrust/optional.h
  thrust/thrust/per_device_resource.h
  thrust/thrust/shuffle.h
  thrust/thrust/system/cuda/detail/per_device_resource.h
  thrust/thrust/system/detail/generic/shuffle.h
  thrust/thrust/type_traits/integer_sequence.h
  thrust/thrust/type_traits/logical_metafunctions.h
  thrust/thrust/zip_function.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Add [skip-matrix] and debug devcontainer failures.
  .github/workflows/ci-workflow-pull-request.yml
  .github/workflows/verify-devcontainers.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Run all tests.
  .github/workflows/ci-workflow-pull-request.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Propogate error when docsbuild fails, add docs build to CI. (#1852)
  .github/actions/docs-build/action.yml
  .github/actions/workflow-build/action.yml
  .github/actions/workflow-build/build-workflow.py
  .github/workflows/build-docs.yml
  .github/workflows/ci-workflow-pull-request.yml
  docs/gen_docs.bash
  docs/libcudacxx/extended_api/math.rst
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners

Cleanup CUB util_macro.cuh (#1849)
  cub/cub/block/block_load.cuh
  cub/cub/block/block_store.cuh
  cub/cub/util_macro.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Provide libcu++ transparent functors in C++11 (#1851)
  libcudacxx/include/cuda/std/__functional/operations.h
  libcudacxx/test/libcudacxx/std/utilities/function.objects/arithmetic.operations/divides.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/arithmetic.operations/minus.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/arithmetic.operations/modulus.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/arithmetic.operations/multiplies.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/arithmetic.operations/negate.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/arithmetic.operations/plus.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/arithmetic.operations/transparent.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/bitwise.operations/bit_and.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/bitwise.operations/bit_or.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/bitwise.operations/bit_xor.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/bitwise.operations/transparent.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/comparisons/equal_to.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/comparisons/greater.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/comparisons/greater_equal.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/comparisons/less.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/comparisons/less_equal.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/comparisons/not_equal_to.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/comparisons/pointer_comparison_test_helper.hpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/comparisons/transparent.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/logical.operations/logical_and.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/logical.operations/logical_not.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/logical.operations/logical_or.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/logical.operations/transparent.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Roll back upload-pages-artifact to v2.
  .github/actions/docs-build/action.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Roll back upload-pages-artifact to v2. (#1861)
  .github/actions/docs-build/action.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Port CUB iterator test to Catch2 (#1822)
  cub/test/CMakeLists.txt
  cub/test/catch2_test_iterator.cu
  cub/test/test_iterator.cu
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-cub-codeowners

Symbol visibility is now invariant in regards to `__cuda_std__` definition (#1832)
  libcudacxx/include/cuda/std/__functional/bind.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
  libcudacxx/include/cuda/std/detail/libcxx/include/__debug
  libcudacxx/include/cuda/std/detail/libcxx/include/__threading_support
  libcudacxx/include/cuda/std/detail/libcxx/include/algorithm
  libcudacxx/include/cuda/std/detail/libcxx/include/chrono
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Symbol visibility is now invariant in regards to `__cuda_std__` definition (#1832)
  libcudacxx/include/cuda/std/__functional/bind.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
  libcudacxx/include/cuda/std/detail/libcxx/include/__debug
  libcudacxx/include/cuda/std/detail/libcxx/include/__threading_support
  libcudacxx/include/cuda/std/detail/libcxx/include/algorithm
  libcudacxx/include/cuda/std/detail/libcxx/include/chrono
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Add dimensions description functionality to CUDA Experimental library (#1743)
  ci/matrix.yaml
  cudax/include/cuda/experimental/__hierarchy/dimensions.cuh
  cudax/include/cuda/experimental/__hierarchy/hierarchy_dimensions.cuh
  cudax/include/cuda/experimental/__hierarchy/hierarchy_levels.cuh
  cudax/include/cuda/experimental/__hierarchy/level_dimensions.cuh
  cudax/include/cuda/experimental/hierarchy.cuh
  cudax/include/cuda/experimental/version.cuh
  cudax/test/CMakeLists.txt
  cudax/test/hierarchy/hierarchy_custom_types.cu
  cudax/test/hierarchy/hierarchy_smoke.cu
  cudax/test/hierarchy/testing_common.cuh
  cudax/test/hierarchy_smoke.cu
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-cmake-codeowners

Document Asynchronous Operations (#1781)
  docs/libcudacxx/extended_api/asynchronous_operations.rst
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Remove cpp11_required.h (#1860)
  thrust/thrust/allocate_unique.h
  thrust/thrust/detail/cpp11_required.h
  thrust/thrust/detail/dependencies_aware_execution_policy.h
  thrust/thrust/detail/execute_with_dependencies.h
  thrust/thrust/detail/select_system.h
  thrust/thrust/detail/shuffle.inl
  thrust/thrust/detail/tuple_algorithms.h
  thrust/thrust/detail/type_deduction.h
  thrust/thrust/device_make_unique.h
  thrust/thrust/mr/disjoint_sync_pool.h
  thrust/thrust/mr/disjoint_tls_pool.h
  thrust/thrust/mr/sync_pool.h
  thrust/thrust/mr/tls_pool.h
  thrust/thrust/optional.h
  thrust/thrust/per_device_resource.h
  thrust/thrust/shuffle.h
  thrust/thrust/system/cuda/detail/per_device_resource.h
  thrust/thrust/system/detail/generic/shuffle.h
  thrust/thrust/type_traits/integer_sequence.h
  thrust/thrust/type_traits/logical_metafunctions.h
  thrust/thrust/zip_function.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Resolve merge issue in matrix.yaml
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Fix MSVC version for cudax
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Remove duplicate build job from cudax matrix.
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Fix bad syntax in asynchronous_operations.rst.
  docs/libcudacxx/extended_api/asynchronous_operations.rst
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Update devcontainers for cudax.
  .devcontainer/cuda12.0-gcc10/devcontainer.json
  .devcontainer/cuda12.0-gcc11/devcontainer.json
  .devcontainer/cuda12.0-gcc12/devcontainer.json
  .devcontainer/cuda12.0-gcc9/devcontainer.json
  .devcontainer/cuda12.0-llvm10/devcontainer.json
  .devcontainer/cuda12.0-llvm11/devcontainer.json
  .devcontainer/cuda12.0-llvm12/devcontainer.json
  .devcontainer/cuda12.0-llvm13/devcontainer.json
  .devcontainer/cuda12.0-llvm14/devcontainer.json
  .devcontainer/cuda12.0-llvm9/devcontainer.json
  .devcontainer/cuda12.4-llvm18/devcontainer.json
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Add workflow to build RAPIDS from source with local CCCL (#1667)
  .devcontainer/cuda12.2-rapids-conda
  .devcontainer/docker-entrypoint.sh
  .devcontainer/launch.sh
  .github/workflows/build-rapids.yml
  .github/workflows/ci-workflow-nightly.yml
  .github/workflows/ci-workflow-pull-request.yml
  .gitignore
  ci/rapids/cuda12.2-conda/devcontainer.json
  ci/rapids/post-create-command.sh
  ci/rapids/rapids-entrypoint.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

restores idempotent benchmark
  cub/benchmarks/bench/select/flagged.cu
  cub/benchmarks/bench/select/if.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners
