Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

Port CUB thread_operators test to Catch2
  cub/test/catch2_test_thread_operators.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Port CUB temporary storage layout test to Catch2
  cub/test/catch2_test_temporary_storage_layout.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Port CUB iterator test to Catch2
  cub/test/CMakeLists.txt
  cub/test/catch2_test_iterator.cu
  cub/test/test_iterator.cu
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-cub-codeowners

Add warp inclusive_scan with init
  cub/cub/warp/warp_scan.cuh
  cub/test/catch2_test_warp_scan.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Add docs for block scan inclusive scan
  cub/cub/block/block_scan.cuh
  cub/test/catch2_test_block_scan.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Add docs for warp scan inclusive scan
  cub/cub/warp/warp_scan.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Input cannot be const for Block::InclusiveScan
  cub/cub/block/block_scan.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Add block inclusive_scan with init value (block_aggregate included)
  cub/cub/block/block_scan.cuh
  cub/test/catch2_test_block_scan.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Fix docs separator pitfall
  cub/cub/warp/warp_scan.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Warp scan docs and readability fixes
  cub/cub/warp/warp_scan.cuh
  cub/test/catch2_test_warp_scan.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Add tests for value based block scan APIs
  cub/test/catch2_test_block_scan.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Add block scan raking and warp scans implementation support for initial value
  cub/cub/block/block_scan.cuh
  cub/cub/block/specializations/block_scan_raking.cuh
  cub/cub/block/specializations/block_scan_warp_scans.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Fix block InclusiveScan value-based implementation internals
  cub/cub/block/specializations/block_scan_raking.cuh
  cub/cub/block/specializations/block_scan_warp_scans.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Revert "Add device inclusive scan with init value"
  cub/cub/agent/agent_scan.cuh
  cub/cub/device/device_scan.cuh
  cub/cub/device/dispatch/dispatch_scan.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Resolve CI issues on block_scan_api test
  cub/test/catch2_test_block_scan_api.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Add value based API tests
  cub/cub/block/block_scan.cuh
  cub/cub/block/specializations/block_scan_raking.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Add device inclusive scan with init value
  cub/cub/agent/agent_scan.cuh
  cub/cub/device/device_scan.cuh
  cub/cub/device/dispatch/dispatch_scan.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Add array based API tests for block inclusive scan
  cub/cub/block/block_scan.cuh
  cub/test/catch2_test_block_scan_api.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Revert "Fix block InclusiveScan value-based implementation internals"
  cub/cub/block/specializations/block_scan_raking.cuh
  cub/cub/block/specializations/block_scan_warp_scans.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Revert "Revert "Input cannot be const for Block::InclusiveScan""
  cub/cub/block/block_scan.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Revert "Input cannot be const for Block::InclusiveScan"
  cub/cub/block/block_scan.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Revert "Add tests for value based block scan APIs"
  cub/test/catch2_test_block_scan.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Remove more value based APIs
  cub/cub/block/block_scan.cuh
  cub/cub/block/specializations/block_scan_raking.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Refine blockScan unit tests
  cub/test/catch2_test_block_scan.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Revert "Add value based API tests"
  cub/cub/block/block_scan.cuh
  cub/cub/block/specializations/block_scan_raking.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Remove value-based kernels from off branch
  cub/test/catch2_test_block_scan.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Add warp_aggregate API test
  cub/test/catch2_test_warp_scan_api.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Resolve reviews, add warp_scan API test
  cub/cub/block/block_scan.cuh
  cub/cub/warp/warp_scan.cuh
  cub/test/catch2_test_block_scan_api.cu
  cub/test/catch2_test_warp_scan_api.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Remove even more value based APIs, complement docs with details
  cub/cub/block/block_scan.cuh
  cub/cub/block/specializations/block_scan_warp_scans.cuh
  cub/cub/warp/warp_scan.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Improve warp_scan api test
  cub/cub/warp/warp_scan.cuh
  cub/test/catch2_test_warp_scan_api.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Resolve final reviews
  cub/cub/block/block_scan.cuh
  cub/cub/warp/warp_scan.cuh
  cub/test/catch2_test_block_scan_api.cu
  cub/test/catch2_test_warp_scan_api.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Fix span for non-ranges
  libcudacxx/include/cuda/std/detail/libcxx/include/span
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.cons/conversion.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

No constexpr for you sir
  docs/libcudacxx/extended_api/math.rst
  libcudacxx/include/cuda/cmath
  libcudacxx/test/libcudacxx/cuda/cmath.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

One for exception forgotten
  libcudacxx/test/libcudacxx/std/utilities/memory/default.allocator/allocator.members/allocate.size.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Missing the morning coffee
  libcudacxx/test/libcudacxx/cuda/cmath.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Clean up merge_by_key and merge_key_value tests (#1824)
  thrust/testing/merge_by_key.cu
  thrust/testing/merge_key_value.cu
  thrust/testing/unittest/special_types.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Cleanup thrust test special types
  thrust/testing/unittest/special_types.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop all internal implementations of exceptions (#1806)
  libcudacxx/include/cuda/__memory_resource/cuda_managed_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/cuda_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/cuda_pinned_memory_resource.h
  libcudacxx/include/cuda/std/__exception/cuda_error.h
  libcudacxx/include/cuda/std/__exception/exception.h
  libcudacxx/include/cuda/std/__exception_
  libcudacxx/include/cuda/std/__expected/bad_expected_access.h
  libcudacxx/include/cuda/std/__functional/function.h
  libcudacxx/include/cuda/std/__new/bad_alloc.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__functional_base
  libcudacxx/include/cuda/std/detail/libcxx/include/array
  libcudacxx/include/cuda/std/detail/libcxx/include/bitset
  libcudacxx/include/cuda/std/detail/libcxx/include/complex
  libcudacxx/include/cuda/std/detail/libcxx/include/exception
  libcudacxx/include/cuda/std/detail/libcxx/include/optional
  libcudacxx/include/cuda/std/detail/libcxx/include/stdexcept
  libcudacxx/include/cuda/std/detail/libcxx/include/variant
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_managed_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_pinned_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/array/at.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/array/at_const.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.dynamic/alloc.errors/bad.alloc/bad_alloc.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.dynamic/alloc.errors/new.badlength/bad_array_new_length.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/bad.exception/bad_exception.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/exception.terminate/set.terminate/get_terminate.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/exception.terminate/set.terminate/set_terminate.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/exception.terminate/terminate.handler/terminate_handler.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/exception.terminate/terminate/terminate.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/exception/exception.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/expected/expected.bad/ctor.error.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/expected/expected.bad/error.member.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/expected/expected.bad/what.noexcept.compile.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/default.allocator/allocator.members/allocate.size.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/variant/variant.bad_variant_access/bad_variant_access.pass.cpp
  libcudacxx/test/utils/libcudacxx/test/config.py
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Drop all internal implementations of exceptions (#1806)
  libcudacxx/include/cuda/__memory_resource/cuda_managed_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/cuda_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/cuda_pinned_memory_resource.h
  libcudacxx/include/cuda/std/__exception/cuda_error.h
  libcudacxx/include/cuda/std/__exception/exception.h
  libcudacxx/include/cuda/std/__exception_
  libcudacxx/include/cuda/std/__expected/bad_expected_access.h
  libcudacxx/include/cuda/std/__functional/function.h
  libcudacxx/include/cuda/std/__new/bad_alloc.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__functional_base
  libcudacxx/include/cuda/std/detail/libcxx/include/array
  libcudacxx/include/cuda/std/detail/libcxx/include/bitset
  libcudacxx/include/cuda/std/detail/libcxx/include/complex
  libcudacxx/include/cuda/std/detail/libcxx/include/exception
  libcudacxx/include/cuda/std/detail/libcxx/include/optional
  libcudacxx/include/cuda/std/detail/libcxx/include/stdexcept
  libcudacxx/include/cuda/std/detail/libcxx/include/variant
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_managed_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_pinned_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/array/at.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/array/at_const.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.dynamic/alloc.errors/bad.alloc/bad_alloc.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.dynamic/alloc.errors/new.badlength/bad_array_new_length.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/bad.exception/bad_exception.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/exception.terminate/set.terminate/get_terminate.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/exception.terminate/set.terminate/set_terminate.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/exception.terminate/terminate.handler/terminate_handler.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/exception.terminate/terminate/terminate.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/exception/exception.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/expected/expected.bad/ctor.error.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/expected/expected.bad/error.member.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/expected/expected.bad/what.noexcept.compile.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/default.allocator/allocator.members/allocate.size.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/variant/variant.bad_variant_access/bad_variant_access.pass.cpp
  libcudacxx/test/utils/libcudacxx/test/config.py
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix span for non-ranges
  libcudacxx/include/cuda/std/detail/libcxx/include/span
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.cons/conversion.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners
