Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners

add set -x
  .devcontainer/launch.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

always pull image
  .devcontainer/launch.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

constrain the matrix again
  .github/workflows/ci-workflow-pull-request.yml
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

don't pass -it in CI
  .devcontainer/launch.sh
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

mount to root home dir
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

make ci.sh executable
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

define empty VAULT_HOST in CI
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

switch to x86 v100
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

merge in changes from other branch
  .devcontainer/cccl-entrypoint.sh
  .devcontainer/docker-entrypoint.sh
  .devcontainer/launch.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

fix docker-entrypoint.sh for Ubuntu 18.04
  .devcontainer/docker-entrypoint.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Revert "constrain the matrix again"
  .github/workflows/ci-workflow-pull-request.yml
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

fix docker-entrypoint.sh for Ubuntu 18.04
  .devcontainer/docker-entrypoint.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Add atomic derived overloads that capture non-scalar types and converts them to u32/64.
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_derived.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Update codegen to use native types for .cas and .exch.
  libcudacxx/codegen/codegen.cpp
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_generated.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Restrict active histogram channels to channel count
  cub/cub/device/device_histogram.cuh
  cub/cub/device/dispatch/dispatch_histogram.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Add test for explicit user-side NVTX API use
  cub/test/test_nvtx_in_usercode_explicit.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Simplify NVTX tests
  cub/test/test_nvtx_in_usercode.cu
  cub/test/test_nvtx_standalone.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Program against explicitly versioned NVTX V1 API
  cub/cub/detail/nvtx.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Cleanup internal thrust CUDA utils
  thrust/thrust/system/cuda/detail/core/util.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

adds st.release on tile state for in-place stream compaction
  cub/cub/agent/agent_select_if.cuh
  cub/cub/agent/single_pass_scan_operators.cuh
  cub/cub/block/block_load.cuh
  cub/cub/device/dispatch/dispatch_select_if.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Address review comments
  .github/workflows/build-docs.yml
  docs/libcudacxx/extended_api/asynchronous_operations/memcpy_async_tx.rst
  docs/libcudacxx/extended_api/memory_access_properties/access_property.rst
  docs/libcudacxx/extended_api/memory_model.rst
  docs/libcudacxx/extended_api/synchronization_primitives/barrier.rst
  docs/libcudacxx/extended_api/synchronization_primitives/binary_semaphore.rst
  docs/libcudacxx/extended_api/synchronization_primitives/latch.rst
  docs/libcudacxx/extended_api/synchronization_primitives/pipeline/pipeline_producer_commit.rst
  docs/libcudacxx/ptx/instructions/st.async.rst
  docs/libcudacxx/setup/requirements.rst
  docs/libcudacxx/standard_api/utility_library/version.rst
  docs/thrust/contributing.rst
  docs/thrust/requirements.rst
  docs/thrust/submitting_a_pr.rst
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-thrust-codeowners

Add the right github social media link
  docs/repo.toml
Owners: @nvidia/cccl-codeowners

Restrict active histogram channels to channel count (#1796)
  cub/cub/device/device_histogram.cuh
  cub/cub/device/dispatch/dispatch_histogram.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Use variadic interfaces in agent launcher
  thrust/thrust/system/cuda/detail/core/agent_launcher.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Cleanup internal thrust CUDA utils (#1802)
  thrust/thrust/system/cuda/detail/core/util.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Use variadic interfaces in agent launcher (#1804)
  thrust/thrust/system/cuda/detail/core/agent_launcher.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

propagates in/out aliasing information to cub
  thrust/thrust/system/cuda/detail/copy_if.h
  thrust/thrust/system/cuda/detail/remove.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

[skip-tests] adds comment about behavior
  cub/cub/agent/agent_select_if.cuh
  cub/cub/agent/single_pass_scan_operators.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

adds option for st.release on reduce by key tile state
  cub/cub/agent/single_pass_scan_operators.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

update API name in workflow-results/action.yml
  .github/actions/workflow-results/action.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Update .github/workflows/build-rapids.yml
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Remove extended lambda from tests
  cudax/include/cuda/experimental/__hierarchy/hierarchy_dimensions.cuh
  cudax/test/CMakeLists.txt
  cudax/test/hierarchy/hierarchy_custom_types.cu
  cudax/test/hierarchy/hierarchy_smoke.cu
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-cmake-codeowners

Use `_CCCL_TRAIT` for SFINAE.
  libcudacxx/codegen/codegen.cpp
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_generated.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

don't delete the artifacts after merging so they're still available to download after re-running individual failing jobs
  .github/actions/workflow-results/action.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

try using merge-multiple: true instead of merging in a separate step
  .github/actions/workflow-build/action.yml
  .github/actions/workflow-results/action.yml
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Add includes to otherwise empty thust page
  docs/thrust/contributing.rst
  docs/thrust/setup.rst
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Fix _CCCL_TRAIT usage
  libcudacxx/codegen/codegen.cpp
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_generated.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Maybe safe everything
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_generated.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Drop elect.sync docs until its actually implemented
  docs/libcudacxx/ptx/instructions.rst
  docs/libcudacxx/ptx/instructions/elect.sync.rst
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Let Catch2 report cudaError descriptions
  cub/test/catch2_test_helper.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners
