Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-cudax-codeowners, @nvidia/cccl-c-codeowners, @nvidia/cccl-python-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

Drop CUB's BinaryFlip operator
  cub/cub/thread/thread_operators.cuh
Owners: @nvidia/cccl-cub-codeowners

Fix duplicate specialization
  thrust/thrust/system/cuda/detail/sort.h
Owners: @nvidia/cccl-thrust-codeowners

Deprecate cub::Swap
  cub/cub/thread/thread_sort.cuh
Owners: @nvidia/cccl-cub-codeowners

Extract scan kernels into NVRTC-compilable header
  cub/cub/agent/agent_scan.cuh
  cub/cub/agent/single_pass_scan_operators.cuh
  cub/cub/detail/strong_load.cuh
  cub/cub/device/dispatch/dispatch_scan.cuh
  cub/cub/device/dispatch/kernels/scan.cuh
  cub/test/catch2_test_nvrtc.cu
  python/cuda_parallel/cuda/parallel/experimental/iterators/_iterators.py
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-python-codeowners

Deprecate cub::IterateThreadStore
  cub/cub/thread/thread_store.cuh
Owners: @nvidia/cccl-cub-codeowners

Update docs/cccl_development/macro.rst
  docs/cccl_development/macro.rst
Owners: none

Document `NV_TARGET` macros (#3313)
  docs/cccl_development/index.rst
  docs/cccl_development/macro.rst
Owners: none

[STF] Define ctx.pick_stream() which was missing for the unified context (#3326)
  cudax/include/cuda/experimental/stf.cuh
Owners: @nvidia/cccl-cudax-codeowners

Update cub/cub/device/dispatch/dispatch_scan.cuh
  cub/cub/device/dispatch/dispatch_scan.cuh
Owners: @nvidia/cccl-cub-codeowners

add _CCC_ASSUME
  libcudacxx/include/cuda/std/__cccl/builtin.h
Owners: @nvidia/cccl-libcudacxx-codeowners

fix device code path
  libcudacxx/include/cuda/std/__cccl/attributes.h
Owners: @nvidia/cccl-libcudacxx-codeowners

refactor `<cuda/std/cstdlib>`
  libcudacxx/include/cuda/std/__cstdlib/malloc.h
  libcudacxx/include/cuda/std/cstdlib
  libcudacxx/include/cuda/std/detail/libcxx/include/cstdlib
  libcudacxx/test/libcudacxx/std/language.support/cstdlib/aligned_alloc.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/cstdlib/calloc.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners

Drop CUB's util_compiler.cuh for real
  cub/cub/util_compiler.cuh
Owners: @nvidia/cccl-cub-codeowners

add deprecate warning
  cub/cub/util_ptx.cuh
Owners: @nvidia/cccl-cub-codeowners

try to remove LogicShiftLeft and LogicShiftRight
  cub/cub/agent/agent_batch_memcpy.cuh
  cub/cub/util_ptx.cuh
Owners: @nvidia/cccl-cub-codeowners

Drop CDPv1
  cub/cub/detail/detect_cuda_runtime.cuh
  cub/cub/detail/device_synchronize.cuh
  cub/cub/util_device.cuh
  thrust/thrust/system/cuda/detail/cdp_dispatch.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-thrust-codeowners

Deprecate cub::IterateThreadStore (#3337)
  cub/cub/thread/thread_store.cuh
Owners: @nvidia/cccl-cub-codeowners

Drop CUB's BinaryFlip operator (#3332)
  cub/cub/thread/thread_operators.cuh
Owners: @nvidia/cccl-cub-codeowners

Deprecate cub::Swap (#3333)
  cub/cub/thread/thread_sort.cuh
Owners: @nvidia/cccl-cub-codeowners

Clarify transform output can overlap input (#3323)
  cub/cub/device/device_transform.cuh
Owners: @nvidia/cccl-cub-codeowners

Drop CUB APIs with a debug_synchronous parameter (#3330)
  cub/cub/device/device_adjacent_difference.cuh
  cub/cub/device/device_histogram.cuh
  cub/cub/device/device_merge_sort.cuh
  cub/cub/device/device_partition.cuh
  cub/cub/device/device_radix_sort.cuh
  cub/cub/device/device_reduce.cuh
  cub/cub/device/device_run_length_encode.cuh
  cub/cub/device/device_scan.cuh
  cub/cub/device/device_segmented_radix_sort.cuh
  cub/cub/device/device_segmented_reduce.cuh
  cub/cub/device/device_segmented_sort.cuh
  cub/cub/device/device_select.cuh
  cub/cub/device/device_spmv.cuh
  cub/cub/device/dispatch/dispatch_adjacent_difference.cuh
  cub/cub/device/dispatch/dispatch_histogram.cuh
  cub/cub/device/dispatch/dispatch_merge_sort.cuh
  cub/cub/device/dispatch/dispatch_radix_sort.cuh
  cub/cub/device/dispatch/dispatch_reduce.cuh
  cub/cub/device/dispatch/dispatch_reduce_by_key.cuh
  cub/cub/device/dispatch/dispatch_rle.cuh
  cub/cub/device/dispatch/dispatch_scan.cuh
  cub/cub/device/dispatch/dispatch_scan_by_key.cuh
  cub/cub/device/dispatch/dispatch_segmented_sort.cuh
  cub/cub/device/dispatch/dispatch_select_if.cuh
  cub/cub/device/dispatch/dispatch_spmv_orig.cuh
  cub/cub/device/dispatch/dispatch_three_way_partition.cuh
  cub/cub/device/dispatch/dispatch_unique_by_key.cuh
  cub/cub/util_debug.cuh
  docs/repo.toml
Owners: @nvidia/cccl-cub-codeowners

Drop cub::ValueCache
  cub/cub/util_device.cuh
Owners: @nvidia/cccl-cub-codeowners

Drop cub::DivideAndRoundUp
  cub/cub/util_math.cuh
Owners: @nvidia/cccl-cub-codeowners

Deprecate cub::Swap (#3333)
  cub/cub/thread/thread_sort.cuh
Owners: @nvidia/cccl-cub-codeowners

Deprecate cub::IterateThreadStore (#3337)
  cub/cub/thread/thread_store.cuh
Owners: @nvidia/cccl-cub-codeowners

Deprecate Thrust's cpp_compatibility.h macros (#3299)
  docs/repo.toml
  thrust/thrust/async/copy.h
  thrust/thrust/async/for_each.h
  thrust/thrust/async/reduce.h
  thrust/thrust/async/scan.h
  thrust/thrust/async/sort.h
  thrust/thrust/async/transform.h
  thrust/thrust/detail/config/cpp_compatibility.h
  thrust/thrust/detail/select_system.h
  thrust/thrust/detail/seq.h
  thrust/thrust/detail/static_assert.h
  thrust/thrust/execution_policy.h
  thrust/thrust/functional.h
  thrust/thrust/future.h
  thrust/thrust/system/cpp/detail/par.h
  thrust/thrust/system/cuda/detail/future.inl
  thrust/thrust/system/cuda/detail/par.h
  thrust/thrust/system/detail/sequential/execution_policy.h
Owners: @nvidia/cccl-thrust-codeowners

replace cub special registers usage
  cub/cub/agent/agent_radix_sort_histogram.cuh
  cub/cub/agent/agent_radix_sort_onesweep.cuh
  cub/cub/agent/agent_radix_sort_upsweep.cuh
  cub/cub/agent/agent_rle.cuh
  cub/cub/block/block_exchange.cuh
  cub/cub/block/block_radix_rank.cuh
  cub/cub/block/specializations/block_reduce_warp_reductions.cuh
  cub/cub/block/specializations/block_scan_warp_scans.cuh
  cub/cub/warp/specializations/warp_exchange_shfl.cuh
  cub/cub/warp/specializations/warp_exchange_smem.cuh
  cub/cub/warp/specializations/warp_reduce_shfl.cuh
  cub/cub/warp/specializations/warp_reduce_smem.cuh
  cub/cub/warp/specializations/warp_scan_shfl.cuh
  cub/cub/warp/specializations/warp_scan_smem.cuh
  cub/cub/warp/warp_load.cuh
  cub/cub/warp/warp_merge_sort.cuh
  cub/cub/warp/warp_scan.cuh
  cub/cub/warp/warp_store.cuh
Owners: @nvidia/cccl-cub-codeowners

deprecate unused functions
  cub/cub/util_ptx.cuh
  cub/test/test_util.h
Owners: @nvidia/cccl-cub-codeowners

fix laneid()
  cub/cub/agent/agent_radix_sort_histogram.cuh
  cub/cub/agent/agent_radix_sort_onesweep.cuh
  cub/cub/agent/agent_radix_sort_upsweep.cuh
  cub/cub/agent/agent_rle.cuh
  cub/cub/block/block_exchange.cuh
  cub/cub/block/block_radix_rank.cuh
  cub/cub/block/specializations/block_reduce_warp_reductions.cuh
  cub/cub/block/specializations/block_scan_warp_scans.cuh
  cub/cub/warp/specializations/warp_exchange_shfl.cuh
  cub/cub/warp/specializations/warp_exchange_smem.cuh
  cub/cub/warp/specializations/warp_reduce_shfl.cuh
  cub/cub/warp/specializations/warp_reduce_smem.cuh
  cub/cub/warp/specializations/warp_scan_shfl.cuh
  cub/cub/warp/specializations/warp_scan_smem.cuh
  cub/cub/warp/warp_load.cuh
  cub/cub/warp/warp_merge_sort.cuh
  cub/cub/warp/warp_scan.cuh
  cub/cub/warp/warp_store.cuh
Owners: @nvidia/cccl-cub-codeowners

Drop CUB's util_compiler.cuh for real (#3340)
  cub/cub/util_compiler.cuh
Owners: @nvidia/cccl-cub-codeowners

Drop cub::ValueCache (#3346)
  cub/cub/util_device.cuh
Owners: @nvidia/cccl-cub-codeowners

fix lanemask_gt()
  cub/cub/warp/specializations/warp_reduce_shfl.cuh
  cub/cub/warp/specializations/warp_reduce_smem.cuh
Owners: @nvidia/cccl-cub-codeowners

license update to Kokkos v4
  libcudacxx/include/cuda/std/__linalg/conj_if_needed.h
  libcudacxx/include/cuda/std/__linalg/conjugate_transposed.h
  libcudacxx/include/cuda/std/__linalg/conjugated.h
  libcudacxx/include/cuda/std/__linalg/scaled.h
  libcudacxx/include/cuda/std/__linalg/transposed.h
Owners: @nvidia/cccl-libcudacxx-codeowners

add is_signed header
  libcudacxx/include/cuda/__cmath/round_down.h
  libcudacxx/include/cuda/__cmath/round_up.h
Owners: @nvidia/cccl-libcudacxx-codeowners

remove unsigned promotion from round_up
  libcudacxx/include/cuda/__cmath/round_up.h
Owners: @nvidia/cccl-libcudacxx-codeowners

limits offset types for merge sort (#3328)
  cub/cub/device/device_merge_sort.cuh
  cub/test/catch2_test_device_merge_sort.cu
Owners: @nvidia/cccl-cub-codeowners

top level file
  cudax/include/cuda/experimental/file.cuh
Owners: @nvidia/cccl-cudax-codeowners

trying wrapping iterators alone
  cub/cub/device/device_segmented_sort.cuh
Owners: @nvidia/cccl-cub-codeowners

utils module
  cudax/include/cuda/experimental/__file/utils.cuh
Owners: @nvidia/cccl-cudax-codeowners

file module
  cudax/include/cuda/experimental/__file/file.cuh
  cudax/include/cuda/experimental/__file/utils.cuh
Owners: @nvidia/cccl-cudax-codeowners

.github/CODEOWNERS:

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners
cub/ @nvidia/cccl-cub-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners
cudax/ @nvidia/cccl-cudax-codeowners
c/ @nvidia/cccl-c-codeowners
python/ @nvidia/cccl-python-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners
ci/ @nvidia/cccl-infra-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners
.pre-commit-config.yaml @nvidia/cccl-infra-codeowners
.clang-format @nvidia/cccl-infra-codeowners
.clangd @nvidia/cccl-infra-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners
