Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners

Drop `thrust::is_one_convertible_to_the_other`
  thrust/thrust/detail/type_traits.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `thrust::is_copy_assignable`
  thrust/thrust/detail/type_traits.h
  thrust/thrust/iterator/transform_iterator.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `thrust::conditional`
  thrust/thrust/detail/type_traits.h
  thrust/thrust/system/cuda/detail/core/util.h
  thrust/thrust/system/cuda/detail/merge.h
  thrust/thrust/system/cuda/detail/reduce.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `thrust::is_assignable`
  thrust/thrust/detail/type_traits.h
  thrust/thrust/system/detail/sequential/general_copy.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `thrust::is_pod`
  thrust/testing/type_traits.cu
  thrust/thrust/detail/type_traits.h
  thrust/thrust/detail/type_traits/has_trivial_assign.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `thrust::remove_const`
  thrust/testing/unittest/assertions.h
  thrust/thrust/detail/type_traits.h
  thrust/thrust/iterator/iterator_facade.h
  thrust/thrust/optional.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `thrust::is_convertible`
  thrust/testing/zip_iterator.cu
  thrust/thrust/detail/internal_functional.h
  thrust/thrust/detail/temporary_array.h
  thrust/thrust/detail/type_traits.h
  thrust/thrust/detail/type_traits/has_member_function.h
  thrust/thrust/detail/type_traits/minimum_type.h
  thrust/thrust/detail/type_traits/pointer_traits.h
  thrust/thrust/iterator/detail/distance_from_result.h
  thrust/thrust/iterator/detail/is_iterator_category.h
  thrust/thrust/iterator/detail/iterator_category_to_system.h
  thrust/thrust/iterator/detail/iterator_category_to_traversal.h
  thrust/thrust/iterator/detail/iterator_facade_category.h
  thrust/thrust/iterator/detail/iterator_traits.inl
  thrust/thrust/iterator/detail/retag.h
  thrust/thrust/iterator/iterator_facade.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `thrust::is_reference`
  thrust/thrust/detail/internal_functional.h
  thrust/thrust/detail/pointer.inl
  thrust/thrust/detail/type_traits.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `thrust::is_const`
  thrust/thrust/detail/internal_functional.h
  thrust/thrust/detail/type_traits.h
  thrust/thrust/system/detail/generic/generate.inl
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `thrust::is_different`
  thrust/thrust/detail/type_traits.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `thrust::remove_cv`
  thrust/thrust/detail/memory_algorithms.h
  thrust/thrust/detail/pointer.h
  thrust/thrust/detail/raw_reference_cast.h
  thrust/thrust/detail/type_traits.h
  thrust/thrust/system/cuda/detail/reduce.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `thrust::make_unsigned`
  thrust/thrust/detail/allocator/allocator_traits.h
  thrust/thrust/detail/type_traits.h
  thrust/thrust/system/detail/generic/copy_if.inl
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `thrust::remove_volatile`
  thrust/thrust/detail/type_traits.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `thrust::is_pointer`
  thrust/thrust/detail/type_traits.h
  thrust/thrust/system/cuda/detail/adjacent_difference.h
  thrust/thrust/system/cuda/detail/reduce.h
  thrust/thrust/type_traits/is_contiguous_iterator.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `thrust::is_reference_to_const`
  thrust/thrust/detail/type_traits.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `thrust::add_reference`
  thrust/thrust/detail/allocator/allocator_traits.h
  thrust/thrust/detail/raw_reference_cast.h
  thrust/thrust/detail/type_traits.h
  thrust/thrust/detail/type_traits/is_call_possible.h
  thrust/thrust/detail/type_traits/pointer_traits.h
  thrust/thrust/iterator/detail/iterator_adaptor_base.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `thrust::enable_if_different`
  thrust/thrust/detail/type_traits.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `thrust::is_base_of`
  thrust/thrust/detail/type_traits.h
  thrust/thrust/type_traits/is_execution_policy.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `thrust::is_same`
  thrust/testing/allocator.cu
  thrust/testing/allocator_aware_policies.cu
  thrust/testing/dependencies_aware_policies.cu
  thrust/testing/random.cu
  thrust/testing/zip_iterator.cu
  thrust/thrust/detail/pointer.h
  thrust/thrust/detail/type_traits.h
  thrust/thrust/detail/type_traits/has_member_function.h
  thrust/thrust/detail/type_traits/iterator/is_output_iterator.h
  thrust/thrust/detail/type_traits/pointer_traits.h
  thrust/thrust/detail/vector_base.inl
  thrust/thrust/iterator/detail/counting_iterator.inl
  thrust/thrust/iterator/detail/iterator_adaptor_base.h
  thrust/thrust/iterator/detail/iterator_facade_category.h
  thrust/thrust/system/cuda/detail/reduce_by_key.h
  thrust/thrust/system/cuda/detail/sort.h
  thrust/thrust/system/detail/generic/select_system.inl
  thrust/thrust/system/detail/sequential/general_copy.h
  thrust/thrust/system/detail/sequential/sort.inl
  thrust/thrust/system/detail/sequential/stable_primitive_sort.inl
  thrust/thrust/type_traits/is_trivially_relocatable.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `thrust::remove_reference`
  thrust/testing/unittest/assertions.h
  thrust/testing/zip_iterator.cu
  thrust/thrust/complex.h
  thrust/thrust/detail/execute_with_allocator.h
  thrust/thrust/detail/execute_with_allocator_fwd.h
  thrust/thrust/detail/memory_algorithms.h
  thrust/thrust/detail/type_traits.h
  thrust/thrust/iterator/detail/join_iterator.h
  thrust/thrust/system/detail/generic/generate.inl
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Simplify `thrust::enable_if_convertible`
  thrust/thrust/detail/allocator/copy_construct_range.inl
  thrust/thrust/detail/type_traits.h
  thrust/thrust/device_reference.h
  thrust/thrust/iterator/detail/normal_iterator.h
  thrust/thrust/iterator/transform_iterator.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Update thrust/thrust/iterator/detail/iterator_facade_category.h
  thrust/thrust/iterator/detail/iterator_facade_category.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `thrust::or_`
  thrust/thrust/detail/allocator/default_construct_range.inl
  thrust/thrust/detail/internal_functional.h
  thrust/thrust/detail/raw_reference_cast.h
  thrust/thrust/detail/type_traits.h
  thrust/thrust/detail/type_traits/iterator/is_output_iterator.h
  thrust/thrust/iterator/detail/is_iterator_category.h
  thrust/thrust/iterator/detail/iterator_category_to_system.h
  thrust/thrust/iterator/detail/iterator_category_to_traversal.h
  thrust/thrust/iterator/detail/iterator_traits.inl
  thrust/thrust/system/cuda/detail/sort.h
  thrust/thrust/system/detail/sequential/sort.inl
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `thrust::enable_if`
  thrust/testing/unittest/assertions.h
  thrust/testing/unittest/random.h
  thrust/thrust/detail/allocator/allocator_traits.inl
  thrust/thrust/detail/allocator/copy_construct_range.inl
  thrust/thrust/detail/allocator/default_construct_range.inl
  thrust/thrust/detail/allocator/destroy_range.inl
  thrust/thrust/detail/allocator/fill_construct_range.inl
  thrust/thrust/detail/internal_functional.h
  thrust/thrust/detail/raw_reference_cast.h
  thrust/thrust/detail/temporary_array.inl
  thrust/thrust/detail/type_traits.h
  thrust/thrust/detail/type_traits/has_member_function.h
  thrust/thrust/detail/type_traits/pointer_traits.h
  thrust/thrust/detail/type_traits/result_of_adaptable_function.h
  thrust/thrust/iterator/detail/counting_iterator.inl
  thrust/thrust/iterator/detail/retag.h
  thrust/thrust/system/cuda/detail/sort.h
  thrust/thrust/system/detail/error_code.inl
  thrust/thrust/system/detail/error_condition.inl
  thrust/thrust/system/detail/generic/select_system.inl
  thrust/thrust/system/detail/sequential/general_copy.h
  thrust/thrust/system/detail/sequential/stable_primitive_sort.inl
  thrust/thrust/system/error_code.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Make `disjunction` and `conjunction` available in C++11
  libcudacxx/include/cuda/std/__type_traits/conjunction.h
  libcudacxx/include/cuda/std/__type_traits/disjunction.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Drop `thrust::enable_if_base_of`
  thrust/thrust/detail/type_traits.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Fix formatting
  thrust/testing/allocator.cu
  thrust/testing/allocator_aware_policies.cu
  thrust/testing/zip_iterator.cu
  thrust/thrust/iterator/detail/iterator_facade_category.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `thrust::is_device_reference`
  thrust/thrust/detail/type_traits.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `thrust::is_device_ptr`
  thrust/thrust/detail/device_ptr.inl
  thrust/thrust/detail/type_traits.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `thrust::and_`
  thrust/thrust/detail/internal_functional.h
  thrust/thrust/detail/type_traits.h
  thrust/thrust/detail/type_traits/function_traits.h
  thrust/thrust/detail/type_traits/pointer_traits.h
  thrust/thrust/iterator/detail/iterator_facade_category.h
  thrust/thrust/system/cuda/detail/sort.h
  thrust/thrust/system/detail/sequential/sort.inl
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `thrust::promoted_numerical_type`
  thrust/testing/complex.cu
  thrust/thrust/complex.h
  thrust/thrust/detail/complex/arithmetic.h
  thrust/thrust/detail/complex/cpow.h
  thrust/thrust/detail/type_traits.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

More link fixes
  docs/libcudacxx/extended_api/synchronization_primitives/atomic/atomic_thread_fence.rst
  docs/libcudacxx/index.rst
  docs/libcudacxx/setup/requirements.rst
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

add --gpus option to launch.json to allow overriding devcontainer.json hostRequirements.gpu in CI
  .devcontainer/launch.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

remove set -x
  ci/build_common.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

update to RAPIDS branch-24.08
  .github/workflows/build-rapids.yml
  ci/rapids/cuda12.2-conda/devcontainer.json
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

support -e|--env in launch.sh so CI can pass additional container envvars
  .devcontainer/launch.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

support -v|--volume in launch.sh so CI can pass additional container volumes
  .devcontainer/launch.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

copy over .devcontainer/launch.sh from https://github.com/NVIDIA/cccl/pull/1667
  .devcontainer/cccl-entrypoint.sh
  .devcontainer/docker-entrypoint.sh
  .devcontainer/launch.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Add walltime, max job time to CI summary. (#1795)
  .github/actions/workflow-results/parse-job-times.py
  .github/actions/workflow-results/prepare-execution-summary.py
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

update workflow-dispatch-job.yml to use .devcontainer/launch.sh
  .devcontainer/cccl-entrypoint.sh
  .devcontainer/docker-entrypoint.sh
  .github/actions/workflow-build/build-workflow.py
  .github/workflows/workflow-dispatch-job.yml
  .github/workflows/workflow-dispatch-two-stage.yml
  .github/workflows/workflow-dispatch.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners
