Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners

Update CMakePresets.json
  CMakePresets.json
Owners: @nvidia/cccl-codeowners

Install CUB headers with .hpp extensions
  cub/cmake/CubInstallRules.cmake
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners

Install CUB headers with .hpp extension (#1687)
  cub/cmake/CubInstallRules.cmake
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners

Add missing include of `<cuda_runtime_api.h>` to `cuda_pinned_memory_resource`
  libcudacxx/include/cuda/__memory_resource/cuda_pinned_memory_resource.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Move `vsmem` helper into their own file
  cub/cub/device/dispatch/dispatch_merge_sort.cuh
  cub/cub/device/dispatch/dispatch_select_if.cuh
  cub/cub/device/dispatch/dispatch_unique_by_key.cuh
  cub/cub/util_device.cuh
  cub/cub/util_vsmem.cuh
  cub/test/catch2_test_vsmem.cu
  libcudacxx/include/cuda/discard_memory
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners

Avoid copying output iterators in `thrust::copy_if`
  thrust/thrust/system/cuda/detail/copy_if.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Add missing includes of `cuda::std::min` and `cuda::std::max` to functional until we get `<algorithm>`
  libcudacxx/include/cuda/functional
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Mark `_CCCL_FORCEINLINE` as inline on host
  libcudacxx/include/cuda/std/__cccl/execution_space.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Try to ensure that `thrust::tuple` and `thrust::pair` work with CTAD
  libcudacxx/include/cuda/std/__utility/pair.h
  libcudacxx/include/cuda/std/detail/libcxx/include/tuple
  thrust/testing/pair.cu
  thrust/testing/tuple.cu
  thrust/thrust/detail/functional/actor.h
  thrust/thrust/detail/functional/actor.inl
  thrust/thrust/iterator/detail/tuple_of_iterator_references.h
  thrust/thrust/optional.h
  thrust/thrust/pair.h
  thrust/thrust/tuple.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners

Separate dims description library to a separate PR This PR will now focus only on the needed CUDA Experimental infrastructure A follow-up PR will bring the library back
  cuda_next/include/cuda/next/detail/dimensions.cuh
  cuda_next/include/cuda/next/detail/hierarchy_dimensions.cuh
  cuda_next/include/cuda/next/detail/hierarchy_levels.cuh
  cuda_next/include/cuda/next/detail/level_dimensions.cuh
  cuda_next/include/cuda/next/hierarchy_dimensions.cuh
  cuda_next/test/catch2_helpers/testing_common.cuh
  cuda_next/test/hierarchy_custom_types.cu
  cuda_next/test/hierarchy_smoke.cu
Owners: @nvidia/cccl-codeowners

Rearrange headers and update latch/barrier.
  libcudacxx/include/cuda/std/__atomic/api/atomic_crtp.h
  libcudacxx/include/cuda/std/__atomic/api/atomic_impl.h
  libcudacxx/include/cuda/std/__atomic/api/common.h
  libcudacxx/include/cuda/std/__atomic/api/const.h
  libcudacxx/include/cuda/std/__atomic/api/nonconst.h
  libcudacxx/include/cuda/std/__atomic/api/owned.h
  libcudacxx/include/cuda/std/__atomic/api/reference.h
  libcudacxx/include/cuda/std/__atomic/functions.h
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_derived.h
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_generated.h
  libcudacxx/include/cuda/std/__atomic/functions/host.h
  libcudacxx/include/cuda/std/__atomic/order.h
  libcudacxx/include/cuda/std/__atomic/platform/msvc_to_builtins.h
  libcudacxx/include/cuda/std/__atomic/platform/platform.h
  libcudacxx/include/cuda/std/__atomic/scopes.h
  libcudacxx/include/cuda/std/__atomic/storage/base.h
  libcudacxx/include/cuda/std/__atomic/types.h
  libcudacxx/include/cuda/std/__atomic/types/base.h
  libcudacxx/include/cuda/std/__atomic/types/common.h
  libcudacxx/include/cuda/std/__atomic/types/locked.h
  libcudacxx/include/cuda/std/__atomic/types/reference.h
  libcudacxx/include/cuda/std/__atomic/types/small.h
  libcudacxx/include/cuda/std/__atomic/wait/notify_wait.h
  libcudacxx/include/cuda/std/__atomic/wait/polling.h
  libcudacxx/include/cuda/std/__cuda/atomic.h
  libcudacxx/include/cuda/std/__cuda/barrier.h
  libcudacxx/include/cuda/std/atomic
  libcudacxx/include/cuda/std/detail/libcxx/include/latch
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Update codegen to reflect new header layout.
  libcudacxx/codegen/CMakeLists.txt
  libcudacxx/codegen/codegen.cpp
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners

Make platform.h define `LIBCUDACXX_ATOMIC_BLAH_LOCK_FREE`.
  libcudacxx/include/cuda/std/__atomic/platform.h
  libcudacxx/include/cuda/std/__cuda/atomic_prelude.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__threading_support
  libcudacxx/test/libcudacxx/std/atomics/atomics.lockfree/isalwayslockfree.pass.cpp
  libcudacxx/test/libcudacxx/std/atomics/atomics.lockfree/lockfree.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Test combined internal/user-side use of NVTX
  cub/test/CMakeLists.txt
  cub/test/test_nvtx_in_usercode.cu
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-cub-codeowners

Update CMakePresets.json (#1686)
  CMakePresets.json
Owners: @nvidia/cccl-codeowners

Don't fail on bad-alloc for large memory test.
  cub/test/catch2_test_device_select_if.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Fix deprecated status
  cub/test/catch2_segmented_sort_helper.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Fix deprecated status (#1692)
  cub/test/catch2_segmented_sort_helper.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Test combined internal/user-side use of NVTX (#1690)
  cub/test/CMakeLists.txt
  cub/test/test_nvtx_in_usercode.cu
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-cub-codeowners

Explicitly specify used NVTX3 C++ wrapper version
  cub/cub/detail/nvtx.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Add workaround for MSVC2017
  thrust/thrust/tuple.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Rebuild CI infra, add nightly workflow.
  .devcontainer/make_devcontainers.sh
  .github/actions/compute-matrix/action.yml
  .github/actions/compute-matrix/compute-matrix.sh
  .github/actions/workflow-build/action.yml
  .github/actions/workflow-build/build-workflow.py
  .github/actions/workflow-results/action.yml
  .github/actions/workflow-results/final-summary.py
  .github/actions/workflow-results/prepare-execution-summary.py
  .github/actions/workflow-results/verify-job-success.py
  .github/workflows/build-and-test-linux.yml
  .github/workflows/build-and-test-windows.yml
  .github/workflows/ci-workflow-nightly.yml
  .github/workflows/ci-workflow-pull-request.yml
  .github/workflows/dispatch-build-and-test.yml
  .github/workflows/pr.yml
  .github/workflows/run-as-coder.yml
  .github/workflows/workflow-dispatch-job.yml
  .github/workflows/workflow-dispatch-two-stage.yml
  .github/workflows/workflow-dispatch.yml
  .gitignore
  CMakePresets.json
  ci-overview.md
  ci/build_common.sh
  ci/infra_cccl.sh
  ci/inspect_changes.sh
  ci/matrix.yaml
  ci/verify_codegen_libcudacxx.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Fix docs
  thrust/thrust/tuple.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `_LIBCUDACXX_HAS_NO_STRONG_ENUMS`
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
  libcudacxx/test/libcudacxx/std/utilities/meta/meta.trans/meta.trans.sign/make_signed.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/meta/meta.trans/meta.trans.sign/make_unsigned.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Format some core headers
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Add missing include
  libcudacxx/test/libcudacxx/cuda/test_platform.pass.cpp
  libcudacxx/test/libcudacxx/cuda/test_platform_cpp03.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Drop most uses of `__cuda_std__`
  libcudacxx/include/cuda/std/__iterator/iterator_traits.h
  libcudacxx/include/cuda/std/__memory/construct_at.h
  libcudacxx/include/cuda/std/__type_traits/is_constant_evaluated.h
  libcudacxx/include/cuda/std/__utility/pair.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
  libcudacxx/include/cuda/std/detail/libcxx/include/bit
  libcudacxx/include/cuda/std/detail/libcxx/include/cmath
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Do not use raw `__CUDACC_RTC__`
  libcudacxx/test/libcudacxx/cuda/annotated_ptr/utils.h
  libcudacxx/test/libcudacxx/cuda/memcpy_async/group_memcpy_async.h
  libcudacxx/test/libcudacxx/cuda/pipeline_arrive_on.pass.cpp
  libcudacxx/test/libcudacxx/cuda/pipeline_arrive_on_abi_v2.pass.cpp
  libcudacxx/test/libcudacxx/cuda/test_platform.pass.cpp
  libcudacxx/test/libcudacxx/cuda/test_platform_cpp03.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/c.limits/climits.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/comparisons/greater.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/comparisons/greater_equal.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/comparisons/less.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/comparisons/less_equal.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/refwrap/refwrap.const/type_conv_ctor2.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/refwrap/refwrap.helpers/cref_1.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/refwrap/refwrap.helpers/cref_2.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/refwrap/refwrap.helpers/lwg3146.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/refwrap/refwrap.helpers/ref_1.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/refwrap/refwrap.helpers/ref_2.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/specialized.algorithms/specialized.destroy/destroy.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/specialized.algorithms/specialized.destroy/destroy_at.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/specialized.algorithms/specialized.destroy/destroy_n.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/time/date.time/ctime.pass.cpp
  libcudacxx/test/support/test_macros.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Also cleanup structured bindings workaround
  libcudacxx/include/cuda/std/__tuple_dir/structured_bindings.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Cleanup namespace definitions
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix issues with formatting of plain forwarding headers
  libcudacxx/include/cuda/memory_resource
  libcudacxx/include/cuda/std/__algorithm_
  libcudacxx/include/cuda/std/__exception_
  libcudacxx/include/cuda/std/__memory_
  libcudacxx/include/cuda/std/__new_
  libcudacxx/include/cuda/std/array
  libcudacxx/include/cuda/std/atomic
  libcudacxx/include/cuda/std/barrier
  libcudacxx/include/cuda/std/bit
  libcudacxx/include/cuda/std/cassert
  libcudacxx/include/cuda/std/cfloat
  libcudacxx/include/cuda/std/chrono
  libcudacxx/include/cuda/std/climits
  libcudacxx/include/cuda/std/cmath
  libcudacxx/include/cuda/std/complex
  libcudacxx/include/cuda/std/concepts
  libcudacxx/include/cuda/std/cstddef
  libcudacxx/include/cuda/std/cstdint
  libcudacxx/include/cuda/std/cstdlib
  libcudacxx/include/cuda/std/ctime
  libcudacxx/include/cuda/std/expected
  libcudacxx/include/cuda/std/functional
  libcudacxx/include/cuda/std/initializer_list
  libcudacxx/include/cuda/std/iterator
  libcudacxx/include/cuda/std/latch
  libcudacxx/include/cuda/std/limits
  libcudacxx/include/cuda/std/mdspan
  libcudacxx/include/cuda/std/optional
  libcudacxx/include/cuda/std/ranges
  libcudacxx/include/cuda/std/ratio
  libcudacxx/include/cuda/std/semaphore
  libcudacxx/include/cuda/std/span
  libcudacxx/include/cuda/std/tuple
  libcudacxx/include/cuda/std/type_traits
  libcudacxx/include/cuda/std/utility
  libcudacxx/include/cuda/std/variant
  libcudacxx/include/cuda/std/version
  libcudacxx/include/cuda/stream_ref
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

regenerate devcontainers
  .devcontainer/cuda12.0-gcc10/devcontainer.json
  .devcontainer/cuda12.0-gcc11/devcontainer.json
  .devcontainer/cuda12.0-gcc12/devcontainer.json
  .devcontainer/cuda12.0-gcc9/devcontainer.json
  .devcontainer/cuda12.0-llvm10/devcontainer.json
  .devcontainer/cuda12.0-llvm11/devcontainer.json
  .devcontainer/cuda12.0-llvm12/devcontainer.json
  .devcontainer/cuda12.0-llvm13/devcontainer.json
  .devcontainer/cuda12.0-llvm14/devcontainer.json
  .devcontainer/cuda12.0-llvm9/devcontainer.json
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

build separate RAPIDS libs in parallel
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

move RAPIDS devcontainer into ci/rapids
  .github/workflows/build-in-devcontainer.yml
  .github/workflows/build-rapids.yml
  ci/rapids/cuda12.2-conda/devcontainer.json
  ci/rapids/cuda12.2-conda/rapids.Dockerfile
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

-DBUILD_SHARED_LIBS=ON
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

fix typo
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

fix rapids.Dockerfile location
  ci/rapids/rapids.Dockerfile
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

put -v and -j at the front
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

debug init-ssh-deploy-keys call
  .github/workflows/build-in-devcontainer.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

use the debug envvar
  .github/workflows/build-in-devcontainer.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners
