Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

Fix formatting
  .devcontainer/cuda11.1-gcc6/devcontainer.json
  .devcontainer/cuda11.1-gcc7/devcontainer.json
  .devcontainer/cuda11.1-gcc8/devcontainer.json
  .devcontainer/cuda11.1-gcc9/devcontainer.json
  .devcontainer/cuda11.1-llvm9/devcontainer.json
  .devcontainer/cuda11.8-gcc11/devcontainer.json
  .devcontainer/cuda12.0-gcc10/devcontainer.json
  .devcontainer/cuda12.0-gcc11/devcontainer.json
  .devcontainer/cuda12.0-gcc12/devcontainer.json
  .devcontainer/cuda12.0-gcc9/devcontainer.json
  .devcontainer/cuda12.0-llvm10/devcontainer.json
  .devcontainer/cuda12.0-llvm11/devcontainer.json
  .devcontainer/cuda12.0-llvm12/devcontainer.json
  .devcontainer/cuda12.0-llvm13/devcontainer.json
  .devcontainer/cuda12.0-llvm14/devcontainer.json
  .devcontainer/cuda12.0-llvm9/devcontainer.json
  .devcontainer/cuda12.5-gcc10/devcontainer.json
  .devcontainer/cuda12.5-gcc11/devcontainer.json
  .devcontainer/cuda12.5-gcc12/devcontainer.json
  .devcontainer/cuda12.5-gcc13/devcontainer.json
  .devcontainer/cuda12.5-gcc7/devcontainer.json
  .devcontainer/cuda12.5-gcc8/devcontainer.json
  .devcontainer/cuda12.5-gcc9/devcontainer.json
  .devcontainer/cuda12.5-llvm10/devcontainer.json
  .devcontainer/cuda12.5-llvm11/devcontainer.json
  .devcontainer/cuda12.5-llvm12/devcontainer.json
  .devcontainer/cuda12.5-llvm13/devcontainer.json
  .devcontainer/cuda12.5-llvm14/devcontainer.json
  .devcontainer/cuda12.5-llvm15/devcontainer.json
  .devcontainer/cuda12.5-llvm16/devcontainer.json
  .devcontainer/cuda12.5-llvm17/devcontainer.json
  .devcontainer/cuda12.5-llvm9/devcontainer.json
  .devcontainer/cuda12.5-oneapi2023.2.0/devcontainer.json
  .devcontainer/devcontainer.json
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Clarify compatibility wrt. template specializations
  README.md
Owners: @nvidia/cccl-codeowners

review feedback
  cudax/include/cuda/experimental/__device/all_devices.cuh
Owners: @nvidia/cccl-codeowners

Update README.md
  README.md
Owners: @nvidia/cccl-codeowners

Ensure that we avoid ABI Version conflics (#2137)
  libcudacxx/test/libcudacxx/cuda/pipeline_divergent_threads.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Revert removing hacky atomic wrapping stuff
  libcudacxx/include/cuda/std/__atomic/functions/host.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix g++-14 warning on uninitialized copying
  cub/cub/device/dispatch/dispatch_histogram.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

add the CUDA vector addition sample
  cudax/CMakeLists.txt
  cudax/samples/CMakeLists.txt
  cudax/samples/cmake/CPM.cmake
  cudax/samples/include/helper_cuda.h
  cudax/samples/include/helper_string.h
  cudax/samples/vector_add/vector_add.cu
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners

Remove unnecessary sample helpers
  cudax/samples/include/helper_cuda.h
  cudax/samples/include/helper_string.h
  cudax/samples/vector_add/vector_add.cu
Owners: @nvidia/cccl-codeowners

Revert "Just silence incorrect MSVC warnings"
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/assign.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/assignment.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/constructor.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/swap.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Try without warning suppression to find the offensive code
  libcudacxx/include/cuda/std/inplace_vector
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Ensure that `cuda_memory_resource` allocates memory on the proper device (#2073)
  cub/cub/util_device.cuh
  libcudacxx/include/cuda/__memory_resource/cuda_memory_resource.h
  libcudacxx/include/cuda/std/__cuda/ensure_current_device.h
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_memory_resource/traits.pass.cpp
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners

Fix missing copy of docs artifacts
  .github/actions/docs-build/action.yml
  docs/index.rst
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Clarify compatibility wrt. template specializations (#2138)
  README.md
Owners: @nvidia/cccl-codeowners

Fix trivial_copy_device_to_device execution space
  thrust/thrust/system/cuda/detail/util.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Typo
  thrust/thrust/system/cuda/detail/util.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Format
  thrust/thrust/system/cuda/detail/util.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Implement a `cudax::get_stream` CPO (#2135)
  cudax/include/cuda/experimental/__stream/get_stream.cuh
  cudax/include/cuda/experimental/stream.cuh
  cudax/test/CMakeLists.txt
  cudax/test/stream/get_stream.cu
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-cmake-codeowners

Make `cuda::std::tuple` trivially copyable (#2127)
  libcudacxx/include/cuda/std/__tuple_dir/sfinae_helpers.h
  libcudacxx/include/cuda/std/__utility/pair.h
  libcudacxx/include/cuda/std/detail/libcxx/include/tuple
  libcudacxx/test/libcudacxx/std/utilities/tuple/tuple.tuple/tuple.traits/trivially_copyable.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix missing copy of docs artifacts (#2162)
  .github/actions/docs-build/action.yml
  docs/index.rst
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners
