Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-cudax-codeowners, @nvidia/cccl-c-codeowners, @nvidia/cccl-python-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

.github/CODEOWNERS:

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners
cub/ @nvidia/cccl-cub-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners
cudax/ @nvidia/cccl-cudax-codeowners
c/ @nvidia/cccl-c-codeowners
python/ @nvidia/cccl-python-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners
ci/ @nvidia/cccl-infra-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners
.pre-commit-config.yaml @nvidia/cccl-infra-codeowners
.clang-format @nvidia/cccl-infra-codeowners
.clangd @nvidia/cccl-infra-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners

driver module
  cudax/include/cuda/experimental/__file/file_driver.cuh
Owners: @nvidia/cccl-cudax-codeowners

cufile api module
  cudax/include/cuda/experimental/__file/cufile_api.cuh
  libcudacxx/include/cuda/std/__exception/cuda_error.h
Owners: @nvidia/cccl-cudax-codeowners, @nvidia/cccl-libcudacxx-codeowners

add example
  cudax/examples/file.cu
  cudax/include/cuda/experimental/file.cuh
Owners: @nvidia/cccl-cudax-codeowners

add perror to example
  cudax/examples/file.cu
Owners: @nvidia/cccl-cudax-codeowners

Fix all_of documentation for empty ranges
  thrust/thrust/logical.h
Owners: @nvidia/cccl-thrust-codeowners

implement `cuda::std::numeric_limits` for `__half` and `__nv_bfloat16`
  libcudacxx/include/cuda/std/limits
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/is_specialized.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/const_data_members.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/denorm_min.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/digits.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/digits10.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/epsilon.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/has_denorm.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/has_denorm_loss.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/has_infinity.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/has_quiet_NaN.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/has_signaling_NaN.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/infinity.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/is_bounded.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/is_exact.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/is_iec559.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/is_integer.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/is_modulo.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/is_signed.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/lowest.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/max.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/max_digits10.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/max_exponent.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/max_exponent10.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/min.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/min_exponent.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/min_exponent10.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/quiet_NaN.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/radix.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/round_error.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/round_style.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/signaling_NaN.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/tinyness_before.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/traps.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners

Deprecate cub::Swap (#3333) (#3350)
  cub/cub/thread/thread_sort.cuh
Owners: @nvidia/cccl-cub-codeowners

Drop thrust::void_t
  thrust/thrust/type_traits/void_t.h
Owners: @nvidia/cccl-thrust-codeowners

Use cuda::std::addressof in Thrust
  thrust/thrust/addressof.h
  thrust/thrust/detail/memory_algorithms.h
  thrust/thrust/optional.h
  thrust/thrust/system/cuda/detail/future.inl
Owners: @nvidia/cccl-thrust-codeowners

use `_LIBCUDACXX_HAS_type` instead of `_CCCL_HAS_type`
  libcudacxx/include/cuda/std/limits
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/is_specialized.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/const_data_members.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/denorm_min.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/digits.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/digits10.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/epsilon.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/has_denorm.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/has_denorm_loss.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/has_infinity.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/has_quiet_NaN.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/has_signaling_NaN.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/infinity.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/is_bounded.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/is_exact.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/is_iec559.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/is_integer.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/is_modulo.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/is_signed.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/lowest.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/max.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/max_digits10.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/max_exponent.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/max_exponent10.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/min.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/min_exponent.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/min_exponent10.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/quiet_NaN.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/radix.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/round_error.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/round_style.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/signaling_NaN.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/tinyness_before.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/traps.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners

Drop CDPv1 (#3344)
  cub/cub/detail/detect_cuda_runtime.cuh
  cub/cub/detail/device_synchronize.cuh
  cub/cub/util_device.cuh
  thrust/thrust/system/cuda/detail/cdp_dispatch.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-thrust-codeowners

Drop thrust::void_t (#3362)
  thrust/thrust/type_traits/void_t.h
Owners: @nvidia/cccl-thrust-codeowners

Use cuda::std::addressof in Thrust (#3363)
  thrust/thrust/addressof.h
  thrust/thrust/detail/memory_algorithms.h
  thrust/thrust/optional.h
  thrust/thrust/system/cuda/detail/future.inl
Owners: @nvidia/cccl-thrust-codeowners

Fix all_of documentation for empty ranges (#3358)
  thrust/thrust/logical.h
Owners: @nvidia/cccl-thrust-codeowners

Deprecate Thrust's cpp_compatibility.h macros (#3299) (#3321)
  docs/repo.toml
  thrust/thrust/async/copy.h
  thrust/thrust/async/for_each.h
  thrust/thrust/async/reduce.h
  thrust/thrust/async/scan.h
  thrust/thrust/async/sort.h
  thrust/thrust/async/transform.h
  thrust/thrust/detail/config/cpp_compatibility.h
  thrust/thrust/detail/select_system.h
  thrust/thrust/detail/seq.h
  thrust/thrust/detail/static_assert.h
  thrust/thrust/execution_policy.h
  thrust/thrust/functional.h
  thrust/thrust/future.h
  thrust/thrust/system/cpp/detail/par.h
  thrust/thrust/system/cuda/detail/future.inl
  thrust/thrust/system/cuda/detail/par.h
  thrust/thrust/system/detail/sequential/execution_policy.h
Owners: @nvidia/cccl-thrust-codeowners

Readd identity::result_type
  thrust/thrust/functional.h
Owners: @nvidia/cccl-thrust-codeowners

When not storing the dangling events, we must still perform the deinit operations that were producing these events !
  cudax/include/cuda/experimental/__stf/internal/backend_ctx.cuh
Owners: @nvidia/cccl-cudax-codeowners

fix review
  libcudacxx/include/cuda/std/limits
Owners: @nvidia/cccl-libcudacxx-codeowners

[STF] Do not keep track of dangling events in a CUDA graph backend (#3327)
  cudax/include/cuda/experimental/__stf/graph/graph_ctx.cuh
  cudax/include/cuda/experimental/__stf/internal/backend_ctx.cuh
  cudax/include/cuda/experimental/__stf/internal/logical_data.cuh
  cudax/include/cuda/experimental/__stf/stream/stream_ctx.cuh
Owners: @nvidia/cccl-cudax-codeowners

fix mdspan test
  libcudacxx/test/libcudacxx/std/containers/views/mdspan/my_int.hpp
Owners: @nvidia/cccl-libcudacxx-codeowners

fix denorm_min test for nvrtc
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/denorm_min.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners

Extract scan kernels into NVRTC-compilable header (#3334)
  cub/cub/agent/agent_scan.cuh
  cub/cub/agent/single_pass_scan_operators.cuh
  cub/cub/detail/strong_load.cuh
  cub/cub/device/dispatch/dispatch_scan.cuh
  cub/cub/device/dispatch/kernels/scan.cuh
  cub/test/catch2_test_nvrtc.cu
  python/cuda_parallel/cuda/parallel/experimental/iterators/_iterators.py
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-python-codeowners

Deprecate cub::IterateThreadStore (#3337) (#3351)
  cub/cub/thread/thread_store.cuh
Owners: @nvidia/cccl-cub-codeowners

fix type_traits
  libcudacxx/include/cuda/std/__type_traits/add_const.h
  libcudacxx/include/cuda/std/__type_traits/add_cv.h
  libcudacxx/include/cuda/std/__type_traits/add_lvalue_reference.h
  libcudacxx/include/cuda/std/__type_traits/add_pointer.h
  libcudacxx/include/cuda/std/__type_traits/add_rvalue_reference.h
  libcudacxx/include/cuda/std/__type_traits/add_volatile.h
  libcudacxx/include/cuda/std/__type_traits/aligned_storage.h
  libcudacxx/include/cuda/std/__type_traits/aligned_union.h
  libcudacxx/include/cuda/std/__type_traits/common_type.h
  libcudacxx/include/cuda/std/__type_traits/conditional.h
  libcudacxx/include/cuda/std/__type_traits/decay.h
  libcudacxx/include/cuda/std/__type_traits/enable_if.h
  libcudacxx/include/cuda/std/__type_traits/integral_constant.h
  libcudacxx/include/cuda/std/__type_traits/is_assignable.h
  libcudacxx/include/cuda/std/__type_traits/is_base_of.h
  libcudacxx/include/cuda/std/__type_traits/is_constructible.h
  libcudacxx/include/cuda/std/__type_traits/is_destructible.h
  libcudacxx/include/cuda/std/__type_traits/is_swappable.h
  libcudacxx/include/cuda/std/__type_traits/make_signed.h
  libcudacxx/include/cuda/std/__type_traits/make_unsigned.h
  libcudacxx/include/cuda/std/__type_traits/promote.h
  libcudacxx/include/cuda/std/__type_traits/remove_all_extents.h
  libcudacxx/include/cuda/std/__type_traits/remove_const.h
  libcudacxx/include/cuda/std/__type_traits/remove_cv.h
  libcudacxx/include/cuda/std/__type_traits/remove_extent.h
  libcudacxx/include/cuda/std/__type_traits/remove_pointer.h
  libcudacxx/include/cuda/std/__type_traits/remove_reference.h
  libcudacxx/include/cuda/std/__type_traits/remove_volatile.h
  libcudacxx/include/cuda/std/__type_traits/type_identity.h
  libcudacxx/include/cuda/std/__type_traits/underlying_type.h
Owners: @nvidia/cccl-libcudacxx-codeowners

fix tuple
  libcudacxx/include/cuda/std/detail/libcxx/include/tuple
Owners: @nvidia/cccl-libcudacxx-codeowners

fix optional
  libcudacxx/include/cuda/std/detail/libcxx/include/optional
Owners: @nvidia/cccl-libcudacxx-codeowners

fix ctime
  libcudacxx/include/cuda/std/detail/libcxx/include/ctime
Owners: @nvidia/cccl-libcudacxx-codeowners

fix chrono
  libcudacxx/include/cuda/std/detail/libcxx/include/chrono
Owners: @nvidia/cccl-libcudacxx-codeowners

fix array
  libcudacxx/include/cuda/std/detail/libcxx/include/array
Owners: @nvidia/cccl-libcudacxx-codeowners

fix __config
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
Owners: @nvidia/cccl-libcudacxx-codeowners

fix pair
  libcudacxx/include/cuda/std/__utility/pair.h
Owners: @nvidia/cccl-libcudacxx-codeowners

fix utility
  libcudacxx/include/cuda/std/__utility/convert_to_integral.h
  libcudacxx/include/cuda/std/__utility/integer_sequence.h
  libcudacxx/include/cuda/std/__utility/move.h
Owners: @nvidia/cccl-libcudacxx-codeowners

fix tuple
  libcudacxx/include/cuda/std/__tuple_dir/make_tuple_types.h
  libcudacxx/include/cuda/std/__tuple_dir/sfinae_helpers.h
  libcudacxx/include/cuda/std/__tuple_dir/tuple_element.h
  libcudacxx/include/cuda/std/__tuple_dir/tuple_indices.h
Owners: @nvidia/cccl-libcudacxx-codeowners

fix `__make_numeric_limits_type`
  libcudacxx/include/cuda/std/limits
Owners: @nvidia/cccl-libcudacxx-codeowners

Update documentation
  docs/thrust/api_docs/function_objects/predefined.rst
  docs/thrust/api_docs/function_objects/predefined/arithmetic.rst
  docs/thrust/api_docs/function_objects/predefined/bitwise.rst
  docs/thrust/api_docs/function_objects/predefined/comparison.rst
  docs/thrust/api_docs/function_objects/predefined/identity.rst
  docs/thrust/api_docs/function_objects/predefined/logical.rst
Owners: @nvidia/cccl-thrust-codeowners

Cleanup util_arch
  cub/cub/util_arch.cuh
Owners: @nvidia/cccl-cub-codeowners

Missing include
  thrust/examples/set_operations.cu
Owners: @nvidia/cccl-thrust-codeowners

More replacements
  cub/test/catch2_large_array_sort_helper.cuh
  thrust/testing/min_and_max.cu
  thrust/testing/scan.cu
  thrust/thrust/system/cuda/detail/set_operations.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-thrust-codeowners

More replacements
  thrust/testing/async/exclusive_scan/large_indices.cu
  thrust/testing/async/inclusive_scan/large_indices.cu
  thrust/testing/cuda/is_partitioned.cu
  thrust/thrust/system/tbb/detail/reduce_by_key.inl
Owners: @nvidia/cccl-thrust-codeowners

Use cuda::stdmin/max in Thrust
  thrust/thrust/detail/minmax.h
  thrust/thrust/detail/vector_base.inl
  thrust/thrust/extrema.h
  thrust/thrust/system/cuda/detail/adjacent_difference.h
  thrust/thrust/system/cuda/detail/find.h
  thrust/thrust/system/cuda/detail/inner_product.h
  thrust/thrust/system/cuda/detail/reduce.h
  thrust/thrust/system/cuda/detail/reduce_by_key.h
  thrust/thrust/system/cuda/detail/scan_by_key.h
  thrust/thrust/system/cuda/detail/transform_reduce.h
  thrust/thrust/system/cuda/detail/unique.h
  thrust/thrust/system/cuda/detail/unique_by_key.h
  thrust/thrust/system/detail/generic/find.inl
  thrust/thrust/system/detail/sequential/stable_merge_sort.inl
  thrust/thrust/system/tbb/detail/reduce_by_key.inl
  thrust/thrust/system/tbb/detail/reduce_intervals.h
Owners: @nvidia/cccl-thrust-codeowners
