Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners

Fix span for non-ranges (#1836)
  libcudacxx/include/cuda/std/detail/libcxx/include/span
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.cons/conversion.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Do not override `_LIBCUDACXX_FUNC_VIS` and `_LIBCUDACXX_TYPE_VIS`
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
  libcudacxx/include/cuda/std/detail/libcxx/include/chrono
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Fix incorrect define
  libcudacxx/test/libcudacxx/cuda/cmath.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Do not define `_LIBCUDACXX_TYPE_VIS` for windows
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Move description to rst file
  docs/libcudacxx/extended_api/memory_model.rst
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Actually move to the asynchronous operations subppage
  docs/libcudacxx/extended_api/asynchronous_operations.rst
  docs/libcudacxx/extended_api/memory_model.rst
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Cleanup thrust test special types (#1837)
  thrust/testing/unittest/special_types.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Present a list of possible options when encountering a 404. * Also affix cccl/ onto URL since that's what GitHub does.
  docs/404.html
  docs/scrape_docs.bash
Owners: @nvidia/cccl-codeowners

Update gitignore to exclude _site
  .gitignore
Owners: @nvidia/cccl-codeowners

Add inclusive_scan with initial value support (warp/block) (#1749)
  cub/cub/block/block_scan.cuh
  cub/cub/warp/warp_scan.cuh
  cub/test/catch2_test_block_scan.cu
  cub/test/catch2_test_block_scan_api.cu
  cub/test/catch2_test_warp_scan.cu
  cub/test/catch2_test_warp_scan_api.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Fix loading from incorrect URI on 404 page. (#1843)
  .gitignore
  docs/404.html
  docs/scrape_docs.bash
Owners: @nvidia/cccl-codeowners

Use Sphinx to generate a themed 404 page.
  docs/404.rst
  docs/index.rst
Owners: @nvidia/cccl-codeowners

Remove dead code from docs build
  .github/workflows/build-docs.yml
  docs/Dockerfile
  docs/make_env.bash
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Fixup
  docs/404.rst
Owners: @nvidia/cccl-codeowners

Fix broken docs section in CUB.
  cub/cub/block/block_scan.cuh
  cub/cub/warp/warp_scan.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Port CUB temporary storage layout test to Catch2 (#1835)
  cub/test/catch2_test_temporary_storage_layout.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Resolve some of the review comments + formatting
  libcudacxx/include/cuda/std/__cccl/diagnostic.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__bit_reference
  libcudacxx/include/cuda/std/detail/libcxx/include/__string
  libcudacxx/include/cuda/std/detail/libcxx/include/bitset
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Add missed includes
  libcudacxx/include/cuda/std/detail/libcxx/include/__string
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Unconditionally define `_LIBCUDACXX_FUNC_VIS`
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Port CUB thread_operators test to Catch2 (#1834)
  cub/test/catch2_test_thread_operators.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Adds ceil_div (#1825)
  docs/libcudacxx/extended_api.rst
  docs/libcudacxx/extended_api/math.rst
  libcudacxx/include/cuda/cmath
  libcudacxx/test/libcudacxx/cuda/cmath.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Port CUB thread_sort test to Catch2
  cub/test/catch2_test_thread_sort.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Cleanup CUB temporary storage layout test
  cub/test/catch2_test_temporary_storage_layout.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

adds benchmarks for in-place compaction
  cub/benchmarks/bench/select/flagged.cu
  cub/benchmarks/bench/select/if.cu
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Cleanup CUB util_macro.cuh
  cub/cub/block/block_load.cuh
  cub/cub/block/block_store.cuh
  cub/cub/util_macro.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Split workflow into multiple dispatch groups to avoid skipped jobs. (#1797)
  .github/actions/workflow-build/action.yml
  .github/actions/workflow-build/prepare-workflow-dispatch.py
  .github/actions/workflow-results/parse-job-times.py
  .github/actions/workflow-run-job-linux/action.yml
  .github/actions/workflow-run-job-windows/action.yml
  .github/workflows/ci-workflow-nightly.yml
  .github/workflows/ci-workflow-pull-request.yml
  .github/workflows/verify-devcontainers.yml
  .github/workflows/workflow-dispatch-job.yml
  .github/workflows/workflow-dispatch-standalone-group-linux.yml
  .github/workflows/workflow-dispatch-standalone-group-windows.yml
  .github/workflows/workflow-dispatch-two-stage-group-linux.yml
  .github/workflows/workflow-dispatch-two-stage-group-windows.yml
  .github/workflows/workflow-dispatch-two-stage-linux.yml
  .github/workflows/workflow-dispatch-two-stage-windows.yml
  .github/workflows/workflow-dispatch-two-stage.yml
  .github/workflows/workflow-dispatch.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Migrate ctk version info.
  .github/actions/workflow-build/build-workflow.py
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Migrate device compiler.
  .github/actions/workflow-build/build-workflow.py
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Migrate project tables.
  .github/actions/workflow-build/build-workflow.py
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Refactor cxx handling to reuse string parser.
  .github/actions/workflow-build/build-workflow.py
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Migrate tag tables.
  .github/actions/workflow-build/build-workflow.py
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Migrate GPU tables.
  .github/actions/workflow-build/build-workflow.py
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Update devcontainers to remove OS info.
  .devcontainer/cuda11.1-gcc6/devcontainer.json
  .devcontainer/cuda11.1-gcc7/devcontainer.json
  .devcontainer/cuda11.1-gcc8/devcontainer.json
  .devcontainer/cuda11.1-gcc9/devcontainer.json
  .devcontainer/cuda11.1-llvm9/devcontainer.json
  .devcontainer/cuda11.8-gcc11/devcontainer.json
  .devcontainer/cuda12.4-gcc10/devcontainer.json
  .devcontainer/cuda12.4-gcc11/devcontainer.json
  .devcontainer/cuda12.4-gcc12/devcontainer.json
  .devcontainer/cuda12.4-gcc13/devcontainer.json
  .devcontainer/cuda12.4-gcc7/devcontainer.json
  .devcontainer/cuda12.4-gcc8/devcontainer.json
  .devcontainer/cuda12.4-gcc9/devcontainer.json
  .devcontainer/cuda12.4-llvm10/devcontainer.json
  .devcontainer/cuda12.4-llvm11/devcontainer.json
  .devcontainer/cuda12.4-llvm12/devcontainer.json
  .devcontainer/cuda12.4-llvm13/devcontainer.json
  .devcontainer/cuda12.4-llvm14/devcontainer.json
  .devcontainer/cuda12.4-llvm15/devcontainer.json
  .devcontainer/cuda12.4-llvm16/devcontainer.json
  .devcontainer/cuda12.4-llvm17/devcontainer.json
  .devcontainer/cuda12.4-llvm9/devcontainer.json
  .devcontainer/cuda12.4-oneapi2023.2.0/devcontainer.json
  .devcontainer/devcontainer.json
  .devcontainer/make_devcontainers.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Fix exclusion handling.
  .github/actions/workflow-build/build-workflow.py
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Migrate `cxx`.
  .github/actions/workflow-build/build-workflow.py
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Migrate job tables.
  .github/actions/workflow-build/build-workflow.py
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Remove the os-map from the matrix.
  .github/actions/workflow-build/build-workflow.py
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Migrate devcontainer ver and all stds list.
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Bump devcontainer version to access os-less images.
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Remove sccache notice from GHA runs.
  ci/sccache_stats.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners
