Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

print the env again
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

replace devcontainers/ci action with explicit devcontainer CLI calls
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

fix typo
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

fix host path mapping
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

fix host _work base path
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

skip lifecycle scripts
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

define envvars for exec
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

cleanup
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

don't tee ci-script.sh to stdout
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

fix typo
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

no envsubst, fix args
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

redirect devcontainer up stderr to stdout, capture container_id via stdout
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

try an image with nvidia-container-toolkit
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

update setup step
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

yes
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

revert to docker:latest
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

try privileged
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

explicitly pass --gpus and --device
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

explictly pass gpu device uuid
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

fix for in-place stream compaction race
  cub/cub/agent/agent_select_if.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Update atomicity guarantees
  libcudacxx/docs/extended_api/memory_model.md
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Document Asynchronous Operations
  libcudacxx/docs/extended_api/memory_model.md
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Add guard against half support (#1735)
  cub/cmake/CubHeaderTesting.cmake
  cub/cmake/header_test.in
  cub/cub/agent/agent_sub_warp_merge_sort.cuh
  cub/cub/device/dispatch/dispatch_histogram.cuh
  cub/cub/thread/thread_search.cuh
  cub/cub/util_type.cuh
  cub/test/c2h/extended_types.cuh
  cub/test/catch2_segmented_sort_helper.cuh
  cub/test/test_device_histogram.cu
  libcudacxx/docs/standard_api/numerics_library/complex.md
  libcudacxx/include/cuda/__cccl_config
  libcudacxx/include/cuda/std/__cccl/extended_floating_point.h
  libcudacxx/include/cuda/std/__complex/nvbf16.h
  libcudacxx/include/cuda/std/__complex/nvfp16.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners

Remove duplicated job
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Remove redundancy in Catch2 launch helpers
  cub/test/catch2_test_launch_helper.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Simplify temporary storage allocation
  cub/test/catch2_test_launch_helper.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Rename CUB test launch APIs to just launch
  cub/test/catch2_test_launch_helper.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Replace cub::ArrayWrapper by cuda::std::array
  cub/cub/device/dispatch/dispatch_histogram.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

We are missing explicit qualification of `pow` in two instances
  thrust/testing/shuffle.cu
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Deprecate cub::ArrayWrapper
  cub/cub/util_type.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Refactor CUB test launch helpers (#1770)
  cub/test/catch2_test_launch_helper.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Replace `cub::ArrayWrapper` by `cuda::std::array` and deprecate it (#1764)
  cub/cub/device/dispatch/dispatch_histogram.cuh
  cub/cub/util_type.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

We are missing explicit qualification of `pow` in two instances (#1784)
  thrust/testing/shuffle.cu
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Update ci/matrix.yaml
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

conditionally run nvidia-smi
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

temporarily use p100 runners
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

more debug output
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

fix comparison
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

hard-code runner envvar
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

explicitly mount devices and volumes like nvidia-container-toolkit does
  .github/workflows/workflow-dispatch-job.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners
