Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners

Spell value initialization where used by thrust vectors (#1990)
  thrust/thrust/detail/allocator/value_initialize_range.h
  thrust/thrust/detail/allocator/value_initialize_range.inl
  thrust/thrust/detail/contiguous_storage.h
  thrust/thrust/detail/contiguous_storage.inl
  thrust/thrust/detail/temporary_array.inl
  thrust/thrust/detail/vector_base.h
  thrust/thrust/detail/vector_base.inl
  thrust/thrust/device_reference.h
  thrust/thrust/device_vector.h
  thrust/thrust/host_vector.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

prune unused headers, switch to rst-friendly doxygen comment style
  cudax/include/cuda/experimental/__event/event.cuh
  cudax/include/cuda/experimental/__event/event_ref.cuh
  cudax/include/cuda/experimental/__event/timed_event.cuh
Owners: @nvidia/cccl-codeowners

Do no redefine `__ELF__` macro (#2018)
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

add class synopsis comments
  cudax/include/cuda/experimental/__event/event.cuh
  cudax/include/cuda/experimental/__event/event_ref.cuh
  cudax/include/cuda/experimental/__event/timed_event.cuh
Owners: @nvidia/cccl-codeowners

Port `thrust::merge[_by_key]` to CUB (#1817)
  cub/cub/agent/agent_merge.cuh
  cub/cub/agent/agent_merge_sort.cuh
  cub/cub/block/block_merge_sort.cuh
  cub/cub/cub.cuh
  cub/cub/device/device_merge.cuh
  cub/cub/device/dispatch/dispatch_merge.cuh
  cub/cub/device/dispatch/dispatch_merge_sort.cuh
  cub/cub/thread/thread_search.cuh
  cub/cub/util_device.cuh
  cub/cub/util_math.cuh
  cub/test/catch2_test_device_merge.cu
  cub/test/catch2_test_device_merge_api.cu
  docs/cub/device_wide.rst
  thrust/thrust/system/cuda/detail/dispatch.h
  thrust/thrust/system/cuda/detail/merge.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners

Simplify some pointer traits (#2020)
  thrust/thrust/detail/type_traits/pointer_traits.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Update thrust/thrust/detail/function.h
  thrust/thrust/detail/function.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Drop `cuda::get_property` CPO
  libcudacxx/include/cuda/__memory_resource/get_property.h
  libcudacxx/test/libcudacxx/cuda/memory_resource/get_property/get_property.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Drop the synopsis
  libcudacxx/include/cuda/memory_resource
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Update memory_resource docs
  libcudacxx/include/cuda/__memory_resource/cuda_managed_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/cuda_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/cuda_pinned_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/get_property.h
  libcudacxx/include/cuda/__memory_resource/properties.h
  libcudacxx/include/cuda/__memory_resource/resource.h
  libcudacxx/include/cuda/__memory_resource/resource_ref.h
  libcudacxx/include/cuda/memory_resource
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Use the ugly names in documentation
  libcudacxx/include/cuda/__memory_resource/cuda_managed_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/cuda_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/cuda_pinned_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/resource_ref.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Also uglify the tparam
  libcudacxx/include/cuda/__memory_resource/resource.h
  libcudacxx/include/cuda/__memory_resource/resource_ref.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Simplify test data setup
  thrust/testing/scan.cu
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Address more review comments
  libcudacxx/include/cuda/__memory_resource/resource.h
  libcudacxx/include/cuda/__memory_resource/resource_ref.h
  libcudacxx/include/cuda/memory_resource
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Ensure that we test memory resources
  libcudacxx/test/internal_headers/CMakeLists.txt
  libcudacxx/test/libcudacxx/CMakeLists.txt
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_managed_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_managed_memory_resource/equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_managed_memory_resource/traits.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_memory_resource/equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_memory_resource/traits.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_pinned_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_pinned_memory_resource/equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_pinned_memory_resource/traits.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/get_property/forward_property.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/get_property/get_property.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/get_property/has_property.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.construction.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.conversion.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.equality.fail.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.inheritance.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.properties.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.concepts/async_resource.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.concepts/async_resource_with.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.concepts/resource.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.concepts/resource_with.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.construction.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.conversion.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.equality.fail.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.inheritance.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.properties.pass.cpp
  libcudacxx/test/public_headers/CMakeLists.txt
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners

Add tests to ensure that we properly propagate common_type for complex types
  libcudacxx/test/libcudacxx/std/numerics/complex.number/complex.special/double_float_explicit.pass.cpp
  libcudacxx/test/libcudacxx/std/numerics/complex.number/complex.special/float_double_explicit.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Apply suggestions from code review
  libcudacxx/include/cuda/__memory_resource/get_property.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Update Thrust CMake README to use CCCL repo.
  thrust/thrust/cmake/README.md
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners

Fixup libcudacxx codegen CMake stuff
  CMakePresets.json
  libcudacxx/CMakeLists.txt
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-cmake-codeowners

Mount a build directory for CCCL projects if WSL is detected
  .devcontainer/cuda11.1-gcc6/devcontainer.json
  .devcontainer/cuda11.1-gcc7/devcontainer.json
  .devcontainer/cuda11.1-gcc8/devcontainer.json
  .devcontainer/cuda11.1-gcc9/devcontainer.json
  .devcontainer/cuda11.1-llvm9/devcontainer.json
  .devcontainer/cuda11.8-gcc11/devcontainer.json
  .devcontainer/cuda12.0-gcc10/devcontainer.json
  .devcontainer/cuda12.0-gcc11/devcontainer.json
  .devcontainer/cuda12.0-gcc12/devcontainer.json
  .devcontainer/cuda12.0-gcc9/devcontainer.json
  .devcontainer/cuda12.0-llvm10/devcontainer.json
  .devcontainer/cuda12.0-llvm11/devcontainer.json
  .devcontainer/cuda12.0-llvm12/devcontainer.json
  .devcontainer/cuda12.0-llvm13/devcontainer.json
  .devcontainer/cuda12.0-llvm14/devcontainer.json
  .devcontainer/cuda12.0-llvm9/devcontainer.json
  .devcontainer/cuda12.5-gcc10/devcontainer.json
  .devcontainer/cuda12.5-gcc11/devcontainer.json
  .devcontainer/cuda12.5-gcc12/devcontainer.json
  .devcontainer/cuda12.5-gcc13/devcontainer.json
  .devcontainer/cuda12.5-gcc7/devcontainer.json
  .devcontainer/cuda12.5-gcc8/devcontainer.json
  .devcontainer/cuda12.5-gcc9/devcontainer.json
  .devcontainer/cuda12.5-llvm10/devcontainer.json
  .devcontainer/cuda12.5-llvm11/devcontainer.json
  .devcontainer/cuda12.5-llvm12/devcontainer.json
  .devcontainer/cuda12.5-llvm13/devcontainer.json
  .devcontainer/cuda12.5-llvm14/devcontainer.json
  .devcontainer/cuda12.5-llvm15/devcontainer.json
  .devcontainer/cuda12.5-llvm16/devcontainer.json
  .devcontainer/cuda12.5-llvm17/devcontainer.json
  .devcontainer/cuda12.5-llvm9/devcontainer.json
  .devcontainer/cuda12.5-oneapi2023.2.0/devcontainer.json
  .devcontainer/devcontainer.json
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Add a test for Thrust scan with non-commutative op
  thrust/testing/scan.cu
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

construct with a stream_ref and record the event on construction
  cudax/include/cuda/experimental/__event/event.cuh
  cudax/include/cuda/experimental/__event/event_ref.cuh
  cudax/include/cuda/experimental/__event/timed_event.cuh
  cudax/test/event/event_smoke.cu
Owners: @nvidia/cccl-codeowners

Do not rely on conversions between float and extended floating point types
  libcudacxx/include/cuda/std/__cuda/cmath_nvbf16.h
  libcudacxx/include/cuda/std/__cuda/cmath_nvfp16.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Avoid ADL issues with `thrust::distance`
  thrust/thrust/system/cuda/detail/async/copy.h
  thrust/thrust/system/cuda/detail/async/exclusive_scan.h
  thrust/thrust/system/cuda/detail/async/for_each.h
  thrust/thrust/system/cuda/detail/async/inclusive_scan.h
  thrust/thrust/system/cuda/detail/async/sort.h
  thrust/thrust/system/cuda/detail/async/transform.h
  thrust/thrust/system/cuda/detail/merge.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Avoid issues with ternary operator and proxy references
  cub/cub/agent/agent_merge_sort.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Do not require merge to have identical value types for both inputs
  cub/cub/device/dispatch/dispatch_merge.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Simplify test data setup (#2023)
  thrust/testing/scan.cu
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Use shared GHA infra from external repo.
  .github/actions/workflow-build/action.yml
  .github/actions/workflow-build/build-workflow.py
  .github/actions/workflow-build/prepare-workflow-dispatch.py
  .github/actions/workflow-results/action.yml
  .github/actions/workflow-results/final-summary.py
  .github/actions/workflow-results/parse-job-times.py
  .github/actions/workflow-results/prepare-execution-summary.py
  .github/actions/workflow-results/verify-job-success.py
  .github/actions/workflow-run-job-linux/action.yml
  .github/actions/workflow-run-job-windows/action.yml
  .github/workflows/ci-workflow-nightly.yml
  .github/workflows/ci-workflow-pull-request.yml
  .github/workflows/verify-devcontainers.yml
  .github/workflows/workflow-dispatch-standalone-group-linux.yml
  .github/workflows/workflow-dispatch-standalone-group-windows.yml
  .github/workflows/workflow-dispatch-two-stage-group-linux.yml
  .github/workflows/workflow-dispatch-two-stage-group-windows.yml
  .github/workflows/workflow-dispatch-two-stage-linux.yml
  .github/workflows/workflow-dispatch-two-stage-windows.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Temporarily switch nightly H100 CI to build-only.
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Remove sneaky cstdef include that was auto-added
  libcudacxx/include/cuda/std/__atomic/functions/cuda_ptx_derived.h
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Include container toolkit in manual prereqs
  .devcontainer/README.md
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

review feedback
  cudax/include/cuda/experimental/__event/event.cuh
  cudax/include/cuda/experimental/__event/event_ref.cuh
  cudax/include/cuda/experimental/__event/timed_event.cuh
Owners: @nvidia/cccl-codeowners

Add dummy device struct
  cudax/include/cuda/experimental/__device/device.cuh
Owners: @nvidia/cccl-codeowners

Add missing new line
  cudax/include/cuda/experimental/__device/device.cuh
Owners: @nvidia/cccl-codeowners

Fix formatting
  cudax/include/cuda/experimental/__device/device.cuh
Owners: @nvidia/cccl-codeowners

tests for `cudax::event` and `cudax::timed_event`
  cudax/include/cuda/experimental/__event/event.cuh
  cudax/include/cuda/experimental/__event/event_ref.cuh
  cudax/include/cuda/experimental/__event/timed_event.cuh
  cudax/test/CMakeLists.txt
  cudax/test/common/utility.cuh
  cudax/test/event/event_smoke.cu
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-cmake-codeowners

Add tests to ensure that we properly propagate common_type for complex types (#2025)
  libcudacxx/test/libcudacxx/std/numerics/complex.number/complex.special/double_float_explicit.pass.cpp
  libcudacxx/test/libcudacxx/std/numerics/complex.number/complex.special/float_double_explicit.pass.cpp
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Update Thrust CMake README to use CCCL repo. (#2026)
  thrust/thrust/cmake/README.md
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners

Include container toolkit in manual prereqs (#2064)
  .devcontainer/README.md
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Fix printing mismatching sequences of non-addable types before C++17 in Thrust unit tests
  thrust/testing/unittest/assertions.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners
