Repository NVIDIA/cccl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners, @nvidia/cccl-cub-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-infra-codeowners, @nvidia/cccl-cmake-codeowners

Add a header to interact with driver APIs
  cudax/include/cuda/experimental/__utility/driver_api.cuh
Owners: @nvidia/cccl-codeowners

Add default value for device id
  cudax/include/cuda/experimental/__device/device.cuh
Owners: @nvidia/cccl-codeowners

Fix format again
  cudax/include/cuda/experimental/__device/device.cuh
Owners: @nvidia/cccl-codeowners

Add a test for the driver API interaction
  cudax/include/cuda/experimental/__utility/driver_api.cuh
  cudax/test/CMakeLists.txt
  cudax/test/utility/driver_api.cu
Owners: @nvidia/cccl-codeowners, @nvidia/cccl-cmake-codeowners

Extract command line arguments preparation
  benchmarks/scripts/cccl/bench/bench.py
Owners: @nvidia/cccl-codeowners

change `event_ref::wait` to use `cudaEventSynchronize`
  cudax/include/cuda/experimental/__event/event_ref.cuh
  cudax/test/event/event_smoke.cu
Owners: @nvidia/cccl-codeowners

Refactor chevron to cub
  cub/cub/detail/triple_chevron_launch.cuh
  thrust/thrust/system/cuda/detail/core/triple_chevron_launch.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners

Format
  cudax/include/cuda/experimental/__utility/driver_api.cuh
  cudax/test/utility/driver_api.cu
Owners: @nvidia/cccl-codeowners

formatting
  cub/cub/detail/triple_chevron_launch.cuh
  thrust/thrust/system/cuda/detail/core/triple_chevron_launch.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-thrust-codeowners

[skip ci] List mangled benchmark names
  benchmarks/scripts/cccl/bench/bench.py
  benchmarks/scripts/run.py
Owners: @nvidia/cccl-codeowners

Fix formatting issues
  docs/libcudacxx/ptx.rst
  docs/libcudacxx/ptx/examples/device_tensormap_initialization.cu
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Avoid ADL issues with `thrust::distance` (#2053)
  thrust/thrust/system/cuda/detail/async/copy.h
  thrust/thrust/system/cuda/detail/async/exclusive_scan.h
  thrust/thrust/system/cuda/detail/async/for_each.h
  thrust/thrust/system/cuda/detail/async/inclusive_scan.h
  thrust/thrust/system/cuda/detail/async/sort.h
  thrust/thrust/system/cuda/detail/async/transform.h
  thrust/thrust/system/cuda/detail/merge.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Simplify thrust::detail::wrapped_function (#2019)
  thrust/testing/omp/reduce_intervals.cu
  thrust/thrust/detail/function.h
  thrust/thrust/system/detail/generic/binary_search.inl
  thrust/thrust/system/detail/generic/scalar/binary_search.inl
  thrust/thrust/system/detail/sequential/binary_search.h
  thrust/thrust/system/detail/sequential/copy_if.h
  thrust/thrust/system/detail/sequential/extrema.h
  thrust/thrust/system/detail/sequential/find.h
  thrust/thrust/system/detail/sequential/for_each.h
  thrust/thrust/system/detail/sequential/insertion_sort.h
  thrust/thrust/system/detail/sequential/merge.inl
  thrust/thrust/system/detail/sequential/partition.h
  thrust/thrust/system/detail/sequential/reduce.h
  thrust/thrust/system/detail/sequential/remove.h
  thrust/thrust/system/detail/sequential/scan.h
  thrust/thrust/system/detail/sequential/scan_by_key.h
  thrust/thrust/system/detail/sequential/set_operations.h
  thrust/thrust/system/omp/detail/for_each.inl
  thrust/thrust/system/omp/detail/reduce_intervals.inl
  thrust/thrust/system/tbb/detail/copy_if.inl
  thrust/thrust/system/tbb/detail/reduce.inl
  thrust/thrust/system/tbb/detail/scan.inl
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Add a test for Thrust scan with non-commutative op (#2024)
  thrust/testing/scan.cu
  thrust/testing/unittest/assertions.h
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Update cudax/include/cuda/experimental/__device/device.cuh
  cudax/include/cuda/experimental/__device/device.cuh
Owners: @nvidia/cccl-codeowners

Use a struct for windows instead
  cudax/test/event/event_smoke.cu
Owners: @nvidia/cccl-codeowners

Do not include superfluous config header
  cudax/include/cuda/experimental/__event/event.cuh
Owners: @nvidia/cccl-codeowners

Add clang-format rule for cudax
  .clang-format
  cudax/include/cuda/experimental/__event/event.cuh
  cudax/include/cuda/experimental/__event/timed_event.cuh
Owners: @nvidia/cccl-codeowners

Spell `cudax_add_catch2_test` correctly
  cudax/test/CMakeLists.txt
Owners: @nvidia/cccl-cmake-codeowners, @nvidia/cccl-codeowners

Update memory_resource docs (#1883)
  libcudacxx/include/cuda/__memory_resource/cuda_managed_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/cuda_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/cuda_pinned_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/get_property.h
  libcudacxx/include/cuda/__memory_resource/properties.h
  libcudacxx/include/cuda/__memory_resource/resource.h
  libcudacxx/include/cuda/__memory_resource/resource_ref.h
  libcudacxx/include/cuda/memory_resource
Owners: @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-codeowners

Add a cuDF inspired test for merge_by_key
  thrust/testing/merge_by_key.cu
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Temporarily switch nightly H100 CI to build-only. (#2060)
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Allow CUB MergePath to support iterators with different value types
  cub/cub/block/block_merge_sort.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Allow different input value types for merge
  cub/cub/agent/agent_merge.cuh
  cub/cub/agent/agent_merge_sort.cuh
  cub/cub/device/dispatch/dispatch_merge.cuh
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners

Add new runners to nightly matrix.
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

[TEMP] override matrix for testing
  ci/matrix.yaml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Fix formatting issues
  cudax/include/cuda/experimental/__hierarchy/hierarchy_dimensions.cuh
  cudax/include/cuda/experimental/__hierarchy/level_dimensions.cuh
  cudax/include/cuda/experimental/__launch/configuration.cuh
  cudax/include/cuda/experimental/__launch/launch.cuh
  cudax/test/launch/launch_smoke.cu
Owners: @nvidia/cccl-codeowners

Move to rapidsai 24.10 for CI tests
  .github/workflows/build-rapids.yml
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

Address feedback from code review hour
  thrust/thrust/system/tbb/detail/reduce_by_key.inl
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Use value iterator's value type for partial sums in TBB reduce_by_key
  thrust/thrust/system/tbb/detail/reduce_by_key.inl
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Address reviewer feedback
  thrust/thrust/system/tbb/detail/reduce_by_key.inl
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Apply feedback from georgii
  thrust/thrust/system/tbb/detail/reduce_by_key.inl
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

Remove unused header
  thrust/thrust/system/tbb/detail/reduce_by_key.inl
Owners: @nvidia/cccl-thrust-codeowners, @nvidia/cccl-codeowners

fix broken links
  cub/CONTRIBUTING.md
  cub/cub/device/device_spmv.cuh
  docs/cub/index.rst
  docs/libcudacxx/extended_api/memory_access_properties/access_property.rst
  docs/libcudacxx/extended_api/memory_model.rst
  docs/libcudacxx/extended_api/synchronization_primitives.rst
  docs/libcudacxx/ptx.rst
  docs/libcudacxx/standard_api/time_library.rst
  docs/repo.toml
  docs/thrust/releases/changelog.rst
  thrust/README.md
  thrust/thrust/functional.h
  thrust/thrust/replace.h
Owners: @nvidia/cccl-cub-codeowners, @nvidia/cccl-codeowners, @nvidia/cccl-libcudacxx-codeowners, @nvidia/cccl-thrust-codeowners

revert repo.toml
  docs/repo.toml
Owners: @nvidia/cccl-codeowners

revert repo.toml pt. 2
  docs/repo.toml
Owners: @nvidia/cccl-codeowners

add `__scoped_device` for changing and restoring the current device
  cudax/include/cuda/experimental/__device/device.cuh
Owners: @nvidia/cccl-codeowners

Add script to update RAPIDS version.
  ci/update_rapids_version.sh
Owners: @nvidia/cccl-infra-codeowners, @nvidia/cccl-codeowners

add missing `cuda/std/__cccl/attributes.h` include
  cudax/include/cuda/experimental/__device/device.cuh
Owners: @nvidia/cccl-codeowners

add `device::count()` to get the count of devices
  cudax/include/cuda/experimental/__device/device.cuh
Owners: @nvidia/cccl-codeowners

.github/CODEOWNERS:

# general codeowners for all files
# (Order matters. This needs to be at the top)
* @nvidia/cccl-codeowners

# Libraries
thrust/ @nvidia/cccl-thrust-codeowners @nvidia/cccl-codeowners
cub/ @nvidia/cccl-cub-codeowners @nvidia/cccl-codeowners
libcudacxx/ @nvidia/cccl-libcudacxx-codeowners @nvidia/cccl-codeowners

# Infrastructure
.github/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
ci/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners
.devcontainer/ @nvidia/cccl-infra-codeowners @nvidia/cccl-codeowners

# cmake
**/CMakeLists.txt @nvidia/cccl-cmake-codeowners @nvidia/cccl-codeowners
**/cmake/ @nvidia/cccl-cmake-codeowners  @nvidia/cccl-codeowners
