Repository NVIDIA/cccl, pull requests merged in 2023-09, with the labels that each got.

#380 Port cub::DeviceScanByKey tests to Catch2
  cub/test/c2h/generators.cu
  cub/test/catch2_test_device_scan.cuh
  cub/test/catch2_test_device_scan_by_key.cu
  cub/test/catch2_test_device_scan_by_key_iterators.cu
  cub/test/test_device_scan_by_key.cu
Labels: cub, infrastructure

#251 Add ci scripts for windows
  .github/workflows/build-and-test-linux.yml
  .github/workflows/build-and-test-windows.yml
  .github/workflows/build-and-test.yml
  .github/workflows/build-examples.yml
  .github/workflows/dispatch-build-and-test.yml
  .github/workflows/pr.yml
  .gitignore
  CMakeLists.txt
  ci/matrix.yaml
  ci/windows/build_common.psm1
  ci/windows/build_cub.ps1
  ci/windows/build_libcudacxx.ps1
  ci/windows/build_thrust.ps1
  cub/cmake/CubBuildCompilerTargets.cmake
  cub/cub/agent/agent_three_way_partition.cuh
  cub/test/catch2_test_device_scan_iterators.cu
  libcudacxx/.upstream-tests/test/CMakeLists.txt
  libcudacxx/.upstream-tests/test/heterogeneous/barrier_parity.cuda.pass.cpp
  libcudacxx/.upstream-tests/test/heterogeneous/barrier_parity.std.pass.cpp
  libcudacxx/.upstream-tests/test/std/concepts/concepts.callable/concept.invocable/invocable.compile.pass.cpp
  libcudacxx/.upstream-tests/test/std/concepts/concepts.callable/concept.regularinvocable/regular_invocable.compile.pass.cpp
  libcudacxx/.upstream-tests/test/std/iterators/iterator.requirements/alg.req.ind.swap/indirectly_swappable.compile.pass.cpp
  libcudacxx/.upstream-tests/test/std/iterators/iterator.requirements/alg.req.permutable/permutable.compile.pass.cpp
  libcudacxx/.upstream-tests/test/std/iterators/iterator.requirements/indirectcallable/indirectinvocable/indirectly_comparable.compile.pass.cpp
  libcudacxx/.upstream-tests/test/std/iterators/iterator.requirements/iterator.cust/iterator.cust.swap/iter_swap.pass.cpp
  libcudacxx/.upstream-tests/test/std/thread/thread.barrier/completion.pass.cpp
  libcudacxx/.upstream-tests/test/std/utilities/function.objects/range.cmp/equal_to.pass.cpp
  libcudacxx/.upstream-tests/test/std/utilities/function.objects/range.cmp/greater.pass.cpp
  libcudacxx/.upstream-tests/test/std/utilities/function.objects/range.cmp/greater_equal.pass.cpp
  libcudacxx/.upstream-tests/test/std/utilities/function.objects/range.cmp/less.pass.cpp
  libcudacxx/.upstream-tests/test/std/utilities/function.objects/range.cmp/less_equal.pass.cpp
  libcudacxx/.upstream-tests/test/std/utilities/function.objects/range.cmp/not_equal_to.pass.cpp
  libcudacxx/.upstream-tests/test/std/utilities/tuple/tuple.tuple/tuple.cnstr/PR23256_constrain_UTypes_ctor.pass.cpp
  libcudacxx/.upstream-tests/test/support/test_iterators.h
  libcudacxx/.upstream-tests/utils/libcudacxx/compiler.py
  libcudacxx/.upstream-tests/utils/libcudacxx/test/config.py
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
  libcudacxx/include/cuda/std/detail/libcxx/include/cstdlib
  thrust/cmake/ThrustBuildCompilerTargets.cmake
  thrust/testing/random.cu
Labels: feature request, infrastructure

#506 Implement `unreachable_sentinel`
  libcudacxx/.upstream-tests/test/std/iterators/predef.iterators/unreachable.sentinel/unreachable_sentinel.pass.cpp
  libcudacxx/include/cuda/std/detail/libcxx/include/CMakeLists.txt
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
  libcudacxx/include/cuda/std/detail/libcxx/include/__iterator/unreachable_sentinel.h
  libcudacxx/include/cuda/std/detail/libcxx/include/iterator
  libcudacxx/include/cuda/stream_ref
  libcudacxx/libcxx/test/std/iterators/predef.iterators/unreachable.sentinel/unreachable_sentinel.pass.cpp
Labels: feature request, libcu++

#509 Add constant initialization of managed variable to silence gcc warning
  libcudacxx/.upstream-tests/test/heterogeneous/helpers.h
Labels: nvbug, libcu++, bug
