Repository NVIDIA/cccl, pull requests merged in 2023-07, with the labels that each got.

#208 Multi-benchmark tuning
  cub/benchmarks/CMakeLists.txt
  cub/benchmarks/bench/adjacent_difference/subtract_left.cu
  cub/benchmarks/bench/copy/memcpy.cu
  cub/benchmarks/bench/histogram/even.cu
  cub/benchmarks/bench/histogram/multi/even.cu
  cub/benchmarks/bench/histogram/multi/range.cu
  cub/benchmarks/bench/histogram/range.cu
  cub/benchmarks/bench/merge_sort/keys.cu
  cub/benchmarks/bench/merge_sort/pairs.cu
  cub/benchmarks/bench/partition/flagged.cu
  cub/benchmarks/bench/partition/if.cu
  cub/benchmarks/bench/partition/three_way.cu
  cub/benchmarks/bench/radix_sort/keys.cu
  cub/benchmarks/bench/radix_sort/pairs.cu
  cub/benchmarks/bench/reduce/base.cuh
  cub/benchmarks/bench/reduce/by_key.cu
  cub/benchmarks/bench/run_length_encode/encode.cu
  cub/benchmarks/bench/run_length_encode/non_trivial_runs.cu
  cub/benchmarks/bench/scan/exclusive/base.cuh
  cub/benchmarks/bench/scan/exclusive/by_key.cu
  cub/benchmarks/bench/segmented_sort/keys.cu
  cub/benchmarks/bench/segmented_sort/power_law/keys.cu
  cub/benchmarks/bench/segmented_sort/small/keys.cu
  cub/benchmarks/bench/select/flagged.cu
  cub/benchmarks/bench/select/if.cu
  cub/benchmarks/bench/select/unique_by_key.cu
  cub/benchmarks/scripts/analysis.ipynb
  cub/benchmarks/scripts/analyze.py
  cub/benchmarks/scripts/cub/bench/bench.py
  cub/benchmarks/scripts/cub/bench/config.py
  cub/benchmarks/scripts/cub/bench/score.py
  cub/benchmarks/scripts/cub/bench/search.py
  cub/benchmarks/scripts/cub/bench/storage.py
  cub/docs/tuning.rst
Labels: benchmark

#197 [FEA] Implement `iter_move` CPO
  libcudacxx/.upstream-tests/test/std/iterators/iterator.requirements/iterator.cust/iterator.cust.move/iter_move.nodiscard.verify.cpp
  libcudacxx/.upstream-tests/test/std/iterators/iterator.requirements/iterator.cust/iterator.cust.move/iter_move.pass.cpp
  libcudacxx/.upstream-tests/test/std/iterators/iterator.requirements/iterator.cust/iterator.cust.move/iter_rvalue_reference_t.compile.pass.cpp
  libcudacxx/.upstream-tests/test/std/iterators/iterator.requirements/iterator.cust/unqualified_lookup_wrapper.h
  libcudacxx/include/cuda/std/detail/libcxx/include/CMakeLists.txt
  libcudacxx/include/cuda/std/detail/libcxx/include/__iterator/iter_move.h
  libcudacxx/include/cuda/std/detail/libcxx/include/iterator
  libcudacxx/libcxx/test/std/iterators/iterator.requirements/iterator.cust/iterator.cust.move/iter_move.nodiscard.verify.cpp
  libcudacxx/libcxx/test/std/iterators/iterator.requirements/iterator.cust/iterator.cust.move/iter_move.pass.cpp
  libcudacxx/libcxx/test/std/iterators/iterator.requirements/iterator.cust/iterator.cust.move/iter_rvalue_reference_t.compile.pass.cpp
  libcudacxx/libcxx/test/std/iterators/iterator.requirements/iterator.cust/unqualified_lookup_wrapper.h
Labels: feature request, libcu++

#224 [skip-tests] Do not run tests when `skip-tests` is part of the latest commit message
  .github/workflows/dispatch-build-and-test.yml
Labels: infrastructure

#228 Optimize Three-Way Partition
  cub/benchmarks/scripts/analyze.py
  cub/cub/agent/agent_three_way_partition.cuh
  cub/cub/device/dispatch/dispatch_three_way_partition.cuh
  cub/cub/device/dispatch/tuning/tuning_three_way_partition.cuh
Labels: benchmark

#211 Enable use of `cudaMemcpyAsync` for `thrust::copy`
  thrust/thrust/system/cuda/detail/internal/copy_device_to_device.h
Labels: thrust, bug

#201 [BUG] Properly uglify all qualifiers in product headers
  libcudacxx/codegen/codegen.cpp
  libcudacxx/include/cuda/memory_resource
  libcudacxx/include/cuda/std/detail/libcxx/include/__cuda/cstddef_prelude.h
  libcudacxx/include/cuda/std/detail/libcxx/include/support/atomic/atomic_cuda_generated.h
Labels: libcu++, bug

#257 Ensure that any CMake re-rooting doesn't break our find_file
  libcudacxx/lib/cmake/libcudacxx/libcudacxx-header-search.cmake.in
  thrust/thrust/cmake/thrust-header-search.cmake.in
Labels: infrastructure

#256 Add WarpExchangeAlgorithm customization for WarpExchange class
  cub/cub/warp/specializations/warp_exchange_shfl.cuh
  cub/cub/warp/specializations/warp_exchange_smem.cuh
  cub/cub/warp/warp_exchange.cuh
  cub/test/catch2_test_warp_exchange.cuh
  cub/test/catch2_test_warp_exchange_shfl.cu
  cub/test/catch2_test_warp_exchange_smem.cu
Labels: feature request, cub

#258 [BUG]: Avoid deprecation warning for `std::aligned_storage` when building with c++23
  thrust/testing/alignment.cu
  thrust/thrust/detail/alignment.h
Labels: thrust, bug

#267 Port cub::DeviceReduce tests to catch2
  cub/test/bfloat16.h
  cub/test/c2h/extended_types.cuh
  cub/test/c2h/generators.cu
  cub/test/catch2_test_device_reduce.cu
  cub/test/catch2_test_device_reduce.cuh
  cub/test/catch2_test_device_reduce_fp_inf.cu
  cub/test/catch2_test_device_reduce_iterators.cu
  cub/test/half.h
  cub/test/test_device_reduce.cu
  cub/test/test_util.h
  cub/test/test_util_vec.h
Labels: cub, infrastructure

#243 Add support for nvcc-specific matrix.
  .devcontainer/make_devcontainers.sh
  .github/actions/compute-matrix/action.yml
  .github/actions/compute-matrix/compute-matrix.sh
  .github/workflows/compute-matrix.yml
  .github/workflows/pr.yml
  ci/matrix.yaml
Labels: feature request, infrastructure

#170 Project Automation: Move PR and Linked Issues to In Progress
  .github/workflows/project_automation_set_in_progress.yml
  .github/workflows/project_automation_set_in_review.yml
  .github/workflows/project_automation_sync_pr_issues.yml
  .github/workflows/triage_rotation.yml
Labels: feature request, infrastructure
