Repository NVIDIA/cccl, pull requests merged in 2023-08, with the labels that each got.

#250 Allow building CUB tests without cuRand
  ci/build_common.sh
  ci/build_cub.sh
  cub/test/CMakeLists.txt
  cub/test/c2h/generators.cu
Labels: cub, infrastructure

#244 Add new CCCL:: CMake targets
  cub/test/CMakeLists.txt
  lib/cmake/cccl/cccl-config.cmake
Labels: feature request, infrastructure

#281 Replace diag_suppress by nv_diag_suppress in documentation
  libcudacxx/docs/extended_api/synchronization_primitives/barrier.md
  libcudacxx/docs/extended_api/synchronization_primitives/barrier/init.md
  libcudacxx/docs/extended_api/synchronization_primitives/make_pipeline.md
  libcudacxx/docs/extended_api/synchronization_primitives/pipeline.md
  libcudacxx/docs/extended_api/synchronization_primitives/pipeline_producer_commit.md
  libcudacxx/docs/extended_api/synchronization_primitives/pipeline_shared_state.md
  libcudacxx/docs/extended_api/synchronization_primitives/pipeline_shared_state/constructor.md
Labels: doc

#333 [skip-tests] Use builtin for `destructible` concept on MSVC
  libcudacxx/include/cuda/std/detail/libcxx/include/__concepts/destructible.h
Labels: nvbug, libcu++, bug

#202 Add a nvrtc configuration for libcu++
  .github/workflows/pr.yml
  ci/matrix.yaml
  ci/nvrtc_libcudacxx.sh
  libcudacxx/.upstream-tests/test/std/concepts/concepts.callable/concept.invocable/invocable.compile.pass.cpp
  libcudacxx/.upstream-tests/test/std/concepts/concepts.callable/concept.regularinvocable/regular_invocable.compile.pass.cpp
  libcudacxx/.upstream-tests/utils/libcudacxx/test/config.py
  libcudacxx/.upstream-tests/utils/nvidia/nvrtc/middle.cu.in
  libcudacxx/.upstream-tests/utils/nvidia/nvrtc/nvrtc.sh
  libcudacxx/.upstream-tests/utils/nvidia/nvrtc/tail.cu.in
Labels: feature request, infrastructure

#355 [skip-tests] Guard inline variables with `_LIBCUDACXX_INLINE_VAR` macro
  libcudacxx/include/cuda/std/detail/libcxx/include/__iterator/concepts.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__iterator/incrementable_traits.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__iterator/iterator_traits.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__iterator/readable_traits.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__type_traits/is_scoped_enum.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__type_traits/is_trivially_copy_assignable.h
Labels: libcu++, bug

#347 Port cub::DeviceScan tests to catch2
  cub/test/catch2_test_device_scan.cu
  cub/test/catch2_test_device_scan.cuh
  cub/test/catch2_test_device_scan_iterators.cu
  cub/test/test_device_scan.cu
Labels: cub, infrastructure

#353 Project Automation: add conditional steps due to context errors
  .github/workflows/project_automation_set_in_progress.yml
Labels: bug

#369 [skip-tests] Skip merge conflict from old iter_swap PR
  libcudacxx/.upstream-tests/test/std/iterators/iterator.requirements/iterator.cust/iterator.cust.swap/iter_swap.pass.cpp
Labels: libcu++, bug

#367 Implement the `permutable` concept
  libcudacxx/.upstream-tests/test/std/iterators/iterator.requirements/alg.req.permutable/permutable.compile.pass.cpp
  libcudacxx/.upstream-tests/test/std/iterators/iterator.requirements/alg.req.permutable/permutable.subsumption.compile.pass.cpp
  libcudacxx/include/cuda/std/detail/libcxx/include/CMakeLists.txt
  libcudacxx/include/cuda/std/detail/libcxx/include/__iterator/permutable.h
  libcudacxx/include/cuda/std/detail/libcxx/include/iterator
  libcudacxx/libcxx/test/std/iterators/iterator.requirements/alg.req.permutable/permutable.compile.pass.cpp
  libcudacxx/libcxx/test/std/iterators/iterator.requirements/alg.req.permutable/permutable.subsumption.compile.pass.cpp
Labels: feature request, libcu++
