Repository NVIDIA/cccl, pull requests merged in 2024-05, with the labels that each got.

#1670 Format core headers
  .clang-format
  libcudacxx/include/cuda/std/__algorithm/max.h
  libcudacxx/include/cuda/std/__algorithm/min.h
  libcudacxx/include/cuda/std/__algorithm/min_element.h
  libcudacxx/include/cuda/std/__utility/cmp.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__debug
  libcudacxx/include/cuda/std/detail/libcxx/include/__functional_base
  libcudacxx/include/cuda/std/detail/libcxx/include/__pragma_push
  libcudacxx/include/cuda/std/detail/libcxx/include/__threading_support
  libcudacxx/include/cuda/std/detail/libcxx/include/__undef_macros
  libcudacxx/include/cuda/std/detail/libcxx/include/__verbose_abort
  libcudacxx/include/cuda/std/detail/libcxx/include/algorithm
  libcudacxx/include/cuda/std/detail/libcxx/include/array
  libcudacxx/include/cuda/std/detail/libcxx/include/barrier
  libcudacxx/include/cuda/std/detail/libcxx/include/bit
  libcudacxx/include/cuda/std/detail/libcxx/include/cassert
  libcudacxx/include/cuda/std/detail/libcxx/include/ccomplex
  libcudacxx/include/cuda/std/detail/libcxx/include/cfloat
  libcudacxx/include/cuda/std/detail/libcxx/include/chrono
  libcudacxx/include/cuda/std/detail/libcxx/include/climits
  libcudacxx/include/cuda/std/detail/libcxx/include/cmath
  libcudacxx/include/cuda/std/detail/libcxx/include/complex
  libcudacxx/include/cuda/std/detail/libcxx/include/cstddef
  libcudacxx/include/cuda/std/detail/libcxx/include/cstdint
  libcudacxx/include/cuda/std/detail/libcxx/include/cstdlib
  libcudacxx/include/cuda/std/detail/libcxx/include/cstring
  libcudacxx/include/cuda/std/detail/libcxx/include/ctime
  libcudacxx/include/cuda/std/detail/libcxx/include/exception
  libcudacxx/include/cuda/std/detail/libcxx/include/expected
  libcudacxx/include/cuda/std/detail/libcxx/include/functional
  libcudacxx/include/cuda/std/detail/libcxx/include/initializer_list
  libcudacxx/include/cuda/std/detail/libcxx/include/iosfwd
  libcudacxx/include/cuda/std/detail/libcxx/include/iterator
  libcudacxx/include/cuda/std/detail/libcxx/include/latch
  libcudacxx/include/cuda/std/detail/libcxx/include/limits
  libcudacxx/include/cuda/std/detail/libcxx/include/mdspan
  libcudacxx/include/cuda/std/detail/libcxx/include/new
  libcudacxx/include/cuda/std/detail/libcxx/include/optional
  libcudacxx/include/cuda/std/detail/libcxx/include/ranges
  libcudacxx/include/cuda/std/detail/libcxx/include/ratio
  libcudacxx/include/cuda/std/detail/libcxx/include/semaphore
  libcudacxx/include/cuda/std/detail/libcxx/include/span
  libcudacxx/include/cuda/std/detail/libcxx/include/stdexcept
  libcudacxx/include/cuda/std/detail/libcxx/include/tuple
  libcudacxx/include/cuda/std/detail/libcxx/include/type_traits
  libcudacxx/include/cuda/std/detail/libcxx/include/utility
  libcudacxx/include/cuda/std/detail/libcxx/include/variant
Labels: feature request, libcu++

#1675 Guard `resource_ref` and friends behind feature flag
  libcudacxx/docs/extended_api/memory_resource.md
  libcudacxx/include/cuda/__memory_resource/cuda_managed_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/cuda_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/cuda_pinned_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/get_property.h
  libcudacxx/include/cuda/__memory_resource/properties.h
  libcudacxx/include/cuda/__memory_resource/resource.h
  libcudacxx/include/cuda/__memory_resource/resource_ref.h
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_managed_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_managed_memory_resource/equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_managed_memory_resource/traits.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_memory_resource/equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_memory_resource/traits.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_pinned_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_pinned_memory_resource/equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_pinned_memory_resource/traits.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/get_property/forward_property.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/get_property/get_property.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/get_property/has_property.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.construction.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.conversion.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.equality.fail.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.inheritance.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.properties.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.concepts/async_resource.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.concepts/async_resource_with.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.concepts/resource.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.concepts/resource_with.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.construction.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.conversion.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.equality.fail.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.inheritance.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.properties.pass.cpp
Labels: feature request, libcu++

#1687 Install CUB headers with .hpp extension
  cub/cmake/CubInstallRules.cmake
Labels: cub, bug, breaking

#1643 Fix issues that came up with building cuDF with main
  cub/cub/device/dispatch/dispatch_merge_sort.cuh
  cub/cub/device/dispatch/dispatch_select_if.cuh
  cub/cub/device/dispatch/dispatch_unique_by_key.cuh
  cub/cub/util_device.cuh
  cub/cub/util_vsmem.cuh
  cub/test/catch2_test_vsmem.cu
  libcudacxx/include/cuda/__memory_resource/cuda_pinned_memory_resource.h
  libcudacxx/include/cuda/discard_memory
  libcudacxx/include/cuda/functional
  libcudacxx/include/cuda/std/__cccl/execution_space.h
  libcudacxx/include/cuda/std/__utility/pair.h
  libcudacxx/include/cuda/std/detail/libcxx/include/tuple
  thrust/testing/pair.cu
  thrust/testing/tuple.cu
  thrust/thrust/detail/functional/actor.h
  thrust/thrust/detail/functional/actor.inl
  thrust/thrust/iterator/detail/tuple_of_iterator_references.h
  thrust/thrust/optional.h
  thrust/thrust/pair.h
  thrust/thrust/system/cuda/detail/copy_if.h
  thrust/thrust/tuple.h
Labels: libcu++, bug

#1681 Drop new properties until we are certain about the design
  libcudacxx/docs/extended_api/memory_resource/properties.md
  libcudacxx/include/cuda/__memory_resource/cuda_managed_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/cuda_pinned_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/properties.h
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_managed_memory_resource/equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_pinned_memory_resource/equality.pass.cpp
Labels: feature request, libcu++

#1652 Fix code sample in README and docs
  cub/docs/index.rst
Labels: cub, doc, area: docs

#1710 Several improvements to zip_iterator/zip_function
  thrust/testing/zip_function.cu
  thrust/testing/zip_iterator.cu
  thrust/thrust/iterator/zip_iterator.h
  thrust/thrust/zip_function.h
Labels: thrust

#1717 Expose thrust's contiguous iterator unwrap helpers
  thrust/testing/is_contiguous_iterator.cu
  thrust/thrust/system/cuda/detail/adjacent_difference.h
  thrust/thrust/system/cuda/detail/scan_by_key.h
  thrust/thrust/type_traits/is_contiguous_iterator.h
Labels: thrust

#1663 Ensure that we can use `cuda::std::optional` with types that are not `__host__ __device__`
  libcudacxx/include/cuda/std/__expected/expected_base.h
  libcudacxx/include/cuda/std/detail/libcxx/include/optional
Labels: feature request, libcu++, bug:compiler, 2.5.0

#1485 Add a new CUDA Next library and a first entry in it with hierarchy_dimensions type template
  .devcontainer/cuda12.0-gcc10/devcontainer.json
  .devcontainer/cuda12.0-gcc11/devcontainer.json
  .devcontainer/cuda12.0-gcc12/devcontainer.json
  .devcontainer/cuda12.0-gcc9/devcontainer.json
  .devcontainer/cuda12.0-llvm10/devcontainer.json
  .devcontainer/cuda12.0-llvm11/devcontainer.json
  .devcontainer/cuda12.0-llvm12/devcontainer.json
  .devcontainer/cuda12.0-llvm13/devcontainer.json
  .devcontainer/cuda12.0-llvm14/devcontainer.json
  .devcontainer/cuda12.0-llvm9/devcontainer.json
  .devcontainer/make_devcontainers.sh
  .github/actions/workflow-build/build-workflow.py
  CMakeLists.txt
  CMakePresets.json
  ci/build_cudax.sh
  ci/inspect_changes.sh
  ci/matrix.yaml
  ci/test_cudax.sh
  ci/update_version.sh
  ci/windows/build_cudax.ps1
  cudax/CMakeLists.txt
  cudax/LICENSE.TXT
  cudax/README.md
  cudax/cmake/AppendOptionIfAvailable.cmake
  cudax/cmake/CPM.cmake
  cudax/cmake/cudaxAddSubdir.cmake
  cudax/cmake/cudaxBuildCompilerTargets.cmake
  cudax/cmake/cudaxBuildTargetList.cmake
  cudax/cmake/cudaxHeaderTesting.cmake
  cudax/cmake/cudaxInstallRules.cmake
  cudax/cmake/header_test.in.cu
  cudax/include/cuda/experimental/version.cuh
  cudax/lib/cmake/cudax/cudax-config-version.cmake
  cudax/lib/cmake/cudax/cudax-config.cmake
  cudax/test/CMakeLists.txt
  cudax/test/catch2_helpers/catch2_main.cpp
  cudax/test/hierarchy_custom_types.cu
  cudax/test/hierarchy_smoke.cu
  lib/cmake/cccl/cccl-config.cmake
  test/cmake/CMakeLists.txt
  test/cmake/test_export/CMakeLists.txt
Labels: feature request, nvbug, infrastructure, CUDA Next

#1726 Const-qualify `half_t::operator+/*`
  cub/test/half.h
Labels: cub, bug

#1725 Reenable previously failing histogram test for icc
  cub/test/test_device_histogram.cu
Labels: cub

#1685 Ensure that {cr}begin works with types that pull in namespace std via ADL
  cub/test/catch2_test_helper.h
  libcudacxx/include/cuda/__cccl_config
  libcudacxx/include/cuda/std/__cccl/sequence_access.h
  libcudacxx/include/cuda/std/__cuda/barrier.h
  libcudacxx/include/cuda/std/__iterator/access.h
  libcudacxx/include/cuda/std/__iterator/reverse_access.h
  libcudacxx/include/cuda/std/__ranges/subrange.h
  libcudacxx/include/cuda/std/__ranges/view_interface.h
  libcudacxx/include/cuda/std/__type_traits/is_swappable.h
  libcudacxx/include/cuda/std/__utility/swap.h
  libcudacxx/include/cuda/std/detail/libcxx/include/tuple
  libcudacxx/test/libcudacxx/std/iterators/iterator.range/begin-end.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/meta/meta.unary/meta.unary.prop/is_swappable.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/utility/utility.swap/swap.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/utility/utility.swap/swap_array.pass.cpp
  thrust/thrust/detail/contiguous_storage.h
  thrust/thrust/detail/range/head_flags.h
  thrust/thrust/detail/range/tail_flags.h
  thrust/thrust/detail/trivial_sequence.h
  thrust/thrust/detail/vector_base.h
Labels: libcu++, bug: functional, 2.5.0

#1762 Const-qualify histogram pointer input parameters
  cub/cub/device/device_histogram.cuh
  cub/cub/device/dispatch/dispatch_histogram.cuh
Labels: cub

#1773 Return demangled name in `c2h::type_name`
  cub/test/c2h/utility.cuh
  thrust/testing/unittest/system.h
Labels: cub

#1770 Refactor CUB test launch helpers
  cub/test/catch2_test_launch_helper.h
Labels: cub

#1764 Replace `cub::ArrayWrapper` by `cuda::std::array` and deprecate it
  cub/cub/device/dispatch/dispatch_histogram.cuh
  cub/cub/util_type.cuh
Labels: cub

#1785 Fix `__half` conversion to float in histogram
  cub/cub/device/dispatch/dispatch_histogram.cuh
Labels: nvbug, cub, bug: functional

#1786 Implement P3029R1: deduction from `integral_constant`
  libcudacxx/include/cuda/std/detail/libcxx/include/span
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.cons/deduct.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.cons/stdarray.pass.cpp
  libcudacxx/test/support/test_macros.h
Labels: feature request, libcu++

#1695 Port to Catch2 and rework device histogram test
  cub/cub/device/dispatch/dispatch_histogram.cuh
  cub/cub/util_type.cuh
  cub/test/catch2_test_device_histogram.cu
  cub/test/catch2_test_launch_helper.h
  cub/test/half.h
  cub/test/test_device_histogram.cu
Labels: cub
