Repository NVIDIA/cccl, pull requests merged in 2024-10, with the labels that each got.

#2483 Fix `common_type` specialization for extended floating point types
  libcudacxx/include/cuda/std/__type_traits/common_type.h
  libcudacxx/test/libcudacxx/cuda/float/half_common_type.pass.cpp
Labels: libcu++, bug: functional

#2455 Implement some CUDA API calls for `async_memory_pool`
  cudax/include/cuda/experimental/__memory_resource/async_memory_pool.cuh
  cudax/test/memory_resource/async_memory_pool.cu
Labels: feature request, CUDA Next

#2465 Disable system header for narrowing conversion check
  libcudacxx/include/cuda/std/__cccl/is_non_narrowing_convertible.h
  libcudacxx/include/cuda/std/__cccl/system_header.h
  libcudacxx/include/cuda/std/__complex/nvbf16.h
  libcudacxx/include/cuda/std/__complex/nvfp16.h
  libcudacxx/include/cuda/std/__complex/vector_support.h
  libcudacxx/include/cuda/std/detail/libcxx/include/complex
  libcudacxx/test/libcudacxx/std/numerics/complex.number/complex.special/double_float_explicit.pass.cpp
  libcudacxx/test/libcudacxx/std/numerics/complex.number/complex.special/float_double_explicit.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/any.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/none.pass.cpp
Labels: nvbug, libcu++, bug: functional

#2489 Require resources to always provide at least one execution space property
  cudax/include/cuda/experimental/__container/uninitialized_async_buffer.cuh
  cudax/include/cuda/experimental/__container/uninitialized_buffer.cuh
  cudax/include/cuda/experimental/__memory_resource/any_resource.cuh
  cudax/include/cuda/experimental/__memory_resource/async_memory_resource.cuh
  cudax/test/containers/uninitialized_async_buffer.cu
  cudax/test/containers/uninitialized_buffer.cu
  cudax/test/memory_resource/any_async_resource.cu
  cudax/test/memory_resource/any_resource.cu
  cudax/test/memory_resource/async_memory_resource.cu
  cudax/test/memory_resource/shared_resource.cu
  cudax/test/memory_resource/test_resource.h
  libcudacxx/include/cuda/__memory_resource/device_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/managed_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/pinned_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/properties.h
  libcudacxx/include/cuda/__memory_resource/resource_ref.h
  libcudacxx/test/libcudacxx/cuda/memory_resource/async_resource_ref/allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/async_resource_ref/construction.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/async_resource_ref/conversion.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/async_resource_ref/equality.fail.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/async_resource_ref/equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/async_resource_ref/inheritance.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/async_resource_ref/properties.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/async_resource_ref/types.h
  libcudacxx/test/libcudacxx/cuda/memory_resource/concepts/async_resource.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/concepts/async_resource_with.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/concepts/resource.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/concepts/resource_with.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/device_memory_resource/equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/managed_memory_resource/equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/pinned_memory_resource/equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/properties/properties.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/resource_ref/allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/resource_ref/construction.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/resource_ref/conversion.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/resource_ref/equality.fail.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/resource_ref/equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/resource_ref/inheritance.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/resource_ref/properties.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/resource_ref/types.h
Labels: feature request, libcu++, CUDA Next

#2491 Disable execution checks for `std::equal`
  libcudacxx/include/cuda/std/__algorithm/equal.h
Labels: feature request, libcu++

#2443 Cleanup and modularize `<cuda/std/barrier>`
  libcudacxx/include/cuda/__barrier/aligned_size.h
  libcudacxx/include/cuda/__barrier/async_contract_fulfillment.h
  libcudacxx/include/cuda/__barrier/barrier.h
  libcudacxx/include/cuda/__barrier/barrier_arrive_tx.h
  libcudacxx/include/cuda/__barrier/barrier_block_scope.h
  libcudacxx/include/cuda/__barrier/barrier_expect_tx.h
  libcudacxx/include/cuda/__barrier/barrier_native_handle.h
  libcudacxx/include/cuda/__barrier/barrier_thread_scope.h
  libcudacxx/include/cuda/__fwd/barrier.h
  libcudacxx/include/cuda/__fwd/barrier_native_handle.h
  libcudacxx/include/cuda/__fwd/pipeline.h
  libcudacxx/include/cuda/__memcpy_async/completion_mechanism.h
  libcudacxx/include/cuda/__memcpy_async/cp_async_bulk_shared_global.h
  libcudacxx/include/cuda/__memcpy_async/cp_async_fallback.h
  libcudacxx/include/cuda/__memcpy_async/cp_async_shared_global.h
  libcudacxx/include/cuda/__memcpy_async/dispatch_memcpy_async.h
  libcudacxx/include/cuda/__memcpy_async/is_local_smem_barrier.h
  libcudacxx/include/cuda/__memcpy_async/memcpy_async.h
  libcudacxx/include/cuda/__memcpy_async/memcpy_async_barrier.h
  libcudacxx/include/cuda/__memcpy_async/memcpy_async_tx.h
  libcudacxx/include/cuda/__memcpy_async/memcpy_completion.h
  libcudacxx/include/cuda/__memcpy_async/try_get_barrier_handle.h
  libcudacxx/include/cuda/barrier
  libcudacxx/include/cuda/std/__barrier/barrier.h
  libcudacxx/include/cuda/std/__barrier/empty_completion.h
  libcudacxx/include/cuda/std/__barrier/poll_tester.h
  libcudacxx/include/cuda/std/__cuda/barrier.h
  libcudacxx/include/cuda/std/barrier
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
  libcudacxx/include/cuda/std/detail/libcxx/include/__threading_support
  libcudacxx/include/cuda/std/detail/libcxx/include/barrier
Labels: feature request, libcu++

#2441 Cleanup the semaphore headers
  libcudacxx/include/cuda/__semaphore/counting_semaphore.h
  libcudacxx/include/cuda/semaphore
  libcudacxx/include/cuda/std/__semaphore/atomic_semaphore.h
  libcudacxx/include/cuda/std/__semaphore/counting_semaphore.h
  libcudacxx/include/cuda/std/detail/libcxx/include/semaphore
  libcudacxx/include/cuda/std/semaphore
Labels: feature request, libcu++

#2603 Strip prefix paths from cudax documentation
  docs/repo.toml
Labels: doc

#2619 Rework `head_flags` so that we do not rely on the tuple being unevaluated
  thrust/testing/unique.cu
  thrust/thrust/detail/range/head_flags.h
Labels: nvbug, thrust, bug: functional

#2620 [BACKPORT]: Rework `head_flags` so that we do not rely on the tuple being unevaluated (#2619)
  thrust/testing/unique.cu
  thrust/thrust/detail/range/head_flags.h
Labels: nvbug, thrust, bug: functional, 2.7.0

#1488 Add nvhpc devcontainer to CI
  .devcontainer/cuda12.5-nvhpc24.7/devcontainer.json
  .devcontainer/make_devcontainers.sh
  .devcontainer/verify_devcontainer.sh
  .github/actions/workflow-build/build-workflow.py
  ci/build_cub.sh
  ci/matrix.yaml
  cub/CMakeLists.txt
  cub/cub/detail/nvtx.cuh
  cub/test/CMakeLists.txt
  cub/test/c2h/generators.cu
  cudax/include/cuda/experimental/__async/utility.cuh
  cudax/include/cuda/experimental/__async/when_all.cuh
  libcudacxx/include/cuda/__memory_resource/get_property.h
  libcudacxx/include/cuda/__memory_resource/resource.h
  libcudacxx/include/cuda/std/__cccl/visibility.h
  libcudacxx/include/cuda/std/__iterator/reverse_iterator.h
  libcudacxx/include/cuda/std/__type_traits/is_convertible.h
  libcudacxx/include/cuda/std/detail/libcxx/include/tuple
  libcudacxx/include/cuda/std/detail/libcxx/include/variant
  libcudacxx/test/internal_headers/CMakeLists.txt
  libcudacxx/test/internal_headers/header_test.cpp.in
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/inclusive.scan/inclusive_scan.pass.cpp
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/inclusive.scan/inclusive_scan_op.pass.cpp
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/inclusive.scan/inclusive_scan_op_init.pass.cpp
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/transform.exclusive.scan/transform_exclusive_scan_init_bop_uop.pass.cpp
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/transform.inclusive.scan/transform_inclusive_scan_bop_uop.pass.cpp
  libcudacxx/test/libcudacxx/std/numerics/numeric.ops/transform.inclusive.scan/transform_inclusive_scan_bop_uop_init.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/smartptr/unique.ptr/unique.ptr.create/make_unique.sizezero.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/variant/variant.variant/variant.assign/T.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/variant/variant.variant/variant.assign/conv.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/variant/variant.variant/variant.ctor/T.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/variant/variant.variant/variant.ctor/conv.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/variant/variant.visit/visit_derived.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/variant/variant.visit_return/visit_derived.pass.cpp
  libcudacxx/test/public_headers/header_test.cpp.in
  libcudacxx/test/public_headers_host_only/header_test.cpp.in
  libcudacxx/test/support/variant_test_helpers.h
  thrust/CMakeLists.txt
  thrust/cmake/ThrustBuildCompilerTargets.cmake
  thrust/testing/vector.cu
  thrust/thrust/functional.h
  thrust/thrust/iterator/permutation_iterator.h
  thrust/thrust/iterator/transform_iterator.h
Labels: feature request, infrastructure

#2076 Issue a deprecation warning when compiling with ICC
  CMakePresets.json
  cmake/CCCLBuildCompilerTargets.cmake
  libcudacxx/include/cuda/std/__cccl/compiler.h
  libcudacxx/test/internal_headers/CMakeLists.txt
  libcudacxx/test/libcudacxx/CMakeLists.txt
  libcudacxx/test/public_headers/CMakeLists.txt
  libcudacxx/test/public_headers_host_only/CMakeLists.txt
Labels: libcu++

#2396 Add prefetching kernel as new fallback for `cub::DeviceTransform`
  cub/benchmarks/bench/transform/babelstream.h
  cub/benchmarks/bench/transform/babelstream1.cu
  cub/benchmarks/bench/transform/babelstream2.cu
  cub/benchmarks/bench/transform/babelstream3.cu
  cub/cub/device/dispatch/dispatch_transform.cuh
  cub/test/catch2_test_device_transform.cu
Labels: cub

#2660 Drop `cub::DeviceTransform` fallback to `cub::DeviceFor`
  cub/benchmarks/bench/transform/babelstream.h
  cub/benchmarks/bench/transform/babelstream1.cu
  cub/benchmarks/bench/transform/babelstream2.cu
  cub/benchmarks/bench/transform/babelstream3.cu
  cub/cub/device/dispatch/dispatch_transform.cuh
  cub/test/catch2_test_device_transform.cu
Labels: cub

#2653 Add `thrust::universal_host_pinned_vector`
  libcudacxx/examples/concurrent_hash_table.cu
  thrust/testing/cuda/device_side_universal_vector.cu
  thrust/testing/unittest/testframework.h
  thrust/testing/universal_memory.cu
  thrust/thrust/system/cpp/memory.h
  thrust/thrust/system/cpp/memory_resource.h
  thrust/thrust/system/cpp/vector.h
  thrust/thrust/system/cuda/memory.h
  thrust/thrust/system/cuda/vector.h
  thrust/thrust/system/omp/memory.h
  thrust/thrust/system/omp/memory_resource.h
  thrust/thrust/system/omp/vector.h
  thrust/thrust/system/tbb/memory.h
  thrust/thrust/system/tbb/memory_resource.h
  thrust/thrust/system/tbb/vector.h
  thrust/thrust/universal_vector.h
Labels: thrust
