Repository NVIDIA/cccl, pull requests merged in 2024-03, with the labels that each got.

#1468 Add test coverage for SM90 without PTX ISA 8.0
  .devcontainer/cuda11.8-gcc11/devcontainer.json
  ci/matrix.yaml
  cub/test/catch2_test_helper.h
  cub/test/catch2_test_nvrtc.cu
Labels: feature request, infrastructure

#1470 Ensure that we can use `std::ignore` on device
  libcudacxx/include/cuda/std/detail/libcxx/include/tuple
  libcudacxx/test/libcudacxx/std/utilities/tuple/tuple.general/ignore.pass.cpp
Labels: libcu++, bug: functional

#1475 Ensure that we can test libcu++ against architectures < 70
  libcudacxx/test/public_headers/CMakeLists.txt
Labels: nvbug, libcu++, bug, infrastructure, backport branch/2.4.x

#1476 Reduce number of instantiations in `set_symmetric_difference` tests
  libcudacxx/test/libcudacxx/std/algorithms/alg.sorting/alg.merge/merge.pass.cpp
  libcudacxx/test/libcudacxx/std/algorithms/alg.sorting/alg.merge/merge_comp.pass.cpp
  libcudacxx/test/libcudacxx/std/algorithms/alg.sorting/alg.set.operations/set.symmetric.difference/set_symmetric_difference.pass.cpp
  libcudacxx/test/libcudacxx/std/algorithms/alg.sorting/alg.set.operations/set.symmetric.difference/set_symmetric_difference_comp.pass.cpp
Labels: nvbug, libcu++, infrastructure

#1477 Fixx test issues against gcc-6
  libcudacxx/test/libcudacxx/std/containers/sequences/array/array.creation/to_array.pass.cpp
  libcudacxx/test/libcudacxx/std/iterators/predef.iterators/reverse.iterators/reverse.iter.elem/arrow.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/variant/variant.variant/variant.assign/conv.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/variant/variant.variant/variant.ctor/T.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/variant/variant.variant/variant.ctor/conv.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/variant/variant.visit_return/visit_argument_forwarding.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/variant/variant.visit_return/visit_call_operator_forwarding.pass.cpp
Labels: nvbug, libcu++, bug: functional

#1483 Improve code block CSS in libcu++ docs
  libcudacxx/docs/_sass/color_schemes/nvidia.scss
Labels: doc, area: docs

#1479 Address issues with MSVC2017
  libcudacxx/test/libcudacxx/cuda/barrier/cp_async_bulk_tensor_generic.h
  libcudacxx/test/libcudacxx/std/containers/sequences/array/array.creation/to_array.pass.cpp
  libcudacxx/test/libcudacxx/std/iterators/iterator.requirements/alg.req.mergeable/mergeable.compile.pass.cpp
  libcudacxx/test/libcudacxx/std/iterators/iterator.requirements/alg.req.sortable/sortable.compile.pass.cpp
  libcudacxx/test/libcudacxx/std/iterators/iterator.requirements/indirectcallable/indirectinvocable/indirectly_comparable.compile.pass.cpp
  libcudacxx/test/libcudacxx/std/iterators/iterator.requirements/iterator.cust/iterator.cust.swap/iter_swap.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/func.bind_front/bind_front.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/func.not_fn/not_fn.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/meta/meta.rel/is_convertible.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/meta/meta.rel/is_nothrow_invocable.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/time/time.cal/time.cal.md/time.cal.md.nonmembers/comparisons.pass.cpp
  libcudacxx/test/support/test_macros.h
Labels: nvbug, libcu++, bug

#1511 Ensure that we play nicely with std::iterators
  libcudacxx/include/cuda/std/detail/libcxx/include/__iterator/iterator_traits.h
  libcudacxx/test/libcudacxx/std/iterators/iterator.primitives/iterator.traits/iterator.pass.cpp
Labels: libcu++, bug: functional

#1547 Fix unused variable warning for `__can_use_complete_tx`
  libcudacxx/include/cuda/std/detail/libcxx/include/__cuda/barrier.h
Labels: backport branch/2.4.x, 2.4.0

#1546 Fix usage of naked array with 0 elements in sm90 barrier tests.
  libcudacxx/test/libcudacxx/cuda/barrier/cp_async_bulk_tensor_generic.h
Labels: backport branch/2.4.x, 2.4.0

#1538 Add support for stream operators for complex
  libcudacxx/include/cuda/std/detail/libcxx/include/__cuda/complex_nvbf16.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__cuda/complex_nvfp16.h
  libcudacxx/include/cuda/std/detail/libcxx/include/complex
  libcudacxx/test/libcudacxx/cuda/complex/half_bfloat/complex.assign.pass.cpp
  libcudacxx/test/libcudacxx/cuda/complex/half_bfloat/complex.cons.pass.cpp
  libcudacxx/test/libcudacxx/cuda/complex/std_interop/complex.assign.pass.cpp
  libcudacxx/test/libcudacxx/cuda/complex/std_interop/complex.comp.pass.cpp
  libcudacxx/test/libcudacxx/cuda/complex/std_interop/complex.cons.pass.cpp
  libcudacxx/test/libcudacxx/cuda/complex/std_interop/complex.conv.pass.cpp
  libcudacxx/test/libcudacxx/std/numerics/complex.number/complex.ops/stream_input.pass.cpp
  libcudacxx/test/libcudacxx/std/numerics/complex.number/complex.ops/stream_output.pass.cpp
Labels: feature request, libcu++

#1543 Fix `__half` for older architectures
  libcudacxx/include/cuda/std/detail/libcxx/include/__cuda/cmath_nvbf16.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__cuda/cmath_nvfp16.h
Labels: libcu++, bug: functional, backport branch/2.4.x

#1544 [BACKPORT]: Provide backfills for missing `__half` functionality
  libcudacxx/include/cuda/std/detail/libcxx/include/__cuda/cmath_nvbf16.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__cuda/cmath_nvfp16.h
Labels: nvbug, libcu++, bug: functional

#1553 fix missing __device__ hint in WarpMergeSort Documentation
  cub/cub/warp/warp_merge_sort.cuh
Labels: cub, doc, area: docs

#1567 Work around change in cuTensorMapEncode
  libcudacxx/test/libcudacxx/cuda/barrier/cp_async_bulk_tensor_generic.h
Labels: nvbug, libcu++, bug: functional
