Repository NVIDIA/cccl, pull requests merged in 2024-06, with the labels that each got.

#1796 Restrict active histogram channels to channel count
  cub/cub/device/device_histogram.cuh
  cub/cub/device/dispatch/dispatch_histogram.cuh
Labels: cub, bug: functional

#1802 Cleanup internal thrust CUDA utils
  thrust/thrust/system/cuda/detail/core/util.h
Labels: thrust

#1804 Use variadic interfaces in agent launcher
  thrust/thrust/system/cuda/detail/core/agent_launcher.h
Labels: thrust

#1809 Check size-querying CUB API invocation in tests
  cub/test/catch2_test_launch_helper.h
Labels: cub

#1813 Add missing inline specifiers
  cub/test/catch2_test_device_histogram.cu
  cub/test/catch2_test_printing.cu
  cub/test/mersenne.h
  cub/test/test_util.h
  thrust/thrust/system/detail/error_category.inl
Labels: cub, bug

#1814 Document NVTX range behavior during graph capture
  docs/cub/developer_overview.rst
Labels: cub

#1815 Clean up AliasTemporaries
  cub/cub/util_temporary_storage.cuh
Labels: cub

#1810 Drop removed clang-tidy option
  cub/.clang-tidy
Labels: cub

#1819 Clean up thrust merge unit tests
  thrust/testing/cuda/merge.cu
  thrust/testing/merge.cu
Labels: thrust

#1824 Clean up `merge_by_key` and `merge_key_value` tests
  thrust/testing/merge_by_key.cu
  thrust/testing/merge_key_value.cu
  thrust/testing/unittest/special_types.h
Labels: thrust

#1806 Drop all internal implementations of exceptions
  libcudacxx/include/cuda/__memory_resource/cuda_managed_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/cuda_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/cuda_pinned_memory_resource.h
  libcudacxx/include/cuda/std/__exception/cuda_error.h
  libcudacxx/include/cuda/std/__exception/exception.h
  libcudacxx/include/cuda/std/__exception_
  libcudacxx/include/cuda/std/__expected/bad_expected_access.h
  libcudacxx/include/cuda/std/__functional/function.h
  libcudacxx/include/cuda/std/__new/bad_alloc.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__functional_base
  libcudacxx/include/cuda/std/detail/libcxx/include/array
  libcudacxx/include/cuda/std/detail/libcxx/include/bitset
  libcudacxx/include/cuda/std/detail/libcxx/include/complex
  libcudacxx/include/cuda/std/detail/libcxx/include/exception
  libcudacxx/include/cuda/std/detail/libcxx/include/optional
  libcudacxx/include/cuda/std/detail/libcxx/include/stdexcept
  libcudacxx/include/cuda/std/detail/libcxx/include/variant
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_managed_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_pinned_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/array/at.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/array/at_const.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.dynamic/alloc.errors/bad.alloc/bad_alloc.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.dynamic/alloc.errors/new.badlength/bad_array_new_length.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/bad.exception/bad_exception.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/exception.terminate/set.terminate/get_terminate.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/exception.terminate/set.terminate/set_terminate.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/exception.terminate/terminate.handler/terminate_handler.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/exception.terminate/terminate/terminate.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/exception/exception.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/expected/expected.bad/ctor.error.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/expected/expected.bad/error.member.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/expected/expected.bad/what.noexcept.compile.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/default.allocator/allocator.members/allocate.size.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/variant/variant.bad_variant_access/bad_variant_access.pass.cpp
  libcudacxx/test/utils/libcudacxx/test/config.py
Labels: 2.5.0

#1836 Fix span for non-ranges
  libcudacxx/include/cuda/std/detail/libcxx/include/span
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.cons/conversion.pass.cpp
Labels: libcu++, bug: functional, 2.5.0

#1837 Cleanup thrust test special types
  thrust/testing/unittest/special_types.h
Labels: thrust

#1835 Port CUB temporary storage layout test to Catch2
  cub/test/catch2_test_temporary_storage_layout.cu
Labels: cub

#1834 Port CUB thread operators test to Catch2
  cub/test/catch2_test_thread_operators.cu
Labels: cub

#1838 Port CUB thread sort test to Catch2
  cub/test/catch2_test_thread_sort.cu
Labels: cub

#1848 Cleanup CUB temporary storage layout test
  cub/test/catch2_test_temporary_storage_layout.cu
Labels: cub

#1851 Provide libcu++ transparent functors in C++11
  libcudacxx/include/cuda/std/__functional/operations.h
  libcudacxx/test/libcudacxx/std/utilities/function.objects/arithmetic.operations/divides.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/arithmetic.operations/minus.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/arithmetic.operations/modulus.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/arithmetic.operations/multiplies.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/arithmetic.operations/negate.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/arithmetic.operations/plus.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/arithmetic.operations/transparent.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/bitwise.operations/bit_and.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/bitwise.operations/bit_or.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/bitwise.operations/bit_xor.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/bitwise.operations/transparent.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/comparisons/equal_to.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/comparisons/greater.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/comparisons/greater_equal.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/comparisons/less.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/comparisons/less_equal.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/comparisons/not_equal_to.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/comparisons/pointer_comparison_test_helper.hpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/comparisons/transparent.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/logical.operations/logical_and.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/logical.operations/logical_not.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/logical.operations/logical_or.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/function.objects/logical.operations/transparent.pass.cpp
Labels: libcu++

#1822 Port CUB iterator test to Catch2
  cub/test/CMakeLists.txt
  cub/test/catch2_test_iterator.cu
  cub/test/test_iterator.cu
Labels: cub

#1832 Symbol visibility is now invariant in regards to `__cuda_std__` definition
  libcudacxx/include/cuda/std/__functional/bind.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
  libcudacxx/include/cuda/std/detail/libcxx/include/__debug
  libcudacxx/include/cuda/std/detail/libcxx/include/__threading_support
  libcudacxx/include/cuda/std/detail/libcxx/include/algorithm
  libcudacxx/include/cuda/std/detail/libcxx/include/chrono
Labels: libcu++, bug: functional, 2.5.0

#1860 Remove cpp11_required.h
  thrust/thrust/allocate_unique.h
  thrust/thrust/detail/cpp11_required.h
  thrust/thrust/detail/dependencies_aware_execution_policy.h
  thrust/thrust/detail/execute_with_dependencies.h
  thrust/thrust/detail/select_system.h
  thrust/thrust/detail/shuffle.inl
  thrust/thrust/detail/tuple_algorithms.h
  thrust/thrust/detail/type_deduction.h
  thrust/thrust/device_make_unique.h
  thrust/thrust/mr/disjoint_sync_pool.h
  thrust/thrust/mr/disjoint_tls_pool.h
  thrust/thrust/mr/sync_pool.h
  thrust/thrust/mr/tls_pool.h
  thrust/thrust/optional.h
  thrust/thrust/per_device_resource.h
  thrust/thrust/shuffle.h
  thrust/thrust/system/cuda/detail/per_device_resource.h
  thrust/thrust/system/detail/generic/shuffle.h
  thrust/thrust/type_traits/integer_sequence.h
  thrust/thrust/type_traits/logical_metafunctions.h
  thrust/thrust/zip_function.h
Labels: thrust

#1864 [BACKPORT] Symbol visibility is now invariant in regards to `__cuda_std__` definition (#1832)
  libcudacxx/include/cuda/std/__functional/bind.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
  libcudacxx/include/cuda/std/detail/libcxx/include/__debug
  libcudacxx/include/cuda/std/detail/libcxx/include/__threading_support
  libcudacxx/include/cuda/std/detail/libcxx/include/algorithm
  libcudacxx/include/cuda/std/detail/libcxx/include/chrono
Labels: libcu++, bug:compiler

#1850 Make CUB test launch wrappers functor instances
  cub/test/catch2_test_launch_helper.h
Labels: cub

#1867 Improve CUB test overview docs
  docs/cub/test_overview.rst
Labels: cub

#1862 Improve CUB device-scope documentation
  cub/cub/util_device.cuh
  docs/cub/developer_overview.rst
Labels: cub, doc

#1859 Make integer sequence et al. available in C++11
  docs/thrust/api_docs/utility/type_traits.rst
  libcudacxx/include/cuda/std/__utility/integer_sequence.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
  libcudacxx/test/libcudacxx/std/utilities/intseq/intseq.general/integer_seq.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/intseq/intseq.intseq/integer_seq.compile.fail.cpp
  libcudacxx/test/libcudacxx/std/utilities/intseq/intseq.intseq/integer_seq.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/intseq/intseq.make/make_integer_seq.fail.cpp
  libcudacxx/test/libcudacxx/std/utilities/intseq/intseq.make/make_integer_seq.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/intseq/intseq.make/make_integer_seq_fallback.compile.fail.cpp
  libcudacxx/test/libcudacxx/std/utilities/intseq/intseq.make/make_integer_seq_fallback.pass.cpp
  thrust/thrust/type_traits/integer_sequence.h
Labels: thrust, libcu++

#1857 Minimize template instantiations in CUB thread_load
  cub/cub/block/specializations/block_scan_warp_scans.cuh
  cub/cub/thread/thread_load.cuh
Labels: cub

#1868 Drop facilities deprecated in CUB 1.x
  cub/cub/block/block_adjacent_difference.cuh
  cub/cub/cub.cuh
  cub/cub/iterator/tex_ref_input_iterator.cuh
  cub/cub/util_type.cuh
  cub/test/test_iterator_deprecated.cu
Labels: cub

#1884 Make thrust::sort use radix sort with more comparators
  thrust/testing/cuda/sort.cu
  thrust/thrust/system/cuda/detail/sort.h
Labels: thrust

#1904 Qualify call to distance in thrust::async_reduce
  thrust/testing/async_reduce.cu
  thrust/thrust/system/cuda/detail/async/reduce.h
  thrust/thrust/system/cuda/detail/future.inl
Labels: thrust, bug

#1913 Rename CUB uninitialized_copy
  cub/cub/agent/single_pass_scan_operators.cuh
  cub/cub/block/block_exchange.cuh
  cub/cub/block/specializations/block_reduce_warp_reductions.cuh
  cub/cub/block/specializations/block_scan_raking.cuh
  cub/cub/block/specializations/block_scan_warp_scans.cuh
  cub/cub/detail/uninitialized_copy.cuh
  cub/cub/device/dispatch/dispatch_reduce.cuh
  cub/cub/util_type.cuh
Labels: cub

#1914 Use c2h::vectors in all non-example CUB tests
  cub/test/catch2_test_device_select_if_vsmem.cu
  cub/test/test_device_spmv.cu
Labels: cub

#1920 Renamed overlooked uninitialized_copy
  cub/cub/detail/uninitialized_copy.cuh
Labels: cub, bug
