Repository NVIDIA/cccl, pull requests merged in 2024-07, with the labels that each got.

#1875 Follow-up fixes to CUB iterator test
  cub/test/CMakeLists.txt
  cub/test/c2h/custom_type.cuh
  cub/test/c2h/generators.cu
  cub/test/catch2_test_iterator.cu
Labels: cub

#1863 Cleanup CUB util_type.cuh
  cub/benchmarks/bench/radix_sort/keys.cu
  cub/benchmarks/bench/radix_sort/pairs.cu
  cub/cub/agent/agent_histogram.cuh
  cub/cub/agent/agent_radix_sort_onesweep.cuh
  cub/cub/agent/agent_reduce.cuh
  cub/cub/agent/agent_reduce_by_key.cuh
  cub/cub/agent/agent_rle.cuh
  cub/cub/agent/agent_scan.cuh
  cub/cub/agent/agent_scan_by_key.cuh
  cub/cub/agent/agent_segment_fixup.cuh
  cub/cub/agent/agent_select_if.cuh
  cub/cub/agent/agent_spmv_orig.cuh
  cub/cub/agent/agent_three_way_partition.cuh
  cub/cub/agent/single_pass_scan_operators.cuh
  cub/cub/block/block_adjacent_difference.cuh
  cub/cub/block/block_discontinuity.cuh
  cub/cub/block/block_histogram.cuh
  cub/cub/block/block_radix_rank.cuh
  cub/cub/block/block_reduce.cuh
  cub/cub/block/block_scan.cuh
  cub/cub/device/dispatch/dispatch_batch_memcpy.cuh
  cub/cub/device/dispatch/dispatch_histogram.cuh
  cub/cub/device/dispatch/dispatch_merge_sort.cuh
  cub/cub/device/dispatch/dispatch_radix_sort.cuh
  cub/cub/device/dispatch/dispatch_scan.cuh
  cub/cub/device/dispatch/dispatch_scan_by_key.cuh
  cub/cub/device/dispatch/dispatch_segmented_sort.cuh
  cub/cub/util_device.cuh
  cub/cub/util_type.cuh
  cub/cub/util_vsmem.cuh
  cub/cub/warp/warp_exchange.cuh
  cub/cub/warp/warp_reduce.cuh
  cub/cub/warp/warp_scan.cuh
  cub/test/c2h/generators.cu
  cub/test/catch2_test_block_run_length_decode.cu
  cub/test/catch2_test_util_type.cu
  cub/test/catch2_test_warp_merge_sort.cu
  cub/test/catch2_test_warp_reduce.cu
  cub/test/test_device_spmv.cu
  docs/cub/developer_overview.rst
Labels: cub

#1929 Fix include for <iterator> in cub/util_type.cuh
  cub/cub/util_type.cuh
Labels: cub

#1931 Fix issues with comments in the concept emulation
  libcudacxx/include/cuda/std/__concepts/movable.h
  libcudacxx/include/cuda/std/__concepts/predicate.h
  libcudacxx/include/cuda/std/__cuda/barrier.h
  libcudacxx/include/cuda/std/__iterator/iterator_traits.h
  libcudacxx/include/cuda/std/__iterator/sortable.h
  libcudacxx/include/cuda/std/__ranges/subrange.h
  libcudacxx/include/cuda/std/detail/libcxx/include/span
  libcudacxx/test/libcudacxx/std/concepts/concepts.lang/concept.default.init/default_initializable.verify.cpp
  libcudacxx/test/libcudacxx/std/iterators/iterator.requirements/indirectcallable/indirectinvocable/indirect_result_t.compile.pass.cpp
  libcudacxx/test/libcudacxx/std/iterators/iterator.requirements/indirectcallable/projected/projected.compile.pass.cpp
  libcudacxx/test/libcudacxx/std/iterators/iterator.requirements/iterator.assoc.types/readable.traits/indirectly_readable_traits.compile.pass.cpp
  libcudacxx/test/libcudacxx/std/iterators/iterator.requirements/iterator.concepts/iterator.concept.readable/iter_common_reference_t.compile.pass.cpp
Labels: libcu++, bug: functional

#1925 Deprecate and reduce use of old functional stuff
  cub/test/catch2_large_array_sort_helper.cuh
  docs/repo.toml
  libcudacxx/include/cuda/std/__functional/binary_negate.h
  libcudacxx/include/cuda/std/__functional/unary_negate.h
  thrust/examples/bounding_box.cu
  thrust/examples/bucket_sort2d.cu
  thrust/examples/cuda/range_view.cu
  thrust/examples/dot_products_with_zip.cu
  thrust/examples/lambda.cu
  thrust/examples/max_abs_diff.cu
  thrust/examples/minmax.cu
  thrust/examples/monte_carlo.cu
  thrust/examples/monte_carlo_disjoint_sequences.cu
  thrust/examples/padded_grid_reduction.cu
  thrust/examples/repeated_range.cu
  thrust/examples/saxpy.cu
  thrust/examples/scan_by_key.cu
  thrust/examples/scan_matrix_by_rows.cu
  thrust/examples/simple_moving_average.cu
  thrust/examples/stream_compaction.cu
  thrust/examples/strided_range.cu
  thrust/examples/sum_rows.cu
  thrust/examples/summary_statistics.cu
  thrust/examples/summed_area_table.cu
  thrust/examples/tiled_range.cu
  thrust/examples/transform_iterator.cu
  thrust/examples/word_count.cu
  thrust/testing/cuda/reduce_by_key.cu
  thrust/testing/cuda/remove.cu
  thrust/testing/cuda/transform.cu
  thrust/testing/functional.cu
  thrust/testing/remove.cu
  thrust/testing/sort_permutation_iterator.cu
  thrust/testing/transform.cu
  thrust/thrust/detail/config/deprecated.h
  thrust/thrust/detail/functional.inl
  thrust/thrust/detail/internal_functional.h
  thrust/thrust/functional.h
  thrust/thrust/system/cuda/detail/find.h
  thrust/thrust/system/cuda/detail/remove.h
  thrust/thrust/system/detail/generic/equal.inl
  thrust/thrust/system/detail/generic/find.inl
  thrust/thrust/system/detail/generic/logical.h
  thrust/thrust/system/detail/generic/partition.inl
  thrust/thrust/system/detail/generic/reduce_by_key.inl
  thrust/thrust/system/detail/generic/remove.inl
  thrust/thrust/system/detail/generic/scan_by_key.inl
  thrust/thrust/system/detail/sequential/stable_radix_sort.inl
Labels: thrust

#1932 Deprecate more nested aliases in thrust functors
  docs/repo.toml
  libcudacxx/include/cuda/std/__cccl/attributes.h
  thrust/thrust/functional.h
Labels: thrust

#1921 Add BabelStream flavors as thrust::transform benchmarks
  cub/benchmarks/CMakeLists.txt
  thrust/benchmarks/CMakeLists.txt
  thrust/benchmarks/bench/transform/basic.cu
Labels: thrust

#1937 Fix `memmove` optimization
  libcudacxx/include/cuda/std/__algorithm/copy.h
  libcudacxx/include/cuda/std/__algorithm/copy_backward.h
  libcudacxx/include/cuda/std/__algorithm/move.h
  libcudacxx/include/cuda/std/__algorithm/move_backward.h
  libcudacxx/test/libcudacxx/std/algorithms/alg.modifying/alg.copy/copy.pass.cpp
  libcudacxx/test/libcudacxx/std/algorithms/alg.modifying/alg.copy/copy_backward.pass.cpp
  libcudacxx/test/libcudacxx/std/algorithms/alg.modifying/alg.move/move.pass.cpp
  libcudacxx/test/libcudacxx/std/algorithms/alg.modifying/alg.move/move_backward.pass.cpp
Labels: libcu++, bug: functional

#1942 Suppress a clang warning on array size computation
  cub/cub/block/block_load.cuh
Labels: cub

#1944 Add a benchmark for thrust::equal
  thrust/benchmarks/bench/equal/basic.cu
Labels: thrust

#1905 Modernize Thrust's alignment.h and triple_chevron_launch
  cub/cub/device/dispatch/dispatch_batch_memcpy.cuh
  libcudacxx/include/cuda/std/detail/libcxx/include/cmath
  thrust/thrust/detail/alignment.h
  thrust/thrust/mr/validator.h
  thrust/thrust/system/cuda/detail/core/alignment.h
  thrust/thrust/system/cuda/detail/core/triple_chevron_launch.h
Labels: thrust

#1782 Fix for in-place `DeviceSelect` & `thrust::remove_if`
  cub/benchmarks/bench/select/flagged.cu
  cub/benchmarks/bench/select/if.cu
  cub/benchmarks/nvbench_helper/nvbench_helper/nvbench_helper.cuh
  cub/cub/agent/agent_select_if.cuh
  cub/cub/agent/single_pass_scan_operators.cuh
  cub/cub/detail/strong_load.cuh
  cub/cub/device/dispatch/dispatch_select_if.cuh
  thrust/thrust/system/cuda/detail/copy_if.h
  thrust/thrust/system/cuda/detail/remove.h
Labels: 2.6.0

#1959 Drop Thrust's cstdint.h
  cub/cub/device/device_adjacent_difference.cuh
  thrust/testing/counting_iterator.cu
  thrust/testing/cstdint.cu
  thrust/testing/out_of_memory_recovery.cu
  thrust/testing/random.cu
  thrust/testing/unittest/special_types.h
  thrust/thrust/detail/complex/math_private.h
  thrust/thrust/detail/cstdint.h
  thrust/thrust/detail/util/align.h
  thrust/thrust/random.h
  thrust/thrust/random/detail/linear_congruential_engine_discard.h
  thrust/thrust/random/detail/normal_distribution.inl
  thrust/thrust/random/discard_block_engine.h
  thrust/thrust/random/linear_congruential_engine.h
  thrust/thrust/random/subtract_with_carry_engine.h
  thrust/thrust/system/cuda/detail/adjacent_difference.h
  thrust/thrust/system/cuda/detail/async/customization.h
  thrust/thrust/system/cuda/detail/async/exclusive_scan.h
  thrust/thrust/system/cuda/detail/async/inclusive_scan.h
  thrust/thrust/system/cuda/detail/async/reduce.h
  thrust/thrust/system/cuda/detail/async/sort.h
  thrust/thrust/system/cuda/detail/copy_if.h
  thrust/thrust/system/cuda/detail/dispatch.h
  thrust/thrust/system/cuda/detail/extrema.h
  thrust/thrust/system/cuda/detail/merge.h
  thrust/thrust/system/cuda/detail/partition.h
  thrust/thrust/system/cuda/detail/reduce.h
  thrust/thrust/system/cuda/detail/reduce_by_key.h
  thrust/thrust/system/cuda/detail/scan.h
  thrust/thrust/system/cuda/detail/scan_by_key.h
  thrust/thrust/system/cuda/detail/set_operations.h
  thrust/thrust/system/cuda/detail/sort.h
  thrust/thrust/system/cuda/detail/transform_reduce.h
  thrust/thrust/system/cuda/detail/unique.h
  thrust/thrust/system/cuda/detail/unique_by_key.h
  thrust/thrust/system/detail/generic/scan_by_key.inl
  thrust/thrust/system/detail/sequential/stable_radix_sort.inl
  thrust/thrust/system/omp/detail/reduce_intervals.inl
Labels: thrust

#1957 Fix missing binary_pred in thrust::unique_by_key
  thrust/testing/unique_by_key.cu
  thrust/thrust/system/cuda/detail/unique_by_key.h
Labels: thrust, bug

#1976 Fix documentation generation for thrust::pair
  docs/thrust/api_docs/utility/pair.rst
Labels: doc

#1970 Clarify compiler support
  README.md
Labels: doc

#1980 Guard against an overflow in sort tests
  cub/test/catch2_test_device_merge_sort.cu
  thrust/testing/cuda/sort.cu
Labels: cub, bug

#1962 Remove obsolete Thrust function traits
  thrust/thrust/detail/type_traits/function_traits.h
  thrust/thrust/detail/type_traits/result_of_adaptable_function.h
  thrust/thrust/iterator/detail/iterator_traits.inl
  thrust/thrust/system/tbb/detail/reduce_by_key.inl
  thrust/thrust/type_traits/void_t.h
Labels: thrust

#1977 Use libcu++ void_t everywhere
  cub/cub/block/radix_rank_sort_operations.cuh
  cub/cub/util_type.cuh
  libcudacxx/include/cuda/std/__complex/vector_support.h
  libcudacxx/include/cuda/std/__concepts/destructible.h
  libcudacxx/include/cuda/std/__cuda/barrier.h
  libcudacxx/include/cuda/std/__functional/is_transparent.h
  libcudacxx/include/cuda/std/__iterator/iterator_traits.h
  libcudacxx/include/cuda/std/__memory/allocator_traits.h
  libcudacxx/include/cuda/std/__memory/construct_at.h
  libcudacxx/include/cuda/std/__memory/pointer_traits.h
  libcudacxx/include/cuda/std/__memory/uses_allocator.h
  libcudacxx/include/cuda/std/__type_traits/common_type.h
  libcudacxx/include/cuda/std/__type_traits/is_allocator.h
  libcudacxx/include/cuda/std/__type_traits/void_t.h
  libcudacxx/include/cuda/std/detail/libcxx/include/variant
  libcudacxx/test/libcudacxx/cuda/stream_ref/stream_ref.constructor.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/meta/meta.unary.prop.query/void_t.pass.cpp
  thrust/thrust/detail/functional/operators/operator_adaptors.h
  thrust/thrust/detail/type_traits/result_of_adaptable_function.h
  thrust/thrust/iterator/detail/iterator_traits.inl
  thrust/thrust/iterator/iterator_traits.h
  thrust/thrust/optional.h
  thrust/thrust/system/cuda/detail/core/util.h
  thrust/thrust/system/tbb/detail/reduce_by_key.inl
  thrust/thrust/type_traits/void_t.h
Labels: thrust, cub, libcu++

#1988 Drop zipped_binary_op
  thrust/thrust/detail/internal_functional.h
  thrust/thrust/system/detail/generic/inner_product.inl
Labels: thrust

#2004 Clarify PtxVersion and SmVersion
  cub/cub/util_device.cuh
Labels: cub

#1948 More simplifications for CUB util_device
  cub/cub/util_device.cuh
Labels: cub

#1989 Benchmark thrust::copy with non-trivially relocatable type
  thrust/benchmarks/bench/copy/basic.cu
Labels: thrust

#1990 Spell value initialization where used in thrust vectors
  thrust/thrust/detail/allocator/value_initialize_range.h
  thrust/thrust/detail/allocator/value_initialize_range.inl
  thrust/thrust/detail/contiguous_storage.h
  thrust/thrust/detail/contiguous_storage.inl
  thrust/thrust/detail/temporary_array.inl
  thrust/thrust/detail/vector_base.h
  thrust/thrust/detail/vector_base.inl
  thrust/thrust/device_reference.h
  thrust/thrust/device_vector.h
  thrust/thrust/host_vector.h
Labels: thrust

#2018 Do no redefine `__ELF__` macro
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
Labels: libcu++, bug: functional

#1817 Port `thrust::merge[_by_key]` to CUB
  cub/cub/agent/agent_merge.cuh
  cub/cub/agent/agent_merge_sort.cuh
  cub/cub/block/block_merge_sort.cuh
  cub/cub/cub.cuh
  cub/cub/device/device_merge.cuh
  cub/cub/device/dispatch/dispatch_merge.cuh
  cub/cub/device/dispatch/dispatch_merge_sort.cuh
  cub/cub/thread/thread_search.cuh
  cub/cub/util_device.cuh
  cub/cub/util_math.cuh
  cub/test/catch2_test_device_merge.cu
  cub/test/catch2_test_device_merge_api.cu
  docs/cub/device_wide.rst
  thrust/thrust/system/cuda/detail/dispatch.h
  thrust/thrust/system/cuda/detail/merge.h
Labels: thrust, cub

#2020 Simplify some pointer traits
  thrust/thrust/detail/type_traits/pointer_traits.h
Labels: thrust

#2023 Simplify test data setup
  thrust/testing/scan.cu
Labels: thrust

#2053 Avoid ADL issues with `thrust::distance`
  thrust/thrust/system/cuda/detail/async/copy.h
  thrust/thrust/system/cuda/detail/async/exclusive_scan.h
  thrust/thrust/system/cuda/detail/async/for_each.h
  thrust/thrust/system/cuda/detail/async/inclusive_scan.h
  thrust/thrust/system/cuda/detail/async/sort.h
  thrust/thrust/system/cuda/detail/async/transform.h
  thrust/thrust/system/cuda/detail/merge.h
Labels: thrust, bug: functional

#2019 Simplify thrust::detail::wrapped_function
  thrust/testing/omp/reduce_intervals.cu
  thrust/thrust/detail/function.h
  thrust/thrust/system/detail/generic/binary_search.inl
  thrust/thrust/system/detail/generic/scalar/binary_search.inl
  thrust/thrust/system/detail/sequential/binary_search.h
  thrust/thrust/system/detail/sequential/copy_if.h
  thrust/thrust/system/detail/sequential/extrema.h
  thrust/thrust/system/detail/sequential/find.h
  thrust/thrust/system/detail/sequential/for_each.h
  thrust/thrust/system/detail/sequential/insertion_sort.h
  thrust/thrust/system/detail/sequential/merge.inl
  thrust/thrust/system/detail/sequential/partition.h
  thrust/thrust/system/detail/sequential/reduce.h
  thrust/thrust/system/detail/sequential/remove.h
  thrust/thrust/system/detail/sequential/scan.h
  thrust/thrust/system/detail/sequential/scan_by_key.h
  thrust/thrust/system/detail/sequential/set_operations.h
  thrust/thrust/system/omp/detail/for_each.inl
  thrust/thrust/system/omp/detail/reduce_intervals.inl
  thrust/thrust/system/tbb/detail/copy_if.inl
  thrust/thrust/system/tbb/detail/reduce.inl
  thrust/thrust/system/tbb/detail/scan.inl
Labels: thrust

#2024 Add a test for Thrust scan with non-commutative op
  thrust/testing/scan.cu
  thrust/testing/unittest/assertions.h
Labels: thrust

#2046 Do not rely on conversions between float and extended floating point types
  libcudacxx/include/cuda/std/__cuda/cmath_nvbf16.h
  libcudacxx/include/cuda/std/__cuda/cmath_nvfp16.h
Labels: nvbug, libcu++, bug: functional

#2075 Allow (somewhat) different input value types for merge
  cub/cub/agent/agent_merge.cuh
  cub/cub/agent/agent_merge_sort.cuh
  cub/cub/block/block_merge_sort.cuh
  cub/cub/device/dispatch/dispatch_merge.cuh
  thrust/testing/merge_by_key.cu
Labels: cub, bug

#1987 Rename and refactor transform_iterator_base
  thrust/thrust/iterator/detail/transform_iterator.inl
  thrust/thrust/iterator/transform_iterator.h
Labels: thrust

#2089 Benchmark analysis: Print all top rows when asked for
  benchmarks/scripts/analyze.py
Labels: benchmark

#2084 add support to `cudax::device` for querying a device's attributes
  cudax/include/cuda/experimental/__device/attributes.cuh
  cudax/include/cuda/experimental/__device/device.cuh
  cudax/include/cuda/experimental/device.cuh
  cudax/test/CMakeLists.txt
  cudax/test/device/device_smoke.cu
Labels: feature request, CUDA Next

#1946 Cleanup CUB block/thread load and exchange
  cub/cub/block/block_exchange.cuh
  cub/cub/block/block_load.cuh
  cub/cub/detail/uninitialized_copy.cuh
  cub/cub/thread/thread_load.cuh
Labels: cub

#2110 [CUDAX] rename `device` to `device_ref`, add immovable `device` as a place to cache properties
  cudax/include/cuda/experimental/__device/attributes.cuh
  cudax/include/cuda/experimental/__device/device.cuh
  cudax/include/cuda/experimental/__device/device_ref.cuh
  cudax/include/cuda/experimental/__stream/stream.cuh
  cudax/include/cuda/experimental/device.cuh
  cudax/test/device/device_smoke.cu
Labels: CUDA Next

#1831 [PoC]: Implement `cuda::experimental::uninitialized_buffer`
  cudax/cmake/cudaxHeaderTesting.cmake
  cudax/include/cuda/experimental/__container/uninitialized_buffer.h
  cudax/include/cuda/experimental/buffer
  cudax/test/CMakeLists.txt
  cudax/test/containers/uninitialized_buffer.cu
  docs/cudax/container.rst
  docs/cudax/index.rst
  docs/index.rst
  docs/repo.toml
  libcudacxx/include/cuda/__memory_resource/get_property.h
  libcudacxx/include/cuda/std/__cccl/compiler.h
  libcudacxx/test/internal_headers/CMakeLists.txt
  libcudacxx/test/libcudacxx/CMakeLists.txt
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_managed_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_managed_memory_resource/equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_managed_memory_resource/traits.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_memory_resource/equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_memory_resource/traits.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_pinned_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_pinned_memory_resource/equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_pinned_memory_resource/traits.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/get_property/forward_property.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/get_property/get_property.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/get_property/has_property.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.construction.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.conversion.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.equality.fail.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.inheritance.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.async_resource_ref/async_resource_ref.properties.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.concepts/async_resource.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.concepts/async_resource_with.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.concepts/resource.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.concepts/resource_with.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.construction.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.conversion.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.equality.fail.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.inheritance.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/memory_resource.resource_ref/resource_ref.properties.pass.cpp
  libcudacxx/test/public_headers/CMakeLists.txt
Labels: feature request, CUDA Next
