Repository NVIDIA/cccl, pull requests merged in 2024-11, with the labels that each got.

#2664 Disable ublkcp CUB transform kernel for NVHPC
  cub/cub/device/dispatch/dispatch_transform.cuh
Labels: cub

#2688 Deprecate `thrust::cuda_cub::identity`
  thrust/thrust/system/cuda/detail/gather.h
  thrust/thrust/system/cuda/detail/mismatch.h
  thrust/thrust/system/cuda/detail/scatter.h
  thrust/thrust/system/cuda/detail/util.h
Labels: thrust

#2690 Remove an unused variable
  thrust/testing/unique.cu
Labels: thrust

#2689 Drop handling of 32bit Windows
  cub/cub/detail/strong_load.cuh
  cub/cub/detail/strong_store.cuh
  cub/cub/iterator/constant_input_iterator.cuh
  cub/cub/iterator/discard_output_iterator.cuh
  cub/cub/thread/thread_load.cuh
  cub/cub/thread/thread_store.cuh
  cub/cub/util_ptx.cuh
  cub/cub/util_type.cuh
  cub/test/test_util.h
Labels: cub

#2704 Guard inclusion of `cuda_runtime_api` by using a cuda compiler
  cudax/include/cuda/experimental/__memory_resource/async_memory_pool.cuh
  cudax/include/cuda/experimental/__memory_resource/async_memory_resource.cuh
  libcudacxx/include/cuda/__functional/get_device_address.h
  libcudacxx/include/cuda/__memory_resource/device_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/managed_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/pinned_memory_resource.h
  libcudacxx/include/cuda/std/__cuda/api_wrapper.h
  libcudacxx/include/cuda/std/__cuda/ensure_current_device.h
  libcudacxx/include/cuda/std/__exception/cuda_error.h
Labels: feature request, thrust, libcu++

#2707 Fix nvbench helper compilation for clang-18
  cub/benchmarks/nvbench_helper/nvbench_helper/nvbench_helper.cuh
Labels: cub

#2708 Default ctor of device_ptr and normal_iterator
  thrust/thrust/device_ptr.h
  thrust/thrust/iterator/detail/normal_iterator.h
Labels: thrust

#2709 Various fixes to `cub::DeviceTransform`
  cub/cub/device/dispatch/dispatch_transform.cuh
  cub/test/catch2_test_device_transform.cu
Labels: cub

#2713 Improve `uninitialized_{async_}buffer` API
  cudax/include/cuda/experimental/__container/uninitialized_async_buffer.cuh
  cudax/include/cuda/experimental/__container/uninitialized_buffer.cuh
  cudax/test/containers/uninitialized_async_buffer.cu
  cudax/test/containers/uninitialized_buffer.cu
  docs/repo.toml
  libcudacxx/include/cuda/std/__utility/swap.h
Labels: feature request, CUDA Next

#2703 [STF] Improve DOT graph outputs
  cudax/include/cuda/experimental/__stf/graph/graph_task.cuh
  cudax/include/cuda/experimental/__stf/internal/backend_ctx.cuh
  cudax/include/cuda/experimental/__stf/internal/dot.cuh
  cudax/include/cuda/experimental/__stf/stream/stream_task.cuh
  docs/cudax/stf.rst
Labels: stf

#2733 Alias `cuda::std::identity` to `__identity`
  libcudacxx/include/cuda/std/__functional/identity.h
Labels: libcu++

#2723 [STF] Option to disable kernel generation in CUDASTF
  CMakePresets.json
  cudax/CMakeLists.txt
  cudax/cmake/cudaxSTFConfigureTarget.cmake
  cudax/examples/stf/CMakeLists.txt
  cudax/include/cuda/experimental/__stf/graph/graph_ctx.cuh
  cudax/include/cuda/experimental/__stf/internal/launch.cuh
  cudax/include/cuda/experimental/__stf/internal/parallel_for_scope.cuh
  cudax/include/cuda/experimental/__stf/internal/thread_hierarchy.cuh
  cudax/include/cuda/experimental/__stf/stream/stream_ctx.cuh
  cudax/include/cuda/experimental/stf.cuh
  cudax/test/stf/CMakeLists.txt
  cudax/test/stf/static_error_checks/CMakeLists.txt
  cudax/test/stf/static_error_checks/gnu_launch.cpp
  cudax/test/stf/static_error_checks/gnu_parallel_for.cpp
Labels: stf

#2740 Document some transform iterator corner cases
  thrust/testing/transform_iterator.cu
  thrust/thrust/iterator/transform_iterator.h
Labels: thrust

#2732 Allow `thrust::identity` to forward value category
  thrust/testing/functional.cu
  thrust/thrust/functional.h
  thrust/thrust/iterator/detail/transform_input_output_iterator.inl
Labels: thrust

#2719 Proclaim Thrust/CUB/libcu++ functor address stability
  cub/cub/thread/thread_operators.cuh
  libcudacxx/include/cuda/__functional/address_stability.h
  libcudacxx/include/cuda/std/__functional/not_fn.h
  libcudacxx/include/cuda/std/__functional/ranges_operations.h
  thrust/testing/address_stability.cu
  thrust/thrust/functional.h
  thrust/thrust/zip_function.h
Labels: thrust, cub, libcu++

#2759 Remove obsolete ways to set iterator category in CUB
  cub/cub/iterator/arg_index_input_iterator.cuh
  cub/cub/iterator/cache_modified_input_iterator.cuh
  cub/cub/iterator/cache_modified_output_iterator.cuh
  cub/cub/iterator/constant_input_iterator.cuh
  cub/cub/iterator/counting_input_iterator.cuh
  cub/cub/iterator/discard_output_iterator.cuh
  cub/cub/iterator/tex_obj_input_iterator.cuh
  cub/cub/iterator/transform_input_iterator.cuh
Labels: cub

#2776 [STF] Rename the redux access mode into relaxed
  cudax/include/cuda/experimental/__stf/internal/acquire_release.cuh
  cudax/include/cuda/experimental/__stf/internal/constants.cuh
  cudax/include/cuda/experimental/__stf/internal/logical_data.cuh
  cudax/include/cuda/experimental/__stf/internal/task.cuh
  cudax/test/stf/examples/07-cholesky-redux.cu
  cudax/test/stf/hashtable/fusion_reduction.cu
  cudax/test/stf/reductions/many_inc.cu
  cudax/test/stf/reductions/redux_test.cu
  cudax/test/stf/reductions/redux_test2.cu
  cudax/test/stf/reductions/slice2d_reduction.cu
  cudax/test/stf/reductions/slice_custom_op.cu
  cudax/test/stf/reductions/successive_reductions.cu
  cudax/test/stf/reductions/successive_reductions_pfor.cu
  cudax/test/stf/reductions/sum.cu
  cudax/test/stf/reductions/sum_array.cu
  cudax/test/stf/reductions/sum_multiple_places.cu
  cudax/test/stf/reductions/sum_multiple_places_no_refvalue.cu
  cudax/test/stf/reductions/write_back_after_redux.cu
  docs/cudax/stf.rst
Labels: stf

#2782 Avoid benchmarking first-time setup in Thrust algorithms
  thrust/benchmarks/bench/equal/basic.cu
  thrust/benchmarks/bench/set_operations/base.cuh
  thrust/benchmarks/bench/set_operations/by_key.cuh
  thrust/benchmarks/bench/transform/basic.cu
  thrust/benchmarks/bench/unique/basic.cu
  thrust/benchmarks/bench/unique/by_key.cu
Labels: thrust

#2778 Improve listing benchmarks and text
  benchmarks/scripts/cccl/bench/search.py
Labels: benchmark

#2791 Fix thrust partition docs typo
  thrust/thrust/partition.h
Labels: area: docs

#2796 Avoid `make_zip_iterator(make_tuple(...))`
  thrust/testing/zip_function.cu
  thrust/testing/zip_iterator.cu
  thrust/testing/zip_iterator_reduce.cu
  thrust/testing/zip_iterator_reduce_by_key.cu
  thrust/testing/zip_iterator_scan.cu
  thrust/testing/zip_iterator_sort.cu
  thrust/testing/zip_iterator_sort_by_key.cu
Labels: thrust

#2797 [STF] Replace CUDASTF_CODE_GENERATION by !CUDASTF_DISABLE_CODE_GENERATION
  cudax/cmake/cudaxSTFConfigureTarget.cmake
  cudax/include/cuda/experimental/__stf/graph/graph_ctx.cuh
  cudax/include/cuda/experimental/__stf/internal/launch.cuh
  cudax/include/cuda/experimental/__stf/internal/parallel_for_scope.cuh
  cudax/include/cuda/experimental/__stf/internal/thread_hierarchy.cuh
  cudax/include/cuda/experimental/__stf/stream/stream_ctx.cuh
  cudax/include/cuda/experimental/stf.cuh
Labels: stf

#2817 Replace macros by lambdas in cub::DeviceTransform
  cub/cub/device/dispatch/dispatch_transform.cuh
Labels: cub

#2827 Unify [CCCL|CUB|THRUST]_ENABLE_BENCHMARKS
  CMakeLists.txt
  ci/build_cub.sh
  cub/CMakeLists.txt
  docs/cub/benchmarking.rst
  docs/cub/tuning.rst
  thrust/CMakeLists.txt
  thrust/benchmarks/CMakeLists.txt
Labels: infrastructure

#2828 Remove traces of metal from CCCL
  cmake/CCCLHideThirdPartyOptions.cmake
  docs/cub/test_overview.rst
Labels: doc

#2838 Remove all warm-up runs from Thrust benchmarks
  thrust/benchmarks/bench/adjacent_difference/basic.cu
  thrust/benchmarks/bench/adjacent_difference/custom.cu
  thrust/benchmarks/bench/adjacent_difference/in_place.cu
  thrust/benchmarks/bench/copy/basic.cu
  thrust/benchmarks/bench/copy/if.cu
  thrust/benchmarks/bench/equal/basic.cu
  thrust/benchmarks/bench/fill/basic.cu
  thrust/benchmarks/bench/for_each/basic.cu
  thrust/benchmarks/bench/inner_product/basic.cu
  thrust/benchmarks/bench/merge/basic.cu
  thrust/benchmarks/bench/partition/basic.cu
  thrust/benchmarks/bench/reduce/basic.cu
  thrust/benchmarks/bench/reduce/by_key.cu
  thrust/benchmarks/bench/scan/exclusive/by_key.cu
  thrust/benchmarks/bench/scan/exclusive/max.cu
  thrust/benchmarks/bench/scan/exclusive/sum.cu
  thrust/benchmarks/bench/scan/inclusive/by_key.cu
  thrust/benchmarks/bench/scan/inclusive/max.cu
  thrust/benchmarks/bench/scan/inclusive/sum.cu
  thrust/benchmarks/bench/set_operations/base.cuh
  thrust/benchmarks/bench/set_operations/by_key.cuh
  thrust/benchmarks/bench/shuffle/basic.cu
  thrust/benchmarks/bench/sort/keys.cu
  thrust/benchmarks/bench/sort/keys_custom.cu
  thrust/benchmarks/bench/sort/pairs.cu
  thrust/benchmarks/bench/sort/pairs_custom.cu
  thrust/benchmarks/bench/tabulate/basic.cu
  thrust/benchmarks/bench/transform/basic.cu
  thrust/benchmarks/bench/transform_reduce/sum.cu
  thrust/benchmarks/bench/unique/basic.cu
  thrust/benchmarks/bench/unique/by_key.cu
  thrust/benchmarks/bench/vectorized_search/base.cu
  thrust/benchmarks/bench/vectorized_search/lower_bound.cu
  thrust/benchmarks/bench/vectorized_search/upper_bound.cu
Labels: thrust

#2855 Add missing include
  cub/cub/device/dispatch/tuning/tuning_scan.cuh
Labels: cub

#2856 Add benchmarking and tuning presets
  CMakePresets.json
  cub/CMakeLists.txt
  docs/cub/benchmarking.rst
  docs/cub/tuning.rst
  thrust/benchmarks/CMakeLists.txt
Labels: infrastructure

#2771 Include use of NVHPC in CUB/Thrust magic namespace
  cub/cub/util_namespace.cuh
  libcudacxx/include/cuda/std/__cccl/preprocessor.h
  thrust/thrust/detail/config/namespace.h
Labels: thrust, cub

#2905 Refactor nvbench helper less_t
  cub/benchmarks/nvbench_helper/nvbench_helper/nvbench_helper.cuh
Labels: benchmark

#2930 Reorganize PTX tests to match generator
  libcudacxx/test/libcudacxx/cuda/ptx/generated/barrier_cluster.inc
  libcudacxx/test/libcudacxx/cuda/ptx/generated/cp_async_bulk.inc
  libcudacxx/test/libcudacxx/cuda/ptx/generated/cp_async_bulk_commit_group.inc
  libcudacxx/test/libcudacxx/cuda/ptx/generated/cp_async_bulk_multicast.inc
  libcudacxx/test/libcudacxx/cuda/ptx/generated/cp_async_bulk_tensor.inc
  libcudacxx/test/libcudacxx/cuda/ptx/generated/cp_async_bulk_tensor_multicast.inc
  libcudacxx/test/libcudacxx/cuda/ptx/generated/cp_async_bulk_wait_group.inc
  libcudacxx/test/libcudacxx/cuda/ptx/generated/cp_reduce_async_bulk.inc
  libcudacxx/test/libcudacxx/cuda/ptx/generated/cp_reduce_async_bulk_bf16.inc
  libcudacxx/test/libcudacxx/cuda/ptx/generated/cp_reduce_async_bulk_f16.inc
  libcudacxx/test/libcudacxx/cuda/ptx/generated/cp_reduce_async_bulk_tensor.inc
  libcudacxx/test/libcudacxx/cuda/ptx/generated/fence.inc
  libcudacxx/test/libcudacxx/cuda/ptx/generated/fence_mbarrier_init.inc
  libcudacxx/test/libcudacxx/cuda/ptx/generated/fence_proxy_alias.inc
  libcudacxx/test/libcudacxx/cuda/ptx/generated/fence_proxy_async.inc
  libcudacxx/test/libcudacxx/cuda/ptx/generated/fence_proxy_tensormap_generic.inc
  libcudacxx/test/libcudacxx/cuda/ptx/generated/get_sreg.inc
  libcudacxx/test/libcudacxx/cuda/ptx/generated/getctarank.inc
  libcudacxx/test/libcudacxx/cuda/ptx/generated/mbarrier_arrive.inc
  libcudacxx/test/libcudacxx/cuda/ptx/generated/mbarrier_arrive_expect_tx.inc
  libcudacxx/test/libcudacxx/cuda/ptx/generated/mbarrier_arrive_no_complete.inc
  libcudacxx/test/libcudacxx/cuda/ptx/generated/mbarrier_init.inc
  libcudacxx/test/libcudacxx/cuda/ptx/generated/mbarrier_try_wait.inc
  libcudacxx/test/libcudacxx/cuda/ptx/generated/mbarrier_try_wait_parity.inc
  libcudacxx/test/libcudacxx/cuda/ptx/generated/mbarrier_wait.inc
  libcudacxx/test/libcudacxx/cuda/ptx/generated/mbarrier_wait_parity.inc
  libcudacxx/test/libcudacxx/cuda/ptx/generated/red_async.inc
  libcudacxx/test/libcudacxx/cuda/ptx/generated/st_async.inc
  libcudacxx/test/libcudacxx/cuda/ptx/generated/tensormap_cp_fenceproxy.inc
  libcudacxx/test/libcudacxx/cuda/ptx/generated/tensormap_replace.inc
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.barrier.cluster.compile.pass.cpp
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.cp.async.bulk.commit_group.compile.pass.cpp
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.cp.async.bulk.compile.pass.cpp
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.cp.async.bulk.multicast.compile.pass.cpp
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.cp.async.bulk.tensor.compile.pass.cpp
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.cp.async.bulk.tensor.multicast.compile.pass.cpp
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.cp.async.bulk.wait_group.compile.pass.cpp
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.cp.reduce.async.bulk.compile.pass.cpp
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.cp.reduce.async.bulk.tensor.compile.pass.cpp
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.fence.compile.pass.cpp
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.get_sreg.compile.pass.cpp
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.getctarank.compile.pass.cpp
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.mbarrier.arrive.compile.pass.cpp
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.mbarrier.init.compile.pass.cpp
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.mbarrier.wait.compile.pass.cpp
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.red.async.compile.pass.cpp
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.st.async.compile.pass.cpp
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.tensormap.cp_fenceproxy.compile.pass.cpp
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.tensormap.replace.compile.pass.cpp
Labels: libcu++

#2925 Reorganize PTX headers to match generator
  libcudacxx/include/cuda/__ptx/instructions/barrier_cluster.h
  libcudacxx/include/cuda/__ptx/instructions/cp_async_bulk.h
  libcudacxx/include/cuda/__ptx/instructions/cp_async_bulk_commit_group.h
  libcudacxx/include/cuda/__ptx/instructions/cp_async_bulk_tensor.h
  libcudacxx/include/cuda/__ptx/instructions/cp_async_bulk_wait_group.h
  libcudacxx/include/cuda/__ptx/instructions/cp_reduce_async_bulk.h
  libcudacxx/include/cuda/__ptx/instructions/cp_reduce_async_bulk_tensor.h
  libcudacxx/include/cuda/__ptx/instructions/fence.h
  libcudacxx/include/cuda/__ptx/instructions/generated/barrier_cluster.inc
  libcudacxx/include/cuda/__ptx/instructions/generated/cp_async_bulk.inc
  libcudacxx/include/cuda/__ptx/instructions/generated/cp_async_bulk_commit_group.inc
  libcudacxx/include/cuda/__ptx/instructions/generated/cp_async_bulk_multicast.inc
  libcudacxx/include/cuda/__ptx/instructions/generated/cp_async_bulk_tensor.inc
  libcudacxx/include/cuda/__ptx/instructions/generated/cp_async_bulk_tensor_multicast.inc
  libcudacxx/include/cuda/__ptx/instructions/generated/cp_async_bulk_wait_group.inc
  libcudacxx/include/cuda/__ptx/instructions/generated/cp_reduce_async_bulk.inc
  libcudacxx/include/cuda/__ptx/instructions/generated/cp_reduce_async_bulk_bf16.inc
  libcudacxx/include/cuda/__ptx/instructions/generated/cp_reduce_async_bulk_f16.inc
  libcudacxx/include/cuda/__ptx/instructions/generated/cp_reduce_async_bulk_tensor.inc
  libcudacxx/include/cuda/__ptx/instructions/generated/fence.inc
  libcudacxx/include/cuda/__ptx/instructions/generated/fence_mbarrier_init.inc
  libcudacxx/include/cuda/__ptx/instructions/generated/fence_proxy_alias.inc
  libcudacxx/include/cuda/__ptx/instructions/generated/fence_proxy_async.inc
  libcudacxx/include/cuda/__ptx/instructions/generated/fence_proxy_tensormap_generic.inc
  libcudacxx/include/cuda/__ptx/instructions/generated/get_sreg.inc
  libcudacxx/include/cuda/__ptx/instructions/generated/getctarank.inc
  libcudacxx/include/cuda/__ptx/instructions/generated/mbarrier_arrive.inc
  libcudacxx/include/cuda/__ptx/instructions/generated/mbarrier_arrive_expect_tx.inc
  libcudacxx/include/cuda/__ptx/instructions/generated/mbarrier_arrive_no_complete.inc
  libcudacxx/include/cuda/__ptx/instructions/generated/mbarrier_init.inc
  libcudacxx/include/cuda/__ptx/instructions/generated/mbarrier_test_wait.inc
  libcudacxx/include/cuda/__ptx/instructions/generated/mbarrier_test_wait_parity.inc
  libcudacxx/include/cuda/__ptx/instructions/generated/mbarrier_try_wait.inc
  libcudacxx/include/cuda/__ptx/instructions/generated/mbarrier_try_wait_parity.inc
  libcudacxx/include/cuda/__ptx/instructions/generated/red_async.inc
  libcudacxx/include/cuda/__ptx/instructions/generated/st_async.inc
  libcudacxx/include/cuda/__ptx/instructions/generated/tensormap_cp_fenceproxy.inc
  libcudacxx/include/cuda/__ptx/instructions/generated/tensormap_replace.inc
  libcudacxx/include/cuda/__ptx/instructions/get_sreg.h
  libcudacxx/include/cuda/__ptx/instructions/getctarank.h
  libcudacxx/include/cuda/__ptx/instructions/mbarrier_arrive.h
  libcudacxx/include/cuda/__ptx/instructions/mbarrier_init.h
  libcudacxx/include/cuda/__ptx/instructions/mbarrier_wait.h
  libcudacxx/include/cuda/__ptx/instructions/red_async.h
  libcudacxx/include/cuda/__ptx/instructions/st_async.h
  libcudacxx/include/cuda/__ptx/instructions/tensormap_cp_fenceproxy.h
  libcudacxx/include/cuda/__ptx/instructions/tensormap_replace.h
Labels: libcu++

#2950 [STF] Implement CUDASTF_DOT_TIMING for the ctx.cuda_kernel construct
  cudax/include/cuda/experimental/__stf/internal/backend_ctx.cuh
Labels: stf
