Repository NVIDIA/cccl, pull requests merged in 2024-09, with the labels that each got.

#2342 [CUDAX] make `uninitialized_buffer` usable with `launch`
  cudax/include/cuda/experimental/__container/uninitialized_buffer.cuh
  cudax/test/containers/uninitialized_buffer.cu
Labels: CUDA Next

#2349 Harden thrust algorithms against evil iterators that overload `operator,`
  thrust/thrust/system/detail/sequential/general_copy.h
  thrust/thrust/system/detail/sequential/partition.h
  thrust/thrust/system/detail/sequential/reduce_by_key.h
  thrust/thrust/system/detail/sequential/scan.h
  thrust/thrust/system/detail/sequential/scan_by_key.h
  thrust/thrust/system/detail/sequential/unique_by_key.h
Labels: feature request, thrust, bug: functional

#2351 Avoid circular concept definition with memory resources
  libcudacxx/include/cuda/__memory_resource/device_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/managed_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/pinned_memory_resource.h
Labels: libcu++, bug: functional, CUDA Next

#2364 Update CCCL version to 2.7.0
  cub/cub/cmake/cub-config-version.cmake
  cub/cub/version.cuh
  cudax/lib/cmake/cudax/cudax-config-version.cmake
  lib/cmake/cccl/cccl-config-version.cmake
  libcudacxx/include/cuda/std/__cccl/version.h
  libcudacxx/lib/cmake/libcudacxx/libcudacxx-config-version.cmake
  python/cuda_cooperative/cuda/cooperative/_version.py
  python/cuda_parallel/cuda/parallel/_version.py
  thrust/thrust/cmake/thrust-config-version.cmake
  thrust/thrust/version.h
Labels: 2.7.0

#2301 [CUDAX] add a small c++17 implementation of `std::execution` (aka P2300)
  .clang-format
  cudax/cmake/cudaxHeaderTesting.cmake
  cudax/cmake/header_test.in.cu
  cudax/include/cuda/experimental/__async/async.cuh
  cudax/include/cuda/experimental/__async/basic_sender.cuh
  cudax/include/cuda/experimental/__async/completion_signatures.cuh
  cudax/include/cuda/experimental/__async/conditional.cuh
  cudax/include/cuda/experimental/__async/config.cuh
  cudax/include/cuda/experimental/__async/continue_on.cuh
  cudax/include/cuda/experimental/__async/cpos.cuh
  cudax/include/cuda/experimental/__async/env.cuh
  cudax/include/cuda/experimental/__async/epilogue.cuh
  cudax/include/cuda/experimental/__async/exception.cuh
  cudax/include/cuda/experimental/__async/fwd_rcvr.cuh
  cudax/include/cuda/experimental/__async/just.cuh
  cudax/include/cuda/experimental/__async/just_from.cuh
  cudax/include/cuda/experimental/__async/lazy.cuh
  cudax/include/cuda/experimental/__async/let_value.cuh
  cudax/include/cuda/experimental/__async/meta.cuh
  cudax/include/cuda/experimental/__async/prologue.cuh
  cudax/include/cuda/experimental/__async/queries.cuh
  cudax/include/cuda/experimental/__async/rcvr_ref.cuh
  cudax/include/cuda/experimental/__async/rcvr_with_env.cuh
  cudax/include/cuda/experimental/__async/read_env.cuh
  cudax/include/cuda/experimental/__async/run_loop.cuh
  cudax/include/cuda/experimental/__async/sequence.cuh
  cudax/include/cuda/experimental/__async/start_detached.cuh
  cudax/include/cuda/experimental/__async/start_on.cuh
  cudax/include/cuda/experimental/__async/stop_token.cuh
  cudax/include/cuda/experimental/__async/sync_wait.cuh
  cudax/include/cuda/experimental/__async/then.cuh
  cudax/include/cuda/experimental/__async/thread.cuh
  cudax/include/cuda/experimental/__async/thread_context.cuh
  cudax/include/cuda/experimental/__async/tuple.cuh
  cudax/include/cuda/experimental/__async/type_traits.cuh
  cudax/include/cuda/experimental/__async/utility.cuh
  cudax/include/cuda/experimental/__async/variant.cuh
  cudax/include/cuda/experimental/__async/when_all.cuh
  cudax/include/cuda/experimental/__async/write_env.cuh
  cudax/test/CMakeLists.txt
  cudax/test/async/common/checked_receiver.cuh
  cudax/test/async/common/error_scheduler.cuh
  cudax/test/async/common/impulse_scheduler.cuh
  cudax/test/async/common/inline_scheduler.cuh
  cudax/test/async/common/stopped_scheduler.cuh
  cudax/test/async/common/utility.cuh
  cudax/test/async/test_conditional.cu
  cudax/test/async/test_continue_on.cu
  cudax/test/async/test_just.cu
  cudax/test/async/test_sequence.cu
  cudax/test/async/test_when_all.cu
  cudax/test/common/testing.cuh
Labels: CUDA Next

#2380 Widen histogram agent constructor to more types
  cub/cub/agent/agent_histogram.cuh
  cub/cub/device/dispatch/dispatch_histogram.cuh
Labels: cub

#2374 Use a constant for the amount of static SMEM
  cub/benchmarks/bench/radix_sort/keys.cu
  cub/benchmarks/bench/radix_sort/pairs.cu
  cub/cub/util_arch.cuh
  cub/cub/util_type.cuh
  cub/cub/util_vsmem.cuh
  cub/test/catch2_test_block_load.cu
  cub/test/catch2_test_block_store.cu
  cub/test/test_block_radix_rank.cu
Labels: cub

#2086 Add `cub::DeviceTransform`
  cub/benchmarks/CMakeLists.txt
  cub/benchmarks/bench/transform/babelstream.h
  cub/benchmarks/bench/transform/babelstream1.cu
  cub/benchmarks/bench/transform/babelstream2.cu
  cub/benchmarks/bench/transform/babelstream3.cu
  cub/cub/cub.cuh
  cub/cub/device/device_transform.cuh
  cub/cub/device/dispatch/dispatch_transform.cuh
  cub/test/CMakeLists.txt
  cub/test/catch2_test_device_transform.cu
  cub/test/catch2_test_device_transform_api.cu
  cub/test/catch2_test_launch_helper.h
Labels: thrust, cub

#2395 Drop implementation of `thrust::pair` and `thrust::tuple`
  docs/thrust/api_docs/utility/pair.rst
  docs/thrust/api_docs/utility/tuple.rst
  libcudacxx/include/cuda/std/detail/libcxx/include/tuple
  thrust/thrust/iterator/detail/tuple_of_iterator_references.h
  thrust/thrust/pair.h
  thrust/thrust/tuple.h
Labels: feature request, thrust, libcu++, 2.7.0

#1854 [PoC]: Implement `cuda::experimental::uninitialized_async_buffer`
  cudax/include/cuda/experimental/__container/uninitialized_async_buffer.cuh
  cudax/include/cuda/experimental/__container/uninitialized_buffer.cuh
  cudax/include/cuda/experimental/__memory_resource/async_memory_resource.cuh
  cudax/include/cuda/experimental/buffer.cuh
  cudax/test/CMakeLists.txt
  cudax/test/containers/uninitialized_async_buffer.cu
  cudax/test/containers/uninitialized_buffer.cu
  docs/cudax/container.rst
Labels: feature request, CUDA Next

#2434 Make `bit_cast` play nice with extended floating point types
  libcudacxx/include/cuda/std/__bit/bit_cast.h
  libcudacxx/include/cuda/std/__complex/nvbf16.h
  libcudacxx/include/cuda/std/__complex/nvfp16.h
  libcudacxx/include/cuda/std/__complex/vector_support.h
  libcudacxx/include/cuda/std/__type_traits/is_extended_floating_point.h
  libcudacxx/include/cuda/std/type_traits
  libcudacxx/test/libcudacxx/std/numerics/bit/bit.cast/bit_cast.pass.cpp
Labels: feature request, libcu++

#2444 Do not include our own string.h file
  libcudacxx/include/cuda/std/detail/libcxx/include/cstring
  libcudacxx/include/cuda/std/detail/libcxx/include/string.h
Labels: libcu++, bug: functional

#2450 Drop superflous compile definition from thrust tests
  thrust/testing/CMakeLists.txt
Labels: thrust, infrastructure

#2154 Prune CUB's ChainedPolicy by __CUDA_ARCH_LIST__
  cub/cub/util_device.cuh
  cub/test/catch2_test_util_device.cu
  thrust/testing/transform_input_output_iterator.cu
Labels: cub
