Repository NVIDIA/cccl, pull requests merged in 2024-02, with the labels that each got.

#1330 Implement `ranges::size` and `ranges::ssize`
  libcudacxx/include/cuda/std/detail/libcxx/include/CMakeLists.txt
  libcudacxx/include/cuda/std/detail/libcxx/include/__ranges/size.h
  libcudacxx/include/cuda/std/detail/libcxx/include/ranges
  libcudacxx/libcxx/test/std/ranges/range.access/size.pass.cpp
  libcudacxx/libcxx/test/std/ranges/range.access/size.verify.cpp
  libcudacxx/libcxx/test/std/ranges/range.access/ssize.pass.cpp
  libcudacxx/libcxx/test/std/ranges/range.access/ssize.verify.cpp
  libcudacxx/test/libcudacxx/std/ranges/range.access/size.pass.cpp
  libcudacxx/test/libcudacxx/std/ranges/range.access/size.verify.cpp
  libcudacxx/test/libcudacxx/std/ranges/range.access/ssize.pass.cpp
  libcudacxx/test/libcudacxx/std/ranges/range.access/ssize.verify.cpp
Labels: feature request, libcu++

#1338 Implement `ranges::empty`
  libcudacxx/include/cuda/std/detail/libcxx/include/CMakeLists.txt
  libcudacxx/include/cuda/std/detail/libcxx/include/__ranges/empty.h
  libcudacxx/include/cuda/std/detail/libcxx/include/ranges
  libcudacxx/libcxx/test/std/ranges/range.access/empty.pass.cpp
  libcudacxx/libcxx/test/std/ranges/range.access/empty.verify.cpp
  libcudacxx/test/libcudacxx/std/ranges/range.access/empty.pass.cpp
  libcudacxx/test/libcudacxx/std/ranges/range.access/empty.verify.cpp
Labels: feature request, libcu++

#1371 Implement `ranges::dangling`
  libcudacxx/include/cuda/std/detail/libcxx/include/CMakeLists.txt
  libcudacxx/include/cuda/std/detail/libcxx/include/__ranges/dangling.h
  libcudacxx/include/cuda/std/detail/libcxx/include/ranges
  libcudacxx/include/cuda/std/detail/libcxx/include/string_view
  libcudacxx/libcxx/test/std/ranges/range.utility/range.dangling/borrowed_iterator.compile.pass.cpp
  libcudacxx/libcxx/test/std/ranges/range.utility/range.dangling/dangling.pass.cpp
  libcudacxx/test/libcudacxx/std/ranges/range.utility/range.dangling/borrowed_iterator.compile.pass.cpp
  libcudacxx/test/libcudacxx/std/ranges/range.utility/range.dangling/dangling.pass.cpp
Labels: feature request, libcu++

#1368 Ensure that thrust fancy iterators are `trivially_copy_constructible` when possible
  thrust/testing/constant_iterator.cu
  thrust/testing/counting_iterator.cu
  thrust/testing/discard_iterator.cu
  thrust/testing/permutation_iterator.cu
  thrust/testing/reverse_iterator.cu
  thrust/testing/zip_iterator.cu
  thrust/thrust/detail/type_traits.h
  thrust/thrust/iterator/constant_iterator.h
  thrust/thrust/iterator/counting_iterator.h
  thrust/thrust/iterator/detail/reverse_iterator.inl
  thrust/thrust/iterator/detail/zip_iterator.inl
  thrust/thrust/iterator/discard_iterator.h
  thrust/thrust/iterator/permutation_iterator.h
  thrust/thrust/iterator/reverse_iterator.h
  thrust/thrust/iterator/zip_iterator.h
Labels: feature request, thrust

#1377 Implement `ranges::view_interface`
  libcudacxx/include/cuda/std/detail/libcxx/include/CMakeLists.txt
  libcudacxx/include/cuda/std/detail/libcxx/include/__ranges/view_interface.h
  libcudacxx/include/cuda/std/detail/libcxx/include/ranges
  libcudacxx/libcxx/test/std/ranges/range.utility/view.interface/view.interface.pass.cpp
  libcudacxx/test/libcudacxx/std/ranges/range.req/range.view/enable_view.compile.pass.cpp
  libcudacxx/test/libcudacxx/std/ranges/range.utility/view.interface/view.interface.pass.cpp
Labels: feature request, libcu++

#1404 Cleanup our delegated constructor workaround
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
  libcudacxx/include/cuda/std/detail/libcxx/include/__expected/expected_base.h
  libcudacxx/include/cuda/std/detail/libcxx/include/optional
Labels: feature request, libcu++

#1423 Do not use VLAs in `cp_async_bulk_tensor_*` tests
  libcudacxx/include/cuda/std/detail/libcxx/include/__cccl/ptx_isa.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__cuda/barrier.h
  libcudacxx/test/libcudacxx/cuda/barrier/cp_async_bulk_tensor_1d.pass.cpp
  libcudacxx/test/libcudacxx/cuda/barrier/cp_async_bulk_tensor_2d.pass.cpp
  libcudacxx/test/libcudacxx/cuda/barrier/cp_async_bulk_tensor_3d.pass.cpp
  libcudacxx/test/libcudacxx/cuda/barrier/cp_async_bulk_tensor_4d.pass.cpp
  libcudacxx/test/libcudacxx/cuda/barrier/cp_async_bulk_tensor_5d.pass.cpp
  libcudacxx/test/libcudacxx/cuda/barrier/cp_async_bulk_tensor_generic.h
Labels: libcu++, bug: functional

#1415 Rework `<span>` to be latest revision
  libcudacxx/include/cuda/std/detail/libcxx/include/__concepts/arithmetic.h
  libcudacxx/include/cuda/std/detail/libcxx/include/span
  libcudacxx/include/cuda/std/detail/libcxx/include/version
  libcudacxx/libcxx/test/std/containers/views/views.span/span.cons/span.fail.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/enable_borrowed_range.compile.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/range_concept_conformance.compile.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.cons/array.fail.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.cons/array.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.cons/assign.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.cons/copy.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.cons/deduct.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.cons/default.fail.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.cons/default.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.cons/initializer_list.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.cons/iterator_len.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.cons/iterator_len.verify.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.cons/iterator_sentinel.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.cons/iterator_sentinel.verify.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.cons/range.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.cons/range.verify.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.cons/span.dtor.compile.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.cons/span.fail.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.cons/span.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.cons/stdarray.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.elem/back.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.elem/data.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.elem/front.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.elem/op_idx.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.iterators/begin.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.iterators/end.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.iterators/rbegin.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.iterators/rend.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.objectrep/as_bytes.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.objectrep/as_writable_bytes.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.objectrep/as_writable_bytes.verify.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.obs/empty.nodiscard.verify.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.obs/empty.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.obs/size.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.obs/size_bytes.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.sub/first.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.sub/first.verify.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.sub/last.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.sub/last.verify.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.sub/subspan.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/span.sub/subspan.verify.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/trivially_copyable.compile.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/views.span/types.pass.cpp
Labels: feature request, libcu++

#1435 Refactor `thrust::[stable_]partition[_copy]` to use `cub::DevicePartition`
  cub/cub/agent/agent_select_if.cuh
  thrust/testing/cuda/partition.cu
  thrust/thrust/system/cuda/detail/copy_if.h
  thrust/thrust/system/cuda/detail/partition.h
Labels: cub

#1438 Fix `common_reference` of `pair`
  libcudacxx/include/cuda/std/detail/libcxx/include/__utility/pair.h
Labels: libcu++, bug: functional

#1443 Properly check whether a string is alphanumeric
  libcudacxx/test/utils/libcudacxx/test/config.py
Labels: libcu++, bug, infrastructure
