Repository NVIDIA/cccl, pull requests merged in 2024-08, with the labels that each got.

#2073 Ensure that `cuda_memory_resource` allocates memory on the proper device
  cub/cub/util_device.cuh
  libcudacxx/include/cuda/__memory_resource/cuda_memory_resource.h
  libcudacxx/include/cuda/std/__cuda/ensure_current_device.h
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_memory_resource/traits.pass.cpp
Labels: feature request, libcu++

#2127 Make `cuda::std::tuple` trivially copyable
  libcudacxx/include/cuda/std/__tuple_dir/sfinae_helpers.h
  libcudacxx/include/cuda/std/__utility/pair.h
  libcudacxx/include/cuda/std/detail/libcxx/include/tuple
  libcudacxx/test/libcudacxx/std/utilities/tuple/tuple.tuple/tuple.traits/trivially_copyable.pass.cpp
Labels: feature request, libcu++

#2157 Fix g++-14 warning on uninitialized copying
  cub/cub/device/dispatch/dispatch_histogram.cuh
Labels: cub

#2169 Fix multiple definition of InclusiveScanKernel
  cub/test/catch2_test_block_scan_api.cu
  cub/test/catch2_test_warp_scan_api.cu
Labels: cub

#2170 Fix uninitialized_buffer self assignment
  cudax/include/cuda/experimental/__container/uninitialized_buffer.h
  cudax/test/containers/uninitialized_buffer.cu
Labels: libcu++, bug: functional

#1969 Clarify libcu++ use by non-CUDA compilers
  docs/libcudacxx/index.rst
Labels: libcu++, doc

#2166 Warn when using C++14 in CUB and Thrust
  CMakePresets.json
  cub/cmake/CubBuildTargetList.cmake
  cub/cub/cmake/cub-config.cmake
  cub/cub/util_cpp_dialect.cuh
  thrust/cmake/ThrustBuildTargetList.cmake
  thrust/thrust/cmake/thrust-config.cmake
  thrust/thrust/detail/config/cpp_dialect.h
Labels: thrust, cub

#2194 Fix the `clang-format` path in the devcontainers
  .devcontainer/cuda11.1-gcc6/devcontainer.json
  .devcontainer/cuda11.1-gcc7/devcontainer.json
  .devcontainer/cuda11.1-gcc8/devcontainer.json
  .devcontainer/cuda11.1-gcc9/devcontainer.json
  .devcontainer/cuda11.1-llvm9/devcontainer.json
  .devcontainer/cuda11.8-gcc11/devcontainer.json
  .devcontainer/cuda12.0-gcc10/devcontainer.json
  .devcontainer/cuda12.0-gcc11/devcontainer.json
  .devcontainer/cuda12.0-gcc12/devcontainer.json
  .devcontainer/cuda12.0-gcc9/devcontainer.json
  .devcontainer/cuda12.0-llvm10/devcontainer.json
  .devcontainer/cuda12.0-llvm11/devcontainer.json
  .devcontainer/cuda12.0-llvm12/devcontainer.json
  .devcontainer/cuda12.0-llvm13/devcontainer.json
  .devcontainer/cuda12.0-llvm14/devcontainer.json
  .devcontainer/cuda12.0-llvm9/devcontainer.json
  .devcontainer/cuda12.5-gcc10/devcontainer.json
  .devcontainer/cuda12.5-gcc11/devcontainer.json
  .devcontainer/cuda12.5-gcc12/devcontainer.json
  .devcontainer/cuda12.5-gcc13/devcontainer.json
  .devcontainer/cuda12.5-gcc7/devcontainer.json
  .devcontainer/cuda12.5-gcc8/devcontainer.json
  .devcontainer/cuda12.5-gcc9/devcontainer.json
  .devcontainer/cuda12.5-llvm10/devcontainer.json
  .devcontainer/cuda12.5-llvm11/devcontainer.json
  .devcontainer/cuda12.5-llvm12/devcontainer.json
  .devcontainer/cuda12.5-llvm13/devcontainer.json
  .devcontainer/cuda12.5-llvm14/devcontainer.json
  .devcontainer/cuda12.5-llvm15/devcontainer.json
  .devcontainer/cuda12.5-llvm16/devcontainer.json
  .devcontainer/cuda12.5-llvm17/devcontainer.json
  .devcontainer/cuda12.5-llvm9/devcontainer.json
  .devcontainer/cuda12.5-oneapi2023.2.0/devcontainer.json
  .devcontainer/devcontainer.json
Labels: bug, infrastructure

#2202 [CUDAX] add `__launch_transform` to transform arguments to `cudax::launch` prior to launching the kernel
  cudax/include/cuda/experimental/__detail/utility.cuh
  cudax/include/cuda/experimental/__launch/launch.cuh
  cudax/include/cuda/experimental/__launch/launch_transform.cuh
  cudax/include/cuda/experimental/__utility/ensure_current_device.cuh
  cudax/test/launch/launch_smoke.cu
Labels: CUDA Next

#2210 add `cudax::distribute<threadsPrBlock>(numElements)`
  cudax/include/cuda/experimental/__hierarchy/hierarchy_dimensions.cuh
  cudax/test/hierarchy/hierarchy_smoke.cu
Labels: CUDA Next

#2213 Rework mdspan concept emulation
  libcudacxx/include/cuda/std/__mdspan/default_accessor.h
  libcudacxx/include/cuda/std/__mdspan/extents.h
  libcudacxx/include/cuda/std/__mdspan/layout_left.h
  libcudacxx/include/cuda/std/__mdspan/layout_right.h
  libcudacxx/include/cuda/std/__mdspan/layout_stride.h
  libcudacxx/include/cuda/std/__mdspan/macros.h
  libcudacxx/include/cuda/std/__mdspan/mdspan.h
  libcudacxx/include/cuda/std/__mdspan/static_array.h
  libcudacxx/include/cuda/std/__mdspan/submdspan.h
  libcudacxx/test/libcudacxx/std/containers/views/mdspan/foo_customizations.hpp
Labels: feature request, libcu++, CUDA Next

#2209 Un-doc functions taking debug_synchronous
  cub/cub/device/device_adjacent_difference.cuh
  cub/cub/device/device_histogram.cuh
  cub/cub/device/device_merge_sort.cuh
  cub/cub/device/device_partition.cuh
  cub/cub/device/device_reduce.cuh
  cub/cub/device/device_run_length_encode.cuh
  cub/cub/device/device_scan.cuh
  cub/cub/device/device_segmented_radix_sort.cuh
  cub/cub/device/device_segmented_reduce.cuh
  cub/cub/device/device_segmented_sort.cuh
  cub/cub/device/device_select.cuh
  cub/cub/device/device_spmv.cuh
  cub/cub/device/dispatch/dispatch_adjacent_difference.cuh
  cub/cub/device/dispatch/dispatch_histogram.cuh
  cub/cub/device/dispatch/dispatch_reduce.cuh
  cub/cub/device/dispatch/dispatch_reduce_by_key.cuh
  cub/cub/device/dispatch/dispatch_rle.cuh
  cub/cub/device/dispatch/dispatch_scan.cuh
  cub/cub/device/dispatch/dispatch_scan_by_key.cuh
  cub/cub/device/dispatch/dispatch_segmented_sort.cuh
  cub/cub/device/dispatch/dispatch_select_if.cuh
  cub/cub/device/dispatch/dispatch_spmv_orig.cuh
  cub/cub/device/dispatch/dispatch_three_way_partition.cuh
  cub/cub/device/dispatch/dispatch_unique_by_key.cuh
Labels: cub, doc

#1496 Implement `<cuda/std/bitset>`
  docs/libcudacxx/standard_api/utility_library.rst
  docs/libcudacxx/standard_api/utility_library/bitset.rst
  libcudacxx/include/cuda/std/__algorithm/copy.h
  libcudacxx/include/cuda/std/__algorithm/copy_n.h
  libcudacxx/include/cuda/std/__bit/reference.h
  libcudacxx/include/cuda/std/__cccl/compiler.h
  libcudacxx/include/cuda/std/__cccl/diagnostic.h
  libcudacxx/include/cuda/std/bitset
  libcudacxx/include/cuda/std/detail/libcxx/include/__string
  libcudacxx/include/cuda/std/detail/libcxx/include/bitset
  libcudacxx/include/cuda/std/detail/libcxx/include/cstddef
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.cons/char_ptr_ctor.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.cons/default.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.cons/string_ctor.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.cons/string_view_ctor.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.cons/ull_ctor.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/all.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/any.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/count.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/flip_all.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/flip_one.out_of_range.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/flip_one.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/index.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/index_const.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/left_shift.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/left_shift_eq.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/none.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/not_all.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/op_and_eq.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/op_eq_eq.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/op_or_eq.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/op_xor_eq.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/reset_all.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/reset_one.out_of_range.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/reset_one.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/right_shift.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/right_shift_eq.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/set_all.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/set_one.out_of_range.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/set_one.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/size.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/test.out_of_range.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/test.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/to_string.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/to_ullong.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/to_ulong.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.operators/op_and.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.operators/op_not.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.operators/op_or.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.operators/stream_in.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.operators/stream_out.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset_test_cases.h
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/includes.pass.cpp
  libcudacxx/test/support/test_macros.h
Labels: feature request, libcu++

#2233 Refactor Thrust placeholder operators
  thrust/testing/functional_placeholders_miscellaneous.cu
  thrust/thrust/detail/functional/actor.h
  thrust/thrust/detail/functional/actor.inl
  thrust/thrust/detail/functional/argument.h
  thrust/thrust/detail/functional/composite.h
  thrust/thrust/detail/functional/operators.h
  thrust/thrust/detail/functional/operators/arithmetic_operators.h
  thrust/thrust/detail/functional/operators/assignment_operator.h
  thrust/thrust/detail/functional/operators/bitwise_operators.h
  thrust/thrust/detail/functional/operators/compound_assignment_operators.h
  thrust/thrust/detail/functional/operators/logical_operators.h
  thrust/thrust/detail/functional/operators/operator_adaptors.h
  thrust/thrust/detail/functional/operators/relational_operators.h
  thrust/thrust/detail/functional/placeholder.h
  thrust/thrust/detail/functional/value.h
  thrust/thrust/functional.h
Labels: thrust

#2212 Add missing annotations for deprecated debug_sync APIs
  cub/cub/device/dispatch/dispatch_histogram.cuh
  cub/cub/device/dispatch/dispatch_rle.cuh
Labels: cub

#2219 Test thrust headers for disabled half/bf16 support
  cub/cmake/CubHeaderTesting.cmake
  thrust/cmake/ThrustHeaderTesting.cmake
  thrust/cmake/header_test.in
Labels: thrust

#2220 Fix ForEachCopyN for non-contiguous iterators
  cub/cub/device/device_for.cuh
  cub/test/catch2_test_device_for.cu
  cub/test/catch2_test_device_for_copy.cu
Labels: cub

#2217 Configure CUB/Thrust for C++17 by default
  cub/cmake/CubBuildTargetList.cmake
  thrust/cmake/ThrustMultiConfig.cmake
Labels: thrust, cub

#2010 Proclaim pair and tuple trivially relocatable
  libcudacxx/include/cuda/std/detail/libcxx/include/complex
  thrust/testing/type_traits.cu
  thrust/thrust/pair.h
  thrust/thrust/tuple.h
  thrust/thrust/type_traits/is_trivially_relocatable.h
Labels: thrust, libcu++

#2173 Add `CCCL_DISABLE_NVTX` macro
  cub/cub/detail/nvtx.cuh
  cub/test/test_nvtx_disabled.cu
Labels: cub

#2252 Workaround GCC 13 issue with empty histogram decoder op
  cub/cub/device/dispatch/dispatch_histogram.cuh
Labels: cub

#2260 Refactor Thrust's logical meta functions
  docs/thrust/api_docs/utility/type_traits.rst
  libcudacxx/include/cuda/std/__type_traits/negation.h
  thrust/thrust/type_traits/logical_metafunctions.h
Labels: thrust, libcu++

#2259 Fix use of doxygen \file command
  cub/cub/block/block_adjacent_difference.cuh
  cub/cub/block/block_load.cuh
  cub/cub/block/block_radix_rank.cuh
  cub/cub/block/block_reduce.cuh
  cub/cub/block/block_scan.cuh
  cub/cub/block/block_shuffle.cuh
  cub/cub/block/block_store.cuh
  cub/cub/device/device_copy.cuh
  cub/cub/device/device_histogram.cuh
  cub/cub/device/device_memcpy.cuh
  cub/cub/device/device_partition.cuh
  cub/cub/device/device_radix_sort.cuh
  cub/cub/device/device_reduce.cuh
  cub/cub/device/device_run_length_encode.cuh
  cub/cub/device/device_scan.cuh
  cub/cub/device/device_segmented_radix_sort.cuh
  cub/cub/device/device_segmented_reduce.cuh
  cub/cub/device/device_segmented_sort.cuh
  cub/cub/device/device_select.cuh
  cub/cub/device/device_spmv.cuh
  cub/cub/util_cpp_dialect.cuh
  cub/cub/warp/warp_load.cuh
  cub/cub/warp/warp_store.cuh
  cub/test/catch2_main.cuh
  cub/test/catch2_runner.cpp
  cub/test/catch2_runner_helper.cu
  cub/test/catch2_runner_helper.inl
  cub/test/catch2_test_launch_helper.h
  cudax/include/cuda/experimental/__container/uninitialized_buffer.h
  libcudacxx/include/cuda/memory_resource
  thrust/thrust/system/cpp/pointer.h
Labels: doc

#2221 Add tests for transform_iterator's reference type
  thrust/testing/transform_iterator.cu
  thrust/thrust/detail/reference.h
Labels: thrust

#2261 Fix Thrust::vector ctor selection for int,int
  thrust/thrust/detail/vector_base.h
  thrust/thrust/detail/vector_base.inl
Labels: thrust

#2283 Drop macos string that lit cannot parse properly
  c/include/cccl/types.h
  libcudacxx/test/libcudacxx/std/utilities/memory/temporary.buffer/overaligned.pass.cpp
  thrust/thrust/system/cuda/detail/scan.h
Labels: nvbug, libcu++, bug: functional

#2290 Fix read of dangling reference in thrust placeholders
  thrust/testing/functional_placeholders_miscellaneous.cu
  thrust/thrust/detail/functional/actor.h
Labels: thrust, bug

#2293 change `cudax::uninitialized_buffer` to own its memory resource with `cudax::any_resource`
  cudax/include/cuda/experimental/__container/uninitialized_buffer.h
Labels: CUDA Next

#2305 Assure placeholder expressions are semi-regular
  thrust/testing/functional_placeholders_miscellaneous.cu
  thrust/thrust/detail/functional/actor.h
Labels: thrust

#1936 Implement P0843 `inplace_vector`
  docs/libcudacxx/standard_api/container_library.rst
  docs/libcudacxx/standard_api/container_library/inplace_vector.rst
  libcudacxx/include/cuda/std/__memory/construct_at.h
  libcudacxx/include/cuda/std/__ranges/concepts.h
  libcudacxx/include/cuda/std/__ranges/from_range.h
  libcudacxx/include/cuda/std/__ranges/unwrap_end.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
  libcudacxx/include/cuda/std/inplace_vector
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/access.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/assign.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/assignment.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/capacity.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/comparison.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/constructor.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/emplace.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/insert.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/iterators.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/properties.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/resize.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/swap.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/sequences/inplace_vector/types.h
Labels: feature request, libcu++

#2331 Disable exec checks on ranges CPOs
  libcudacxx/include/cuda/std/__ranges/access.h
  libcudacxx/include/cuda/std/__ranges/data.h
  libcudacxx/include/cuda/std/__ranges/rbegin.h
  libcudacxx/include/cuda/std/__ranges/rend.h
  libcudacxx/include/cuda/std/__ranges/size.h
Labels: feature request, libcu++, CUDA Next

#2329 Enable exceptions by default
  CMakeLists.txt
  cudax/cmake/cudaxBuildCompilerTargets.cmake
  cudax/samples/CMakeLists.txt
  cudax/test/CMakeLists.txt
  libcudacxx/include/cuda/__cccl_config
  libcudacxx/include/cuda/std/__cccl/exceptions.h
  libcudacxx/include/cuda/std/__exception/cuda_error.h
  libcudacxx/include/cuda/std/__exception/terminate.h
  libcudacxx/include/cuda/std/__expected/bad_expected_access.h
  libcudacxx/include/cuda/std/__functional/function.h
  libcudacxx/include/cuda/std/__mdspan/macros.h
  libcudacxx/include/cuda/std/__memory/allocator_traits.h
  libcudacxx/include/cuda/std/__memory/uninitialized_algorithms.h
  libcudacxx/include/cuda/std/__new/bad_alloc.h
  libcudacxx/include/cuda/std/__utility/exception_guard.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__availability
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
  libcudacxx/include/cuda/std/detail/libcxx/include/optional
  libcudacxx/include/cuda/std/detail/libcxx/include/stdexcept
  libcudacxx/include/cuda/std/detail/libcxx/include/variant
  libcudacxx/test/libcudacxx/CMakeLists.txt
  libcudacxx/test/libcudacxx/std/language.support/support.exception/exception.terminate/terminate/terminate.runfail.cpp
  libcudacxx/test/support/test_macros.h
Labels: feature request, infrastructure

#2310 Make the thrust dispatch mechanisms configurable
  docs/thrust/cmake_options.rst
  thrust/CMakeLists.txt
  thrust/cmake/ThrustBuildCompilerTargets.cmake
  thrust/cmake/ThrustHeaderTesting.cmake
  thrust/thrust/system/cuda/detail/dispatch.h
Labels: feature request, thrust

#2340 [CUDAX] give all the cudax headers the `.cuh` extension
  cudax/include/cuda/experimental/__container/uninitialized_buffer.cuh
  cudax/include/cuda/experimental/__memory_resource/any_resource.cuh
  cudax/include/cuda/experimental/buffer.cuh
  cudax/include/cuda/experimental/memory_resource.cuh
  cudax/test/containers/uninitialized_buffer.cu
  docs/cudax/container.rst
  docs/repo.toml
Labels: CUDA Next

#2341 Fix hardcoding __THRUST_HOST_SYSTEM_NAMESPACE to cpp
  thrust/thrust/mr/host_memory_resource.h
Labels: thrust
