Repository NVIDIA/cccl, pull requests merged in 2024-04, with the labels that each got.

#199 [NFC] Modularize `<exception>`
  libcudacxx/include/cuda/std/__exception
  libcudacxx/include/cuda/std/__memory
  libcudacxx/include/cuda/std/__new
  libcudacxx/include/cuda/std/cstdlib
  libcudacxx/include/cuda/std/detail/libcxx/include/CMakeLists.txt
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
  libcudacxx/include/cuda/std/detail/libcxx/include/__exception/exception.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__exception/terminate.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__expected/expected.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__functional/function.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__functional_base
  libcudacxx/include/cuda/std/detail/libcxx/include/__new/allocate.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__new/bad_alloc.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__new/launder.h
  libcudacxx/include/cuda/std/detail/libcxx/include/barrier
  libcudacxx/include/cuda/std/detail/libcxx/include/exception
  libcudacxx/include/cuda/std/detail/libcxx/include/memory
  libcudacxx/include/cuda/std/detail/libcxx/include/new
  libcudacxx/include/cuda/std/detail/libcxx/include/optional
  libcudacxx/include/cuda/std/detail/libcxx/include/stdexcept
  libcudacxx/include/cuda/std/detail/libcxx/include/version
  libcudacxx/test/libcudacxx/std/language.support/support.dynamic/alloc.errors/bad.alloc/bad_alloc.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.dynamic/alloc.errors/new.badlength/bad_array_new_length.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.dynamic/ptr.launder/launder.nodiscard.verify.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.dynamic/ptr.launder/launder.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.dynamic/ptr.launder/launder.types.verify.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/bad.exception/bad_exception.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/exception.terminate/set.terminate/get_terminate.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/exception.terminate/set.terminate/set_terminate.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/exception.terminate/terminate.handler/terminate_handler.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/exception.terminate/terminate/terminate.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.exception/exception/exception.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/sanity.pass.cpp
  libcudacxx/test/support/test_macros.h
Labels: libcu++

#1574 Fix typo in README.md
  .devcontainer/README.md
Labels: doc, area: docs

#1593 Add missing comma in barrier `__try_wait`
  libcudacxx/include/cuda/std/detail/libcxx/include/__cuda/barrier.h
Labels: libcu++, bug: functional

#1594 Add some documentation for recent additions to libcu++
  libcudacxx/docs/standard_api.md
  libcudacxx/docs/standard_api/concepts_library.md
  libcudacxx/docs/standard_api/concepts_library/concepts.md
  libcudacxx/docs/standard_api/ranges_library.md
  libcudacxx/docs/standard_api/ranges_library/ranges.md
  libcudacxx/docs/standard_api/utility_library.md
  libcudacxx/docs/standard_api/utility_library/expected.md
  libcudacxx/docs/standard_api/utility_library/functional.md
  libcudacxx/docs/standard_api/utility_library/optional.md
  libcudacxx/docs/standard_api/utility_library/tuple.md
  libcudacxx/docs/standard_api/utility_library/utility.md
  libcudacxx/docs/standard_api/utility_library/variant.md
Labels: libcu++, doc, area: docs

#1601 Fix ordering of `alignas` and `__shared__`
  libcudacxx/docs/extended_api/asynchronous_operations/memcpy_async_tx.md
  libcudacxx/docs/extended_api/synchronization_primitives/barrier/barrier_expect_tx.md
  libcudacxx/test/libcudacxx/cuda/barrier/cp_async_bulk.pass.cpp
  libcudacxx/test/libcudacxx/cuda/barrier/cp_async_bulk_tensor.pass.cpp
  libcudacxx/test/libcudacxx/cuda/barrier/cp_async_bulk_tensor_generic.h
  libcudacxx/test/libcudacxx/cuda/memcpy_async/memcpy_async_tx.pass.cpp
Labels: libcu++, bug

#1410 Implement tuple interface for cuda vector types
  libcudacxx/include/cuda/std/detail/libcxx/include/__tuple_dir/vector_types.h
  libcudacxx/include/cuda/std/detail/libcxx/include/tuple
  libcudacxx/test/libcudacxx/cuda/tuple/vector_types_get.pass.cpp
  libcudacxx/test/libcudacxx/cuda/tuple/vector_types_structured_bindings.pass.cpp
  libcudacxx/test/libcudacxx/cuda/tuple/vector_types_tuple_element.pass.cpp
  libcudacxx/test/libcudacxx/cuda/tuple/vector_types_tuple_size.pass.cpp
Labels: feature request, nvbug, libcu++

#1581 Add conda documentation to the README.
  README.md
Labels: doc

#1578 Implement `cuda::mr::cuda_memory_resource`
  libcudacxx/include/cuda/__memory_resource/cuda_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/properties.h
  libcudacxx/include/cuda/memory_resource
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_memory_resource/equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_memory_resource/traits.pass.cpp
Labels: feature request, libcu++

#1579 Implement `cuda::mr::managed_memory_resource`
  libcudacxx/docs/extended_api/memory_resource/properties.md
  libcudacxx/include/cuda/__memory_resource/cuda_managed_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/properties.h
  libcudacxx/include/cuda/memory_resource
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_managed_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_managed_memory_resource/equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_managed_memory_resource/traits.pass.cpp
Labels: feature request, libcu++

#1580 Implement `cuda::mr::pinned_memory_resource`
  libcudacxx/include/cuda/__memory_resource/cuda_pinned_memory_resource.h
  libcudacxx/include/cuda/__memory_resource/properties.h
  libcudacxx/include/cuda/memory_resource
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_pinned_memory_resource/allocate.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_pinned_memory_resource/equality.pass.cpp
  libcudacxx/test/libcudacxx/cuda/memory_resource/cuda_pinned_memory_resource/traits.pass.cpp
Labels: feature request, libcu++

#1624 Set the devcontainers to format on save.
  .devcontainer/cuda11.1-gcc6/devcontainer.json
  .devcontainer/cuda11.1-gcc7/devcontainer.json
  .devcontainer/cuda11.1-gcc8/devcontainer.json
  .devcontainer/cuda11.1-gcc9/devcontainer.json
  .devcontainer/cuda11.1-llvm9/devcontainer.json
  .devcontainer/cuda11.8-gcc11/devcontainer.json
  .devcontainer/cuda12.4-gcc10/devcontainer.json
  .devcontainer/cuda12.4-gcc11/devcontainer.json
  .devcontainer/cuda12.4-gcc12/devcontainer.json
  .devcontainer/cuda12.4-gcc7/devcontainer.json
  .devcontainer/cuda12.4-gcc8/devcontainer.json
  .devcontainer/cuda12.4-gcc9/devcontainer.json
  .devcontainer/cuda12.4-llvm10/devcontainer.json
  .devcontainer/cuda12.4-llvm11/devcontainer.json
  .devcontainer/cuda12.4-llvm12/devcontainer.json
  .devcontainer/cuda12.4-llvm13/devcontainer.json
  .devcontainer/cuda12.4-llvm14/devcontainer.json
  .devcontainer/cuda12.4-llvm15/devcontainer.json
  .devcontainer/cuda12.4-llvm16/devcontainer.json
  .devcontainer/cuda12.4-llvm9/devcontainer.json
  .devcontainer/cuda12.4-oneapi2023.2.0/devcontainer.json
  .devcontainer/devcontainer.json
Labels: feature request, infrastructure

#1583 Enable internal use of `std::allocator` related functionality
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
  libcudacxx/include/cuda/std/detail/libcxx/include/__functional_base
  libcudacxx/include/cuda/std/detail/libcxx/include/__memory/align.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__memory/allocate_at_least.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__memory/allocation_guard.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__memory/allocator.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__memory/allocator_arg_t.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__memory/allocator_destructor.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__memory/allocator_traits.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__memory/uses_allocator.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__new/allocate.h
  libcudacxx/include/cuda/std/detail/libcxx/include/memory
  libcudacxx/include/cuda/stream_ref
  libcudacxx/test/libcudacxx/std/utilities/memory/allocator.tag/allocator_arg.fail.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/allocator.tag/allocator_arg.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/allocator.traits/allocate_at_least.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/allocator.traits/allocator.traits.members/allocate.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/allocator.traits/allocator.traits.members/allocate.verify.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/allocator.traits/allocator.traits.members/allocate_hint.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/allocator.traits/allocator.traits.members/construct.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/allocator.traits/allocator.traits.members/deallocate.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/allocator.traits/allocator.traits.members/destroy.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/allocator.traits/allocator.traits.members/incomplete_type_helper.h
  libcudacxx/test/libcudacxx/std/utilities/memory/allocator.traits/allocator.traits.members/max_size.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/allocator.traits/allocator.traits.members/select_on_container_copy_construction.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/allocator.traits/allocator.traits.types/const_pointer.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/allocator.traits/allocator.traits.types/const_void_pointer.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/allocator.traits/allocator.traits.types/difference_type.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/allocator.traits/allocator.traits.types/is_always_equal.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/allocator.traits/allocator.traits.types/pointer.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/allocator.traits/allocator.traits.types/propagate_on_container_copy_assignment.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/allocator.traits/allocator.traits.types/propagate_on_container_move_assignment.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/allocator.traits/allocator.traits.types/propagate_on_container_swap.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/allocator.traits/allocator.traits.types/rebind_alloc.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/allocator.traits/allocator.traits.types/size_type.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/allocator.traits/allocator.traits.types/void_pointer.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/allocator.traits/allocator_type.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/allocator.traits/rebind_traits.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/allocator.traits/value_type.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/allocator.uses/allocator.uses.trait/uses_allocator.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/default.allocator/PR50299.compile.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/default.allocator/allocator.ctor.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/default.allocator/allocator.dtor.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/default.allocator/allocator.globals/eq.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/default.allocator/allocator.members/allocate.constexpr.size.verify.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/default.allocator/allocator.members/allocate.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/default.allocator/allocator.members/allocate.size.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/default.allocator/allocator.members/allocate.verify.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/default.allocator/allocator.members/allocate_at_least.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/default.allocator/allocator_pointers.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/default.allocator/allocator_types.deprecated_in_cxx17.verify.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/default.allocator/allocator_types.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/default.allocator/allocator_types.removed_in_cxx20.verify.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/default.allocator/allocator_types.void.compile.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/ptr.align/align.pass.cpp
  libcudacxx/test/support/count_new.h
  libcudacxx/test/support/min_allocator.h
  libcudacxx/test/support/test_macros.h
Labels: feature request, libcu++

#1629 Add a `git-blame-ignore-revs` file
  .git-blame-ignore-revs
Labels: feature request, infrastructure

#1656 Fix invalid `_CCCL_CUDACC` definition for clang cuda
  libcudacxx/include/cuda/std/__cccl/compiler.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
  libcudacxx/include/cuda/std/detail/libcxx/include/cmath
  libcudacxx/test/libcudacxx/std/utilities/function.objects/refwrap/binder_typedefs.compile.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/default.allocator/allocator_types.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/memory/default.allocator/allocator_types.void.compile.pass.cpp
Labels: libcu++, infrastructure, bug: functional

#1668 Add missing #pragma once in some headers
  cub/test/catch2_radix_sort_helper.cuh
  cub/test/fill_striped.cuh
  cub/test/mersenne.h
Labels: cub
