Repository NVIDIA/cccl, pull requests merged in 2024-12, with the labels that each got.

#2968 Document tuning DB comparison scripts
  docs/cub/benchmarking.rst
Labels: doc

#2988 [STF] Create dot sections to possibly collapse nodes when displaying large DOT graphs
  cudax/examples/stf/linear_algebra/07-cholesky.cu
  cudax/include/cuda/experimental/__stf/internal/backend_ctx.cuh
  cudax/include/cuda/experimental/__stf/internal/dot.cuh
  cudax/include/cuda/experimental/stf.cuh
  cudax/test/stf/CMakeLists.txt
  cudax/test/stf/dot/sections.cu
Labels: stf

#3061 Add missing `__syncthreads()` to test
  libcudacxx/test/libcudacxx/cuda/barrier/cp_async_bulk_ptx_compiles.pass.cpp
Labels: libcu++, bug

#2772 Consider NV_TARGET_SM_INTEGER_LIST for ChainedPolicy pruning
  cub/cub/util_device.cuh
  cub/test/catch2_test_util_device.cu
Labels: cub

#3072 Only tune streaming DeviceSelect versions for 64-bit offsets
  cub/benchmarks/bench/select/flagged.cu
  cub/benchmarks/bench/select/if.cu
  cub/benchmarks/bench/select/unique.cu
Labels: cub, benchmark

#1116 Disable nvrtc workaround
  libcudacxx/include/cuda/std/__functional/bind_front.h
  libcudacxx/include/cuda/std/__functional/not_fn.h
  libcudacxx/include/cuda/std/__mdspan/standard_layout_static_array.h
  libcudacxx/include/cuda/std/__mdspan/static_array.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
  libcudacxx/test/libcudacxx/std/containers/views/mdspan/mdspan.extents.cons/array.pass.cpp
  libcudacxx/test/libcudacxx/std/containers/views/mdspan/mdspan.extents.cons/span.pass.cpp
  libcudacxx/test/support/archetypes.ipp
Labels: nvbug, libcu++, bug, blocked

#3112 [STF] Improved sparse CG example and rename scalar to scalar_view
  cudax/examples/stf/09-dot-reduce.cu
  cudax/examples/stf/cfd.cu
  cudax/examples/stf/graph_algorithms/pagerank.cu
  cudax/examples/stf/graph_algorithms/tricount.cu
  cudax/examples/stf/linear_algebra/cg_csr.cu
  cudax/examples/stf/pi.cu
  cudax/examples/stf/word_count_reduce.cu
  cudax/include/cuda/experimental/__stf/internal/parallel_for_scope.cuh
  cudax/include/cuda/experimental/__stf/internal/scalar_interface.cuh
  cudax/test/stf/interface/scalar_interface.cu
  cudax/test/stf/parallel_for/empty_shape_reduce.cu
  cudax/test/stf/reductions/reduce_sum.cu
  docs/cudax/stf.rst
Labels: stf

#3170 [STF] Implement CUDASTF_DOT_TIMING for the host_launch construct
  cudax/include/cuda/experimental/__stf/internal/backend_ctx.cuh
Labels: stf

#3187 [STF] jacobi example based on parallel_for
  cudax/examples/stf/CMakeLists.txt
  cudax/examples/stf/jacobi_pfor.cu
Labels: stf

#3199 Enable PDL for DeviceMergeSortBlockSortKernel
  cub/cub/device/dispatch/dispatch_merge_sort.cuh
Labels: cub, 2.8.0

#3209 Fix: make launchers a CUB detail; make kernel source functions hidden.
  c/parallel/src/reduce.cu
  cub/cub/detail/launcher/cuda_driver.cuh
  cub/cub/detail/launcher/cuda_runtime.cuh
  cub/cub/device/dispatch/dispatch_reduce.cuh
  cub/cub/util_device.cuh
  cub/cub/util_macro.cuh
Labels: cub, 2.8.0
