Repository NVIDIA/cccl, pull requests merged in 2024-01, with the labels that each got.

#1208 Implement `enable_view`
  libcudacxx/include/cuda/std/detail/libcxx/include/CMakeLists.txt
  libcudacxx/include/cuda/std/detail/libcxx/include/__ranges/enable_view.h
  libcudacxx/include/cuda/std/detail/libcxx/include/ranges
  libcudacxx/include/cuda/std/detail/libcxx/include/span
  libcudacxx/libcxx/test/std/containers/views/views.span/range_concept_conformance.compile.pass.cpp
  libcudacxx/test/libcudacxx/std/views/views.span/range_concept_conformance.compile.pass.cpp
Labels: feature request, libcu++

#1252 Disable `fast-math` for ICC
  libcudacxx/libcxx/CMakeLists.txt
  libcudacxx/test/libcudacxx/CMakeLists.txt
Labels: nvbug, libcu++

#1238 Fix a sync bug in `stream_ref::wait`
  libcudacxx/include/cuda/stream_ref
  libcudacxx/test/libcudacxx/cuda/stream_ref/stream_ref.wait.pass.cpp
Labels: libcu++, backport branch/2.3.x, bug: functional

#1257 Silence some static asserts in ptx helpers
  libcudacxx/include/cuda/std/detail/libcxx/include/__cuda/ptx/ptx_helper_functions.h
Labels: nvbug, backport branch/2.3.x, bug: functional

#1283 [BACKPORT]: Fix bug in `stream_ref::wait`
  libcudacxx/include/cuda/stream_ref
  libcudacxx/test/libcudacxx/cuda/stream_ref/stream_ref.wait.pass.cpp
Labels: libcu++, bug

#1295 Implement `ranges::{c}rbegin`
  libcudacxx/include/cuda/std/detail/libcxx/include/CMakeLists.txt
  libcudacxx/include/cuda/std/detail/libcxx/include/__ranges/rbegin.h
  libcudacxx/include/cuda/std/detail/libcxx/include/ranges
  libcudacxx/libcxx/test/std/ranges/range.access/rbegin.pass.cpp
  libcudacxx/libcxx/test/std/ranges/range.access/rbegin.verify.cpp
  libcudacxx/test/libcudacxx/std/ranges/range.access/rbegin.pass.cpp
  libcudacxx/test/libcudacxx/std/ranges/range.access/rbegin.verify.cpp
Labels: feature request, libcu++

#1293 Make `cuda::stream_ref` universally available
  libcudacxx/include/cuda/stream_ref
Labels: feature request, libcu++

#1292 [BACKPORT]: Ensure that pair is trivially copyable (#1249)
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
  libcudacxx/include/cuda/std/detail/libcxx/include/__utility/pair.h
  libcudacxx/include/cuda/std/detail/libcxx/include/tuple
  libcudacxx/include/cuda/std/detail/libcxx/include/type_traits
  libcudacxx/libcxx/test/libcxx/utilities/utility/pairs/pairs.pair/non_trivial_copy_move_ABI.pass.cpp
  libcudacxx/libcxx/test/libcxx/utilities/utility/pairs/pairs.pair/trivial_copy_move_ABI.pass.cpp
  libcudacxx/libcxx/test/std/utilities/utility/pairs/pairs.pair/trivial_copy_move.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/meta/meta.unary/meta.unary.prop/is_swappable_include_order.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/optional/optional.object/special_members.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/optional/optional.object/triviality.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/utility/pairs/pairs.pair/trivial_copy_move.pass.cpp
  libcudacxx/test/support/archetypes.ipp
  thrust/thrust/system/detail/sequential/partition.h
  thrust/thrust/system/detail/sequential/trivial_copy.h
Labels: thrust, libcu++, backport branch/2.3.x, bug: functional

#1217 Add some documentation for `memory_resource`
  libcudacxx/docs/_config.yml
  libcudacxx/docs/extended_api.md
  libcudacxx/docs/extended_api/memory_resource.md
  libcudacxx/docs/extended_api/memory_resource/properties.md
  libcudacxx/docs/extended_api/memory_resource/resource.md
  libcudacxx/docs/extended_api/memory_resource/resource_ref.md
  libcudacxx/docs/extended_api/memory_resource/stream_ref.md
  libcudacxx/include/cuda/memory_resource
  libcudacxx/include/cuda/stream_ref
Labels: feature request, libcu++, area: docs

#1301 Implement `ranges::{c}rend`
  libcudacxx/include/cuda/std/detail/libcxx/include/CMakeLists.txt
  libcudacxx/include/cuda/std/detail/libcxx/include/__ranges/rend.h
  libcudacxx/include/cuda/std/detail/libcxx/include/ranges
  libcudacxx/libcxx/test/std/ranges/range.access/rend.pass.cpp
  libcudacxx/libcxx/test/std/ranges/range.access/rend.verify.cpp
  libcudacxx/test/libcudacxx/std/ranges/range.access/rend.pass.cpp
  libcudacxx/test/libcudacxx/std/ranges/range.access/rend.verify.cpp
Labels: feature request, libcu++

#1298 [Backport]: Fix errors when find_package(CCCL) is called twice. (#1157)
  lib/cmake/cccl/cccl-config.cmake
  test/cmake/test_export/CMakeLists.txt
Labels: infrastructure, bug: functional, 2.3.2

#1232 thrust/mr: fix the case of reuising a block for a smaller alloc.
  thrust/testing/mr_pool.cu
  thrust/thrust/mr/pool.h
Labels: backport branch/2.3.x

#1253 Cleanup transitive includes of `<cuda/std/functional>`
  cub/benchmarks/bench/histogram/histogram_common.cuh
  cub/cub/agent/agent_reduce.cuh
  cub/cub/agent/agent_three_way_partition.cuh
  cub/cub/block/block_radix_rank.cuh
  cub/cub/block/radix_rank_sort_operations.cuh
  cub/cub/detail/type_traits.cuh
  cub/cub/detail/uninitialized_copy.cuh
  cub/cub/device/device_select.cuh
  cub/cub/device/dispatch/dispatch_reduce.cuh
  cub/cub/util_device.cuh
  cub/cub/util_ptx.cuh
  cub/cub/util_type.cuh
  libcudacxx/include/cuda/std/detail/libcxx/include/functional
  libcudacxx/test/libcudacxx/std/utilities/meta/meta.rel/is_nothrow_invocable.pass.cpp
  thrust/thrust/detail/allocator/allocator_traits.h
Labels: feature request, libcu++

#1313 Implement `ranges::{c}data`
  libcudacxx/include/cuda/std/detail/libcxx/include/CMakeLists.txt
  libcudacxx/include/cuda/std/detail/libcxx/include/__ranges/data.h
  libcudacxx/include/cuda/std/detail/libcxx/include/ranges
  libcudacxx/libcxx/test/std/ranges/range.access/data.pass.cpp
  libcudacxx/libcxx/test/std/ranges/range.access/data.verify.cpp
  libcudacxx/test/libcudacxx/std/ranges/range.access/data.pass.cpp
  libcudacxx/test/libcudacxx/std/ranges/range.access/data.verify.cpp
Labels: feature request, libcu++
