Repository NVIDIA/cccl, pull requests merged in 2025-09, with the labels that each got.

#5726 [STF] Remove the for_each_batched experiment entirely
  cudax/include/cuda/experimental/__stf/internal/for_each_batched.cuh
  cudax/include/cuda/experimental/stf.cuh
  cudax/test/stf/CMakeLists.txt
  cudax/test/stf/graph/for_each_batched.cu
  cudax/test/stf/graph/for_each_batched_write.cu
Labels: stf

#5765 [STF] Remove broken data_from_device_async test
  cudax/test/stf/CMakeLists.txt
  cudax/test/stf/interface/data_from_device_async.cu
Labels: stf

#5763 [STF] Remove dead STF example 09-nbody-blocked-graph
  cudax/test/stf/examples/09-nbody-blocked-graph.cu
Labels: stf

#5777 [STF] Generic per-context resource sets
  cudax/include/cuda/experimental/__stf/graph/graph_ctx.cuh
  cudax/include/cuda/experimental/__stf/internal/backend_ctx.cuh
  cudax/include/cuda/experimental/__stf/internal/context.cuh
  cudax/include/cuda/experimental/__stf/internal/ctx_resource.cuh
  cudax/include/cuda/experimental/__stf/internal/host_launch_scope.cuh
  cudax/include/cuda/experimental/__stf/internal/parallel_for_scope.cuh
  cudax/include/cuda/experimental/__stf/stream/stream_ctx.cuh
  cudax/test/stf/CMakeLists.txt
  cudax/test/stf/context/context_resource_test.cu
  cudax/test/stf/context/simple_context_resource_test.cu
  cudax/test/stf/graph/graph_multiple_launch_resources.cu
Labels: stf

#5740 [STF] C bindings library
  CMakeLists.txt
  CMakePresets.json
  c/CMakeLists.txt
  c/experimental/stf/CMakeLists.txt
  c/experimental/stf/include/cccl/c/experimental/stf/stf.h
  c/experimental/stf/src/stf.cu
  c/experimental/stf/test/CMakeLists.txt
  c/experimental/stf/test/test_ctx.cpp
  c/experimental/stf/test/test_cuda_kernel.cu
  c/experimental/stf/test/test_logical_data.cpp
  c/experimental/stf/test/test_places.cpp
  c/experimental/stf/test/test_task.cpp
  c/experimental/stf/test/test_token.cpp
  ci/build_cccl_c_stf.sh
  ci/inspect_changes.sh
  ci/matrix.yaml
  ci/test_cccl_c_stf.sh
  python/cuda_cccl/CMakeLists.txt
Labels: stf

#5722 [STF] Misc documentation fixes/clarifications
  cudax/include/cuda/experimental/__stf/places/blocked_partition.cuh
  cudax/include/cuda/experimental/__stf/places/loop_dispatch.cuh
  cudax/include/cuda/experimental/__stf/places/places.cuh
  cudax/include/cuda/experimental/__stf/utility/cuda_safe_call.cuh
  cudax/include/cuda/experimental/__stf/utility/hash.cuh
  cudax/include/cuda/experimental/__stf/utility/traits.cuh
  docs/cudax/stf.rst
Labels: stf

#5865 [STF] test to get the stream associated to a task in the different backends
  cudax/include/cuda/experimental/__stf/graph/graph_task.cuh
  cudax/include/cuda/experimental/__stf/internal/task.cuh
  cudax/test/stf/CMakeLists.txt
Labels: stf

#5834 Improve shared memory address range check
  libcudacxx/include/cuda/__memory/address_space.h
  libcudacxx/include/cuda/__memory/check_address.h
  libcudacxx/test/libcudacxx/cuda/memory/check_address.pass.cpp
Labels: 3.2.0

#5991 Enable `__grid_constant__` with clang-cuda-20 and nvrtc
  libcudacxx/include/cuda/__memory/address_space.h
  libcudacxx/include/cuda/std/__cccl/execution_space.h
  libcudacxx/test/libcudacxx/libcxx/macros/grid_constant.compile.pass.cpp
Labels: backport branch/3.1.x

#5950 Try to clean up align utilities
  c/parallel/src/transform.cu
  cub/cub/agent/agent_reduce.cuh
  cub/cub/device/device_for.cuh
  cub/cub/device/dispatch/dispatch_transform.cuh
  cub/cub/device/dispatch/kernels/transform.cuh
  docs/libcudacxx/extended_api/memory/is_aligned.rst
  libcudacxx/include/cuda/std/__memory/is_sufficiently_aligned.h
  libcudacxx/test/libcudacxx/cuda/memory/is_aligned.pass.cpp
  thrust/testing/cuda/cudart.cu
  thrust/thrust/detail/util/align.h
  thrust/thrust/system/cuda/detail/reduce.h
Labels: 3.2.0

#5969 Fix `memcpy` ADL/ambiguity
  docs/libcudacxx/standard_api/c_library/cstring.rst
  libcudacxx/include/cuda/__memory/check_address.h
  libcudacxx/include/cuda/std/__cstring/memcpy.h
  libcudacxx/test/libcudacxx/std/strings/c.strings/cstring.syn/array_func/memcpy.pass.cpp
Labels: 3.1.0, backport branch/3.1.x

#5923 Improve `__float128` support for `isnan`, `fmin`, `fmax`
  libcudacxx/include/cuda/std/__cmath/isnan.h
  libcudacxx/include/cuda/std/__cmath/min_max.h
  libcudacxx/include/cuda/std/__floating_point/cuda_fp_types.h
  libcudacxx/include/cuda/std/__type_traits/promote.h
  libcudacxx/test/libcudacxx/std/numerics/c.math/fp_min_max.pass.cpp
  libcudacxx/test/libcudacxx/std/numerics/c.math/fp_traits/isnan.pass.cpp
Labels: CI 100%, 3.2.0
