Repository NVIDIA/cccl, pull requests merged in 2025-01, with the labels that each got.

#3196 [STF] Logical token
  cudax/examples/stf/void_data_interface.cu
  cudax/include/cuda/experimental/__stf/graph/graph_ctx.cuh
  cudax/include/cuda/experimental/__stf/graph/graph_task.cuh
  cudax/include/cuda/experimental/__stf/graph/interfaces/void_interface.cuh
  cudax/include/cuda/experimental/__stf/internal/backend_ctx.cuh
  cudax/include/cuda/experimental/__stf/internal/data_interface.cuh
  cudax/include/cuda/experimental/__stf/internal/launch.cuh
  cudax/include/cuda/experimental/__stf/internal/logical_data.cuh
  cudax/include/cuda/experimental/__stf/internal/void_interface.cuh
  cudax/include/cuda/experimental/__stf/stream/interfaces/void_interface.cuh
  cudax/include/cuda/experimental/__stf/stream/stream_ctx.cuh
  cudax/include/cuda/experimental/__stf/stream/stream_task.cuh
  cudax/include/cuda/experimental/__stf/utility/traits.cuh
  cudax/include/cuda/experimental/stf.cuh
  cudax/test/stf/local_stf/legacy_to_stf.cu
  docs/cudax/stf.rst
Labels: stf

#3251 Drop cub::Mutex
  cub/cub/host/mutex.cuh
  thrust/thrust/system/cuda/detail/core/util.h
Labels: cub, breaking

#3257 Remove legacy macros from CUB util_arch.cuh
  cub/cub/util_arch.cuh
Labels: cub, breaking

#3264 Drop thrust not1 and not2
  thrust/thrust/detail/functional.inl
  thrust/thrust/functional.h
Labels: thrust, breaking

#3258 Deprecate GridBarrier and GridBarrierLifetime
  cub/cub/grid/grid_barrier.cuh
  cub/test/test_grid_barrier.cu
Labels: cub

#3268 Require at least gcc7
  .devcontainer/cuda11.1-gcc6/devcontainer.json
  README.md
  ci/matrix.yaml
  cub/cub/util_cpp_dialect.cuh
  thrust/thrust/detail/config/cpp_dialect.h
Labels: breaking, 3.0

#3274 Drop thrust::[unary|binary]_function
  thrust/thrust/functional.h
Labels: thrust, breaking

#3277 Drop ICC from CI
  .devcontainer/cuda12.6-oneapi2023.2.0/devcontainer.json
  ci/matrix.yaml
Labels: breaking

#3282 Enable PDL in triple chevron launch
  thrust/thrust/system/cuda/detail/core/triple_chevron_launch.h
Labels: thrust

#3287 Drop VS 2017 from CI
  ci/matrix.yaml
Labels: breaking

#3298 Drop Thrust legacy arch macros
  thrust/thrust/detail/config/cpp_compatibility.h
  thrust/thrust/system/cuda/config.h
Labels: thrust, breaking

#3300 Drop Thrust's compiler_fence.h
  thrust/thrust/detail/config/compiler_fence.h
Labels: thrust, breaking

#3275 Drop CTK 11.x from CI
  .devcontainer/cuda11.1-gcc7/devcontainer.json
  .devcontainer/cuda11.1-gcc8/devcontainer.json
  .devcontainer/cuda11.1-llvm9/devcontainer.json
  .devcontainer/cuda12.0-gcc7/devcontainer.json
  .devcontainer/cuda12.0-gcc8/devcontainer.json
  README.md
  ci/matrix.yaml
  libcudacxx/test/libcudacxx/CMakeLists.txt
  thrust/testing/functional.cu
  thrust/thrust/system/cuda/detail/core/triple_chevron_launch.h
Labels: breaking

#3302 Drop CUB's util_compiler.cuh
  cub/cub/config.cuh
  cub/cub/util_compiler.cuh
  cub/cub/util_cpp_dialect.cuh
  cub/test/test_warning_suppression.cuh
Labels: cub, breaking

#3301 Drop Thrust's deprecated compiler macros
  thrust/cmake/ThrustHeaderTesting.cmake
  thrust/examples/arbitrary_transformation.cu
  thrust/testing/zip_function.cu
  thrust/thrust/detail/config/compiler.h
  thrust/thrust/detail/modern_gcc_required.h
  thrust/thrust/zip_function.h
Labels: thrust, breaking

#3305 Drop CUB_RUNTIME_ENABLED and __THRUST_HAS_CUDART__
  cub/cub/detail/detect_cuda_runtime.cuh
  cub/test/cmake/check_source_files.cmake
  thrust/testing/cmake/check_source_files.cmake
  thrust/thrust/system/cuda/config.h
Labels: thrust, cub, breaking

#3255 Require C++17 for compiling Thrust and CUB
  CMakePresets.json
  README.md
  ci/matrix.yaml
  cub/cmake/CubBuildTargetList.cmake
  cub/cub/util_cpp_dialect.cuh
  lib/cmake/thrust/thrust-config.cmake
  libcudacxx/include/cuda/std/__cccl/deprecated.h
  thrust/cmake/ThrustHeaderTesting.cmake
  thrust/testing/unittest/util_async.h
  thrust/thrust/async/copy.h
  thrust/thrust/async/for_each.h
  thrust/thrust/async/reduce.h
  thrust/thrust/async/scan.h
  thrust/thrust/async/sort.h
  thrust/thrust/async/transform.h
  thrust/thrust/detail/config/cpp_dialect.h
  thrust/thrust/detail/cpp14_required.h
  thrust/thrust/detail/event_error.h
  thrust/thrust/future.h
  thrust/thrust/system/cuda/detail/async/copy.h
  thrust/thrust/system/cuda/detail/async/customization.h
  thrust/thrust/system/cuda/detail/async/exclusive_scan.h
  thrust/thrust/system/cuda/detail/async/for_each.h
  thrust/thrust/system/cuda/detail/async/inclusive_scan.h
  thrust/thrust/system/cuda/detail/async/reduce.h
  thrust/thrust/system/cuda/detail/async/scan.h
  thrust/thrust/system/cuda/detail/async/sort.h
  thrust/thrust/system/cuda/detail/async/transform.h
  thrust/thrust/system/cuda/detail/future.inl
  thrust/thrust/system/cuda/future.h
Labels: thrust, cub, breaking

#3309 Drop clang<14 from CI, update devcontainers.
  .devcontainer/cuda12.0-llvm10/devcontainer.json
  .devcontainer/cuda12.0-llvm11/devcontainer.json
  .devcontainer/cuda12.0-llvm12/devcontainer.json
  .devcontainer/cuda12.0-llvm13/devcontainer.json
  .devcontainer/cuda12.0-llvm9/devcontainer.json
  .devcontainer/cuda12.6-llvm10/devcontainer.json
  .devcontainer/cuda12.6-llvm11/devcontainer.json
  .devcontainer/cuda12.6-llvm12/devcontainer.json
  .devcontainer/cuda12.6-llvm13/devcontainer.json
  .devcontainer/cuda12.6-llvm9/devcontainer.json
  ci/matrix.yaml
Labels: breaking

#3299 Deprecate Thrust's cpp_compatibility.h macros
  docs/repo.toml
  thrust/thrust/async/copy.h
  thrust/thrust/async/for_each.h
  thrust/thrust/async/reduce.h
  thrust/thrust/async/scan.h
  thrust/thrust/async/sort.h
  thrust/thrust/async/transform.h
  thrust/thrust/detail/config/cpp_compatibility.h
  thrust/thrust/detail/select_system.h
  thrust/thrust/detail/seq.h
  thrust/thrust/detail/static_assert.h
  thrust/thrust/execution_policy.h
  thrust/thrust/functional.h
  thrust/thrust/future.h
  thrust/thrust/system/cpp/detail/par.h
  thrust/thrust/system/cuda/detail/future.inl
  thrust/thrust/system/cuda/detail/par.h
  thrust/thrust/system/detail/sequential/execution_policy.h
Labels: thrust, backport branch/2.8.x

#3337 Deprecate cub::IterateThreadStore
  cub/cub/thread/thread_store.cuh
Labels: cub, backport branch/2.8.x

#3332 Drop CUB's BinaryFlip operator
  cub/cub/thread/thread_operators.cuh
Labels: cub, breaking

#3333 Deprecate cub::Swap
  cub/cub/thread/thread_sort.cuh
Labels: cub, backport branch/2.8.x

#3330 Drop CUB APIs with a debug_synchronous parameter
  cub/cub/device/device_adjacent_difference.cuh
  cub/cub/device/device_histogram.cuh
  cub/cub/device/device_merge_sort.cuh
  cub/cub/device/device_partition.cuh
  cub/cub/device/device_radix_sort.cuh
  cub/cub/device/device_reduce.cuh
  cub/cub/device/device_run_length_encode.cuh
  cub/cub/device/device_scan.cuh
  cub/cub/device/device_segmented_radix_sort.cuh
  cub/cub/device/device_segmented_reduce.cuh
  cub/cub/device/device_segmented_sort.cuh
  cub/cub/device/device_select.cuh
  cub/cub/device/device_spmv.cuh
  cub/cub/device/dispatch/dispatch_adjacent_difference.cuh
  cub/cub/device/dispatch/dispatch_histogram.cuh
  cub/cub/device/dispatch/dispatch_merge_sort.cuh
  cub/cub/device/dispatch/dispatch_radix_sort.cuh
  cub/cub/device/dispatch/dispatch_reduce.cuh
  cub/cub/device/dispatch/dispatch_reduce_by_key.cuh
  cub/cub/device/dispatch/dispatch_rle.cuh
  cub/cub/device/dispatch/dispatch_scan.cuh
  cub/cub/device/dispatch/dispatch_scan_by_key.cuh
  cub/cub/device/dispatch/dispatch_segmented_sort.cuh
  cub/cub/device/dispatch/dispatch_select_if.cuh
  cub/cub/device/dispatch/dispatch_spmv_orig.cuh
  cub/cub/device/dispatch/dispatch_three_way_partition.cuh
  cub/cub/device/dispatch/dispatch_unique_by_key.cuh
  cub/cub/util_debug.cuh
  docs/repo.toml
Labels: cub, breaking

#3340 Drop CUB's util_compiler.cuh for real
  cub/cub/util_compiler.cuh
Labels: cub

#3346 Drop cub::ValueCache
  cub/cub/util_device.cuh
Labels: cub, breaking

#3344 Drop CDPv1
  cub/cub/detail/detect_cuda_runtime.cuh
  cub/cub/detail/device_synchronize.cuh
  cub/cub/util_device.cuh
  thrust/thrust/system/cuda/detail/cdp_dispatch.h
Labels: thrust, cub, breaking

#3363 Use cuda::std::addressof in Thrust
  thrust/thrust/addressof.h
  thrust/thrust/detail/memory_algorithms.h
  thrust/thrust/optional.h
  thrust/thrust/system/cuda/detail/future.inl
Labels: thrust

#3327 [STF] Do not keep track of dangling events in a CUDA graph backend
  cudax/include/cuda/experimental/__stf/graph/graph_ctx.cuh
  cudax/include/cuda/experimental/__stf/internal/backend_ctx.cuh
  cudax/include/cuda/experimental/__stf/internal/logical_data.cuh
  cudax/include/cuda/experimental/__stf/stream/stream_ctx.cuh
Labels: stf

#3347 Drop cub::DivideAndRoundUp
  cub/cub/util_math.cuh
Labels: cub, breaking

#3364 Use cuda::std::min/max in Thrust
  cub/test/catch2_large_array_sort_helper.cuh
  thrust/examples/set_operations.cu
  thrust/testing/async/exclusive_scan/large_indices.cu
  thrust/testing/async/inclusive_scan/large_indices.cu
  thrust/testing/cuda/is_partitioned.cu
  thrust/testing/min_and_max.cu
  thrust/testing/scan.cu
  thrust/thrust/detail/minmax.h
  thrust/thrust/detail/vector_base.inl
  thrust/thrust/extrema.h
  thrust/thrust/system/cuda/detail/adjacent_difference.h
  thrust/thrust/system/cuda/detail/find.h
  thrust/thrust/system/cuda/detail/inner_product.h
  thrust/thrust/system/cuda/detail/reduce.h
  thrust/thrust/system/cuda/detail/reduce_by_key.h
  thrust/thrust/system/cuda/detail/scan_by_key.h
  thrust/thrust/system/cuda/detail/set_operations.h
  thrust/thrust/system/cuda/detail/transform_reduce.h
  thrust/thrust/system/cuda/detail/unique.h
  thrust/thrust/system/cuda/detail/unique_by_key.h
  thrust/thrust/system/detail/generic/find.inl
  thrust/thrust/system/detail/sequential/stable_merge_sort.inl
  thrust/thrust/system/tbb/detail/reduce_by_key.inl
  thrust/thrust/system/tbb/detail/reduce_intervals.h
Labels: thrust

#2773 Cleanup CUB util_arch
  cub/cub/util_arch.cuh
Labels: cub

#3367 Deprecate thrust::null_type
  thrust/testing/tuple.cu
  thrust/thrust/tuple.h
Labels: thrust, backport branch/2.8.x

#3320 Deprecate cub::DeviceSpmv
  cub/cub/agent/agent_spmv_orig.cuh
  cub/cub/device/device_spmv.cuh
  cub/cub/device/dispatch/dispatch_spmv_orig.cuh
  cub/test/test_device_spmv.cu
Labels: backport branch/2.8.x

#3324 Deprecate thrust::async
  thrust/testing/async/exclusive_scan/mixin.h
  thrust/testing/async/exclusive_scan/using_vs_adl.cu
  thrust/testing/async/inclusive_scan/mixin.h
  thrust/testing/async/inclusive_scan/using_vs_adl.cu
  thrust/testing/async_copy.cu
  thrust/testing/async_for_each.cu
  thrust/testing/async_reduce.cu
  thrust/testing/async_reduce_into.cu
  thrust/testing/async_sort.cu
  thrust/testing/async_transform.cu
  thrust/thrust/async/copy.h
  thrust/thrust/async/for_each.h
  thrust/thrust/async/reduce.h
  thrust/thrust/async/scan.h
  thrust/thrust/async/sort.h
  thrust/thrust/async/transform.h
Labels: thrust, backport branch/2.8.x

#3342 Review CUB `util.ptx` for CCCL 2.x
  cub/cub/agent/agent_adjacent_difference.cuh
  cub/cub/agent/agent_batch_memcpy.cuh
  cub/cub/agent/agent_histogram.cuh
  cub/cub/agent/agent_merge.cuh
  cub/cub/agent/agent_merge_sort.cuh
  cub/cub/agent/agent_radix_sort_downsweep.cuh
  cub/cub/agent/agent_radix_sort_histogram.cuh
  cub/cub/agent/agent_radix_sort_onesweep.cuh
  cub/cub/agent/agent_radix_sort_upsweep.cuh
  cub/cub/agent/agent_reduce_by_key.cuh
  cub/cub/agent/agent_rle.cuh
  cub/cub/agent/agent_scan.cuh
  cub/cub/agent/agent_scan_by_key.cuh
  cub/cub/agent/agent_segment_fixup.cuh
  cub/cub/agent/agent_segmented_radix_sort.cuh
  cub/cub/agent/agent_select_if.cuh
  cub/cub/agent/agent_spmv_orig.cuh
  cub/cub/agent/agent_sub_warp_merge_sort.cuh
  cub/cub/agent/agent_three_way_partition.cuh
  cub/cub/agent/agent_unique_by_key.cuh
  cub/cub/agent/single_pass_scan_operators.cuh
  cub/cub/block/block_adjacent_difference.cuh
  cub/cub/block/block_discontinuity.cuh
  cub/cub/block/block_exchange.cuh
  cub/cub/block/block_histogram.cuh
  cub/cub/block/block_merge_sort.cuh
  cub/cub/block/block_radix_rank.cuh
  cub/cub/block/block_radix_sort.cuh
  cub/cub/block/block_run_length_decode.cuh
  cub/cub/block/block_scan.cuh
  cub/cub/block/block_shuffle.cuh
  cub/cub/block/block_store.cuh
  cub/cub/block/specializations/block_histogram_sort.cuh
  cub/cub/block/specializations/block_reduce_raking.cuh
  cub/cub/block/specializations/block_reduce_raking_commutative_only.cuh
  cub/cub/block/specializations/block_reduce_warp_reductions.cuh
  cub/cub/block/specializations/block_scan_raking.cuh
  cub/cub/block/specializations/block_scan_warp_scans.cuh
  cub/cub/device/dispatch/dispatch_batch_memcpy.cuh
  cub/cub/device/dispatch/dispatch_radix_sort.cuh
  cub/cub/device/dispatch/dispatch_segmented_sort.cuh
  cub/cub/grid/grid_barrier.cuh
  cub/cub/util_ptx.cuh
  cub/cub/util_vsmem.cuh
  cub/cub/warp/specializations/warp_exchange_shfl.cuh
  cub/cub/warp/specializations/warp_exchange_smem.cuh
  cub/cub/warp/specializations/warp_reduce_shfl.cuh
  cub/cub/warp/specializations/warp_reduce_smem.cuh
  cub/cub/warp/specializations/warp_scan_shfl.cuh
  cub/cub/warp/specializations/warp_scan_smem.cuh
  cub/cub/warp/warp_load.cuh
  cub/cub/warp/warp_merge_sort.cuh
  cub/cub/warp/warp_scan.cuh
  cub/cub/warp/warp_store.cuh
  cub/test/catch2_test_block_run_length_decode.cu
  cub/test/catch2_test_warp_merge_sort.cu
  cub/test/test_util.h
  thrust/thrust/system/cuda/detail/core/util.h
Labels: cub, backport branch/2.8.x

#3366 Deprecate thrust::numeric_limits
  thrust/testing/unittest/testframework.h
  thrust/testing/unittest/util.h
  thrust/thrust/limits.h
Labels: thrust, backport branch/2.8.x

#3418 Fix assert definition for NVHPC due to constexpr issues
  libcudacxx/include/cuda/std/__cccl/assert.h
Labels: libcu++, 2.8.0, backport branch/2.8.x

#3421 Replace and deprecate thrust::cuda_cub::terminate
  thrust/thrust/system/cuda/detail/terminate.h
  thrust/thrust/system/cuda/detail/util.h
Labels: thrust, backport branch/2.8.x

#3234 Add round up/down to multiple
  docs/libcudacxx/extended_api/math.rst
  docs/libcudacxx/extended_api/math/ceil_div.rst
  docs/libcudacxx/extended_api/math/round_down.rst
  docs/libcudacxx/extended_api/math/round_up.rst
  libcudacxx/include/cuda/__cmath/round_down.h
  libcudacxx/include/cuda/__cmath/round_up.h
  libcudacxx/include/cuda/cmath
  libcudacxx/test/libcudacxx/cuda/cmath/round_up_down.pass.cpp
Labels: 2.8.0

#3419 Deprecate `cub::{min, max}` and replace internal uses with those from libcu++
  cub/benchmarks/bench/radix_sort/keys.cu
  cub/benchmarks/bench/radix_sort/pairs.cu
  cub/cub/agent/agent_merge.cuh
  cub/cub/agent/agent_merge_sort.cuh
  cub/cub/agent/agent_spmv_orig.cuh
  cub/cub/block/block_merge_sort.cuh
  cub/cub/block/block_run_length_decode.cuh
  cub/cub/block/radix_rank_sort_operations.cuh
  cub/cub/detail/temporary_storage.cuh
  cub/cub/device/dispatch/dispatch_batch_memcpy.cuh
  cub/cub/device/dispatch/dispatch_merge.cuh
  cub/cub/device/dispatch/dispatch_merge_sort.cuh
  cub/cub/device/dispatch/dispatch_segmented_sort.cuh
  cub/cub/device/dispatch/dispatch_three_way_partition.cuh
  cub/cub/device/dispatch/dispatch_transform.cuh
  cub/cub/device/dispatch/tuning/tuning_histogram.cuh
  cub/cub/device/dispatch/tuning/tuning_reduce_by_key.cuh
  cub/cub/device/dispatch/tuning/tuning_run_length_encode.cuh
  cub/cub/device/dispatch/tuning/tuning_scan_by_key.cuh
  cub/cub/util_arch.cuh
  cub/cub/util_macro.cuh
  cub/cub/util_math.cuh
  cub/test/catch2_radix_sort_helper.cuh
Labels: cub, backport branch/2.8.x

#3435 Moves agents to `detail::<algorithm_name>` namespace
  cub/benchmarks/bench/partition/flagged.cu
  cub/benchmarks/bench/partition/if.cu
  cub/cub/agent/agent_adjacent_difference.cuh
  cub/cub/agent/agent_batch_memcpy.cuh
  cub/cub/agent/agent_histogram.cuh
  cub/cub/agent/agent_merge.cuh
  cub/cub/agent/agent_merge_sort.cuh
  cub/cub/agent/agent_radix_sort_downsweep.cuh
  cub/cub/agent/agent_radix_sort_histogram.cuh
  cub/cub/agent/agent_radix_sort_onesweep.cuh
  cub/cub/agent/agent_radix_sort_upsweep.cuh
  cub/cub/agent/agent_reduce.cuh
  cub/cub/agent/agent_reduce_by_key.cuh
  cub/cub/agent/agent_rle.cuh
  cub/cub/agent/agent_scan.cuh
  cub/cub/agent/agent_scan_by_key.cuh
  cub/cub/agent/agent_segment_fixup.cuh
  cub/cub/agent/agent_segmented_radix_sort.cuh
  cub/cub/agent/agent_select_if.cuh
  cub/cub/agent/agent_sub_warp_merge_sort.cuh
  cub/cub/agent/agent_unique_by_key.cuh
  cub/cub/device/dispatch/dispatch_adjacent_difference.cuh
  cub/cub/device/dispatch/dispatch_batch_memcpy.cuh
  cub/cub/device/dispatch/dispatch_histogram.cuh
  cub/cub/device/dispatch/dispatch_merge_sort.cuh
  cub/cub/device/dispatch/dispatch_radix_sort.cuh
  cub/cub/device/dispatch/dispatch_reduce.cuh
  cub/cub/device/dispatch/dispatch_reduce_by_key.cuh
  cub/cub/device/dispatch/dispatch_rle.cuh
  cub/cub/device/dispatch/dispatch_scan_by_key.cuh
  cub/cub/device/dispatch/dispatch_segmented_sort.cuh
  cub/cub/device/dispatch/dispatch_select_if.cuh
  cub/cub/device/dispatch/dispatch_unique_by_key.cuh
  cub/cub/device/dispatch/kernels/reduce.cuh
  cub/cub/device/dispatch/kernels/scan.cuh
  cub/test/test_device_batch_memcpy.cu
  thrust/thrust/system/cuda/detail/partition.h
Labels: cub, backport branch/2.8.x

#3395 Default transform_iterator's copy ctor
  cub/test/catch2_large_array_sort_helper.cuh
  thrust/thrust/iterator/transform_iterator.h
Labels: thrust, breaking

#3050 Refactor allocator handling of contiguous_storage
  thrust/thrust/detail/contiguous_storage.h
  thrust/thrust/detail/contiguous_storage.inl
Labels: thrust

#3391 Drop thrust::detail::integer_traits
  cub/cub/device/device_adjacent_difference.cuh
  thrust/testing/unittest/testframework.h
  thrust/thrust/detail/allocator/allocator_traits.inl
  thrust/thrust/detail/integer_traits.h
  thrust/thrust/random/detail/normal_distribution.inl
  thrust/thrust/random/uniform_int_distribution.h
  thrust/thrust/system/cuda/detail/dispatch.h
  thrust/thrust/system/detail/generic/copy_if.inl
Labels: thrust

#3417 Drop C++11 and C++14 support for all of cccl
  CMakePresets.json
  ci/matrix.yaml
  libcudacxx/include/cuda/std/__internal/cpp_dialect.h
  test/cmake/test_export/CMakeLists.txt
Labels: breaking, 3.0

#3456 Deprecate a few CUB macros
  cub/cub/util_macro.cuh
Labels: cub, backport branch/2.8.x

#3461 Deprecate thrust universal iterator categories
  thrust/thrust/iterator/detail/universal_categories.h
Labels: thrust, backport branch/2.8.x

#3432 Add `--extended-lambda` to the list of removed clangd flags
  .clangd
Labels: 2.8.0

#3429 add `_CCCL_HAS_NVFP8` macro
  libcudacxx/include/cuda/std/__cccl/extended_floating_point.h
  libcudacxx/test/libcudacxx/libcxx/macros/extended_floating_point.fail.cpp
  libcudacxx/test/libcudacxx/libcxx/macros/extended_floating_point.pass.cpp
Labels: 2.8.0

#3433 Add `_CCCL_BUILTIN_PREFETCH`
  docs/cccl_development/macro.rst
  libcudacxx/include/cuda/std/__cccl/builtin.h
  libcudacxx/test/libcudacxx/libcxx/macros/prefetch.compile.pass.cpp
Labels: 3.0

#3455 Deprecate block/warp algo specializations
  cub/cub/block/block_histogram.cuh
  cub/cub/block/block_reduce.cuh
  cub/cub/block/block_scan.cuh
  cub/cub/block/specializations/block_histogram_atomic.cuh
  cub/cub/block/specializations/block_histogram_sort.cuh
  cub/cub/block/specializations/block_reduce_raking.cuh
  cub/cub/block/specializations/block_reduce_raking_commutative_only.cuh
  cub/cub/block/specializations/block_reduce_warp_reductions.cuh
  cub/cub/block/specializations/block_scan_raking.cuh
  cub/cub/block/specializations/block_scan_warp_scans.cuh
  cub/cub/warp/specializations/warp_reduce_shfl.cuh
  cub/cub/warp/specializations/warp_reduce_smem.cuh
  cub/cub/warp/specializations/warp_scan_shfl.cuh
  cub/cub/warp/specializations/warp_scan_smem.cuh
  cub/cub/warp/warp_reduce.cuh
  cub/cub/warp/warp_scan.cuh
  docs/cub/developer_overview.rst
Labels: cub, backport branch/2.8.x

#3478 Specialize `cuda::std::numeric_limits` for FP8 types
  libcudacxx/include/cuda/std/limits
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/common.h
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/const_data_members.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/denorm_min.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/digits.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/digits10.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/epsilon.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/has_denorm.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/has_denorm_loss.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/has_infinity.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/has_quiet_NaN.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/has_signaling_NaN.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/infinity.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/is_bounded.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/is_exact.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/is_iec559.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/is_integer.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/is_modulo.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/is_signed.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/lowest.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/max.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/max_digits10.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/max_exponent.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/max_exponent10.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/min.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/min_exponent.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/min_exponent10.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/quiet_NaN.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/radix.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/round_error.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/round_style.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/signaling_NaN.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/tinyness_before.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/traps.pass.cpp
Labels: backport branch/2.8.x

#3476 Drop thrust numeric_traits
  thrust/testing/binary_search.cu
  thrust/testing/constant_iterator.cu
  thrust/testing/find.cu
  thrust/thrust/detail/numeric_traits.h
  thrust/thrust/iterator/detail/constant_iterator_base.h
  thrust/thrust/iterator/detail/counting_iterator.inl
  thrust/thrust/mr/disjoint_pool.h
  thrust/thrust/mr/pool.h
Labels: thrust

#3489 Add `popcount`, `clz`, `ctz` builtin intrinsics
  libcudacxx/include/cuda/std/__cccl/builtin.h
  libcudacxx/test/libcudacxx/std/cccl/builtin.bit.clz.fail.cpp
  libcudacxx/test/libcudacxx/std/cccl/builtin.bit.clzll.fail.cpp
  libcudacxx/test/libcudacxx/std/cccl/builtin.bit.ctz.fail.cpp
  libcudacxx/test/libcudacxx/std/cccl/builtin.bit.ctzll.fail.cpp
  libcudacxx/test/libcudacxx/std/cccl/builtin.bit.pass.cpp
  libcudacxx/test/libcudacxx/std/cccl/builtin.bit.popc.fail.cpp
  libcudacxx/test/libcudacxx/std/cccl/builtin.bit.popcll.fail.cpp
Labels: 3.0

#3396 [STF] Fix paths in the STF unittest infrastructure
  cudax/include/cuda/experimental/__stf/graph/graph_ctx.cuh
  cudax/include/cuda/experimental/__stf/utility/memory.cuh
  cudax/test/stf/CMakeLists.txt
Labels: stf

#3422 Deprecate and replace thrust::cuda_cub iterators
  thrust/thrust/system/cuda/detail/count.h
  thrust/thrust/system/cuda/detail/extrema.h
  thrust/thrust/system/cuda/detail/find.h
  thrust/thrust/system/cuda/detail/inner_product.h
  thrust/thrust/system/cuda/detail/mismatch.h
  thrust/thrust/system/cuda/detail/transform_scan.h
  thrust/thrust/system/cuda/detail/util.h
Labels: thrust, backport branch/2.8.x

#3501 Deprecate thrust macros from type_deduction.h
  thrust/thrust/detail/type_deduction.h
Labels: thrust, backport branch/2.8.x

#3457 Deprecate thrust event, future and more
  thrust/testing/allocator_aware_policies.cu
  thrust/testing/async/exclusive_scan/counting_iterator.cu
  thrust/testing/async/exclusive_scan/discard_output.cu
  thrust/testing/async/exclusive_scan/large_indices.cu
  thrust/testing/async/exclusive_scan/large_types.cu
  thrust/testing/async/exclusive_scan/mixed_types.cu
  thrust/testing/async/exclusive_scan/simple.cu
  thrust/testing/async/exclusive_scan/stateful_operator.cu
  thrust/testing/async/exclusive_scan/using_vs_adl.cu
  thrust/testing/async/inclusive_scan/counting_iterator.cu
  thrust/testing/async/inclusive_scan/discard_output.cu
  thrust/testing/async/inclusive_scan/large_indices.cu
  thrust/testing/async/inclusive_scan/large_types.cu
  thrust/testing/async/inclusive_scan/mixed_types.cu
  thrust/testing/async/inclusive_scan/simple.cu
  thrust/testing/async/inclusive_scan/stateful_operator.cu
  thrust/testing/async/inclusive_scan/using_vs_adl.cu
  thrust/testing/async_copy.cu
  thrust/testing/async_reduce.cu
  thrust/testing/async_sort.cu
  thrust/testing/dependencies_aware_policies.cu
  thrust/testing/event.cu
  thrust/testing/future.cu
  thrust/thrust/async/copy.h
  thrust/thrust/async/for_each.h
  thrust/thrust/async/reduce.h
  thrust/thrust/async/scan.h
  thrust/thrust/async/sort.h
  thrust/thrust/async/transform.h
  thrust/thrust/detail/dependencies_aware_execution_policy.h
  thrust/thrust/detail/execute_with_allocator.h
  thrust/thrust/detail/execute_with_allocator_fwd.h
  thrust/thrust/detail/execute_with_dependencies.h
  thrust/thrust/future.h
  thrust/thrust/system/cuda/detail/async/copy.h
  thrust/thrust/system/cuda/detail/async/customization.h
  thrust/thrust/system/cuda/detail/async/exclusive_scan.h
  thrust/thrust/system/cuda/detail/async/for_each.h
  thrust/thrust/system/cuda/detail/async/inclusive_scan.h
  thrust/thrust/system/cuda/detail/async/reduce.h
  thrust/thrust/system/cuda/detail/async/sort.h
  thrust/thrust/system/cuda/detail/async/transform.h
  thrust/thrust/system/cuda/detail/execution_policy.h
  thrust/thrust/system/cuda/detail/future.inl
  thrust/thrust/system/cuda/detail/par.h
  thrust/thrust/system/cuda/future.h
Labels: thrust, backport branch/2.8.x

#3469 Fix issue with conversion between `mdspan<T>` and `mdspan<const T>`
  cudax/examples/stf/04-fibonacci-run_once.cu
  cudax/examples/stf/04-fibonacci.cu
  cudax/examples/stf/fdtd_mgpu.cu
  cudax/examples/stf/heat.cu
  cudax/examples/stf/heat_mgpu.cu
  cudax/examples/stf/parallel_for_2D.cu
  cudax/examples/stf/standalone-launches.cu
  cudax/include/cuda/experimental/__algorithm/copy.cuh
  cudax/include/cuda/experimental/__hierarchy/dimensions.cuh
  cudax/include/cuda/experimental/__stf/graph/graph_ctx.cuh
  cudax/include/cuda/experimental/__stf/internal/data_interface.cuh
  cudax/include/cuda/experimental/stf.cuh
  cudax/test/stf/examples/09-nbody-blocked.cu
  cudax/test/stf/interface/data_from_device_async.cu
  cudax/test/stf/interface/graph_use_device_data.cu
  cudax/test/stf/local_stf/interop_cuda.cu
  cudax/test/stf/local_stf/legacy_to_stf.cu
  cudax/test/stf/parallel_for/fdtd.cu
  cudax/test/stf/parallel_for/test2_parallel_for_context.cu
  cudax/test/stf/parallel_for/test_parallel_for.cu
  cudax/test/stf/parallel_for/tiled_loops.cu
  cudax/test/stf/stencil/stencil-1D.cu
  cudax/test/stf/stress/kernel_chain.cu
Labels: bug: functional, CUDA Next, 3.0

#3508 Drop thrust::null_type
  thrust/testing/tuple.cu
  thrust/thrust/tuple.h
Labels: thrust, breaking

#3514 Deprecates tuning policy hubs
  cub/cub/device/device_radix_sort.cuh
  cub/cub/device/dispatch/dispatch_reduce.cuh
  cub/cub/device/dispatch/dispatch_streaming_reduce.cuh
  cub/cub/device/dispatch/tuning/tuning_adjacent_difference.cuh
  cub/cub/device/dispatch/tuning/tuning_merge_sort.cuh
  cub/cub/device/dispatch/tuning/tuning_radix_sort.cuh
  cub/cub/device/dispatch/tuning/tuning_reduce.cuh
  cub/cub/device/dispatch/tuning/tuning_scan.cuh
  cub/cub/device/dispatch/tuning/tuning_scan_by_key.cuh
  cub/cub/device/dispatch/tuning/tuning_segmented_sort.cuh
  cub/cub/device/dispatch/tuning/tuning_unique_by_key.cuh
Labels: cub, backport branch/2.8.x

#3509 [STF] Generate statistics about the DOT output
  cudax/include/cuda/experimental/__stf/internal/dot.cuh
Labels: stf

#3504 Deprecate macros from cuda/detail/core/util.h
  thrust/thrust/system/cuda/detail/core/util.h
Labels: thrust, backport branch/2.8.x

#3487 attempt to work around msvc bug exposed by type_list.h
  libcudacxx/include/cuda/std/__type_traits/type_list.h
Labels: nvbug, libcu++, bug: functional

#3519 Ensure that pointer_traits work nicely with proxy iterators
  libcudacxx/include/cuda/std/__memory/pointer_traits.h
Labels: libcu++, bug: functional, backport branch/2.8.x

#3304 Deprecate CUB iterators existing in Thrust
  cub/benchmarks/bench/run_length_encode/encode.cu
  cub/cub/agent/agent_reduce_by_key.cuh
  cub/cub/agent/agent_rle.cuh
  cub/cub/agent/agent_segment_fixup.cuh
  cub/cub/agent/agent_spmv_orig.cuh
  cub/cub/device/device_run_length_encode.cuh
  cub/cub/device/dispatch/dispatch_spmv_orig.cuh
  cub/cub/device/dispatch/dispatch_streaming_reduce.cuh
  cub/cub/iterator/constant_input_iterator.cuh
  cub/cub/iterator/counting_input_iterator.cuh
  cub/cub/iterator/discard_output_iterator.cuh
  cub/cub/iterator/transform_input_iterator.cuh
  cub/test/catch2_test_block_run_length_decode.cu
  cub/test/catch2_test_block_store.cu
  cub/test/catch2_test_device_for.cu
  cub/test/catch2_test_device_for_copy.cu
  cub/test/catch2_test_device_histogram.cu
  cub/test/catch2_test_device_reduce.cu
  cub/test/catch2_test_device_reduce.cuh
  cub/test/catch2_test_device_reduce_fp_inf.cu
  cub/test/catch2_test_device_reduce_large_offsets.cu
  cub/test/catch2_test_device_run_length_encode.cu
  cub/test/catch2_test_iterator.cu
  cub/test/catch2_test_util_type.cu
  cub/test/test_device_batch_memcpy.cu
  cub/test/test_util.h
Labels: cub, backport branch/2.8.x

#3515 [BACKPORT 2.7] Add missing `_CCCL_EXEC_CHECK_DISABLE` to tuple
  libcudacxx/include/cuda/std/detail/libcxx/include/tuple
Labels: nvbug, libcu++, bug: functional

#3516 cudastf (examples): Fix compiler errors when enabling examples for CUDA STF
  cudax/examples/stf/linear_algebra/06-pdgemm.cu
  cudax/examples/stf/linear_algebra/07-cholesky.cu
  cudax/examples/stf/linear_algebra/07-potri.cu
  cudax/examples/stf/linear_algebra/cg_csr.cu
  cudax/examples/stf/linear_algebra/cg_dense_2D.cu
  cudax/examples/stf/linear_algebra/strassen.cu
Labels: stf

#3554 A few improvements for internal macro documentation
  docs/cccl_development/macro.rst
  docs/cpp.rst
Labels: 3.0

#3543 Tune cub::DeviceTransform for Blackwell
  cub/cub/device/dispatch/tuning/tuning_transform.cuh
Labels: backport branch/2.8.x

#3561 Refactor injecting benchmark policy_hub
  cub/benchmarks/bench/partition/flagged.cu
  cub/benchmarks/bench/partition/if.cu
Labels: backport branch/2.8.x

#3538 Deprecate thrust logical meta functions
  thrust/thrust/type_traits/logical_metafunctions.h
Labels: thrust, backport branch/2.8.x

#3563 Update ptx_isa.h to include 8.7
  libcudacxx/include/cuda/std/__cccl/ptx_isa.h
Labels: backport branch/2.8.x

#3506 [STF] Document dot sections
  cudax/examples/stf/linear_algebra/07-cholesky.cu
  cudax/examples/stf/linear_algebra/07-potri.cu
  cudax/examples/stf/linear_algebra/cg_csr.cu
  cudax/include/cuda/experimental/__stf/internal/backend_ctx.cuh
  cudax/include/cuda/experimental/__stf/internal/dot.cuh
  cudax/include/cuda/experimental/stf.cuh
  cudax/test/stf/CMakeLists.txt
  cudax/test/stf/cuda-samples/3_CUDA_Features/jacobiCudaGraphs/jacobi.cu
  cudax/test/stf/dot/sections_2.cu
  cudax/test/stf/examples/07-cholesky-redux.cu
  cudax/test/stf/examples/07-cholesky-unified.cu
  cudax/test/stf/gnu/06-pdgemm.cpp
  cudax/test/stf/gnu/07-cholesky.cpp
  docs/cudax/stf.rst
  docs/cudax/stf/images/dag-sections-0.dot
  docs/cudax/stf/images/dag-sections-0.png
  docs/cudax/stf/images/dag-sections-1.dot
  docs/cudax/stf/images/dag-sections-1.png
  docs/cudax/stf/images/dag-sections-2.dot
  docs/cudax/stf/images/dag-sections-2.png
  docs/cudax/stf/images/dag-sections.dot
  docs/cudax/stf/images/dag-sections.png
Labels: stf

#3573 Fixes value type of `thrust::tabulate_output_iterator`
  thrust/thrust/iterator/detail/tabulate_output_iterator.inl
Labels: thrust, breaking, backport branch/2.8.x

#3466 Remove all code paths and policies for SM37 and below
  cub/benchmarks/bench/adjacent_difference/subtract_left.cu
  cub/benchmarks/bench/copy/memcpy.cu
  cub/benchmarks/bench/histogram/histogram_common.cuh
  cub/benchmarks/bench/partition/three_way.cu
  cub/benchmarks/bench/reduce/by_key.cu
  cub/benchmarks/bench/run_length_encode/encode.cu
  cub/benchmarks/bench/run_length_encode/non_trivial_runs.cu
  cub/benchmarks/bench/segmented_sort/keys.cu
  cub/benchmarks/bench/select/unique_by_key.cu
  cub/benchmarks/bench/transform/common.h
  cub/cub/device/dispatch/dispatch_spmv_orig.cuh
  cub/cub/device/dispatch/tuning/tuning_adjacent_difference.cuh
  cub/cub/device/dispatch/tuning/tuning_batch_memcpy.cuh
  cub/cub/device/dispatch/tuning/tuning_for.cuh
  cub/cub/device/dispatch/tuning/tuning_histogram.cuh
  cub/cub/device/dispatch/tuning/tuning_merge.cuh
  cub/cub/device/dispatch/tuning/tuning_merge_sort.cuh
  cub/cub/device/dispatch/tuning/tuning_radix_sort.cuh
  cub/cub/device/dispatch/tuning/tuning_reduce.cuh
  cub/cub/device/dispatch/tuning/tuning_reduce_by_key.cuh
  cub/cub/device/dispatch/tuning/tuning_run_length_encode.cuh
  cub/cub/device/dispatch/tuning/tuning_scan.cuh
  cub/cub/device/dispatch/tuning/tuning_scan_by_key.cuh
  cub/cub/device/dispatch/tuning/tuning_segmented_sort.cuh
  cub/cub/device/dispatch/tuning/tuning_select_if.cuh
  cub/cub/device/dispatch/tuning/tuning_three_way_partition.cuh
  cub/cub/device/dispatch/tuning/tuning_unique_by_key.cuh
  cub/test/catch2_test_device_run_length_encode_non_trivial_runs.cu
  cub/test/catch2_test_util_device.cu
  cub/test/catch2_test_vsmem.cu
  docs/cub/developer_overview.rst
  docs/repo.toml
  libcudacxx/test/libcudacxx/cuda/test_platform.pass.cpp
  libcudacxx/test/support/concurrent_agents.h
  thrust/thrust/system/cuda/detail/core/util.h
  thrust/thrust/system/cuda/detail/reduce.h
  thrust/thrust/system/cuda/detail/reduce_by_key.h
  thrust/thrust/system/cuda/detail/set_operations.h
  thrust/thrust/system/cuda/detail/unique.h
Labels: blocked, 3.0

#3427 Deprecate and replace `CUB_IS_INT128_ENABLED`
  cub/cub/detail/fast_modulo_division.cuh
  cub/cub/device/dispatch/dispatch_histogram.cuh
  cub/cub/device/dispatch/tuning/tuning_run_length_encode.cuh
  cub/cub/device/dispatch/tuning/tuning_scan.cuh
  cub/cub/device/dispatch/tuning/tuning_scan_by_key.cuh
  cub/cub/device/dispatch/tuning/tuning_select_if.cuh
  cub/cub/util_ptx.cuh
  cub/cub/util_type.cuh
  cub/test/catch2_test_device_for_each_in_extents.cu
  cub/test/catch2_test_printing.cu
  cub/test/internal/catch2_test_fast_div_mod.cu
  cub/test/test_util.h
Labels: 2.8.0, backport branch/2.8.x

#3535 Support FP16 traits on CTK 12.0
  libcudacxx/include/cuda/std/__type_traits/is_extended_floating_point.h
  libcudacxx/include/cuda/std/limits
  libcudacxx/test/libcudacxx/libcxx/utilities/meta/meta.unary/meta.unary.cat/is_floating_point.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/is_specialized.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/common.h
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/const_data_members.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/denorm_min.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/digits.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/digits10.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/epsilon.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/has_denorm.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/has_denorm_loss.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/has_infinity.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/has_quiet_NaN.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/has_signaling_NaN.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/infinity.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/is_bounded.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/is_exact.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/is_iec559.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/is_integer.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/is_modulo.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/is_signed.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/lowest.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/max.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/max_digits10.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/max_exponent.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/max_exponent10.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/min.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/min_exponent.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/min_exponent10.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/quiet_NaN.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/radix.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/round_error.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/round_style.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/signaling_NaN.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/tinyness_before.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.limits/limits/numeric.limits.members/traps.pass.cpp
Labels: backport branch/2.8.x

#3583 PTX: Remove internal instructions
  docs/libcudacxx/ptx/instructions/generated/barrier_cluster_aligned.rst
  docs/libcudacxx/ptx/instructions/generated/elect_sync.rst
  docs/libcudacxx/ptx/instructions/generated/mapa.rst
  libcudacxx/include/cuda/__ptx/instructions/generated/barrier_cluster_aligned.h
  libcudacxx/include/cuda/__ptx/instructions/generated/elect_sync.h
  libcudacxx/include/cuda/__ptx/instructions/generated/mapa.h
  libcudacxx/test/libcudacxx/cuda/ptx/generated/barrier_cluster_aligned.h
  libcudacxx/test/libcudacxx/cuda/ptx/generated/elect_sync.h
  libcudacxx/test/libcudacxx/cuda/ptx/generated/mapa.h
Labels: backport branch/2.8.x

#3505 Internalize cuda/detail/core/*
  cub/cub/agent/agent_adjacent_difference.cuh
  cub/cub/agent/agent_merge.cuh
  cub/cub/agent/agent_merge_sort.cuh
  cub/cub/agent/agent_sub_warp_merge_sort.cuh
  cub/cub/device/dispatch/dispatch_merge.cuh
  cub/cub/device/dispatch/kernels/merge_sort.cuh
  thrust/thrust/system/cuda/detail/core/agent_launcher.h
  thrust/thrust/system/cuda/detail/core/load_iterator.h
  thrust/thrust/system/cuda/detail/core/make_load_iterator.h
  thrust/thrust/system/cuda/detail/core/util.h
  thrust/thrust/system/cuda/detail/extrema.h
  thrust/thrust/system/cuda/detail/reduce.h
  thrust/thrust/system/cuda/detail/reduce_by_key.h
  thrust/thrust/system/cuda/detail/set_operations.h
  thrust/thrust/system/cuda/detail/sort.h
  thrust/thrust/system/cuda/detail/unique.h
Labels: thrust, breaking

#3589 PTX: Add clusterlaunchcontrol
  docs/libcudacxx/ptx/instructions.rst
  docs/libcudacxx/ptx/instructions/clusterlaunchcontrol.rst
  libcudacxx/include/cuda/__ptx/instructions/clusterlaunchcontrol.h
  libcudacxx/include/cuda/ptx
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.clusterlaunchcontrol.compile.pass.cpp
Labels: backport branch/2.8.x

#3604 PTX: Add st.bulk
  docs/libcudacxx/ptx/instructions.rst
  docs/libcudacxx/ptx/instructions/st_bulk.rst
  libcudacxx/include/cuda/__ptx/instructions/st_bulk.h
  libcudacxx/include/cuda/ptx
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.st.bulk.compile.pass.cpp
Labels: backport branch/2.8.x

#3603 PTX: Add multimem instructions
  docs/libcudacxx/ptx/instructions.rst
  docs/libcudacxx/ptx/instructions/multimem_ld_reduce.rst
  docs/libcudacxx/ptx/instructions/multimem_red.rst
  docs/libcudacxx/ptx/instructions/multimem_st.rst
  libcudacxx/include/cuda/__ptx/instructions/multimem_ld_reduce.h
  libcudacxx/include/cuda/__ptx/instructions/multimem_red.h
  libcudacxx/include/cuda/__ptx/instructions/multimem_st.h
  libcudacxx/include/cuda/ptx
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.multimem.ld_reduce.compile.pass.cpp
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.multimem.red.compile.pass.cpp
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.multimem.st.compile.pass.cpp
Labels: backport branch/2.8.x

#3602 PTX: Add cp.async.mbarrier.arrive{.noinc}
  docs/libcudacxx/ptx/instructions.rst
  docs/libcudacxx/ptx/instructions/cp_async_mbarrier_arrive.rst
  libcudacxx/include/cuda/__ptx/instructions/cp_async_mbarrier_arrive.h
  libcudacxx/include/cuda/ptx
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.cp.async.mbarrier.arrive.compile.pass.cpp
Labels: backport branch/2.8.x

#3607 PTX: Add tcgen05 instructions
  docs/libcudacxx/ptx/instructions.rst
  docs/libcudacxx/ptx/instructions/tcgen05_alloc.rst
  docs/libcudacxx/ptx/instructions/tcgen05_commit.rst
  docs/libcudacxx/ptx/instructions/tcgen05_cp.rst
  docs/libcudacxx/ptx/instructions/tcgen05_fence.rst
  docs/libcudacxx/ptx/instructions/tcgen05_ld.rst
  docs/libcudacxx/ptx/instructions/tcgen05_mma.rst
  docs/libcudacxx/ptx/instructions/tcgen05_mma_ws.rst
  docs/libcudacxx/ptx/instructions/tcgen05_shift.rst
  docs/libcudacxx/ptx/instructions/tcgen05_st.rst
  docs/libcudacxx/ptx/instructions/tcgen05_wait.rst
  libcudacxx/include/cuda/__ptx/instructions/tcgen05_alloc.h
  libcudacxx/include/cuda/__ptx/instructions/tcgen05_commit.h
  libcudacxx/include/cuda/__ptx/instructions/tcgen05_cp.h
  libcudacxx/include/cuda/__ptx/instructions/tcgen05_fence.h
  libcudacxx/include/cuda/__ptx/instructions/tcgen05_ld.h
  libcudacxx/include/cuda/__ptx/instructions/tcgen05_mma.h
  libcudacxx/include/cuda/__ptx/instructions/tcgen05_mma_ws.h
  libcudacxx/include/cuda/__ptx/instructions/tcgen05_shift.h
  libcudacxx/include/cuda/__ptx/instructions/tcgen05_st.h
  libcudacxx/include/cuda/__ptx/instructions/tcgen05_wait.h
  libcudacxx/include/cuda/ptx
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.tcgen05.alloc.compile.pass.cpp
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.tcgen05.commit.compile.pass.cpp
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.tcgen05.cp.compile.pass.cpp
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.tcgen05.fence.compile.pass.cpp
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.tcgen05.ld.compile.pass.cpp
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.tcgen05.mma.compile.pass.cpp
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.tcgen05.mma.ws.compile.pass.cpp
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.tcgen05.shift.compile.pass.cpp
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.tcgen05.st.compile.pass.cpp
  libcudacxx/test/libcudacxx/cuda/ptx/ptx.tcgen05.wait.compile.pass.cpp
Labels: backport branch/2.8.x

#3549 Remove CUB `DeviceSpMV`
  cub/cub/agent/agent_spmv_orig.cuh
  cub/cub/cub.cuh
  cub/cub/device/device_spmv.cuh
  cub/cub/device/dispatch/dispatch_spmv_orig.cuh
  cub/test/test_device_spmv.cu
Labels: cub, breaking, 3.0

#3593 Deprecate `AgentSegmentFixupPolicy`
  cub/cub/agent/agent_segment_fixup.cuh
Labels: 3.0, backport branch/2.8.x

#3616 Add b200 tunings for histogram
  cub/cub/device/dispatch/dispatch_histogram.cuh
  cub/cub/device/dispatch/tuning/tuning_histogram.cuh
Labels: backport branch/2.8.x

#3551 Remove `LEGACY_PTX_ARCH`
  cub/cub/agent/agent_batch_memcpy.cuh
  cub/cub/agent/agent_histogram.cuh
  cub/cub/agent/agent_reduce_by_key.cuh
  cub/cub/agent/agent_rle.cuh
  cub/cub/agent/agent_scan.cuh
  cub/cub/agent/agent_scan_by_key.cuh
  cub/cub/agent/agent_select_if.cuh
  cub/cub/agent/agent_three_way_partition.cuh
  cub/cub/agent/agent_unique_by_key.cuh
  cub/cub/agent/single_pass_scan_operators.cuh
  cub/cub/block/block_adjacent_difference.cuh
  cub/cub/block/block_discontinuity.cuh
  cub/cub/block/block_exchange.cuh
  cub/cub/block/block_histogram.cuh
  cub/cub/block/block_load.cuh
  cub/cub/block/block_radix_rank.cuh
  cub/cub/block/block_radix_sort.cuh
  cub/cub/block/block_raking_layout.cuh
  cub/cub/block/block_reduce.cuh
  cub/cub/block/block_scan.cuh
  cub/cub/block/block_shuffle.cuh
  cub/cub/block/block_store.cuh
  cub/cub/block/specializations/block_histogram_sort.cuh
  cub/cub/block/specializations/block_reduce_raking.cuh
  cub/cub/block/specializations/block_reduce_raking_commutative_only.cuh
  cub/cub/block/specializations/block_reduce_warp_reductions.cuh
  cub/cub/block/specializations/block_scan_raking.cuh
  cub/cub/block/specializations/block_scan_warp_scans.cuh
  cub/cub/util_ptx.cuh
  cub/cub/warp/specializations/warp_reduce_shfl.cuh
  cub/cub/warp/specializations/warp_reduce_smem.cuh
  cub/cub/warp/specializations/warp_scan_shfl.cuh
  cub/cub/warp/specializations/warp_scan_smem.cuh
  cub/cub/warp/warp_exchange.cuh
  cub/cub/warp/warp_load.cuh
  cub/cub/warp/warp_merge_sort.cuh
  cub/cub/warp/warp_reduce.cuh
  cub/cub/warp/warp_scan.cuh
  cub/cub/warp/warp_store.cuh
  cub/test/catch2_test_warp_exchange.cuh
  docs/cub/developer_overview.rst
  thrust/thrust/system/cuda/detail/core/util.h
  thrust/thrust/system/cuda/detail/reduce.h
  thrust/thrust/system/cuda/detail/reduce_by_key.h
  thrust/thrust/system/cuda/detail/set_operations.h
  thrust/thrust/system/cuda/detail/unique.h
Labels: thrust, breaking, 3.0

#3540 Disable X86-64 detection macro for Arm64 emulation on MSVC
  libcudacxx/include/cuda/std/__cccl/architecture.h
Labels: blocked, 3.0

#3569 [BACKPORT]:: Try to always include the definition of barrier_native_handle when needed (#3556)
  libcudacxx/include/cuda/__barrier/barrier_native_handle.h
  libcudacxx/include/cuda/__memcpy_async/try_get_barrier_handle.h
  libcudacxx/include/cuda/barrier
Labels: backport branch/2.8.x

#3575 Deprecate ABI v2 and v3 in libcudacxx
  libcudacxx/include/cuda/std/detail/__config
  libcudacxx/test/libcudacxx/CMakeLists.txt
  libcudacxx/test/utils/nvidia/nvrtc/nvrtcc.cpp
Labels: backport branch/2.8.x

#3612 Add b200 policies for reduce
  cub/cub/device/dispatch/tuning/tuning_reduce.cuh
Labels: backport branch/2.8.x

#3610 Add b200 tunings for reduce.by_key
  cub/cub/device/dispatch/tuning/tuning_reduce_by_key.cuh
Labels: backport branch/2.8.x

#3596 Remove CUDA 11.x support
  c2h/include/c2h/generators.h
  cub/cub/agent/agent_merge.cuh
  cub/cub/agent/agent_merge_sort.cuh
  cub/cub/detail/fast_modulo_division.cuh
  cub/cub/detail/launcher/cuda_driver.cuh
  cub/cub/device/dispatch/dispatch_transform.cuh
  cub/cub/device/dispatch/tuning/tuning_transform.cuh
  cub/cub/util_type.cuh
  cudax/include/cuda/experimental/__memory_resource/device_memory_pool.cuh
  cudax/include/cuda/experimental/__memory_resource/device_memory_resource.cuh
  cudax/test/memory_resource/device_memory_pool.cu
  cudax/test/memory_resource/device_memory_resource.cu
  examples/basic/README.md
  libcudacxx/include/cuda/std/__cccl/attributes.h
  libcudacxx/include/cuda/std/__cccl/builtin.h
  libcudacxx/include/cuda/std/__cccl/compiler.h
  libcudacxx/include/cuda/std/__cccl/cuda_capabilities.h
  libcudacxx/include/cuda/std/__cccl/dialect.h
  libcudacxx/include/cuda/std/__cccl/execution_space.h
  libcudacxx/include/cuda/std/__cccl/ptx_isa.h
  libcudacxx/include/cuda/std/__cccl/unreachable.h
  libcudacxx/include/cuda/std/__cmath/traits.h
  libcudacxx/include/cuda/std/__internal/features.h
  libcudacxx/include/cuda/std/__mdspan/standard_layout_static_array.h
  libcudacxx/include/cuda/std/__ranges/subrange.h
  libcudacxx/include/cuda/std/__type_traits/type_list.h
  libcudacxx/include/cuda/std/detail/libcxx/include/__config
  libcudacxx/test/libcudacxx/std/iterators/iterator.requirements/iterator.cust/iterator.cust.move/iter_move.pass.cpp
  libcudacxx/test/libcudacxx/std/language.support/support.srcloc/general.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/count.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/flip_all.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/flip_one.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/index.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/index_const.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/left_shift.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/left_shift_eq.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/not_all.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/op_and_eq.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/op_eq_eq.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/op_or_eq.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/op_xor_eq.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/reset_one.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/right_shift.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/right_shift_eq.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/set_one.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/test.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/to_ullong.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.members/to_ulong.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.operators/op_and.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.operators/op_not.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/template.bitset/bitset.operators/op_or.pass.cpp
  libcudacxx/test/libcudacxx/std/utilities/tuple/tuple.general/ignore.pass.cpp
  libcudacxx/test/support/test_macros.h
  thrust/thrust/complex.h
Labels: 3.0

#3628 PTX: fix cp.async.bulk.tensor and mbarrier.arrive
  docs/libcudacxx/ptx/instructions/generated/cp_async_bulk_tensor_gather_scatter.rst
  docs/libcudacxx/ptx/instructions/generated/mbarrier_arrive.rst
  docs/libcudacxx/ptx/instructions/generated/mbarrier_arrive_expect_tx.rst
  libcudacxx/include/cuda/__ptx/instructions/generated/cp_async_bulk_tensor_gather_scatter.h
  libcudacxx/include/cuda/__ptx/instructions/generated/mbarrier_arrive.h
  libcudacxx/include/cuda/__ptx/instructions/generated/mbarrier_arrive_expect_tx.h
  libcudacxx/test/libcudacxx/cuda/ptx/generated/cp_async_bulk_tensor_gather_scatter.h
  libcudacxx/test/libcudacxx/cuda/ptx/generated/mbarrier_arrive.h
  libcudacxx/test/libcudacxx/cuda/ptx/generated/mbarrier_arrive_expect_tx.h
Labels: backport branch/2.8.x

#3611 Add b200 tunings for radix_sort.keys
  cub/cub/device/dispatch/tuning/tuning_radix_sort.cuh
Labels: backport branch/2.8.x
